﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <title></title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entities</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Dealer Group</a></li>
                            <li><a href="#">IFA</a></li>
                            <li><a href="#">Adviser</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Investment</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Model</a></li>
                            <li><a href="#">Asset</a></li>
                            <li><a href="#">Product</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Feed</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Bank West</a></li>
                            <li><a href="#">State Street</a></li>
                            <li><a href="#">SMA</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">User</a></li>
                        </ul>
                    </li>

                </ul>
                
                <form role="search" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="form-control">
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notification</a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Alerts</a></li>
                            <li><a href="#">Data Feed</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="mycontainer" style="margin-left: 0">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </section>    

</body>
</html>
