﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/kendo/kendo.default.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>

    <style>
        .navbar {
            margin: 1px; /*add this*/
        }

.navbar-default .navbar-nav > li > a {
  color: #555555;
}

.navbar-default .nav-stacked > li > a {
  color: #555555;
}



        #topmenu {
            margin: 0;
            padding: 0;
        }

        #leftmenu {
            float: left;
            width: 15%;
            margin: 0;
            padding: 0;
        }

        #maincontent {
            float: left;
            width: 85%;
            margin: 0;
            padding: 0;
        }

        div#leftmenu div {
            margin: 0;
            padding: 0;
        }

        div#leftmenu ul {
            margin: 0;
            padding: 0;
        }

        div#leftmenu li {
            margin: 0;
            padding: 0;
        }

        div#leftmenu ul li a {
            margin: 0;
            padding-top: 5px;
        }

        a .dropdown-toggle {
            color: grey;
        }
    </style>


    <title></title>
</head>
<body>
    <div id="topmenu">
        <nav class="navbar navbar-default" role="navigation" style="z-index: 3000">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entities</a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Dealer Group</a></li>
                                <li><a href="#">IFA</a></li>
                                <li><a href="#">Adviser</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Investment</a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Model</a></li>
                                <li><a href="#">Asset</a></li>
                                <li><a href="#">Product</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Feed</a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Bank West</a></li>
                                <li><a href="#">State Street</a></li>
                                <li><a href="#">SMA</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">User</a></li>
                            </ul>
                        </li>

                    </ul>

                    <form role="search" class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" placeholder="Search" class="form-control">
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notification</a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Alerts</a></li>
                                <li><a href="#">Data Feed</a></li>
                            </ul>
                        </li>

                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div id="leftmenu" style="margin-top: 50px;">
        <nav class="navbar navbar-default" role="navigation" style="z-index: 2000">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Order Pad</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">But ASX Securities</a></li>
                                <li><a href="#">Buy Management Fund</a></li>
                                <li><a href="#">Buy TD</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">ASX</a></li>
                                <li><a href="#">Funds</a></li>
                                <li><a href="#">Cash</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account Info</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bank Accounts</a></li>
                                <li><a href="#">Desktop Broker Accounts</a></li>
                                <li><a href="#">Fund Accounts</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fees</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bank Accounts</a></li>
                                <li><a href="#">Desktop Broker Accounts</a></li>
                                <li><a href="#">Fund Accounts</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dcouments</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bank Accounts</a></li>
                                <li><a href="#">Desktop Broker Accounts</a></li>
                                <li><a href="#">Fund Accounts</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notes</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bank Accounts</a></li>
                                <li><a href="#">Desktop Broker Accounts</a></li>
                                <li><a href="#">Fund Accounts</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <section id="mycontainer" style="margin-left: 0">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </section>    

</body>
</html>
