﻿@model IEnumerable<DBASystem.SMSF.Contracts.ViewModels.EntityTreeModel>
@using DBASystem.SMSF.Web.Common

@Html.Partial(Url.Content("~/Views/Firm/_SearchFilter.cshtml"))

@{
    var newpair = new KeyValuePair<int, string>();
    var lastSelectedParent = SessionHelper.ListTreeParents.Any() ? SessionHelper.ListTreeParents.Last() : 0;
}

@helper GenerateTree(IEnumerable<DBASystem.SMSF.Contracts.ViewModels.EntityTreeModel> list)
{
    foreach (var item in list)
    {
        var css = "entity";
        if (item.Category == "system" || item.Category == "group" || item.Category == "user" || item.Category == "client" || item.Category == "fund")
        { css = item.Category; }

        <li id="@item.ID">
            <a class="@css" type="@item.EntityType" id="@item.ID" href="#" userid="@item.UserID">@item.Name</a>
            @if (item.hasChildren)
            {
                <ul>
                    @if (item.ChildTree != null && item.ChildTree.Any())
                    {
                        @GenerateTree(item.ChildTree);
                    }
                </ul>
            }
        </li>
    }
}

@if (Model != null && Model.Any())
{
    <div id="dvtreelinks" style="display: none">
        <a id="expandall" href="#" title="Click to expand all items">Expand All</a>|<a id="collapseall" href="#" title="Click to collapse all items">Collapse All</a>
    </div>
    <ul id="treeview" class="left_menu" style="display: none">
        @GenerateTree(Model)
    </ul>
}
<input id="txtTreeItemDetail" type="hidden"/>

<script type="text/javascript">
    function loadItemDetail(id, text, type, parentList) {
            
        if (type == 'User' && window.location.href.indexOf('User/Index') == -1) {
            window.location.href = '@Url.Content("~/User/Index/?id=")' + id + '&type=' + type;
        }
        else if (type != 'User' && window.location.href.indexOf('Entity/Index') == -1) {
            window.location.href = '@Url.Content("~/Entity/Index/?id=")' + id + '&type=' + type;
        }
        else {
            $('.right_inner').empty().html('<div style="text-align: center; padding-top: 230px"><h5>Loading ' + text + '</h5><img src=' + '@Url.Content("~/images/loadingdots.GIF")' + ' /></div>');

            var url = '@Url.Content("~/Entity/_Index")';
            $('#txtTreeItemDetail').val('@Url.Content("~/Entity/Index/?")' + 'id=' + id.toString() + '&type=' + type);

            if (type == 'User') {
                url = '@Url.Content("~/User/Detail")';
                $('#txtTreeItemDetail').val('@Url.Content("~/User/Index/?")' + 'id=' + id.toString() + '&type=' + type);
            }

            $.ajax({
                url: url,
                data: JSON.stringify({ id: id, 'parentList': parentList }),
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index/")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $('.right_inner').empty().html(data);
                }
            });
        }
    }
    var SelectedClientId; var SelectedFundID; var SelectedPageID;
    function loadSelectedItemDetail(id, text, type, parentList, selectedClientId, selectedFundID,selectedPageID) {
        SelectedClientId = selectedClientId;
        SelectedFundID = selectedFundID;
        SelectedPageID = selectedPageID
        $('.right_inner').empty().html('<div style="text-align: center; padding-top: 230px"><h5>Loading ' + text + '</h5><img src=' + '@Url.Content("~/images/loadingdots.GIF")' + ' /></div>');

        var url = '@Url.Content("~/Entity/_Index")';
        
        $('#txtTreeItemDetail').val('@Url.Content("~/Entity/Index/?")' + 'id=' + id.toString() + '&type=' + type);

        if (type == 'User') {
            url = '@Url.Content("~/User/Detail")';
            $('#txtTreeItemDetail').val('@Url.Content("~/User/Index/?")' + 'id=' + id.toString() + '&type=' + type);
        }

        $.ajax({
            url: url,
            data: JSON.stringify({ id: id, 'parentList': parentList }),
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index/")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                $('.right_inner').empty().html(data);
                slideDownFund(SelectedFundID, SelectedPageID);
                
            }
        });
    }

    $(document).ready(function () {
        $('#treeview a').unbind('click').click(function (e) {
            //e.preventDefault();

            setSelectedItemParent($(this));

            var type = $(this).attr('type');
            var id = type != 'User' ? $(this).attr('id') : $(this).attr('userid');

            loadItemDetail(id, $(this).text(), type, $('#txtSelectedItemParents').val());

            var li = $('.left_icon_bar li.current:first');
            if (li != null && li.length > 0) {
                if (isNullOrEmpty($(li).attr('type'))) {
                    $('.left_icon_bar li').removeClass('current');
                    $('.left_icon_bar ul li[type="' + '@DBASystem.SMSF.Contracts.Common.EntityTreeType.All' + '"]').addClass('current');
                }
            }
        });

        @*$("#treeview").kendoTreeView(); // Convert ul to kendo ui treeview.
        var treeview = $("#treeview").data("kendoTreeView");
        
        if (treeview != null) {
            // find and select tree view.
            if ('@SessionHelper.SelectedEntity' != '@newpair') {
                var node;

                if ('@SessionHelper.SelectedEntity.Value' != 'User')
                    node = $('#treeview').find('a[id=' + '@SessionHelper.SelectedEntity.Key' + ']').closest('li');
                else
                    node = $('#treeview').find('a[userid=' + '@SessionHelper.SelectedEntity.Key' + ']').closest('li');

                if (node.length == 0 && '@lastSelectedParent' != 0) {
                    node = $('#treeview').find('a[id=' + '@lastSelectedParent' + ']').closest('li');
                }

                treeview.expand(node);
                node.find('span[class=k-in]:first').addClass('k-state-selected');

                if ($('#txtExpandAll').val() == '1') {
                    treeview.expand(".k-item");
                }
                else if ($('#txtExpandAll').val() == '0') {
                    treeview.collapse(".k-item");
                }
                else {
                    var parentNodes = node.parents('li');
                    treeview.expand(parentNodes);
                }
            }
            else {
                if ($('#txtExpandAll').val() == '1') {
                    treeview.expand(".k-item");
                }
                else if ($('#txtExpandAll').val() == '0') {
                    treeview.collapse(".k-item");
                }
                else {
                    $("#treeview").data("kendoTreeView").expand("li:first");
                }
            }
        }*@
    });
</script>