﻿
<div id="left-panel-content">
    <ul>
        <li id="Dashboard" class="active"> <a href='@Url.Content("~/Home/Index")'><span class="icon-home"></span>Home</a></li>
        <li id="Firms"><a href='@Url.Content("~/Firm/HasMultipleAccess")'><span class="icon-building"></span>IFA</a></li>
        <li id="Investment"><a href='@Url.Content("~/Investment")'><span class="icon-building"></span>Investment</a></li>
        <li id="DataFeed"><a href='@Url.Content("~/DataFeed")'><span class="icon-building"></span>Data Feed</a></li>
        <li id="Accounts"><a href='@Url.Content("~/Accounts/HasMultipleAccess")'><span class="fa fa-users"></span>Accounts</a></li>
        <li id="Funds"><a href='@Url.Content("~/Fund/HasMultipleAccess")'><span class="fa fa-suitcase"></span>Funds</a></li>
        <li id="Jobs"><a href='@Url.Content("~/Job/HasMultipleAccess")'><span class="fa fa-tasks"></span>Jobs</a></li>
        <li id="Users"><a href='@Url.Content("~/User/HasMultipleAccess")'><span class="icon-user"></span>Users</a></li>
        <li id="Workflow"><a href='@Url.Content("~/Workflow")'><span class="fa fa-sitemap"></span>Work flow</a></li>
        <li id="Reports"><a href='@Url.Content("~/Reports")'><span class="fa fa-bar-chart-o"></span>Reports</a></li>
        <li id="Settings"><a href='@Url.Content("~/Setting/SystemSettings")'><span class="icon-cog"></span>Settings</a></li>
        <!--<li><a href='@Url.Content("~/Account/LogOff")'><span class="icon-off"></span>Logout</a></li>-->
    </ul>
</div>

<script>
    $(function () {
        var selectedMenu = '@DBASystem.SMSF.Web.Common.SessionHelper.SelectedMenu';
        if (selectedMenu != '') {
            $('#left-panel-content ul li').removeClass('active');

            var item = $('#left-panel-content ul').find('li#' + selectedMenu);
            if (item != null && item.length > 0) {
                item.addClass('active');
            }
        }
    });
</script>

