﻿@using DBASystem.SMSF.Web.Common

<div class="top_bar">
    <div style="display: table;float: right">

        <div style="display: table-row">
            <div style="display: table-cell" class="icon-number">
                <ul>
                    <li><a href="@Url.Content("~/Workflow/GetPendingProcess")" class="icon tasks" title="Pending Jobs"><span id="jobCount" style="display: none"></span></a></li>
                </ul>
            </div>
            <div class="top_profile_option" style="display: table-cell">
                <a href="#" class="profile_btn">
                    <img src="@Url.Action("GetProfileImage", "User")" style="width:24px;height:26px;border:none" alt="@SessionHelper.Name" align="abmiddle" id="profilePictureTop" />
                    <span class="loggedInUserName">@SessionHelper.Name</span>
                </a>
            </div>
        </div>
    </div>
    <div class="account_popup">
        <div class="pic">
            <img src="@Url.Action("GetProfileImage", "User")" style="width: 96px; height: 99px" align="absmiddle" id="profilePicturePopUp" />
        </div>
        <div class="info">
            <div>
                <span class="icon-user" style="margin-right: 5px"></span>@SessionHelper.Name
            </div>
            <div>
                <span class="icon-envelope" style="margin-right: 5px"></span><a href="mailto:@SessionHelper.Email">@SessionHelper.Email</a>
            </div>
            <div>
                <span class="icon-building" style="margin-right: 5px"></span>@SessionHelper.Entity.EntityName
            </div>
            <a href="@Url.Content("~/Setting/UserProfile")" class="btns" style="float: left;">View Profile</a>
            <div class="bot_bar">
                <a href="@Url.Content("~/Setting/SystemSettings")" class="btns" style="float: left; margin: 7px 0px 0px 10px;"><i class="icon-cog"></i> Settings</a>
                <a href='@Url.Content("~/Account/LogOff")' class="btns" style="float: right;"><i class="icon-off"></i> Logout</a>
            </div>
        </div>
    </div>
    <div class="top_search_area" style="display:none">
        <input type="text" name="textfield" id="SearchText" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value==''){this.value='Search'}" />
        <input type="submit" name="button" id="Serachbtn" value="Submit" />
    </div>
</div>

<script type="text/javascript">
    $(".close_btn").click(function () {
        $(".account_popup").slideUp();

        $(".current").removeClass();
        $(".top_profile_option > a").toggleClass("profile_btn");
    });
    $('.profile_btn').click(function (event) {
        var target = $(event.relatedTarget);
        if (!target.is('.account_popup')) {
            $(this).clearQueue();
            $('.account_popup').slideDown();
            $(this).toggleClass("current");
            //$(".current").removeClass();
        }

        $(window).on('hashchange', function (e) {
            history.replaceState("", document.title, e.originalEvent.oldURL);
        });
    }).mouseleave(function (event) {
        var target = $(event.relatedTarget);
        if (!target.is('.account_popup')) {
            $(this).clearQueue();
            $(".account_popup").slideUp();

            $(".current").toggleClass();
        }
    });
    $('.account_popup').mouseleave(function (event) {

        var target = $(event.relatedTarget);
        if (!target.is('.current')) {
            $('.account_popup').slideUp();
            $(".current").toggleClass();
            $(".top_profile_option > a").toggleClass("profile_btn");

        }
    });

    $(function () {
        $.get('@Url.Content("~/Workflow/ListPendingProcesses")', function (result) {
            
            $('#jobCount').hide();
            if (result.length > 0)
                $('#jobCount').empty().html(result.length).show();
        });

    });
</script>