﻿<!DOCTYPE html>

@{
    ViewBag.Title = "DBA System" + " - " + ViewBag.Title;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='@Url.Content("~/bootstrap/css/bootstrap.css")' rel="stylesheet">
    <link href='@Url.Content("~/bootstrap/css/prettify.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/flat-ui.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/docs.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/demo.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/style.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/custom.css")' rel="stylesheet">
    <script src='@Url.Content("~/Scripts/jquery-1.9.1.js")'></script>
    <title>@ViewBag.Title</title>
</head>
<body class="mybody">
    <div class="login_logo">
        <img src='@Url.Content("~/images/MDA.jpg")' /><br>
    </div>

    <div class="login_right_panel">
        <h2><span id="Headingtxt">Member Login</span></h2>
        @RenderSection("featured", required: false)
        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
    <!-- login wrapper ends -->
    <script type="text/javascript">
        $(function () {
            $('.login_right_panel').css({ 'height': ($(document).height()) + 'px' });
        });
		
		$( window ).resize(function() {		
            $('.login_right_panel').css({ 'height': ($(document).height()) + 'px' });
		});
		
    </script>
</body>
</html>
