﻿<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link href='@Url.Content("~/content/bootstrap.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/content/dbasys.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/AuditProcStyles.css")" rel="stylesheet">

    <!-- Javascript & jQuery -->
    <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui-1.10.4.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")"></script>
    <script src='@Url.Content("~/scripts/modernizr-jquery.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/scripts/bootstrap.min.js")' type="text/javascript"></script>

    <link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/kendo/kendo.default1.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>

    <script src='@Url.Content("~/Scripts/common.js")'></script>
    <link href="@Url.Content("~/content/custom.css")" rel="stylesheet">

</head>
<body class="fluid-layout">
    
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Left navigation panel ================================================== -->
    <nav id="left-panel">
        @Html.Partial("_LeftMenuResponsive")
    </nav>
    <!-- / Left navigation panel -->

    <section id="mycontainer" class="container">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </section>

</body>
</html>
