﻿<!DOCTYPE html>

@{
    ViewBag.Title = "DBA System" + " - " + ViewBag.Title;
}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link href='@Url.Content("~/content/bootstrap.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/content/dbasys.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/AuditProcStyles.css")" rel="stylesheet">

    <!-- Javascript & jQuery -->
    <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui-1.10.4.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")"></script>
    <script src='@Url.Content("~/scripts/modernizr-jquery.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/scripts/bootstrap.min.js")' type="text/javascript"></script>

    <link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/kendo/kendo.default1.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>

    <script src='@Url.Content("~/Scripts/common.js")'></script>
    <link href="@Url.Content("~/content/custom.css")" rel="stylesheet">

    <style>
        #contentmain {
            background: none repeat scroll 0px 0px rgb(255, 255, 255);
            height: 100% !important;
            margin: 0px 20px 60px 20px;
            width: 97%;
        }

            #contentmain .contentinner {
                border: 0px solid black;
                z-index: 1000;
                margin-right: 30px;
                padding: 15px 0px 0 0px;
            }

                #contentmain .contentinner h2 {
                    font-family: 'Lato', sans-serif;
                    font-size: 24px;
                    margin: 0 0 10px 0;
                    padding: 0;
                }
    </style>
</head>
<body class="fluid-layout">
    
    <header class="navbar navbar-fixed-top" id="main-navbar">
        @Html.Partial("_LoginPartial")
    </header>

    <!-- Left navigation panel ================================================== -->
    <nav id="left-panel">
        @Html.Partial("_LeftMenuResponsive")
        <div class="icon-caret-down"></div>
        <div class="icon-caret-up"></div>
    </nav>
    <!-- / Left navigation panel -->

    <section id="mycontainer" class="container">
        @RenderBody()
        @RenderSection("scripts", required: false)
    </section>

    <footer id="main-footer"> Copyrights © <a href="#">MDA System</a> 2013. All Rights Reserved </footer>

    
</body>
</html>
