﻿@model System.Web.Mvc.HandleErrorInfo
@using DBASystem.SMSF.Contracts.Common

@{
    ViewBag.Title = "Error";
    
    var header = Resource_EN.Error_500;
    var message = Resource_EN.Error_500_Description;

    if (ViewBag.StatusCode == 403)
    {
        header = Resource_EN.Error_403;
        message = Resource_EN.Error_403_Description;
    }

    if (ViewBag.StatusCode == 404)
    {
        header = Resource_EN.Error_404; 
        message = Resource_EN.Error_404_Description; 
    }
}

<div id="contentmain">
    <div id="contentinner">
        <hgroup class="title">
            <h1 class="globalerror">@header</h1>
        </hgroup>
        <p class="globalerror" style="padding-top: 20px">
            @if (message != null)
            { @Html.Raw(message) }
        </p>
        <p style="padding-top: 20px"><a id="lnkBack" href="#">Click here</a> to go back.</p>
    </div>
</div>

<script>
    $(function () {
        $('#lnkBack').click(function (e) {
            e.preventDefault();
            history.back(1);
        });
    });
</script>