﻿<!DOCTYPE html>
@using DBASystem.SMSF.Contracts.Common

@{
    ViewBag.Title = "DBA System" + " - " + ViewBag.Title;
}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link href='@Url.Content("~/content/bootstrap.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/content/dbasys.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/AuditProcStyles.css")" rel="stylesheet">

    <!-- Javascript & jQuery -->
    <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui-1.10.4.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")"></script>
    <script src='@Url.Content("~/scripts/modernizr-jquery.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/scripts/bootstrap.min.js")' type="text/javascript"></script>

    <link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/kendo/kendo.default1.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>

    <script src='@Url.Content("~/Scripts/common.js")'></script>
    <link href="@Url.Content("~/content/custom.css")" rel="stylesheet">

    <style>
        #contentmain {
            background: none repeat scroll 0px 0px rgb(255, 255, 255);
            height: 100% !important;
            margin: 0 20px 60px 10px;
            margin-left: 20px;
            max-width: 100%;
            width: auto;
            overflow-x: hidden;
        }

            #contentmain .contentinner {
                border: 0px solid black;
                z-index: 1000;
                margin-right: 30px;
                padding: 15px 0px 0 0px;
            }

                #contentmain .contentinner h2 {
                    /*font-family: 'Lato', sans-serif;*/
                    font-size: 24px;
                    margin: 0;
                    padding: 0;
                }
    </style>
</head>
<body class="fluid-layout">

    <a href="#" class="collapse_btn"><i class="icon-chevron-right"></i></a>

    <header class="navbar navbar-fixed-top" id="main-navbar">
    </header>

    <!-- Left navigation panel ================================================== -->
    <nav id="left-panel">
        

        <div id="left-panel-content">
            <ul>
                <li id="Dashboard" class="active"> <a href='@Url.Content("~/Home/Index")'><span class="icon-home"></span>Home</a></li>
                <li id="Firms"><a href='@Url.Content("~/Firm/HasMultipleAccess")'><span class="icon-building"></span>IFA</a></li>
                <li id="Investment"><a href='@Url.Content("~/Investment")'><span class="icon-building"></span>Investment</a></li>
                <li id="DataFeed"><a href='@Url.Content("~/DataFeed")'><span class="icon-building"></span>Data Feed</a></li>
                <li id="Accounts"><a href='@Url.Content("~/Accounts/HasMultipleAccess")'><span class="fa fa-users"></span>Accounts</a></li>
                <li id="Funds"><a href='@Url.Content("~/Fund/HasMultipleAccess")'><span class="fa fa-suitcase"></span>Funds</a></li>
                <li id="Jobs"><a href='@Url.Content("~/Job/HasMultipleAccess")'><span class="fa fa-tasks"></span>Jobs</a></li>
                <li id="Users"><a href='@Url.Content("~/User/HasMultipleAccess")'><span class="icon-user"></span>Users</a></li>
                <li id="Workflow"><a href='@Url.Content("~/Workflow")'><span class="fa fa-sitemap"></span>Work flow</a></li>
                <li id="Reports"><a href='@Url.Content("~/Reports")'><span class="fa fa-bar-chart-o"></span>Reports</a></li>
                <li id="Settings"><a href='@Url.Content("~/Setting/SystemSettings")'><span class="icon-cog"></span>Settings</a></li>
                <!--<li><a href='@Url.Content("~/Account/LogOff")'><span class="icon-off"></span>Logout</a></li>-->
            </ul>
        </div>

        <script>
    $(function () {
        var selectedMenu = '@DBASystem.SMSF.Web.Common.SessionHelper.SelectedMenu';
        if (selectedMenu != '') {
            $('#left-panel-content ul li').removeClass('active');

            var item = $('#left-panel-content ul').find('li#' + selectedMenu);
            if (item != null && item.length > 0) {
                item.addClass('active');
            }
        }
    });
        </script>


        <div class="icon-caret-down"></div>
        <div class="icon-caret-up"></div>
    </nav>
    <!-- / Left navigation panel -->

    <section id="mycontainer" class="container">
        <nav id="secondary" class="secondary">
            <div id="dvMainContainer">
                <h4>Filtered By</h4>
                <div id="dvSearchFilter" style="margin-bottom: 20px">
                </div>
                <input id="btnSearch" type="button" value="Search" />
                <div id="dvChildLinks" style="margin-top: 20px; margin-left: -20px">
                    <ul>
                        <li style="display:none;" class="FirmChildLink"><a id="lnkAllAccounts" href="#">All Accounts</a></li>
                        <li style="display:none;" class="FirmChildLink AccountsChildLink"><a id="lnkAllFunds" href="#">All Funds</a></li>
                        <li style="display:none;" class="FirmChildLink AccountsChildLink FundsChildLink"><a id="lnkAllJobs" href="#">All Jobs</a></li>
                        <li style="display:none;" class="FirmChildLink AccountsChildLink FundsChildLink"><a id="lnkAllUsers" href="#">All Users</a></li>
                    </ul>
                </div>
            </div>
            <script>

    var mainmodel = '';
    function setSearchFilter(objJson) {

        var tbl = $("<table />", { id: 'tblSearchFilter', style: 'width:100%' });

        $.each(objJson, function (i, row) {
            var tr = $('<tr />', { id: row.Field, 'data-type': row.Type });
            var input;
            var td2;

            if (row.Type == 'txt') {
                input = $("<input />", { id: row.Field, name: row.Field, type: "text", value: row.DefaultValue, placeholder: row.placeholder });
                td2 = $('<td />', { html: row.Display + '<br />' }).append(input);
                tr.append(td2);
            }
            else if (row.Type.indexOf('date') != -1) {

                input = $("<input />", { id: row.Field, name: row.Field, type: "text", value: row.DefaultValue }).addClass('jobdatepicker'); //class:'datepicker'
                td2 = $('<td />', { html: row.Display + '<br />' }).append(input);
                tr.append(td2);

                $(input).kendoDatePicker();
                //Disallow User input
                $(input).keypress(function (evt) {
                    var keycode = evt.charCode || evt.keyCode;
                    if (keycode == 9) {
                        //allow Tab through
                        return true;
                    } else {
                        // Allow the datepicker to open instead
                        var datePicker = $(this).data("kendoDatePicker");
                        datePicker.open();
                        return false;
                    }
                });

            } else if (row.Type == 'ddl') {
                //$("<input data-bind='value: " + name + "' />").appendTo(secondColumn).()
                input = $("<input />", { id: row.Field, name: row.Field, type: "text" });
                td2 = $('<td />', { html: row.Display + '<br />' }).append(input);
                $(input).kendoDropDownList({
                    dataTextField: "text",
                    dataValueField: "value",
                    dataSource: row.DefaultValue,
                    index: 0,
                    value: row.selectedValue,
                });
                tr.append(td2);
            }

            tbl.append(tr);
        });

        $("#dvSearchFilter").html(tbl);
    }

    $(function () {

        $("#btnSearch").die('click').live('click', function () {
            getSearchFilterModel();
            return;
        });

        $("#lnkAllAccounts").die("click").live("click", function () {
            var inputValsSearchFilterString = getSearchJSONObject();
            window.location.href = '@Url.Content("~/Accounts/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
        });

        $("#lnkAllFunds").die("click").live("click", function () {
            var inputValsSearchFilterString = getSearchJSONObject();
            window.location.href = '@Url.Content("~/Fund/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
        });

        $("#lnkAllJobs").die("click").live("click", function () {
            var inputValsSearchFilterString = getSearchJSONObject();
            window.location.href = '@Url.Content("~/Job/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
        });
        $("#lnkAllUsers").die("click").live("click", function () {
            var inputValsSearchFilterString = getSearchJSONObject();
            window.location.href = '@Url.Content("~/User/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
        });

    });
    function getSearchJSONObject() {
        return eval('(' + getSearchJSONString() + ')');
    }

    function getSearchJSONString() {
        var inputVals = new Array();

        var jsonStr = '';
        $("#tblSearchFilter tr").each(function (i, row) {
            var type = $(row).attr("data-type");
            var field = $(row).attr("id");
            var inputVal = '';
            if (type == 'txt' || type == 'ddl') {
                inputVal = $(row).find("input").val();
                if (inputVal != "") {
                    inputVals.push({ field: field, value: inputVal, type: type });

                    jsonStr = jsonStr + ',"' + field + '":"' + inputVal + '"';
                }
            }
            else if (type.indexOf("date") >= 0) {
                inputVal = $(row).find("input").val();
                if (inputVal != "") {
                    inputVals.push({ field: field, value: inputVal, type: type });

                    var arrdate = inputVal.split('/');
                    if (arrdate.length == 3) {
                        var searchDate = new Date(inputVal).toJSON();
                        if (searchDate != undefined) {
                            if (type.indexOf(">") > 0) {
                                jsonStr = jsonStr + ',"DateFrom":"' + searchDate + '"';
                            }
                            else {
                                jsonStr = jsonStr + ',"DateTo":"' + searchDate + '"';
                            }
                        }
                    }
                }

            }

        });
        jsonStr = jsonStr.substring(1, jsonStr.length);
        jsonStr = "{" + jsonStr + "}";
        return jsonStr;
    }
    function getSearchFilterModel() {

        $('#dvGrid').hide();
        $('#dvLoader').show();

        var inputValsSearchFilter = getSearchJSONObject();

        $.ajax({

            url: '@Url.Content("~/" + ViewBag.ControllerName + "/IndexSearch")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(inputValsSearchFilter),
            type: "POST",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                dataModel = $.grep(data.data, function(d) {
                    return d.CategoryID != '@((int)EntityCategories.System)';
                });

                SetFirmGrid(dataModel);
                farmModel = dataModel;
                displaySearchAplha(dataModel);

                if (data.message != '') {

                    $('<div />', { id: 'dvMessage' }).html('Displaying 1,000 of ' + formatNumber(data.message) + ' records.').appendTo('body');

                    $('#dvMessage').fadeIn('slow');
                    $('#dvMessage').delay(5000).fadeOut('slow');
                }
            }
        });
    }
            </script>
        
                </nav>
        <div id="contentmain">
            <div id="contentinner">
                <h2>IFA</h2>

                @Html.Partial("_Index")
            </div>
        </div>



            @Scripts.Render("~/bundles/jqueryui")
    
        </section>

    <footer id="main-footer"> Copyrights © <a href="#">DBA System</a> 2014. All Rights Reserved </footer>

    <script>

        $("#secondary").width('217px');
        $("#secondary")[0].style.left = "82px";
        $("#dvMainContainer").width("78%");
        $("#contentmain")[0].style.marginLeft = "235px";
        $(".collapse_btn")[0].style.left = "299px";

        $('.collapse_btn i').removeClass("icon-chevron-right");
        $('.collapse_btn i').addClass("icon-chevron-left");

        $("#dvMainContainer").css({ 'display': 'block' });
        $("#secondary").css({ 'display': 'block' });
        $toggle_count = 0;

    </script>

    <script>
        $toggle_count = 0;
        $(".collapse_btn").click(function (e) {

            if ($toggle_count == 0) {
                $("#secondary").animate({ width: "0px" });
                $("#dvMainContainer").animate({ width: "0px" });
                $(".collapse_btn").animate({ left: "82px" });
                $("#contentmain").animate({ marginLeft: "1.3%" });

                $('.collapse_btn i').removeClass("icon-chevron-left");
                $('.collapse_btn i').addClass("icon-chevron-right");

                $("#dvMainContainer").css({ 'display': 'none' });

                $toggle_count = 1;
            }
            else {
                $("#secondary").animate({ width: "217px" });
                $("#secondary")[0].style.left = "82px";
                $("#dvMainContainer").animate({ width: "78%" });
                $("#contentmain").animate({ marginLeft: "235px" });
                $(".collapse_btn").animate({ left: "299px" });

                $('.collapse_btn i').removeClass("icon-chevron-right");
                $('.collapse_btn i').addClass("icon-chevron-left");

                $("#dvMainContainer").css({ 'display': 'block' });
                $("#secondary").css({ 'display': 'block' });
                $toggle_count = 0;
            }
            e.stopPropagation();
            e.preventDefault();
        });

        // $('#contentmain').click(function (e) {
        //   if ($(e.target).closest("#secondary").length > 0)
        //      return false;
        // $toggle_count = 0;
        // $(".collapse_btn").click();
        //});
    </script>

    <script>
        var dataModel;

        $(function () {
            $(".FirmChildLink").show();

            var searchFilterJson = [
                { 'Display': 'Name', 'Field': 'Name', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'IFA Name' },
                { 'Display': 'ABN', 'Field': 'ABN', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Australian Business Number' },
                { 'Display': 'Primary Contact', 'Field': 'PrimaryContact', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Primary Contact' },
                { 'Display': 'Date From', 'Field': 'CreationDate', 'DefaultValue': '', 'Type': 'date>', 'placeholder': 'Creation date from' },
                { 'Display': 'To', 'Field': 'CreationDate', 'DefaultValue': '', 'Type': 'date<', 'placeholder': 'Creation date to' }
            ];
            setSearchFilter(searchFilterJson);
            getSearchFilterModel();
        });
    </script>

</body>
</html>


