﻿<!DOCTYPE html>
@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common;


@{
    ViewBag.Title = "DBA System" + " - " + ViewBag.Title;
}

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Stylesheets -->
    <link href='@Url.Content("~/content/bootstrap.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href='@Url.Content("~/content/dbasys.min.css")' media="all" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/content/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/AuditProcStyles.css")" rel="stylesheet">

    <!-- Javascript & jQuery -->
    <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui-1.10.4.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")"></script>
    <script src='@Url.Content("~/scripts/modernizr-jquery.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/scripts/bootstrap.min.js")' type="text/javascript"></script>

    <link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/kendo/kendo.default1.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>

    <script src='@Url.Content("~/Scripts/common.js")'></script>
    <link href="@Url.Content("~/content/custom.css")" rel="stylesheet">

    <style>
        #contentmain {
            background: none repeat scroll 0px 0px rgb(255, 255, 255);
            height: 100% !important;
            margin: 0 20px 60px 10px;
            margin-left: 20px;
            max-width: 100%;
            width: auto;
            overflow-x: hidden;
        }

            #contentmain .contentinner {
                border: 0px solid black;
                z-index: 1000;
                margin-right: 30px;
                padding: 15px 0px 0 0px;
            }

                #contentmain .contentinner h2 {
                    /*font-family: 'Lato', sans-serif;*/
                    font-size: 24px;
                    margin: 0;
                    padding: 0;
                }
    </style>
</head>
<body class="fluid-layout">
    <a href="#" class="collapse_btn"><i class="icon-chevron-right"></i></a>
    <nav id="left-panel">
        <div id="left-panel-content">
            <ul>
                <li id="Dashboard" class="active"> <a href='@Url.Content("~/Home/Index")'><span class="icon-home"></span>Home</a></li>
                <li id="Firms"><a href='@Url.Content("~/Firm/HasMultipleAccess")'><span class="icon-building"></span>IFA</a></li>
                <li id="Investment"><a href='@Url.Content("~/Investment")'><span class="icon-building"></span>Investment</a></li>
                <li id="DataFeed"><a href='@Url.Content("~/DataFeed")'><span class="icon-building"></span>Data Feed</a></li>
                <li id="Accounts"><a href='@Url.Content("~/Accounts/HasMultipleAccess")'><span class="fa fa-users"></span>Accounts</a></li>
                <li id="Funds"><a href='@Url.Content("~/Fund/HasMultipleAccess")'><span class="fa fa-suitcase"></span>Funds</a></li>
                <li id="Jobs"><a href='@Url.Content("~/Job/HasMultipleAccess")'><span class="fa fa-tasks"></span>Jobs</a></li>
                <li id="Users"><a href='@Url.Content("~/User/HasMultipleAccess")'><span class="icon-user"></span>Users</a></li>
                <li id="Workflow"><a href='@Url.Content("~/Workflow")'><span class="fa fa-sitemap"></span>Work flow</a></li>
                <li id="Reports"><a href='@Url.Content("~/Reports")'><span class="fa fa-bar-chart-o"></span>Reports</a></li>
                <li id="Settings"><a href='@Url.Content("~/Setting/SystemSettings")'><span class="icon-cog"></span>Settings</a></li>
                <!--<li><a href='@Url.Content("~/Account/LogOff")'><span class="icon-off"></span>Logout</a></li>-->
            </ul>
        </div>

        <script>
            $(function () {
                var selectedMenu = '@DBASystem.SMSF.Web.Common.SessionHelper.SelectedMenu';
                if (selectedMenu != '') {
                    $('#left-panel-content ul li').removeClass('active');

                    var item = $('#left-panel-content ul').find('li#' + selectedMenu);
                    if (item != null && item.length > 0) {
                        item.addClass('active');
                    }
                }
            });
        </script>


        <div class="icon-caret-down"></div>
        <div class="icon-caret-up"></div>
    </nav>
    <!-- / Left navigation panel -->

    <section id="mycontainer" class="container">
        <nav id="secondary" class="secondary">
            <div id="dvMainContainer">
                <h4>Filtered By</h4>
                <div id="dvSearchFilter" style="margin-bottom: 20px">
                </div>
                <input id="btnSearch" type="button" value="Search" />
                <div id="dvChildLinks" style="margin-top: 20px; margin-left: -20px">
                    <ul>
                        <li style="display:none;" class="FirmChildLink"><a id="lnkAllAccounts" href="#">All Accounts</a></li>
                        <li style="display:none;" class="FirmChildLink AccountsChildLink"><a id="lnkAllFunds" href="#">All Funds</a></li>
                        <li style="display:none;" class="FirmChildLink AccountsChildLink FundsChildLink"><a id="lnkAllJobs" href="#">All Jobs</a></li>
                        <li style="display:none;" class="FirmChildLink AccountsChildLink FundsChildLink"><a id="lnkAllUsers" href="#">All Users</a></li>
                    </ul>
                </div>
            </div>
            <script>

                var mainmodel = '';
                function setSearchFilter(objJson) {

                    var tbl = $("<table />", { id: 'tblSearchFilter', style: 'width:100%' });

                    $.each(objJson, function (i, row) {
                        var tr = $('<tr />', { id: row.Field, 'data-type': row.Type });
                        var input;
                        var td2;

                        if (row.Type == 'txt') {
                            input = $("<input />", { id: row.Field, name: row.Field, type: "text", value: row.DefaultValue, placeholder: row.placeholder });
                            td2 = $('<td />', { html: row.Display + '<br />' }).append(input);
                            tr.append(td2);
                        }
                        else if (row.Type.indexOf('date') != -1) {

                            input = $("<input />", { id: row.Field, name: row.Field, type: "text", value: row.DefaultValue }).addClass('jobdatepicker'); //class:'datepicker'
                            td2 = $('<td />', { html: row.Display + '<br />' }).append(input);
                            tr.append(td2);

                            $(input).kendoDatePicker();
                            //Disallow User input
                            $(input).keypress(function (evt) {
                                var keycode = evt.charCode || evt.keyCode;
                                if (keycode == 9) {
                                    //allow Tab through
                                    return true;
                                } else {
                                    // Allow the datepicker to open instead
                                    var datePicker = $(this).data("kendoDatePicker");
                                    datePicker.open();
                                    return false;
                                }
                            });

                        } else if (row.Type == 'ddl') {
                            //$("<input data-bind='value: " + name + "' />").appendTo(secondColumn).()
                            input = $("<input />", { id: row.Field, name: row.Field, type: "text" });
                            td2 = $('<td />', { html: row.Display + '<br />' }).append(input);
                            $(input).kendoDropDownList({
                                dataTextField: "text",
                                dataValueField: "value",
                                dataSource: row.DefaultValue,
                                index: 0,
                                value: row.selectedValue,
                            });
                            tr.append(td2);
                        }

                        tbl.append(tr);
                    });

                    $("#dvSearchFilter").html(tbl);
                }

                $(function () {

                    $("#btnSearch").die('click').live('click', function () {
                        getSearchFilterModel();
                        return;
                    });

                    $("#lnkAllAccounts").die("click").live("click", function () {
                        var inputValsSearchFilterString = getSearchJSONObject();
                        window.location.href = '@Url.Content("~/Accounts/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
                    });

                    $("#lnkAllFunds").die("click").live("click", function () {
                        var inputValsSearchFilterString = getSearchJSONObject();
                        window.location.href = '@Url.Content("~/Fund/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
                    });

                    $("#lnkAllJobs").die("click").live("click", function () {
                        var inputValsSearchFilterString = getSearchJSONObject();
                        window.location.href = '@Url.Content("~/Job/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
                    });
                    $("#lnkAllUsers").die("click").live("click", function () {
                        var inputValsSearchFilterString = getSearchJSONObject();
                        window.location.href = '@Url.Content("~/User/IndexSearchWithFilter/")' + '?SearchModelstring=' + JSON.stringify(inputValsSearchFilterString);
                    });

                });
                function getSearchJSONObject() {
                    return eval('(' + getSearchJSONString() + ')');
                }

                function getSearchJSONString() {
                    var inputVals = new Array();

                    var jsonStr = '';
                    $("#tblSearchFilter tr").each(function (i, row) {
                        var type = $(row).attr("data-type");
                        var field = $(row).attr("id");
                        var inputVal = '';
                        if (type == 'txt' || type == 'ddl') {
                            inputVal = $(row).find("input").val();
                            if (inputVal != "") {
                                inputVals.push({ field: field, value: inputVal, type: type });

                                jsonStr = jsonStr + ',"' + field + '":"' + inputVal + '"';
                            }
                        }
                        else if (type.indexOf("date") >= 0) {
                            inputVal = $(row).find("input").val();
                            if (inputVal != "") {
                                inputVals.push({ field: field, value: inputVal, type: type });

                                var arrdate = inputVal.split('/');
                                if (arrdate.length == 3) {
                                    var searchDate = new Date(inputVal).toJSON();
                                    if (searchDate != undefined) {
                                        if (type.indexOf(">") > 0) {
                                            jsonStr = jsonStr + ',"DateFrom":"' + searchDate + '"';
                                        }
                                        else {
                                            jsonStr = jsonStr + ',"DateTo":"' + searchDate + '"';
                                        }
                                    }
                                }
                            }

                        }

                    });
                    jsonStr = jsonStr.substring(1, jsonStr.length);
                    jsonStr = "{" + jsonStr + "}";
                    return jsonStr;
                }
                function getSearchFilterModel() {

                    $('#dvGrid').hide();
                    $('#dvLoader').show();

                    var inputValsSearchFilter = getSearchJSONObject();

                    $.ajax({

                        url: '@Url.Content("~/" + ViewBag.ControllerName + "/IndexSearch")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(inputValsSearchFilter),
                        type: "POST",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function (data) {
                            dataModel = $.grep(data.data, function (d) {
                                return d.CategoryID != '@((int)EntityCategories.System)';
                            });

                            SetFirmGrid(dataModel);
                            farmModel = dataModel;
                            displaySearchAplha(dataModel);

                            if (data.message != '') {

                                $('<div />', { id: 'dvMessage' }).html('Displaying 1,000 of ' + formatNumber(data.message) + ' records.').appendTo('body');

                                $('#dvMessage').fadeIn('slow');
                                $('#dvMessage').delay(5000).fadeOut('slow');
                            }
                        }
                    });
                }
            </script>

        </nav>
        <div id="contentmain">
            <div id="contentinner">
                <h2>IFA</h2>

                <div id="dvGrid" style="display: none">
                    <div id="dvFirmGrid">
                        <table id="tblFirmGrid" style="width:100%;">
                            <tr>
                                <th style="width: 2%"></th>
                                <th style="width: 2%"></th>
                                <th>Name</th>
                                <th style="width: 17%">
                                    @{
                                        if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Entity)
                                        { <text>Parent </text> }
                                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Client)
                                        { <text>Managed Firm </text> }
                                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Fund)
                                        { <text>Firm </text> }
                                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.IFM)
                                        { <text>Dealer Group </text> }
                                    }
                                </th>
                                @if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Fund)
                                {
                                    <th style="width: 13%">Account</th>
                                }
                                <th width="9%">ABN</th>
                                <th width="12%">Primary Contact</th>
                                <th width="12%">Account Manager</th>
                                <th width="8%">Creation Date</th>
                                <th width="8%">Last Modified On</th>
                            </tr>
                        </table>
                        <script id="FirmGridTemplate" type="text/x-kendo-template">
                            #if (CategoryID == null || CategoryID != '@((int)EntityCategories.System)') { #
                            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}" data-path="${Path}" data-haschild="${HasChild}" class="view" data-id="${EncryptedID}">
                                <td style="text-align: center">
                                    #if (Type == '@((int)EntityGenericType.Entity)') { #
                                    <span class="icon-building imgEntityDetail view" title="Click to see firm detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                                    # } else if (Type == '@((int)EntityGenericType.Group)') { #
                                    <span class="icon-building imgEntityDetail view" title="Click to see group detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                                    # } else if (Type == '@((int)EntityGenericType.Client)') { #
                                    <span class="fa fa-users imgEntityDetail view" title="Click to see account detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                                    # } else if (Type == '@((int)EntityGenericType.Fund)') { #
                                    <span class="fa fa-suitcase imgEntityDetail view" title="Click to see fund detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                                    # } #
                                </td>
                                <td style='text-align: center' id="colAttach">
                                    <span class="fa fa-paperclip Ico-Def proc-attachments view" title="Attach Files" id="btnModalAttachmenttemplate"></span>
                                </td>
                                <td>
                                    #if (Name != null) { #
                                    ${Name}
                                    # }#
                                </td>
                                <td>
                                    #if (Firm != null) { #
                                    ${Firm}
                                    # }#
                                </td>
                                @if (ViewBag.EntityType == (int)EntityGenericType.Fund)
                                {
                                    <td>
                                        #if (Account != null) { #
                                        ${Account}
                                        # }#
                                    </td>
                                }
                                <td>
                                    #if (ABN != null) { #
                                    ${ABN}
                                    # }#
                                </td>
                                <td>
                                    #if (AccountManager != null) { #
                                    ${AccountManager}
                                    # }#
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    #if (CreationDate != null) { #
                                    #=$.date(CreationDate)#
                                    # }#
                                </td>
                                <td>
                                    #if (LastModifiedDate != null) { #
                                    #=$.date(LastModifiedDate)#
                                    # }#
                                </td>
                            </tr>

                            # } #
                        </script>
                    </div>
                    <div id="dvPageAlpha" class="k-pager-wrap" style="padding-top: 10px">
                    </div>
                </div>

                <div id="dvLoader" style="text-align: center; padding-top: 160px">
                    <h4>Loading @ViewBag.ControllerName</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
                </div>

                <div id="dvAddPopup" style="display: none">
                    <div id="dvAddButtons" style="text-align: right; width: 100%; height: 30px">
                        <input id="btnContinue" type="button" value="Continue" />
                        <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
                    </div>
                    <div id="dvAddGrid" style="max-height: 375px; display: none; padding-bottom: 20px">
                        <table id="tblAddGrid" style="width: 100%">
                            <tr>
                                <th style="width: 5%"></th>
                                <th>Name</th>
                                <th style="width: 45%">
                                    @{
                                        if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Entity)
                                        { <text>Parent Firm</text> }
                                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Client)
                                        { <text>Managed Firm </text> }
                                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Fund)
                                        { <text>Managed Firm </text> }
                                    }
                                </th>
                            </tr>
                        </table>
                        <script id="AddGridTemplate" type="text/x-kendo-template">
                            #if (CategoryID == null || !('@ViewBag.EntityType' == '@((int)EntityTypes.Client)' && CategoryID == '@((int)EntityCategories.System)')) { #
                            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}" class="view">
                                <td style="text-align: center">
                                    #if (Type == '@((int)EntityGenericType.Entity)') { #
                                    <span class="icon-building"></span>
                                    # } else if (Type == '@((int)EntityGenericType.Group)') { #
                                    <span class="icon-building"></span>
                                    # } else if (Type == '@((int)EntityGenericType.Client)') { #
                                    <span class="fa fa-users"></span>
                                    # } else if (Type == '@((int)EntityGenericType.Fund)') { #
                                    <span class="fa fa-suitcase"></span>
                                    # } #
                                </td>
                                <td>
                                    #if (Name != null) { #
                                    ${Name}
                                    # }#
                                </td>
                                <td>
                                    #if (Parent != null) { #
                                    ${Parent}
                                    # }#
                                </td>
                            </tr>
                            # } #
                        </script>
                    </div>
                    <div id="dvAddLoader" style="text-align: center; height: 375px">
                        <br /><br /><br /><br /><br />
                        <h4>Loading @ViewBag.ControllerName</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
                    </div>
                </div>

                <script>
                    var client = '@((int)EntityGenericType.Client)';
                    var fund = '@((int)EntityGenericType.Fund)';
                    var entity = '@((int)EntityGenericType.Entity)';
                    var entity = '@((int)EntityGenericType.Entity)';
                    var group = '@((int)EntityGenericType.Group)';
                    var type = '';

                    $(function () {

                        if ('@((EntityGenericType)ViewBag.EntityType)' == '@EntityGenericType.Entity') {
                            if ('@(CommonFunction.IsOptionAllowed(Option.AddFirm))' == '@false') {
                                $('#btnAdd').attr('disabled', 'disabled');
                                $('#btnAdd').attr('title', 'Permission required to add firm');
                            }

                        } else if ('@((EntityGenericType) ViewBag.EntityType)' == '@EntityGenericType.Client') {
                            if ('@(CommonFunction.IsOptionAllowed(Option.AddAccount))' == '@false') {
                                $('#btnAdd').attr('disabled', 'disabled');
                                $('#btnAdd').attr('title', 'Permission required to add account');
                            }

                        } else if ('@((EntityGenericType) ViewBag.EntityType)' == '@EntityGenericType.Fund') {
                            if ('@(CommonFunction.IsOptionAllowed(Option.AddFund))' == '@false') {
                                $('#btnAdd').attr('disabled', 'disabled');
                                $('#btnAdd').attr('title', 'Permission required to add fund');
                            }
                        }

                        $(".lnkSearch").die("click").live("click", function (event) {
                            var txt = event.target.innerHTML;
                            if (txt == "ALL") {
                                txt = "";
                            }
                            SetFirmGrid(searchFirmGridList(farmModel, txt));
                            event.preventDefault();
                        });
                        $('#btnModalAttachmenttemplate').die('click').live('click', function (e) {
                            var tr = $(this).closest('tr');
                            var path = $(tr).attr('data-path');
                            var title = $(tr).attr('data-name');

                            showDocumentsDialog(path, title);

                        });

                        $('#dvFirmGrid #tblFirmGrid tbody tr').live('dblclick', function () {
                            var id = $(this).attr("data-id");
                            var entityType = $(this).attr("data-entitytype");
                            if (entityType == entity) {
                                window.location.href = '@Url.Content("~/Firm/Detail/")' + id;
                            }
                            else if (entityType == client) {
                                window.location.href = '@Url.Content("~/Accounts/Detail/")' + id;
                            }
                            else if (entityType == fund) {
                                window.location.href = '@Url.Content("~/Fund/Detail/")' + id;
                            }
                            else if (entityType == group) {
                                window.location.href = '@Url.Content("~/Firm/GroupDetail/")' + id;
                            }
                        });
                    });
                    function showDocumentsDialog(folderPath, title) {
                        $.ajax({
                            url: '@Url.Content("~/Sharepoint/GetDocuments")',
                            data: { folder: folderPath },
                            type: "GET",
                            cache: false,
                            error: function (error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function (data) {
                                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                                $('#dvShowDocuments').remove();
                                $('<div/>', { id: 'dvShowDocuments' }).appendTo('body');
                                $('#dvShowDocuments').html(data);
                                $('#dvShowDocuments').dialog({
                                    title: title + ' Documents',
                                    width: 650,
                                    height: 'auto',
                                    modal: true,
                                    closeOnEscape: true,
                                    dialogClass: "no-close",
                                });
                            }
                        });
                    }

                </script>

                <script>
                    function SetFirmGrid(Fmodel) {
                        $('#dvGrid').show();
                        $('#dvLoader').hide();

                        if ($("#dvFirmGrid #tblFirmGrid").data("kendoGrid")) {
                            SetFirmGridRebind(Fmodel);
                            return;
                        }
                        var objJobs = $("#dvFirmGrid #tblFirmGrid").kendoGrid({
                            dataSource: {
                                data: Fmodel
                                , pageSize: 50
                            },
                            pageable: true,
                            scrollable: false,
                            selectable: true,
                            rowTemplate: kendo.template($("#FirmGridTemplate").html()),
                        });
                        if (Fmodel != undefined && Fmodel.length == 0) {

                            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
                        }
                        setDetailButtonClick();
                    }

                    function setDetailButtonClick() {
                        $(".imgEntityDetail").die("click").live("click", function () {
                            var id = $(this).attr("data-id");
                            var entityType = $(this).attr("data-entitytype");
                            if (entityType == entity) {
                                window.location.href = '@Url.Content("~/Firm/Detail/")' + id;
                            }
                            else if (entityType == client) {
                                window.location.href = '@Url.Content("~/Accounts/Detail/")' + id;
                            }
                            else if (entityType == fund) {
                                window.location.href = '@Url.Content("~/Fund/Detail/")' + id;
                            }
                            else if (entityType == group) {
                                window.location.href = '@Url.Content("~/Firm/GroupDetail/")' + id;
                            }
                        });
                    }
                    function SetFirmGridRebind(Fmodel) {

                        var grid = $("#dvFirmGrid #tblFirmGrid").data("kendoGrid");
                        var dataSource = grid.dataSource;
                        var newSource = dataSource;
                        dataSource.data(Fmodel);

                        if (Fmodel != undefined && Fmodel.length == 0) {

                            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
                        }
                        setDetailButtonClick();
                    }

                    function searchFirmGridList(Fmodel, name) {
                        var result = [];

                        if (name == "")
                            return Fmodel;
                        $.each(Fmodel, function (i, row) {
                            if (row.Name.toUpperCase().indexOf(name) == 0) {
                                result.push(row);
                            }
                        });
                        return result;
                    }

                    function DistictAlpaArray(Fmodel) {
                        var result = [];
                        $.each(Fmodel, function (i, row) {

                            var ch = row.Name.charAt(0).toUpperCase();;
                            if (jQuery.inArray(ch, result) == -1) {
                                result.push(ch);
                            }
                        });
                        return result;
                    }

                    function displaySearchAplha(FModel) {
                        FModel = DistictAlpaArray(FModel);
                        FModel.sort();
                        var lnkhtml = ""; //" Filters:  ";
                        lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>ALL</a>";
                        $.each(FModel, function (i, row) {
                            lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>" + row + "</a>" + "";
                        });

                        $("#dvPageAlpha").html(lnkhtml);
                    }
                </script>

                <script>
                    function setPermissions() {


                        if ('@ViewBag.EntityType' == '@((int)EntityTypes.Entity)') {
                            if ('@(CommonFunction.IsOptionAllowed(Option.AddFirm))' == '@false') {
                                $('#btnAdd').attr('disabled', 'disabled');
                                $('#btnAdd').attr('title', 'Permission required to add firm');
                            }
                            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateFirm))' == '@false') {
                                $('#btnEdit').attr('disabled', 'disabled');
                                $('#btnEdit').attr('title', 'Permission required to update this firm');
                            }
                            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                                $('#btnDelete').attr('disabled', 'disabled');
                                $('#btnDelete').attr('title', 'Permission required to delete this firm');
                            }
                        }
                        else if ('@ViewBag.EntityType' == '@((int)EntityTypes.Client)') {
                            if ('@(CommonFunction.IsOptionAllowed(Option.AddAccount))' == '@false') {
                                $('#btnAdd').attr('disabled', 'disabled');
                                $('#btnAdd').attr('title', 'Permission required to add account');
                            }
                            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateAccount))' == '@false') {
                                $('#btnEdit').attr('disabled', 'disabled');
                                $('#btnEdit').attr('title', 'Permission required to update this account');
                            }
                            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                                $('#btnDelete').attr('disabled', 'disabled');
                                $('#btnDelete').attr('title', 'Permission required to delete this account');
                            }
                        }
                        else if ('@ViewBag.EntityType' == '@((int)EntityTypes.Fund)') {
                            if ('@(CommonFunction.IsOptionAllowed(Option.AddFund))' == '@false') {
                                $('#btnAdd').attr('disabled', 'disabled');
                                $('#btnAdd').attr('title', 'Permission required to add fund');
                            }
                            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateFund))' == '@false') {
                                $('#btnEdit').attr('disabled', 'disabled');
                                $('#btnEdit').attr('title', 'Permission required to update this fund');
                            }
                            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                                $('#btnDelete').attr('disabled', 'disabled');
                                $('#btnDelete').attr('title', 'Permission required to delete this fund');
                            }
                        }
                    }

                    $(function () {
                        setPermissions();
                    });
                </script>

                <script>
                    $(function () {

                        $('#btnAdd').click(function () {
                            var title = 'Select Parent Firm';
                            if ('@ViewBag.EntityType' == '@((int)EntityTypes.Fund)')
                                title = 'Select Parent Account';

                            $('#dvAddPopup').dialog({
                                title: title,
                                width: 800,
                                height: 'auto',
                                modal: true
                            });

                            if ($("#dvAddPopup #tblAddGrid").data("kendoGrid"))
                                return;

                            var type = '';
                            if ('@ViewBag.EntityType' == '@((int)EntityTypes.Entity)' || '@ViewBag.EntityType' == '@((int)EntityTypes.Client)')
                                type = '@EntityTypes.Entity';
                            else if ('@ViewBag.EntityType' == '@((int)EntityTypes.Fund)')
                                type = '@EntityTypes.Client';

                            $.ajax({
                                url: '@Url.Action("GetParents", "Firm")',
                                data: { type: type },
                                type: "GET",
                                cache: false,
                                error: function (error) {
                                    window.location.href = '@Url.Content("~/Error/Index")';
                                },
                                success: function (data) {
                                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                                    var d = data;
                                    if ('@ViewBag.EntityType' == '@((int) EntityTypes.Client)') {
                                        d = $.grep(data, function (e) {
                                            return e.CategoryID != '@((int) EntityCategories.System)';
                                        });
                                    }

                                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                                        dataSource: {
                                            data: d
                                            , pageSize: 10
                                        },
                                        pageable: true,
                                        scrollable: false,
                                        selectable: true,
                                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                                    });
                                    if (data != undefined && data.length == 0) {
                                        $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                                    }

                                    $('#dvAddLoader').hide();
                                    $('#dvAddGrid').show();
                                    $("#dvAddPopup").dialog("option", "position", "center");
                                }
                            });
                        });

                        $('#btnContinue').click(function () {
                            var selectedItem = $('#tblAddGrid tr.k-state-selected');
                            if (selectedItem.length == 0) {
                                doAlert('Please select parent first');
                                return;
                            }

                            $('#dvAddButtons input').hide();
                            $('#dvAddButtons img').show();

                            var parentId = $(selectedItem).attr('id');
                            window.location.href = '@Url.Content("~/Firm/Add/?type=" + ViewBag.EntityType)' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
                        });

                        $('#btnDelete').click(function () {
                            var selectedItem = $('#tblFirmGrid tr.k-state-selected');
                            if (selectedItem.length == 0) {
                                doAlert('Please select item to delete');
                                return;
                            }

                            var type = '';
                            if ($(selectedItem).attr('data-entitytype') == '@((int) EntityTypes.Entity)')
                                type = 'firm';
                            else if ($(selectedItem).attr('data-entitytype') == '@((int) EntityTypes.Client)')
                                type = 'account';
                            else
                                type = 'fund';

                            if ($(selectedItem).attr('data-haschild') == 'false') {

                                var id = $(selectedItem).attr('id');

                                doConfirm("Are you sure want to delete this " + type + "?",
                                    function yes() {
                                        $('#toolbar button').hide();
                                        $('#toolbar #dvloader').show();

                                        $.ajax({
                                            url: '@Url.Action("DeleteFirm", "Firm")',
                                            data: { id: id },
                                            type: "GET",
                                            cache: false,
                                            error: function (error) {
                                                window.location.href = '@Url.Content("~/Error/Index")';
                                            },
                                            success: function (data) {
                                                if (data.ResponseMessage != '') {
                                                    doAlert(data.ResponseMessage);
                                                } else {
                                                    $(selectedItem).remove();
                                                }

                                                $('#toolbar button').show();
                                                $('#toolbar #dvloader').hide();
                                            }
                                        });
                                    },
                                    function no() {
                                    }
                                );
                            } else
                                doAlert("Cannot delete this " + type + ", Please delete child item first");
                        });
                    });
                </script>
            </div>
        </div>



        @Scripts.Render("~/bundles/jqueryui")

    </section>

    <script>

        $("#secondary").width('217px');
        $("#secondary")[0].style.left = "82px";
        $("#dvMainContainer").width("78%");
        $("#contentmain")[0].style.marginLeft = "235px";
        $(".collapse_btn")[0].style.left = "299px";

        $('.collapse_btn i').removeClass("icon-chevron-right");
        $('.collapse_btn i').addClass("icon-chevron-left");

        $("#dvMainContainer").css({ 'display': 'block' });
        $("#secondary").css({ 'display': 'block' });
        $toggle_count = 0;

    </script>

    <script>
        $toggle_count = 0;
        $(".collapse_btn").click(function (e) {

            if ($toggle_count == 0) {
                $("#secondary").animate({ width: "0px" });
                $("#dvMainContainer").animate({ width: "0px" });
                $(".collapse_btn").animate({ left: "82px" });
                $("#contentmain").animate({ marginLeft: "1.3%" });

                $('.collapse_btn i').removeClass("icon-chevron-left");
                $('.collapse_btn i').addClass("icon-chevron-right");

                $("#dvMainContainer").css({ 'display': 'none' });

                $toggle_count = 1;
            }
            else {
                $("#secondary").animate({ width: "217px" });
                $("#secondary")[0].style.left = "82px";
                $("#dvMainContainer").animate({ width: "78%" });
                $("#contentmain").animate({ marginLeft: "235px" });
                $(".collapse_btn").animate({ left: "299px" });

                $('.collapse_btn i').removeClass("icon-chevron-right");
                $('.collapse_btn i').addClass("icon-chevron-left");

                $("#dvMainContainer").css({ 'display': 'block' });
                $("#secondary").css({ 'display': 'block' });
                $toggle_count = 0;
            }
            e.stopPropagation();
            e.preventDefault();
        });

    </script>

    <script>
        var dataModel;

        $(function () {
            $(".FirmChildLink").show();

            var searchFilterJson = [
                { 'Display': 'Name', 'Field': 'Name', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'IFA Name' },
                { 'Display': 'ABN', 'Field': 'ABN', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Australian Business Number' },
                { 'Display': 'Primary Contact', 'Field': 'PrimaryContact', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Primary Contact' },
                { 'Display': 'Date From', 'Field': 'CreationDate', 'DefaultValue': '', 'Type': 'date>', 'placeholder': 'Creation date from' },
                { 'Display': 'To', 'Field': 'CreationDate', 'DefaultValue': '', 'Type': 'date<', 'placeholder': 'Creation date to' }
            ];
            setSearchFilter(searchFilterJson);
            getSearchFilterModel();
        });
    </script>

</body>
</html>
