﻿@model IEnumerable<DBASystem.SMSF.Contracts.ViewModels.EntityTreeModel>

@helper TreeView(IEnumerable<DBASystem.SMSF.Contracts.ViewModels.EntityTreeModel> list, bool isChild)
{
    if(list != null)
    {
        foreach(var item in list)
        {
            var location = item.Category != "user" ? Url.Content("~/Entity/?id=") + item.ID : Url.Content("~/User/?id=") + item.UserID;
            var moreopts = "";
            
            var css = "dba";
            if (item.Category == "system")
            {css = "system";}
            else if (item.Category == "group")
            {css = "group";}
            else if (item.Category == "user")
            {css = "users";}

            if (item.ChildTree != null && item.ChildTree.Any())
            { moreopts = "moreopts"; }

            var id = "lnk" + item.ID;
            @*<li>
                <span class="@css" id="@item.ID" userid="@item.UserID"><a id="@item.ID" userid="@item.UserID" href='@location'>@item.Name</a></span>
                @if(item.ChildTree != null && item.ChildTree.Any())
                {
                    <ul>
                        @TreeView(item.ChildTree, true)
                    </ul>
                }
            </li>*@
           
            <li class="@moreopts">
                <a id="@item.ID" href="@location" class="@css">@item.Name</a>
                @if(item.ChildTree != null && item.ChildTree.Any())
                {
                    <ul class="@(!isChild? "firstlevel": "")">
                        @TreeView(item.ChildTree, true)
                    </ul>
                }
            </li>
        }
    }
}

@*<ul id="EntityTree" class="filetree treeview-famfamfam">
    @TreeView(Model, false)
</ul>*@
<ul id="EntityTree" class="left_menu">
    @TreeView(Model, false)
</ul>