﻿<div class="left_icon_bar">
    <div class="left_icon_bar">
        <ul>
            <li><a href="#" class="dashboard">Dashboard</a></li>
            <li><a href="#" class="all_items">All Items</a></li>
            <li><a href="#" class="entities">Entities</a></li>
            <li><a href="#" class="clients">Clients</a>
                <ul>
                    <li><a href="#" class="add">Add</a></li>
                    <li><a href="#" class="edit">Edit</a></li>
                    <li><a href="#" class="delete">Delete</a></li>
                </ul>
            </li>
            <li><a href="#" class="jobs">Jobs</a></li>
            <li><a href="#" class="settings">Settings</a></li>
            <li><a href="#" class="help">Help</a></li>
            <li><a href="#" class="logout">Logout</a></li>
            <ul>
    </div>
</div>