﻿@if(DBASystem.SMSF.Web.Common.SessionHelper.IsAuthenticated) {
    <div class="top_profile_option">
        <a href="#" class="profile_btn">
            <img src='@Url.Content("~/images/profile_pic_small.png")' align="absmiddle" />@DBASystem.SMSF.Web.Common.SessionHelper.Name</a>
    </div>
    <div class="popup">
        <div class="pic">
            <img src='@Url.Content("~/images/profile_pic.png")' />
        </div>
        <div class="info">
            <img src='@Url.Content("~/images/profile_icon.png")' style="margin: 0px 10px 0px 0px;" align="absmiddle" />@DBASystem.SMSF.Web.Common.SessionHelper.Name @*<span class="group">&lt;GroupName&gt;</span>*@
            <br />
            <img src='@Url.Content("~/images/profile_email.png")' style="margin: 0px 6px 0px 0px;" align="absmiddle" /><a href="#">@DBASystem.SMSF.Web.Common.SessionHelper.Email</a><br />

            <a href="#">Account</a> <a href="#" class="btn btn-info my_btn">Profile</a>

            <div class="bot_bar">
                <a href="#" class="btns" style="float: left;"><i class="icon-cog"></i> Settings</a>
                <a href='@Url.Content("~/Account/Logoff")' class="btns" style="float: right;"><i class="icon-off"></i> Logout</a>
                <a href="#" class=" profile_btn" style="float: right;"><i class="icon-caret-up"></i>&nbsp;</a>
            </div>
        </div>
    </div>
    <script>
        $(".profile_btn").click(function () {
            $(".popup").slideToggle();
        });
    </script>

    <div class="top_search_area">
        <input type="text" name="textfield" id="textfield" placeholder="Search" />
        <input type="submit" name="button" id="button" value="Submit" />
    </div>
}