﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='@Url.Content("~/bootstrap/css/bootstrap.css")' rel="stylesheet">
    <link href='@Url.Content("~/bootstrap/css/prettify.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/flat-ui.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/docs.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/demo.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/style.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/font-awesome.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/custom.css")' rel="stylesheet">
    
    <script src='@Url.Content("~/Scripts/jquery-1.8.3.min.js")'></script>
    <title>@ViewBag.Title</title>
</head>
<body class="mybody">

    <div class="login_wrapper">

        <div class="login_logo">
            <img src='@Url.Content("~/images/login_logo.png")' /><br>
            <h1>Database Administration System<br>
            </h1>
            <h2>Slogan or tag line and some short description will be here</h2>
        </div>

        <div class="login_right_panel">
            <h2>Member Login</h2>

            @RenderSection("featured", required: false)
            @RenderBody()
            
            @RenderSection("scripts", required: false)
        </div>

    </div>


    <!-- login wrapper ends -->
    <script type="text/javascript">
        $(function () {
            $('.login_right_panel').height($(window).height());
        });
    </script>
</body>
</html>
