﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common

@{
    var newpair = new KeyValuePair<int, string>();
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @{
            ViewBag.Title = "DBA System" + " - " + ViewBag.Title;
        }
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/outlook")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery.treeview/jquery.treeview.js"></script>
        <link href="~/Scripts/jquery.treeview/jquery.treeview.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.contextMenu/jquery.ui.position.js"></script>
        <script src="~/Scripts/jquery.contextMenu/jquery.contextMenu.js"></script>
        <link href="~/Scripts/jquery.contextMenu/jquery.contextMenu.css" rel="stylesheet" />
        
        <link href="~/Scripts/kendo/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Scripts/kendo/kendo.rtl.min.css" rel="stylesheet" />
        <link href="~/Scripts/kendo/kendo.default.min.css" rel="stylesheet" />

        <script src="~/Scripts/kendo/kendo.web.min.js"></script>
        <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>

        <script type="text/javascript">
            function setStatusBarMessage(message) {
                $('footer div').html(message);
            }
            function isNullOrEmpty(obj) {
                return obj == null || obj == '';
            }
        </script>
    </head>
    <body>
        <header>
            <div id="title">
                <h1>
                    DBA System
                </h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <div style='padding: 0px; margin: 0px'>
            @RenderSection("featured", required: false)
            <nav>
                @if (SessionHelper.IsAuthenticated && CommonFunction.IsOptionAllowed(Option.EntityTree))
                {
                    Html.RenderAction("GetEntityTree", "Entity");                    
                }
            </nav>
            <section id="main">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div>&nbsp;</div>
        </footer>

        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(function () {
                $("#EntityTree").kendoTreeView();
                debugger;
                if ('@SessionHelper.SelectedEntity' != '@newpair') {
                    var treeview = $("#EntityTree").data("kendoTreeView");
                    var node;

                    if ('@SessionHelper.SelectedEntity.Value' != 'User')
                        node = $('#EntityTree').find('a[id=' + '@SessionHelper.SelectedEntity.Key' + ']').closest('li'); //treeview.findByText('DBA Holdings');
                    else
                        node = $('#EntityTree').find('a[userid=' + '@SessionHelper.SelectedEntity.Key' + ']').closest('li');

                    var parentNodes = node.parents('li');
                    treeview.expand(parentNodes);
                    treeview.expand(node);
                    node.find('span[class=k-in]:first').addClass('k-state-selected');
                }

                //$('#EntityTree').treeview({ collapsed: true }).find('div.hitarea:first').click();

                $.contextMenu({
                    selector: "#EntityTree span[class!=user]",
                    callback: function (key, options) {
                        switch (key) {
                            case "CreateEntity":
                                window.location.href = '@Url.Content("~/Entity/Create/?parentId=")' + $(this).attr('id');
                                break;
                            case "AddGroup":
                                window.location.href = '@Url.Content("~/Entity/CreateGroup/?parentId=")' + $(this).attr('id');
                                break;
                            case "AddUser":
                                window.location.href = '@Url.Content("~/User/Create/?entityId=")' + $(this).attr('id');
                                break;
                            case "DeleteUser":
                                if (confirm("Are you sure want to delete this record?")) {
                                    window.location.href = '@Url.Content("~/Entity/Delete/")' + $(this).attr('id');
                                }
                                break;
                        }
                    },
                    items: {
                        CreateEntity: { name: "Create an Entity" },
                        AddGroup: { name: "Add a Group" },
                        AddUser: { name: "Add an User" },
                        Seprator1: "-",
                        DeleteUser: { name: "Delete" }
                    }
                });

                $.contextMenu({
                    selector: "#EntityTree span[class=user]",
                    callback: function (key, options) {
                        switch (key) {
                            case "DeleteUser":
                                if (confirm("Are you sure want to delete this record?")) {
                                    window.location.href = '@Url.Content("~/User/Delete/")' + $(this).attr('userid');
                                }
                                break;
                        }
                    },
                    items: {
                        DeleteUser: { name: "Delete" }
                    }
                });

                $("#EntityTree a").click(function (e) {
                    //$("#EntityTree a.active").removeClass("active");
                    //$(this).addClass("active");
                    //e.preventDefault();
                });
            })
        </script>
    </body>
</html>
