﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='@Url.Content("~/bootstrap/css/bootstrap.css")' rel="stylesheet">
    <link href='@Url.Content("~/bootstrap/css/prettify.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/flat-ui.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/docs.css")' rel="stylesheet">
    <link href='@Url.Content("~/Content/style.css")' rel="stylesheet">
    <script src='@Url.Content("~/Scripts/jquery-1.8.3.min.js")'></script>
    <link href='@Url.Content("~/Content/font-awesome.css")' rel="stylesheet">
    <script src='@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")'></script>
    @Styles.Render("~/Content/themes/base/css")
    <link href='@Url.Content("~/Content/custom.css")' rel="stylesheet">
    
    <link href='@Url.Content("~/Scripts/kendo/kendo.common.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Scripts/kendo/kendo.default.min.css")' rel="stylesheet" />
    <script src='@Url.Content("~/Scripts/kendo/kendo.web.min.js")'></script>
    <script src='@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")'></script>
</head>
<body>
    <div class="top_bar">
        <div class="logo">
            <a href="#">
                <img src='@Url.Content("~/images/logo.png")' width="137" height="27" /></a>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
    <!-- top bar ends -->

    <div class="content_area">
        @Html.Partial("_LeftMenu")
        <!-- left icon bar ends -->
        
        @if (DBASystem.SMSF.Web.Common.SessionHelper.IsAuthenticated && DBASystem.SMSF.Web.Common.CommonFunction.IsOptionAllowed(DBASystem.SMSF.Contracts.Common.Option.EntityTree))
        {
            <div class="left_tree_bar">
                <div class="search_area">
                    <input type="text" name="textfield" id="textfield" placeholder="Search" />
                    <input type="submit" name="button" id="button" value="Submit" />
                </div>

                @{Html.RenderAction("GetEntityTree", "Entity");}
            </div>
            }
        
        <!-- left icon bar ends -->
        @*
        <div class="left_tree_bar">
            <div class="search_area">
                <input type="text" name="textfield" id="textfield" placeholder="Search" />
                <input type="submit" name="button" id="button" value="Submit" />
            </div>
            <ul class="left_menu">
		        <li class="moreopts"><a href="#" class="system">System</a>
			        <ul>
				        <li class="moreopts"><a href="#" class="dba">DBA Holdings</a>
					        <ul>
						        <li><a href="#">Level 3</a></li>
						        <li><a href="#">Level 3</a></li>
						        <li><a href="#">Level 3</a></li>
					        </ul>
				        </li>
				        <li><a href="#" class="system">ABC Holdings </a></li>
				        <li><a href="#" class="dba">XYZ Holdings </a></li>
                

				        <li class="moreopts"><a href="#" class="group">DBA Group</a>
					        <ul>
						        <li><a href="#">Level 3</a></li>
						        <li><a href="#">Level 3</a></li>
						        <li><a href="#">Level 3</a></li>
					        </ul>
				        </li>
                
				        <li><a href="#" class="group">SMSF Group</a></li>                
				        <li><a href="#" class="admin">System Admin</a></li>                
				        <li><a href="#" class="users">John Doe</a></li>                                                
				        <li><a href="#" class="users">Alex Joe</a></li>                                                                
                
			        </ul>
		        </li>
		
		
	        </ul>  
        </div>*@
        <!-- left tree bar ends -->

        <div class="content_body">
            <div class="main_area">
                @*<div class="breadcrumbs_bar">
                    <a href="#" class="btns">Home</a>&gt;<a href="#" class="btns">Clients</a>&gt; Add
                </div>*@

                <div class="full_pane">

                    <div>
                        @RenderSection("featured", required: false)
                        @RenderBody()
                    </div>
                    @RenderSection("scripts", required: false)
                </div>
                @*<div class="pane1">
                    <img src='@Url.Content("~/images/tasks_calendar.png")' />
                </div>*@
            </div>
        </div>
        <!-- body area ends -->
    </div>
    <!-- content area ends -->

    <div class="bottom_bar">
        Copyrights © DBA System 2013. All Rights Reserved
    </div>
    <!-- top bar ends -->

    <!-- Load JS here for greater good =============================-->
    <script src='@Url.Content("~/Scripts/jquery.ui.touch-punch.min.js")'></script>
    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Scripts/bootstrap-select.js")'></script>
    <script src='@Url.Content("~/Scripts/bootstrap-switch.js")'></script>
    <script src='@Url.Content("~/Scripts/flatui-checkbox.js")'></script>
    <script src='@Url.Content("~/Scripts/flatui-radio.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.tagsinput.js")'></script>
    <script src='@Url.Content("~/Scripts/jquery.placeholder.js")'></script>
    <script src='@Url.Content("~/bootstrap/js/google-code-prettify/prettify.js")'></script>
    <script src='@Url.Content("~/Scripts/application.js")'></script>

    <!-- accordion script starts -->
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.multiAccordion.js")'></script>
    <script type="text/javascript">
        $(function () {
            var opened = [];
            var onClass = 'on';
            $('ul.left_menu').multiAccordion(opened, onClass);
            
            //$("#EntityTree").kendoTreeView();
        });
    </script>
    <!-- accordion script ends -->
    
    <script type="text/javascript">
        function setStatusBarMessage(message) {
            //$('footer div').html(message);
        }
        function isNullOrEmpty(obj) {
            return obj == null || obj == '';
        }
    </script>
</body>
</html>