﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="globalerror">Oops! There is an error occurred while processing your request.</h1>
    <h4 class="globalerror">
        @if (ViewBag.ErrorMessage!=null)
        { @Html.Raw(ViewBag.ErrorMessage) }
    </h4>
</hgroup>
<p style="padding-top: 20px"><a href="#" onclick="javascript:window.history.back();">Click here</a> to go back.</p>