﻿@model DBASystem.SMSF.Contracts.ViewModels.ForgotPasswordModel

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "ForgotPasswordForm" }))
{
    <table id="forgotPasswordTable" style="display: none; width: 100%;" class="nobordertable">
        <tr>
            <td>
                <div id="forgotPasswordFeilds">
                    <div>Email Address</div>
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address", autofocus = true, @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                    <div>New Password</div>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                    <div id="passwordPolicyMessage" style="display:none" class="field-validation-error"></div>
                    <div>Confirm Password</div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    <div id="EmailValidation" class="error"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="radiolist" style="display: none;">
                    <span id="EntitySelectionHeadin">Please Select Entity</span>
                    <br />
                </div>
                <img id="FPLoader" src="~/Images/loader_login.gif" style="display: none" />
                <div id="EntityValidation" class="error"></div>
            </td>
        </tr>
        <tr>
            <td>
                <table id="ActionButtons" style="width: 100%;" class="nobordertable">
                    <tr>
                        <td style="width: 50%">
                            <input id="RequestPassword" type="button" value="Proceed" class="btn btn-info submit_btn" style="margin: 0px 0 10px !important; width: 80px !important" />
                        </td>
                        <td style="width: 50%">
                            <input id="CancelReset" type="button" value="Cancel" class="btn btn-info submit_btn" style="margin: 0px 0 10px !important; width: 80px !important" />
                            <input id="CancelRadioList" type="button" value="Cancel" class="btn btn-info submit_btn" style="display: none; margin: 0px 0 10px !important; width: 80px !important" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    var hasMultipleEntites = false;
    var emailVerified = false;
    var SelectedEntityID = -1;
    var passwordPolicy = "";

    $(function () {

        $.validator.setDefaults({ ignore: "" });
        $("#NewPassword").keyup(function () {
            if ($("#NewPassword").val == "") {
                $("#passwordPolicyMessage").hide();
                return;
            }
            if (!passwordPolicy.test($("#NewPassword").val())) {
                $("#passwordPolicyMessage").show();
            }
            else
                $("#passwordPolicyMessage").hide();
        })

        $("#passwordPolicyMessage").hide();
        $("#ForgotPassword").click(function () {
            $("#LoginTable").hide();
            $("#forgotPasswordTable").show();
            $("#forgotPasswordFeilds").show();
            //password policy is loaded with ajax to avoid useless query
            $.ajax({
                url: '@Url.Content("~/Account/GetPasswordPolicy")',
                type: "GET",
                cache: false,
                dataType: "json",
                error: function (xhr, status, error) {
                },
                success: function (data) {
                    $("#RequestPassword").show();
                    SetPasswordPolicy(data.Value.ValidationExpression);
                    $("#passwordPolicyMessage").empty().html(data.Value.ValidationMessage);
                }
            });

            $("#Headingtxt").html("Forgot Password");
            $("#CancelReset").val("Cancel");
            $('.error').empty();
        });

        $("#CancelReset").click(function () {
            $("#LoginTable").show();
            $("#forgotPasswordTable").hide();
            $("#Headingtxt").html("Member Login");
            $('#radiolist').empty();
            $("#EmailAddress").val("");
            $("#EmailValidation").empty();
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");
            $('#EntityValidation').empty();

        });
        $("#CancelRadioList").click(function () {
            $("#CancelReset").show();
            $("#CancelRadioList").hide();
            $("#forgotPasswordFeilds").show();
            $("#EmailAddress").trigger("change");
            $('#EntityValidation').empty();
        });
        $("#EmailAddress").change(function () {
            emailVerified = false;
            hasMultipleEntites = false;
            $('#radiolist').empty();
            $("#EmailValidation").empty().hide();

        });
        $('#RequestPassword').click(function () {
            if (!$("#ForgotPasswordForm").valid()) {
                return false;
            }

            if (!passwordPolicy.test($("#NewPassword").val())) {
                $("#passwordPolicyMessage").show();
                return false;
            }
            $("#passwordPolicyMessage").hide();
            var EmailAddress = $("#EmailAddress").val();
            if (emailVerified) {
                if (hasMultipleEntites) {
                    var EntityID = $("input:radio[name='rbAssociatedEntites']:checked").val();
                    if (EntityID != null) {
                        sendActivationLink(EntityID, EmailAddress);
                        return true;
                    }
                    else {
                        $('#EntityValidation').empty().html("Select Entity");
                        $("#RequestPassword").show();
                        return false;
                    }
                }
                else {
                    sendActivationLink(SelectedEntityID, EmailAddress);
                }
            }
            $("#FPLoader").show();
            $("#RequestPassword").hide();
            $("#CancelReset").hide();

            $.ajax({
                url: '@Url.Content("~/Account/GetAssociatedEnties")',
                type: "GET",
                data: { 'EmailId': EmailAddress },
                cache: false,
                dataType: "json",
                error: function (xhr, status, error) {
                    $("#RequestPassword").show();
                    $("#CancelReset").show();
                    $("#FPLoader").hide();
                    if (xhr.status == "500") {
                        $("#EmailValidation").empty().html("Server not available. <br /> Please try again later.").show();
                    }
                    else {
                        var err = eval("(" + xhr.responseText + ")");
                        $("#EmailValidation").empty().html(err.message).show();
                    }
                    return;
                },
                success: function (data) {

                    if (data.length > 1) {
                        $.each(data, function (i, obj) {
                            $('#radiolist').show();
                            $('#radiolist').append('<input style="margin-right: 0;width:auto;" value="' + obj.EntityID + '" type="radio" name="rbAssociatedEntites" id="rbAssociatedEntites"/>' + obj.EntityName + '<br />');
                        });
                        emailVerified = true;
                        hasMultipleEntites = true;
                        $("#forgotPasswordFeilds").hide();
                        $("#CancelRadioList").show();
                        $("#RequestPassword").show();
                        $("#FPLoader").hide();
                        $('#EntityValidation').empty();
                    }
                    else if (data.length == 1) {
                        emailVerified = true;
                        sendActivationLink(data[0].EntityID, EmailAddress);
                    }
                    else if (data.length == 0) {
                        emailVerified = false;
                        $("#EmailValidation").empty().html("Email Address not found");
                    }
                }
            });
        });
    });

    function sendActivationLink(EntityId, EmailID) {
        if (!$("#ForgotPasswordForm").valid()) {
            SelectedEntityID = EntityId;
            return false;
        }
        $("#FPLoader").show();
        $("#RequestPassword").hide();
        $("#CancelReset").hide();
        $("#CancelRadioList").hide();
        $('#EntityValidation').empty();
        $.ajax({
            url: '@Url.Content("~/Account/ForgotPassword")',
            type: "GET",
            data: { 'EmailId': EmailID, 'EntityID': EntityId, 'Password': $("#NewPassword").val() },
            cache: false,
            dataType: "json",
            error: function (xhr, status, error) {
                $("#RequestPassword").show();
                $("#CancelReset").show();
                $("#FPLoader").hide();
                $("#EmailValidation").empty().html("There was an error while sending the activation link \r\n Please try again later.");
            },
            success: function (data) {
                if (data == "Successful") {
                    $("#EntityValidation").empty().html("Password reset link has been <br /> sent to your registered email address");
                    $("#CancelReset").val("Sign In");
                    $("#CancelReset").show();
                    $("#FPLoader").hide();
                    $('#radiolist').empty();
                }
            }
        });
    }
    function SetPasswordPolicy(expression) {
        passwordPolicy = RegExp(expression);
    }
</script>
