﻿@using Kendo.Mvc.UI
@model DBASystem.SMSF.Contracts.ViewModels.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Sign In";
}

<section id="loginForm">
    @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmLogin" }))
    {
        @Html.AntiForgeryToken()
        <table style="width: 100%;" id="LoginTable">
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", autofocus = true, @class = "form-control"  })
                    @Html.ValidationMessageFor(m => m.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr class="buttons">
                <td style="padding-top: 20px;">
                    <input id="btnSubmit" type="submit" value="Sign In" class="btn btn-info submit_btn" />
                    <br />
                    <a id="ForgotPassword" href="#">Forgot password ?</a>
                </td>
            </tr>
            <tr class="loader" style="display: none">
                <td style="padding-top: 20px;"><img id="imgLoader" src="~/Images/loader_login.gif" /></td>
            </tr>
            <tr>
                <td class="globalerror" style="padding-top: 20px"></td>
            </tr>
        </table>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
@Html.Partial("_ForgotPassword")
@Html.Partial("_MultipleUserEntities")

<script type="text/javascript">
    var users = [];
    $(function () {
        $('#btnSubmit').click(function () {
            if ($('#Email').val() != '' && $('#Password').val() != '') {
                $('.buttons').hide();
                $('.loader').show();
                $('.globalerror').hide();
            }
        })
    });

    function onSuccess(context) {
           if (context.status == "success") {
            window.location.href = '@Url.Content("~/Home/Index")';
        }
        else {
            if (context.status == "failure") {
                $('.globalerror').html(context.error).show();
                $('#Password').val('');
            }
            else if (context.status == "multipleusersfound") {
                $('#LoginTable').hide();
                $('#MultipleUserTable').show();

                users = context.users;
                $('#dvEntities').empty();
                $.each(users, function (index, item) {
                    $('#dvEntities').append('<input type="radio" name="entities" id="' + item.ID + '" /> ' + item.Entity.EntityName + '<br />');
                });
            }

            $('.buttons').show();
            $('.loader').hide();
        }
    }

    function onFailure(error) {
        $('#Password').val('');
        alert($.parseJSON(error.responseText).message);
        $('.buttons').show();
        $('.loader').hide();
    }
</script>
