﻿
/* Inputs
----------------------------------------------------------*/
input, textarea {
    font-family: inherit, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
    input[type=text], input[type=password], textarea, input[type=email] {
        padding: 3px 5px 3px 5px;
        width: 200px;
    }
    input[disabled] {
        cursor: text;
        color: #666666;
    }
    input[type=text][disabled] {
        background-color: #F9F9F9;
    }
    input[type='submit'], input[type='button'] {
        background-color: #3c454f;
        border: 1px solid #000;
        font-size: inherit;
        color: white;
        cursor: pointer;
        height: 24px;
        padding: 0px 15px 0px 15px;
    }
        input[type='submit']:hover, input[type='button']:hover {
            background-color: #000;
        }
/*---------------------------------------------------------*/

/* Tables
----------------------------------------------------------*/
.table {
    border: solid 1px #3c454f;
    border-collapse: collapse;
    margin-top: 5px;
}
    .table tfoot {
        background-color: #3c454f;
        color: white;
    }
    .table td {
        padding: 5px;
        border: solid 1px #3c454f;
    }
    .table th {
        font-weight: normal;
        color: White;
        padding: 6px 5px;
        text-align: left;
        background-color: #3c454f;
        border: solid 1px #3c454f;
    }
        .table th a {
            color: White;
        }
            .table th a:link {
                color: white;
                text-decoration: underline;
            }
            .table th a:visited {
                color: white;
                text-decoration: underline;
            }
            .table th a:hover {
                color: white;
                text-decoration: none;
            }
.nobordertable, .nobordertable td {
    border: none;
}
    .nobordertable td {
        padding: 5px;
    }
/*---------------------------------------------------------*/
    
/* Error partial view
----------------------------------------------------------*/
.error {
    font-family: inherit;
    font-size: 13px;
}

    .error h2, .error p, .error h1 {
        color: red;
    }

.globalerror {
    font-family: inherit;
    color: red;
}
/*---------------------------------------------------------*/

/*---------------------------------------------------------*/
.field-validation-error, .validation-summary-errors, .error {
    font-size: 12px;
    font-weight: bold;
    color: red;
}
.validation-summary-errors {
    margin-left: -40px;
}
    .validation-summary-errors li {
        list-style: none;
    }

.field-validation-green {
    font-size: 12px;
    font-weight: bold;
    color: green;
}

.Loader {
    display: none;
}

.buttons {
    height: 70px;
}

#tdButtons {
    height: 35px;
}

.add, .edit, .delete, .contactinfo {
    cursor: pointer;
    border: none;
}

#dvMessage {
    background-color: InfoBackground;
    top: 0;
    width: 25%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    position: absolute;
    z-index: 4001;
    -moz-border-radius-bottomright: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    left: 37.5%;
    display: none;
}

#hoverMenu {
    font-family: inherit;
    position: absolute;
    z-index: 3000;
    border: 2px solid #71b1d1;
    background-color: #71b1d1;
    padding: 10px;
    color: White;
}

    #hoverMenu div {
        margin: 0;
    }

    #hoverMenu a, #hoverMenu a:link, #hoverMenu a:visited {
        margin-bottom: 15px;
        color: White;
        text-decoration: underline;
    }

        #hoverMenu a:hover {
            color: white;
            text-decoration: none;
        }

div.menudv {
    padding: 5px;
}

.loading {
    width: 100%;
    text-align: center;
    padding-top: 150px;
}
h5 {
    padding-bottom: 20px;
}

.bold {
    font-weight: bold;
}

#dvHelp {
    font-size: 12px;
    font-style: italic;
    color: gray;
}
div#toolbar {
    width: 40%;
    position: absolute;
    top: 0;
    z-index: 10000;
}
    div#toolbar input[type=button], div#toolbar input[type=submit] {
        background-color: #3c454f;
        border: 1px solid #3c454f;
        padding: 10px;
        height: 43px;
    }
    div#toolbar input[type='submit']:hover, div#toolbar input[type='button']:hover {
        background-color: #000;
    }