﻿body {
    margin: 0;
    font-family: "Segoe UI";
    font-size: 13px;
    height: 100%;
    padding-top: 80px;
}

/* Header layout
----------------------------------------------------------*/
header {
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /*background-color: #80397B;*/
    background-color: #002047;
}

body > header {
    position: fixed;
}

* html body {
    overflow: hidden;
}

* html section#main {
    padding: 10px;
    background-color: #426363;
    height: 100%;
    overflow: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

    header h1, #header h1 {
        font-weight: bold;
        padding: 0;
        margin: 0;
        color: #fff;
        border: none;
        font-size: 24px !important;
        text-shadow: 1px 1px 2px #111;
    }

div#title {
    display: block;
    float: left;
    text-align: left;
    padding: 20px 0 0 20px;
}

div#toolbar {
    width: 65%;
    position: fixed;
    top: 0;
    padding: 22px 0 0 0;
    z-index: 10000;
}

    div#toolbar input[type=button], div#toolbar input[type=submit] {
        background-color: #00639C;
    }

/* Header layout
----------------------------------------------------------*/
#logindisplay {
    display: block;
    text-align: right;
    padding: 30px 10px 20px 0;
    color: White;
}

    #logindisplay a:link {
        color: white;
        text-decoration: none;
    }

    #logindisplay a:visited {
        color: white;
        text-decoration: none;
    }

    #logindisplay a:hover {
        color: white;
        text-decoration: underline;
    }

    #logindisplay li {
        list-style: none;
    }

/* Main and featured body 
----------------------------------------------------------*/
#main, .featured {
    margin-left: 250px;
    margin-right: 25px;
}

/* Left navigation
----------------------------------------------------------*/
nav {
    position: fixed;
    top: 80px;
    /*background-color: #ECCFE3;*/
    background-color: #00639C;
    float: left;
    width: 220px;
    padding: 0 5px 20px 0;
    overflow-y: auto;
    bottom: 0;
    left: 0;
}

#Menu {
    padding: 20px 0 10px 10px;
}

    #Menu a:link {
        color: white;
        text-decoration: none;
    }

    #Menu a:visited {
        color: white;
        text-decoration: none;
    }

    #Menu a:hover {
        color: white;
        text-decoration: underline;
    }

    #Menu li {
        padding: 10px 0 10px 5px;
        width: 100%;
        list-style: none;
    }

        #Menu li ol {
            padding-left: 20px;
            display: none;
        }

/* Login form
----------------------------------------------------------*/
#loginForm {
    padding-top: 20px;
}

    #loginForm input[type=text], input[type=password] {
        width: 200px;
        padding: 5px;
    }

/* Error partial view
----------------------------------------------------------*/
.error {
    font-family: "Segoe UI";
    font-size: 13px;
}

    .error h2, .error p, .error h1 {
        color: red;
    }

.globalerror {
    font-family: "Segoe UI";
    color: red;
}

/* TABLE
----------------------------------------------------------*/
.table {
    border: solid 1px #002047;
    border-collapse: collapse;
    margin-top: 5px;
}

    .table td {
        padding: 5px;
        border: solid 1px #002047;
    }

    .table th {
        font-weight: normal;
        color: White;
        padding: 6px 5px;
        text-align: left;
        background-color: #002047;
        border: solid 1px #002047;
    }

        .table th a {
            color: White;
        }

            .table th a:link {
                color: white;
                text-decoration: underline;
            }

            .table th a:visited {
                color: white;
                text-decoration: underline;
            }

            .table th a:hover {
                color: white;
                text-decoration: none;
            }

    .table tfoot {
        background-color: #002047;
        color: white;
    }

.nobordertable, .nobordertable td {
    border: none;
}

    .nobordertable td {
        padding: 5px 0 5px 0;
    }

/* styles for validation helpers 
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #e80c4d;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}
.validation-summary-valid {
    display: none;
}*/

input, textarea {
    font-family: "Segoe UI";
    font-size: 13px;
}

    input[type=submit], input[type=button] {
        color: white;
        border-color: #002047;
        background-color: #002047;
        padding: 5px 15px 5px 15px;
    }

    input[type=text], input[type=password], textarea, input[type=email] {
        border: 1px solid #002047;
        padding: 3px 5px 3px 5px;
        width: 200px;
    }

    input[disabled] {
        cursor: text;
        color: #666666;
    }

    input[type=text][disabled] {
        background-color: #F9F9F9;
    }

.field-validation-error, .validation-summary-errors, .error {
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.field-validation-green {
    font-size: 12px;
    font-weight: bold;
    color: green;
}

a:link {
    color: #002047;
    text-decoration: underline;
}

a:visited {
    color: #002047;
    text-decoration: underline;
}

a:hover {
    color: #002047;
    text-decoration: none;
}

h3 {
    padding-top: 20px;
}

.Listbox {
    font-family: "Segoe UI";
    font-size: 13px;
    border: 1px solid #002047;
    padding: 3px 5px 3px 5px;
}

    .Listbox option {
        color: black;
    }

        .Listbox option[value=""] {
            color: lightgray;
        }

.empty {
    color: grey;
}

.new {
    padding: 20px 0 5px 0;
}

.dvEditor, .dvButton, dvLoader {
    padding-bottom: 15px;
}

.Loader {
    display: none;
}

.dvTotal {
    padding: 3px 0 3px 10px;
    position: fixed;
    bottom: 0px;
    background-color: #002047;
    color: white;
}

#dvHelp {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

#EntityTree {
    font-size: 12px;
    margin-top: 20px;
}

    #EntityTree li {
    }

        #EntityTree li a {
            padding-left: 5px;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

        #EntityTree li.active > a {
            color: red;
        }

    #EntityTree .active {
        font-weight: bold;
    }

#EntityDetailTree {
    font-size: 12px;
}

    #EntityDetailTree li {
        padding-bottom: 5px;
    }

        #EntityDetailTree li a {
            padding-left: 5px;
            cursor: pointer;
            text-decoration: none;
        }

        #EntityDetailTree li.active > a {
            color: red;
        }

    #EntityDetailTree .active {
        font-weight: bold;
    }

.buttons {
    height: 70px;
}

#tdButtons {
    height: 35px;
}

.add, .edit, .delete, .contactinfo {
    cursor: pointer;
    border: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #002047;
    border: 2px solid #002047;
}

.bold {
    font-weight: bold;
}

#dvMessage {
    background-color: InfoBackground;
    top: 0;
    width: 25%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    position: absolute;
    z-index: 4001;
    -moz-border-radius-bottomright: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    left: 37.5%;
    display: none;
}

footer {
    font-family: "Segoe UI";
    font-size: 12px;
    height: 21px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 4000;
}

    footer div {
        margin-left: 225px;
        background-color: #efeff2;
        color: gray;
        padding: 3px 3px 3px 25px;
    }

#hoverMenu {
    font-family: "Segoe UI";
    position: absolute;
    z-index: 3000;
    border: 2px solid #002047;
    background-color: #00639C;
    padding: 10px;
    color: White;
}

    #hoverMenu div {
        margin: 0;
    }

    #hoverMenu a, #hoverMenu a:link, #hoverMenu a:visited {
        margin-bottom: 15px;
        color: White;
        text-decoration: underline;
    }

        #hoverMenu a:hover {
            color: white;
            text-decoration: none;
        }

div.menudv {
    padding: 5px;
}

.loading {
    width: 100%;
    text-align: center;
    padding-top: 150px;
}