﻿
    /*
 * Splitter container. Set this to the desired width and height
 * of the combined left and right panes.
 */
    #splitter {
        height: 300px;
        width: 100%;
        /* No padding allowed */
    }
    /*
 * Top element of the splitter. Use pixel units for the
 * min-height and max-height; the splitter plugin parses them to
 * determine the splitter movement limits. Set the height to
 * the desired initial height of the element; the plugin changes
 * the height of this element dynamically.
 */
    #TopPane {
        overflow: auto;
        /* Initial/min/max height for this pane */
        height: 100px;
        min-height: 50px;
        max-height: 150px;
        /* No margin or border allowed */
    }
    /*
 * Bottom element of the splitter; the plugin changes the top
 * position and height of this element dynamically.
 */
    #BottomPane {
        /* No margin or border allowed */
        padding-top: 20px;
    }
    /* 
 * Splitter bar style; the .active class is added when the
 * mouse is over the splitter or the splitter is focused
 * via the keyboard taborder or an accessKey. 
 */
    #splitter .hsplitbar {
        height: 6px;
        background: #3c454f;
        /* No margin, border, or padding allowed */
    }

        #splitter .hsplitbar.active, #MySplitter .hsplitbar:hover {
            background: #71b1d1;
        }