@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic");

/* CSS Document */
html, body { margin:0px; padding:0px; } 
body { float:left; width:100%; margin:0px !important; padding:0px !important; font-family:"Segoe UI", Arial, Helvetica, sans-serif; font-size:13px; }
form { margin:0px !important; padding:0px !important; }

img { border:none; }
.clr { clear:both; }

.top_bar { height:43px; background:#3c454f; color:#FFFFFF; width:100%; float:left; }
.logo { float:left; margin:8px 0px 0px 10px;
	transition:margin 0.7s;
	-moz-transition:margin 0.7s;
	-webkit-transition:margin 0.7s;
	-o-transition:margin 0.7s;
 } 
.logo:hover { float:left; margin:8px 0px 0px 20px; } 

.top_profile_option { float:right; position:relative; }

.top_profile_option a { display:block; padding:5px 25px 0px 10px; height:43px; font-family:inherit; font-size:12px; color:#FFF; text-decoration:none; background:url(images/down_arrow.png) no-repeat right bottom; line-height:35px; }
.top_profile_option a:hover { display:block; padding:5px 25px 0px 10px; height:43px; font-family:inherit; font-size:12px; color:#3d93ba; text-decoration:none; background:#FFF url(images/down_arrow.png) no-repeat right top; line-height:35px; }
.top_profile_option img { margin:3px 10px 0px 0px; float:left; border:1px solid #94acc7; }





.content_area { } 
.left_icon_bar { width:75px; background:#71b1d1; color:#FFF; float:left; position:relative; min-height:680px; max-height:2000px; z-index:10000; } 

.left_icon_bar ul { margin:0px; padding:0px; float:left; }
.left_icon_bar ul li { display:block; list-style-type:none; position:relative; }


.left_icon_bar ul li a.dashboard { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/dashboard.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.dashboard:hover { background:#519bbd url(images/dashboard.png) no-repeat center 15px; line-height:135px; }


.left_icon_bar ul li a.all_items { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/all_items.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.all_items:hover { background:#519bbd url(images/all_items.png) no-repeat center 15px; line-height:135px; }

.left_icon_bar ul li a.entities { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/entities.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.entities:hover { background:#519bbd url(images/entities.png) no-repeat center 15px; line-height:135px; }

.left_icon_bar ul li a.clients { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/clients.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.clients:hover { background:#519bbd url(images/clients.png) no-repeat center 15px; line-height:135px; }

.left_icon_bar ul li a.jobs { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/jobs.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.jobs:hover { background:#519bbd url(images/jobs.png) no-repeat center 15px; line-height:135px; }

.left_icon_bar ul li a.settings { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/settings.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.settings:hover { background:#519bbd url(images/settings.png) no-repeat center 15px; line-height:135px; }

.left_icon_bar ul li a.help { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/help.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.help:hover { background:#519bbd url(images/help.png) no-repeat center 15px; line-height:135px; }

.left_icon_bar ul li a.logout { display:block; height:85px; width:75px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; background:#71b1d1 url(images/logout.png) no-repeat center 10px; line-height:130px; text-align:center; }
.left_icon_bar ul li a.logout:hover { background:#519bbd url(images/logout.png) no-repeat center 15px; line-height:135px; }

.bottom_bar { background:#3c444f url(images/bot_bar.png) repeat-x bottom left; color:#FFFFFF; width:100%; float:left; font-size:13px;  height:57px; line-height:57px; padding:0px 0px 0px 20px; }




.left_icon_bar ul li ul { display:none; } 
.left_icon_bar ul li:hover ul { display:block; position:absolute; left:63px; top:20px; width:265px; padding:0px 10px 0px 12px; z-index:10000; background:url(images/sub_menu_left_arrow.png) no-repeat left top;   }
.left_icon_bar ul li:hover ul li { display:inline-block; float:left; }
.left_icon_bar ul li:hover ul li a { display:inline-block; float:left; height:41px; padding:0px 10px 0px 10px; background:#3c454f; color:#FFFFFF; text-decoration:none; font-size:14px; line-height:41px; }
.left_icon_bar ul li:hover ul li a:hover { background:#000; }

.left_icon_bar ul li:hover ul li a.add { background:#3c454f url(images/add.png) no-repeat 10px center; padding:0px 10px 0px 40px;  }
.left_icon_bar ul li:hover ul li a.add:hover { background:#000 url(images/add.png) no-repeat 10px center; padding:0px 10px 0px 40px;  }

.left_icon_bar ul li:hover ul li a.edit { background:#3c454f url(images/edit.png) no-repeat 10px center; padding:0px 10px 0px 40px;  }
.left_icon_bar ul li:hover ul li a.edit:hover { background:#000 url(images/edit.png) no-repeat 10px center; padding:0px 10px 0px 40px;  }

.left_icon_bar ul li:hover ul li a.delete { background:#3c454f url(images/delete.png) no-repeat 10px center; padding:0px 10px 0px 35px;  }
.left_icon_bar ul li:hover ul li a.delete:hover { background:#000 url(images/delete.png) no-repeat 10px center; padding:0px 10px 0px 35px;  }



.left_tree_bar { width:205px; background:#519bbd; color:#FFF; position:absolute; left:75px; top:43px; min-height:680px; max-height:2000px; }


.left_menu { margin:50px 0px 0px 0px; padding:0px;  }
.left_menu li { list-style-type:none; margin:0px 0px 0px 0px; }

.left_menu li a { color:#FFF; text-decoration:none; font-size:13px; display:block; line-height:35px; text-indent:35px; }
.left_menu li a:hover { background:#FFF; color:#519bbd; }

.left_menu li ul { list-style-type:none; margin:0px 0px 0px -40px;  }

a.system { background:url(images/system.png) no-repeat 10px top; line-height:35px; height:35px; }
a.system:hover { background:#FFF url(images/system.png) no-repeat 10px bottom !important; color:#519bbd; line-height:35px; height:35px; }

a.dba { background:url(images/db.png) no-repeat 10px top; line-height:35px; height:35px; }
a.dba:hover { background:#FFF url(images/db.png) no-repeat 10px bottom !important; color:#519bbd; line-height:35px; height:35px; }

a.group { background:url(images/group.png) no-repeat 10px top; line-height:35px; height:35px; }
a.group:hover { background:#FFF url(images/group.png) no-repeat 10px bottom !important; color:#519bbd; line-height:35px; height:35px; }

a.admin { background:url(images/admin.png) no-repeat 10px top; line-height:35px; height:35px; }
a.admin:hover { background:#FFF url(images/admin.png) no-repeat 10px bottom !important; color:#519bbd; line-height:35px; height:35px; }

a.users { background:url(images/users.png) no-repeat 10px top; line-height:35px; height:35px; }
a.users:hover { background:#FFF url(images/users.png) no-repeat 10px bottom !important; color:#519bbd; line-height:35px; height:35px; }

.left_menu li ul { width:245px; z-index:0; }
.left_menu li ul li a { background-position:20px top !important; padding:0px 0px 0px 10px !important; }
.left_menu li ul li a:hover { background-position:20px bottom !important; padding:0px 0px 0px 10px !important;  }

.left_menu li ul li.moreopts { background:url(images/more_options.png) no-repeat 7px 10px !important; }
.left_menu li.moreopts { background:url(images/more_options.png) no-repeat 185px 13px !important; }



.search_area { float:left; margin:10px 0px 0px 10px; }
.search_area input[type='text'] { border:1px solid #82c5e4; background:#519bbd; height:24px; color:#bce2f4; float:left; width:155px; padding:0px 0px 0px 5px; }
.search_area input[type='text']:focus { border:1px solid #abdef5; color:#FFF; background:#71b1d1; }
.search_area input[type='submit'] { background:#3c454f url(images/search.png) no-repeat center center; border:none; font-size:0px; cursor:pointer; float:left; height:24px; padding:0px 15px 0px 15px; }
.search_area input[type='submit']:hover { background:#000 url(images/search.png) no-repeat center center; }



.top_search_area { float:right; margin:9px 10px 0px 10px; }
.top_search_area input[type='text'] { border:1px solid #57616b; background:#4d5660; height:24px; color:#bec9d4; float:left; width:155px; padding:0px 0px 0px 5px; }
.top_search_area input[type='text']:focus { border:1px solid #68717b; color:#FFF; background:#4d5660; }
.top_search_area input[type='submit'] { background:#71b1d1 url(images/search.png) no-repeat center center; border:none; font-size:0px; cursor:pointer; float:left; height:24px; padding:0px 15px 0px 15px; }
.top_search_area input[type='submit']:hover { background:#000 url(images/search.png) no-repeat center center; }




.popup { width:345px; height:160px; position:absolute; right:0px; top:43px; border:1px solid #dddede; padding:8px 10px 10px 10px; display:none; background:#FFF; box-shadow:3px 3px 5px rgba(60,69,79,0.2); }
.popup .pic { float:left; margin:0px 20px 0px 0px; }
.popup .info { float:left; line-height:30px; color:#000; }
.popup .info a { color:#2b86b0; text-decoration:none; }
.popup .info a:hover { color:#000; }
.popup .group { color:#009966; }
.popup .info .my_btn { line-height:10px; font-size:14px; color:#FFF; margin:0px 0px 0px 10px; border-radius:0px; }

.popup .info .bot_bar { background:#d3effe; line-height:43px; border-top:1px solid #a7d0e6; width:100%; height:43px; position:absolute; bottom:0px; left:0px; }

.popup .info .bot_bar .btns { background:#FFF; line-height:25px; margin:7px 10px 0px 10px; border:1px solid #519bbd; padding:0px 10px 0px 10px; display:block; }
.popup .info .bot_bar .btns:hover { background:#519bbd; color:#FFF; }


.breadcrumbs_bar { float:left; margin:0px 0px 20px 0px; }
.breadcrumbs_bar .btns{ line-height:24px !important; margin:0px 5px 0px 5px; border-radius:0px; display:inline-block; color:#FFFFFF; font-size:12px; text-decoration:none; background:#71b1d1; padding:0px 7px 0px 7px; }
.breadcrumbs_bar .btns:hover{ background:#3c454f; }

.big_icons { float:left; width:100%; }

.big_icons a.tasks { width:130px; height:130px; display:inline-block; float:left; margin:0px 10px 10px 5px; color:#FFFFFF; background:#71b1d1 url(images/tasks_tick.png) no-repeat center 35px; text-align:center; line-height:180px; font-size:16px; }
.big_icons a.tasks:hover { background:#3f8db1 url(images/tasks_tick.png) no-repeat center 40px; line-height:175px; }

.big_icons a.calendar { width:130px; height:130px; display:inline-block; float:left; margin:0px 10px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/calendar.png) no-repeat center 35px; text-align:center; line-height:180px; font-size:16px; }
.big_icons a.calendar:hover { background:#3f8db1 url(images/calendar.png) no-repeat center 40px; line-height:175px; }

.big_icons a.activity { width:130px; height:130px; display:inline-block; float:left; margin:0px 10px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/activity.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; }
.big_icons a.activity:hover { background:#3f8db1 url(images/activity.png) no-repeat center 50px; line-height:175px; }

.big_icons a.invoices { width:130px; height:130px; display:inline-block; float:left; margin:0px 10px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/invoices.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; }
.big_icons a.invoices:hover { background:#3f8db1 url(images/invoices.png) no-repeat center 50px; line-height:175px; }

.big_icons a.messages { width:130px; height:130px; display:inline-block; float:left; margin:0px 10px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/messages.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; }
.big_icons a.messages:hover { background:#3f8db1 url(images/messages.png) no-repeat center 50px; line-height:175px; }

.big_icons a.timesheet { width:130px; height:130px; display:inline-block; float:left; margin:0px 10px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/timesheet.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; }
.big_icons a.timesheet:hover { background:#3f8db1 url(images/timesheet.png) no-repeat center 50px; line-height:175px; }

.main_area { float:left; width:100%; margin:10px 0px 0px 0px; }
.content_body { margin:10px 0px 0px 290px; } 
.pane1 { float:left; width:400px; margin:0px 20px 0px 5px; }
.pane2 { float:left; width:400px; margin:0px 0px 0px 0px;	 }
.full_pane { float:left; width:98%; margin:0px 0px 20px 5px;	 }



.tasks_calendar { height:40px; background:#519bbd; color:#FFFFFF; padding:5px; float:left; width:100%; font-size:20px; margin:0px 0px 20px 0px; }
.tasks_calendar .content { margin:15px 0px 0px -5px; float:left; }
.tasks_calendar .header {  }
.tasks_calendar .header .white_btns { background:#FFF; line-height:25px; margin:1px 0px 0px 0px; border:1px solid #519bbd; padding:0px 10px 0px 10px; display:inline-block; font-size:13px; float:right; color:#519bbd; }
.tasks_calendar .header .white_btns:hover { background:#3c454f; color:#FFF; }




.notifications { height:40px; background:#519bbd; color:#FFFFFF; padding:5px; float:left; width:100%; font-size:20px; margin:0px 0px 20px 0px; }
.notifications .content { margin:15px 0px 0px -5px; float:left; font-size:13px; color:#535353; width:100%; }
.notifications .content a { color:#519bbd; }
.notifications .content a:hover { color:#468847; text-decoration:underline; }

.notifications .header {  }
.notifications .header select { font-size:12px; float:right; margin:5px 5px 0px 0px; }
.notifications .header .white_btns { background:#FFF; line-height:25px; margin:1px 0px 0px 0px; border:1px solid #519bbd; padding:0px 10px 0px 10px; display:inline-block; font-size:13px; float:right; color:#519bbd; }
.notifications .header .white_btns:hover { background:#3c454f; color:#FFF; }
.notifications .content ul{ margin:0px; padding:0px; float:left; width:100%; }
.notifications .content ul li{ line-height:35px; border-bottom:1px solid #dadada; list-style-type:none; display:block; width:100%; }


/* ===================== login screen ======================= */
.mybody { color:#FFF; background:#71b1d1 url(images/login_bg.png) repeat-x left top; overflow:hidden; }
.login_wrapper { width:1000px; margin:0 auto; position:relative; }
.login_logo { float:left; margin:250px 0px 0px 0px; }
.login_logo h1{ font-family: 'Lato', sans-serif; font-size:40px; font-weight:300; color:#FFF; margin:0px 0px 10px 0px; padding:0px; }
.login_logo h2{ font-family: 'Lato', sans-serif; font-size:16px; font-weight:400; color:#FFF; margin:0px 0px 10px 0px; padding:0px; }

.login_right_panel { background:#3c454f; width:253px; padding:0px 30px 0px 25px; position:absolute; right:0px; top:0px; }
.login_right_panel h2 { font-family: 'Lato', sans-serif; font-size:25px; font-weight:300; color:#FFF; margin:140px 0px 80px 0px; padding:0px; }
.login_right_panel input[type='text'], .login_right_panel input[type='password']{ background:#616870 !important; border-radius:0px !important; font-size:13px !important; color:#dfdfdf !important; height:35px !important; margin:0px 0px 10px 0px !important; border:none !important; width:205px !important; }
.login_right_panel input[type='text']:focus, .login_right_panel input[type='password']:focus{ background:#777f87 !important; color:#FFF !important; border:1px solid #999 !important;  }

.login_right_panel .dropdown-toggle { background:#616870 !important; border-radius:0px !important; font-size:13px !important; color:#dfdfdf !important; height:35px !important; margin:0px 0px 10px 0px !important; border:none !important; width:205px !important; }
.login_right_panel .dropdown-toggle span { top:3px !important; }

.login_right_panel .caret { border-bottom-color:#FFF !important; border-top-color:#FFF !important; border-width:5px !important; }
.login_right_panel .dropdown-menu { background:#e9e9e9 !important; border-radius:0px !important; border-bottom:none !important; }
.login_right_panel .dropdown-menu li { color:#000 !important; font-size:12px !important; border-radius:0px !important;} 
.login_right_panel .dropdown-menu li dt { font-weight:700 !important;}  
.login_right_panel .dropdown-menu li a { border-radius:0px !important; background:#519bbd !important; color:#FFF !important; } 
.login_right_panel .dropdown-menu li a:hover { background:#3c454f !important; } 

.login_right_panel .submit_btn { background:#519bbd !important; border-radius:0px !important; font-size:16px !important; color:#FFF !important; height:30px !important; margin:0px 0px 10px 0px !important; border:none !important; width:100px !important; padding:0px 0px 5px 0px; font-family: 'Lato', sans-serif; font-weight:400; } 
.login_right_panel .submit_btn i { font-size:14px; }
.login_right_panel .submit_btn:hover { background:#FFF !important; color:#000 !important;  }