﻿<div id="JobContentsDetails"></div>
@*NEW IMPLEMENTATION*@
<script id="auditProcedureTabContentsTabs" type="text/x-jquery-tmpl">
    {{if IsActive}}
    <li>
        <a>${Caption}</a>
    </li>
    {{/if}}
</script>

<script id="auditProcedureTabContentsTabsArea" type="text/x-jquery-tmpl">


    <div class="TabContents tc-${Id} todo" style="display:none;">
        {{if ContentType}}
        {{if ContentType == 2}}
        <input id="viewUploadedFile" class="viewSourceFile" type="button" data-url="" data-doctype="" value="View Source File" style="margin: 10px;float: right;" />
       
            {{/if}}
        {{/if}}
        <table class="TabContentsTableContainer" style="width:100%; border-right: solid 1px #bbb;">&nbsp;</table>
    </div>
</script>

