﻿<script id="ProceduresFormTemplete" type="text/x-jquery-tmpl">
    <div class="well well-sm">
        {{if AuditProcedure.length > 0}}

        {{each AuditProcedure}}
        <div id="${Id}" class="tuple">
            <div class="col-md-12">
                <div class="row proc-container-hoverX" style="border-bottom: solid 0 #808080; padding: 4px 4px 0; ">
                    <div class="pull-left" style="width:30%">
                        ${Title}<span class="loader" style="display:none; "><img src="@Url.Content("~/Images/loader_login.gif")" width="20px" /></span>
                    </div>
                    {{if AnswerControlType == 2}}
                    <div class="pull-left" style="width:60%;">
                        <div class="pull-left" style="width:99%;">
                            {{if Answer != null}}
                            <input type="text" style="min-width:300px;" value="{{if Answer != null}}Answer.Text{{/if}}" />
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                    {{if AnswerControlType == 3 || AuditProcedureOptionDetail.length > 0}}
                    <div class="pull-left" style="width:70%;">
                        {{if AnswerControlType == 3}}
                        {{if AuditProcedureOptionDetail.length > 0}}
                        <div class="pull-left" style="width:80%;">
                            <select style="min-width:135px;">
                                {{each AuditProcedureOptionDetail}}
                                {{if Answer !=null && Answer.Text == Field}}
                                <option value="${Field}" selected>${Value}</option>
                                {{else}}
                                <option value="${Field}">${Value}</option>
                                {{/if}}
                                {{/each}}
                            </select>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{if Checkbox}}
                        <div class="pull-right" style="width:20%;">
                            {{if Answer !=null && Answer.IsChecked == true}}
                            <input type="checkbox" checked="checked" />
                            {{else}}
                            <input type="checkbox" />
                            {{/if}}
                        </div>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
                {{if Childs.length > 0}}
                {{each Childs}}
                <div id="${Id}" class="row proc-container-hoverX tuple" style="padding: 4px 20px 0; border-bottom: solid 0 #aaa;">
                    <div class="pull-left" style="width:99%;">
                        ${Title}<span class="loader" style="display:none; "><img src="@Url.Content("~/Images/loader_login.gif")" width="20px" /></span>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</script>