﻿
<script id="ProceduresGridTempleteTable" type="text/x-jquery-tmpl">
    {{if AuditProcedure.length > 0}}
    {{each AuditProcedure}}
    {{if $index < 1}}
    <tr class="proc-container-hover proc-container proc-head-style">
        <td width="3%" class="proc-border-lr">&nbsp;</td>
        <td width="3%" class="proc-border-lr">&nbsp;</td>
        <td width="3%" class="proc-border-lr">&nbsp;</td>
        <td width="3%" class="proc-border-lr text-center">&nbsp;</td>
        <td class="proc-border-lr">
            <div class="proc-col-pad-lr">
                Audit Procedures
            </div>
        </td>
        <td class="proc-border-lr" colspan="2">
            <div class="proc-col-pad-lr">
                Work Done
            </div>
        </td>
    </tr>
    {{/if}}
    <tr id="${Id}" class="proc-container-hover proc-container tuple">
        @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_AuditProcedureRelated.cshtml"));}
        <td width="3%" class="proc-border-lr text-center">
            {{if Childs.length > 0}}
            <span class="fa fa-1 fa-minus-square toggle-child-procedures"></span>
            {{/if}}
        </td>
        <td class="proc-border-lr">
            <div class="procedure-text WorkPaperManage">
                ${Title}<span class="loader" style="display:none; "><img src="@Url.Content("~/Images/loader_login.gif")" width="20px" /></span>
            </div>
        </td>
        <td class="proc-border-lr" width="22%">
            {{if AuditProcedureOptionDetail.length > 0}}
            {{if AnswerControlType == 3}}
            @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_DropDownControl.cshtml"));}
            {{else AnswerControlType == 1}}
            @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_LabelControl.cshtml"));}
            {{/if}}
            {{/if}}
        </td>
        @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_ApprovedCheckBoxControl.cshtml"));}
    </tr>
    {{if Childs.length > 0}}
    <tr class="child-all">
        <td colspan="100%">
            <div style="margin-left: -1px;">
                <table style="width:100%;" border="0">
                    {{each Childs}}
                    @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProceduretemplates/_AuditProcedureGridChild.cshtml"));}
                    {{/each}}
                </table>
            </div>
        </td>
    </tr>
    {{/if}}
    {{/each}}
    {{/if}}
</script>




