﻿<tr id="${Id}" class="proc-container-hover proc-container tuple">
    @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_AuditProcedureRelated.cshtml"));}
    <td width="3%" class="proc-border-lr text-center">
        &nbsp;
    </td>
    <td class="proc-border-lr">
        <table width="94%" style="margin-left:6%">
            <tr>
                <td class="procedure-text" width="3%">${ ToAlpha($index) }.&nbsp;</td>
                <td>
                    <div class="procedure-text  WorkPaperManage">
                        ${Title}<span class="loader" style="display:none; "><img src="@Url.Content("~/Images/loader_login.gif")" width="20px" /></span>
                    </div>
                </td>
            </tr>
        </table>
    </td>
    @*FOR AnswerControl*@
    {{if AuditProcedureOptionDetail.length > 0}}
    <td class="proc-border-lr" width="22%">
        {{if AnswerControlType == 3}}
        @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_DropDownControl.cshtml"));}
        {{else AnswerControlType == 1}}
        @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_LabelControl.cshtml"));}
        {{/if}}
    </td>
    {{/if}}

    @*FOR MultiColumn*@
    @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_MultiColControl.cshtml"));}

    @*FOR CheclBox*@
    @{Html.RenderPartial(Url.Content("~/Views/Job/TemplateParts/_ApprovedCheckBoxControl.cshtml"));}

</tr>