﻿
<style type="text/css">
    /* When hovering over a bar, Kendo dynamically adds
         a bar as the last child of the SVG element that
         works as an overlay. So, effectively, we're
         hovering over the last (dynamically added) child */
    svg > path:last-child {
        cursor: pointer;
    }

    svg {
        cursor: default;
    }
</style>

<div id="dvPieChart">
    <br /><br /><br /><br /><br /><br /><br /><br />
    <img src='@Url.Content("~/Images/loader.gif")' /> Loading scheduled jobs ...
</div>
<div style="text-align: center; padding: 5px 0 5px 0; font-size: 85%">
    <input type="radio" name="piechart" value="1" />Current Month
    <input type="radio" name="piechart" value="2" checked="checked" />Last 2 Months
    <input type="radio" name="piechart" value="3" />Last 3 Months
    <input type="radio" name="piechart" value="6" />Last 6 Months
</div>

<script>
    $(function () {
        loadPieChart();

        $('input[name="piechart"]').click(function() {
            loadPieChart();
        });
    });

    function loadPieChart() {
        var months = $('input[name="piechart"]:checked').val();

        $.ajax({
            url: '@Url.Action("GetScheduledJobs", "Job")',
            data: { months: months },
            type: "GET",
            cache: false,
            error: function(error) {
                doAlert('Unexpected error occured while creating pie chart. Please contact system administrator.');
            },
            success: function(result) {
                var data = [];
                $.each(result, function(i, item) {
                    data.push({ category: item.Status, value: item.Count, color: getStatusColor(item.Status) });
                });

                $('#dvPieChart').kendoChart({
                    title: {
                        text: "Scheduled Jobs",
                        font: "bold 16px Segoe UI, Arial, Helvetica, sans-serif"
                    },
                    chartArea: { width: width, height: height },
                    theme: "flat",
                    legend: {
                        position: "bottom",
                    },
                    seriesDefaults: {
                        labels: {
                            visible: true,
                            template: '#= category #: #= value#',
                            position: 'outsideEnd',
                            align: 'alignColumn'
                        }
                    },
                    series: [
                        {
                            type: 'pie',
                            startAngle: 150,
                            data: data
                        }
                    ],
                    tooltip: {
                        visible: false,
                        template: "#= category # - #= value#"
                    },
                    seriesClick: onSeriesClick,
                });

                if (result.length == 0)
                    $('<div class="custom-overlay"><p id="message">No record found</p></div>').appendTo("#dvPieChart");
            }
        });
    }

    function onSeriesClick(e) {
        var category = '';

        switch (e.category) {
            case 'In Progress':
                category = '@((int)JobWorkflowStatus.InProgress)';
                break;
            case 'Completed':
                category = '@((int)JobWorkflowStatus.Completed)';
                break;
            case 'Overdue':
                category = '@((int)JobWorkflowStatus.Overdue)';
                break;
            case 'Not Started':
                category = '@((int)JobWorkflowStatus.NotStarted)';
                break;
            default:
                category = 0;
                break;
        }

        window.location.href = '@Url.Content("~/Job/?statusId=")' + category;
    }
</script>