﻿
<style>
    .k-widget.k-calendar {
        width: 100%;
        height: 100%;
    }
    #special-days {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .calendar-wrapper {
        height: 80%;
    }

    #calendar th,
    #calendar td {
        text-align: center;
    }

    .cocktail {
        position: relative;
    }
    .completedjobnumber {
        display: none;
        position: absolute;
        top: 0;
        left: 70%;
        font-size: 70%;
        width: 17px;
        height: 17px;
        margin: auto;
        text-align: center;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 50%;
        line-height: 17px;
        background-color: #008000;
        color: white;
    }
</style>
<div id="calendar-wrapper" style="padding: 0 0 0 10px">
    <div id="calendarHeader">Calendar</div>
    <div id="calendar"></div>
</div>

<script>
    var today = new Date();
    var month = today.getMonth();
    var year = today.getFullYear();

    $(document).ready(function () {

        $('#calendar-wrapper').height(height).width(width);

        $("#calendar").kendoCalendar({
            value: today,
            navigate: onNavigate,
            month: {
                content:
                    '<div class="cocktail">#= data.value # <div class="completedjobnumber" data-date="#=data.date#">' +
                    '# if ($.inArray(+data.date, data.dates) != -1) { #' +
                    '# } #' +
                    '</div></div>'
            },
        });

        var calendar = $("#calendar").data("kendoCalendar");
        var first = new Date($("tbody > tr:first > td:first > a", calendar._table).attr("title"));
        var last = new Date($("tbody > tr:last > td:last > a", calendar._table).attr("title"));
        getCompletedJobs(first, last);

        $('#calendar .k-content').height(height - 130);
    });

    function onNavigate() {
        var calendar = $("#calendar").data("kendoCalendar");

        if (!(calendar._current.getMonth() == month && calendar._current.getFullYear() == year)) {

            var first = new Date($("tbody > tr:first > td:first > a", calendar._table).attr("title"));
            var last = new Date($("tbody > tr:last > td:last > a", calendar._table).attr("title"));
            month = calendar._current.getMonth();
            year = calendar._current.getFullYear();

            getCompletedJobs(first, last);
        }
    }

    function getCompletedJobs(startDate, endDate) {
        var sd = (parseInt(startDate.getMonth()) + 1) + '/' + startDate.getDate() + '/' + startDate.getFullYear();
        var ed = (parseInt(endDate.getMonth()) + 1) + '/' + endDate.getDate() + '/' + endDate.getFullYear();
        
        $.ajax({
            url: '@Url.Action("GetJobToBeCompleted", "Job")',
            data: { startDate: sd, endDate: ed },
            type: "GET",
            cache: false,
            error: function (error) {
                doAlert('Unexpected error occured while creating calendar control. Please contact system administrator.');
            },
            success: function (result) {

                var cells = $('div.completedjobnumber');
                $.each($(cells), function (index, c) {
                    var d = new Date($(c).attr('data-date'));

                    $.each(result, function (i, item) {
                        if (Date.parse(item.Status) == Date.parse(d)) {
                            $(c).empty().html(item.Count).fadeIn(1000);
                        }
                    });
                });

                $('#calendar .k-content').height(height - 130);
            }
        });
    }
</script>