﻿@using DBASystem.SMSF.Contracts.Common

<ul id="ulNotifications" style="min-height:213px;">    
</ul>
<div id="dvNotficationLoadMore" style="padding: 0px; text-align: center; line-height: 31px">    
    <a href="#">Load More</a>
    <span style="text-align: center; display: none"><img src='@Url.Content("~/Images/loader.gif")' /> Loading notifications . . .</span>
</div>

<script type="text/javascript">
    var page = 1;
    var count = 6;

    $(function () {
        loadNotification(page, count);

        $('#dvNotficationLoadMore a').click(function (e) {
            e.preventDefault();

            page++;
            loadNotification(page, count);
        });
    });

    function loadNotification(_page, _count) {
        $('#dvNotficationLoadMore a').hide();
        $('#dvNotficationLoadMore span').show();

        $.ajax({
            url: '@Url.Content("~/Setting/GetNotifications")',
            data: { type: '@NotificationTypes.Info', page: _page, count: _count, days: '@System.Configuration.ConfigurationManager.AppSettings["NotificationDays"]' },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                if (data.Data.length > 0) {
                    $.each(data.Data, function (index, item) {
                        $('<li />', { html: setMessage(item.Message, item.EncryptedID, item.EntityType, item.CreateDate) }).appendTo('#ulNotifications');
                    });

                    $('#dvNotficationLoadMore a').show();
                    $('#dvNotficationLoadMore span').hide();
                    
                    if (page >= Math.ceil(data.Count / count)){
                        $('#dvNotficationLoadMore').hide();
                    }
                }
                else {
                    $('<li />', { html: "No new notification found" }).appendTo('#ulNotifications');
                    $('#dvNotficationLoadMore').hide();
                }
            }
        });
    }

    function setMessage(message, id, type, date) {
        switch (type) {
            case "Entity":
                return "<img src='" + '@Url.Content("~/images/db.png")' + "' />" + ' <a href="' + '@Url.Content("~/Firm/Detail/")' + id + '">' + message + ' on ' + $.dateTime(date) + '</a>';
            case "Client":
                return "<img src='" + '@Url.Content("~/images/admin.png")' + "' />" + ' <a href="' + '@Url.Content("~/Accounts/Detail/")' + id + '">' + message + ' on ' + $.dateTime(date) + '</a>';
            case "User":
                return "<img src='" + '@Url.Content("~/images/users.png")' + "' />" + ' <a href="' + '@Url.Content("~/User/Detail/")' + id + '">' + message + ' on ' + $.dateTime(date) + '</a>';
            default:
                return message;
        }
    }
</script>