﻿
@{
    ViewBag.Title = "Home Page";
    var message = ViewBag.Message != null ? ViewBag.Message.ToString() : "";
}

<style>
    input[type="radio"] {
        margin: -2px 3px 0 3px !important;
    }
     .k-pager-wrap {
         overflow: auto;
         color: #fff;
         border:none;
         border-radius:none;
         line-height: 20px;
         padding: 4px 0 4px 3px;
         background: #519bbd !important;
     }

    .k-pager-wrap > .k-link {
        float: left;
        margin: 0 1px;
        padding: 0 3px;
        height: 22px;
        line-height: 22px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        cursor: pointer;
        border:none;
    }

    .k-pager-numbers .k-state-selected {
        border-style: none!important;
        border-width: 0px;
        line-height: 22px;
        padding: 0 7px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
    }

    .k-pager-wrap a {
        color: #fff!important;
    }

    .k-state-hover, .k-state-hover:hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-imagebrowser-dropzone {
        color: #ffffff;
        background-color: #71b1d1;
        border-color: #71b1d1;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
    }

    .k-pager-numbers .k-link:hover {
        padding: 0 7px;
        color: #ffffff;
        line-height: 21px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
    }
</style>

<style>
    #dvPieChart text, #dvBarChart text, .k-tooltip, #calendarHeader {
        font-family: "Segoe UI", Arial, Helvetica, sans-serif !important;
    }
    #calendarHeader {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        margin: 15px 0 20px 0;
    }
    .custom-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: lightgray;
        font-size: 30px;
    }

    #message {
        position: absolute;
        left: 30%;
        top: 50%;
    }
    .k-tooltip {
        color: white;
    }
    .home_dropdown {
        margin-left: 15px;
        margin-top: 2px;
        width: 150px;
        line-height: 18px;
        font-size: 12px;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var width;
    var height;

    $(function () {
        width = ($('#contentmain').width() - 100) / 3;
        height = $(document).height() / 2;
    });
</script>

<div id="contentmain">
    <div class="contentinner">
        <input id="txtMessage" type="hidden" value="@message" />

        <div class="row-fluid" style="margin-bottom:10px;">
            <div class="span4" style="text-align: center!important">
                @Html.Partial("_JobPieChart")
            </div>
            <div class="span4" style="text-align: center!important">
                @Html.Partial("_JobBarChart")
            </div>
            <div class="span4" style="text-align: center!important">
                @Html.Partial("_JobCalendar")
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span6">
                <div class="home_jobs">
                    <div class="header">
                        <img src="~/images/calendar.png" align="absmiddle" width="25">
                        Jobs
                        <input id="ddlJobStatus" type="text" class="home_dropdown pull-right" />
                        <input id="ddlJob" type="text" class="home_dropdown pull-right" />
                    </div>
                    <div class="content">
                        @Html.Partial("_Jobs")
                    </div>
                </div>
            </div>
            
            <div class="span6">
                <div class="notifications">
                    <div class="header">
                        <img src='@Url.Content("~/images/notifications.png")'> Notifications
                    </div>
                    <div class="content" id="notifications_content">
                        @Html.Partial("_Notifications")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        if ($('#txtMessage').val() != '') {
            $('<div/>', { id: 'dvMessage' }).html($('#txtMessage').val()).appendTo('body');

            $('#dvMessage').fadeIn('slow');
            $('#dvMessage').delay(5000).fadeOut('slow');
            setStatusBarMessage($('#txtMessage').val());
        }
    });

    function getStatusColor(status) {
        switch (status) {
            case 'In Progress':
                return "#9de219";
            case 'Completed':
                return "#008000";
            case 'Overdue':
                return '#FF0000';
            case 'Not Started':
                return '#008080';
            case 'Getting Overdue':
                return '#FFA500';
        }

        return '';
    }
</script>
