﻿<td class="proc-border-lr text-center" width="5%">
    {{if Checkbox}}
    <span class="proc-col-pad-lr">
        {{if Answer !=null && Answer.IsChecked == true}}
        <input type="checkbox" checked="checked" />
        {{else}}
        <input type="checkbox" />
        {{/if}}
    </span>
    {{/if}}
    &nbsp;
</td>
