﻿<td width="3%" class="proc-border-lr text-center">
    {{if Attachments}}
    <i class="fa fa-paperclip Ico-Def proc-attachments manage-hide"></i>
    {{/if}}
</td>
<td width="3%" class="proc-border-lr  text-center">
    {{if Oml}}
    <i class="fa fa-comment-o Ico-Def  proc-oml manage-hide"></i>
    {{/if}}
</td>
<td width="3%" class="proc-border-lr  text-center">
    {{if Comments}}
    <i class="fa fa-edit Ico-Def proc-comments  manage-hide"></i>
    {{/if}}
</td>