﻿@*FOR MultiColumn*@
    {{if AuditProcedureColumn.length > 0}}
    {{each AuditProcedureColumn}}
<td class="proc-border-lr">
    <span style="padding-left: 4px; padding-right: 4px">
        ${ColumnValue}
    </span>
</td>
    {{/each}}
    {{/if}}
