﻿@model DBASystem.SMSF.Contracts.ViewModels.AddressCreateModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

<script type="text/javascript">
    function getCountryId() {
        return { countryId: $('#dvCreateNew #CountryID').val() };
    }
    function onCountryChange() {
        var dd = $("#dvCreateNew #CountryID").data("kendoDropDownList");
        $('#dvCreateNew #Country').val(dd.text())

        $.ajax({
            url: '@Url.Content("~/Entity/GetStates")',
            data: { countryId: $('#dvCreateNew #CountryID').val() },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                var ddl = $('#StateID').data("kendoDropDownList");
                ddl.setDataSource(data);

            }
        });
    }
    function onStateChange() {
        if ($("#dvCreateNew #StateID").val() != '') {
            var ddState = $("#dvCreateNew #StateID").data("kendoDropDownList");
            $('#dvCreateNew #State').val(ddState.text());
        }
        else
            $('#dvCreateNew #State').val('');
    }
</script>

@using (Ajax.BeginForm("CreateAddress", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmCreateAddress" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.State)
    @Html.HiddenFor(model => model.Country)
    
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td>
                Address Type
            </td>
            <td colspan="3">
                @Html.Kendo().DropDownListFor(model => model.TypeID).BindTo(Model.ListTypes).OptionLabel("-- Select --")
                @Html.ValidationMessageFor(model => model.TypeID)
            </td>
        </tr>
        <tr>
            <td style="width: 20%">
                <span id="spUnitNumber">Unit Number</span>
            </td>
            <td style="width: 35%">
                @Html.TextBoxFor(model => model.UnitNumber, new { placeholder = "Unit Number", style = "width: 100px" })
                @Html.ValidationMessageFor(model => model.UnitNumber)
            </td>
            <td style="width: 20%">Street Number</td>
            <td>
                @Html.TextBoxFor(model => model.StreetNumber, new { placeholder = "Street Number", style = "width: 100px" })
                <br />@Html.ValidationMessageFor(model => model.StreetNumber)
            </td>
        </tr>
        <tr>
            <td style="width: 15%">Street Name</td>
            <td>
                @Html.TextBoxFor(model => model.StreetName, new { placeholder = "Street Name", style = "width: 150px" })
                <br />@Html.ValidationMessageFor(model => model.StreetName)
            </td>
            <td>
                Street Type
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.StreetType).BindTo(CommonFunction.EnumeratorList<StreetType>(EumeratorType.String)).OptionLabel("-- Select --")
                <br />@Html.ValidationMessageFor(model => model.StreetType)
            </td>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                @Html.TextBoxFor(model => model.City, new { placeholder = "City", style = "width: 150px" })
                <br />@Html.ValidationMessageFor(model => model.City)
            </td>
            <td>
                Post Code
            </td>
            <td>
                @Html.TextBoxFor(model => model.PostCode, new { placeholder = "Post Code", style = "width: 150px" })
                <br />@Html.ValidationMessageFor(model => model.PostCode)
            </td>
        </tr>
        <tr>
            <td>
                Country
            </td>
            <td>                
                @(Html.Kendo().DropDownListFor(model => model.CountryID)
                    .BindTo(Model.ListCountires)
                    .OptionLabel("-- Select --")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("onCountryChange"))
                )
                <br />@Html.ValidationMessageFor(model => model.CountryID)
            </td>
            <td>
                State
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(model => model.StateID)
                        .OptionLabel("-- Select --")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(Model.ListState)
                        .Events(e => e.Change("onStateChange"))
                        .HtmlAttributes(new { style = "width: 200px" })
                )
                <br />@Html.ValidationMessageFor(model => model.StateID)
            </td>
        </tr>
        <tr>
            <td id="tdDefaultAddress">Default Address</td>
            <td colspan="3">                
                @Html.CheckBoxFor(model => model.Default) 
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3" id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0)
                                            {<text>Update</text>}
                                            else
                                            {<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#frmCreateAddress");

        onCountryChange();

        if ('@Model.ID' != 0)
            onStateChange();

        $('#dvCreateNew #tdDefaultAddress').html('Default ' + ($('#dvCreateNew #TypeID :selected').val() != '' ? $('#dvCreateNew #TypeID :selected').text().trim() : '') + ' Address');

        $('#dvCreateNew #TypeID').change(function () {
            var dd = $("#dvCreateNew #TypeID").data("kendoDropDownList");
            $('#dvCreateNew #Type').val(dd.text());

            if (dd.text().trim() == 'PO Box') {
                $('#dvCreateNew #spUnitNumber').html('PO Box Number');
                $('#dvCreateNew #UnitNumber').val('').attr('placeholder', 'PO Box Number');
                $('#dvCreateNew #StreetNumber').val('').attr('disabled', 'disabled');
                $('#dvCreateNew #StreetName').val('').attr('disabled', 'disabled');
                $("#dvCreateNew #StreetType").data("kendoDropDownList").enable(false);
            }
            else {
                $('#dvCreateNew #spUnitNumber').html('Unit Number');
                $('#dvCreateNew #UnitNumber').val('').attr('placeholder', 'Unit Number');
                $('#dvCreateNew #StreetNumber').removeAttr('disabled');
                $('#dvCreateNew #StreetName').removeAttr('disabled');
                $("#dvCreateNew #StreetType").data("kendoDropDownList").enable(true);
            }

            $('#dvCreateNew #tdDefaultAddress').html('Default ' + ($('#dvCreateNew #TypeID').val() != '' ? dd.text().trim() : '') + ' Address');
        });
        
        $('#dvCreateNew #btnCancel').unbind('click').click(function () {
            $('#dvCreateNew').dialog('close');
        });
    });

    function onBegin() {
        if ($('#frmCreateAddress').valid()) {
            $('#dvCreateNew #tdButtons input').hide();
            $('#dvCreateNew #tdButtons img').show();
            return true;
        }

        return false;
    }

    function onFailure(context) {
        window.location.href = '@Url.Content("~/Error/Index")';
    }

    function onSuccess(context) {
        if (context = "success") {
            loadAddress();
            $('#dvCreateNew').dialog('close');
            if ('@Model.ID' == 0)
                setStatusBarMessage('Address added');
            else
                setStatusBarMessage('Address updated');
        }
    }
</script>