﻿@model DBASystem.SMSF.Contracts.ViewModels.ContactCreateModel
@using Kendo.Mvc.UI

@using (Ajax.BeginForm("CreateContactInfo", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmCreateContact" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.AccountID)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.StatusID)
    
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 20%">
                Contact Type
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.TypeID).BindTo(Model.ListTypes).OptionLabel("-- Select --")
                @Html.ValidationMessageFor(model => model.TypeID)
            </td>
        </tr>
        <tr>
            <td>
                Country Code
            </td>
            <td>
                @Html.TextBoxFor(model => model.CountryCode, new { placeholder = "Country Code", style = "width: 100px" })
                @Html.ValidationMessageFor(model => model.CountryCode)
            </td>
        </tr>
        <tr>
            <td>
                Area Code
            </td>
            <td>
                @Html.TextBoxFor(model => model.AreaCode, new { placeholder = "Area Code", style = "width: 100px" })
                @Html.ValidationMessageFor(model => model.AreaCode)
            </td>
        </tr>
        <tr>
            <td>
                Phone Number
            </td>
            <td>
                @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "Phone Number", style = "width: 140px" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0)
                                            {<text>Update</text>}
                                            else
                                            {<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#frmCreateContact");

        $('#dvCreateNew #TypeID').change(function () {
            var dd = $("#dvCreateNew #TypeID").data("kendoDropDownList");
            $('#dvCreateNew #Type').val(dd.text());
        });

        $('#dvCreateNew #btnCancel').unbind('click').click(function () {
            $('#dvCreateNew').dialog('close');
        });
    });

    function onBegin() {
        if ($('#frmCreateContact').valid()) {
            $('#dvCreateNew #tdButtons input').hide();
            $('#dvCreateNew #tdButtons img').show();
            return true;
        }

        return false;
    }

    function onFailure(context) {
        window.location.href = '@Url.Content("~/Error/Index")';
    }

    function onSuccess(context) {
        if (context = "success") {
            loadUser();
            $('#dvCreateNew').dialog('close');
            if ('@Model.ID' == 0)
                setStatusBarMessage('Contact info added');
            else
                setStatusBarMessage('Contact info updated');
        }
    }
</script>