﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerCreateModel
@using Kendo.Mvc.UI

@using (Ajax.BeginForm("CreateAccountManager", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmCreateUser" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Selected)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.Group)
    @Html.HiddenFor(model => model.EntityID)
    @Html.HiddenFor(model => model.StatusID)
    
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 20%">
                First Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td>
                Middle Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.MidName, new { placeholder = "Middle Name" })
                @Html.ValidationMessageFor(model => model.MidName)
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td>
                Email Address
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td>
                Group
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.GroupID).BindTo(Model.ListGroups).OptionLabel("-- Select --")
                @Html.ValidationMessageFor(model => model.GroupID)
            </td>
        </tr>
        <tr>
            <td>
                Login Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.Login, new { placeholder = "Login Name" })
                @Html.ValidationMessageFor(model => model.Login)
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password
            </td>
            <td>
                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0)
                                            {<text>Update</text>}
                                            else
                                            {<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#frmCreateUser");

        $('#dvCreateNew #Password').val('@Model.Password');
        $('#dvCreateNew #ConfirmPassword').val('@Model.Password');

        $('#dvCreateNew #GroupID').change(function () {
            var dd = $("#dvCreateNew #GroupID").data("kendoDropDownList");
            $('#dvCreateNew #Group').val(dd.text());
        });

        $('#dvCreateNew #btnCancel').unbind('click').click(function () {
            $('#dvCreateNew').dialog('close');
        });

        $('#dvCreateNew #Login').unbind('blur').blur(function () {
            var login = $(this).val();
            if (login.length >= 6) {
                var td = $(this).closest('td');
                $(td).find('img').show();
                $('#tdButtons input[type=submit]').attr('disabled', 'disabled');

                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '@Url.Content("~/User/ValidateLogin")',
                    data: { id: $('#dvCreateNew #ID').val(), login: login },
                    success: function (data) {
                        $(td).find('img').hide();

                        setStatusBarMessage(data);
                        if (data == 'Login Name Available') {
                            $(td).find('span').removeClass().addClass('field-validation-valid');
                            $('#tdButtons input[type=submit]').removeAttr('disabled');
                        }
                        else {
                            $(td).find('span').html(data);
                            $(this).removeClass().addClass('field-validation-error');
                            $(td).find('span').removeClass().addClass('field-validation-error');
                        }
                    }
                });
            }
        });
    });

    function onBegin() {
        if ($('#frmCreateUser').valid()) {
            $('#dvCreateNew #tdButtons input').hide();
            $('#dvCreateNew #tdButtons img').show();
            return true;
        }

        return false;
    }

    function onFailure(context) {
        window.location.href = '@Url.Content("~/Error/Index")';
    }

    function onSuccess(context) {
        if (context = "success") {
            loadUser();
            $('#dvCreateNew').dialog('close');
            if ('@Model.ID' == 0)
                setStatusBarMessage('New user added and selected as a primary account manager');
            else
                setStatusBarMessage('User updated');
        }
    }
</script>