﻿@using Kendo.Mvc.UI

<script type="text/javascript">
    $.date = function (dateObject) {
        var d = new Date(dateObject);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var date = day + "/" + month + "/" + year;

        return date;
    };

    function onChange() {
        var selectedTr = $('#gvEntities table tr[class=k-state-selected]');

        loadDetail($(selectedTr).attr('id'), $(selectedTr).attr('type'));
    }
    function onDataBound() {
        if ($('#gvEntities table tbody tr').length == 0) {
            $('#gvEntities table tbody').append('<tr><td colspan="6" class="error">No entity found</td></tr>')
        }
    }
</script>

<div style="width: 100%">
@(
 Html.Kendo().Grid<DBASystem.SMSF.Contracts.ViewModels.EntityDetailModel>()
                .Name("gvEntities")
                .Columns(c =>
                            {
                                c.Template(e => { }).ClientTemplate(" ").Width(30);
                                c.Bound(e => e.Name).Title("Name");
                                c.Bound(e => e.Email).Title("Email").Width(250);
                                c.Bound(e => e.PrimaryAccountManger).Title("Primary Account Manager").Width(250);
                                c.Bound(e => e.CreatedOn).Title("Creation Date").Width(100);
                                c.Bound(e => e.ModifiedOn).Title("Last Modified Date").Width(100);
                            }
                        )
                .DataSource(source =>
                    source.Ajax().Read(read =>
                        read.Action("GetDetailEntities", "Entity", new { id = ViewBag.ID })))
                .ClientRowTemplate(
                    "<tr id='${ID}' type=${Type}>" +
                        "<td style='text-align:center'>" +
                            "#if (Type == 'Entity') { #" +
                                "<img src='" + @Url.Content("~/images/db.png") + "' />" +
                            "# } else if (Type == 'Group') { #" +
                                "<img src='" + @Url.Content("~/images/group.png") + "' />" +
                            "# }  else { #" +
                                "<img src='" + @Url.Content("~/images/users.png") + "' />" +
                            "# } #" +
                        "</td>" +
                        "<td>" +
                            "${Name}" +
                        "</td>" +
                        "<td>" +
                            "#if (Email != null) { #" +
                                "${Email}" +
                            "# }#" +
                        "</td>" +
                        "<td>" +
                            "#if (PrimaryAccountManger != null) { #" +
                                "${PrimaryAccountManger}" +
                            "# }#" +
                        "</td>" +
                        "<td>" +
                            "#=$.date(CreatedOn)#" +
                        "</td>" +
                        "<td>" +
                            "#if (ModifiedOn != null) { #" +
                                "#=$.date(ModifiedOn)#" +
                            "# }#" +
                        "</td>" +
                    "</tr>"
                )
                .Selectable()
                        .Events(e => { e.Change("onChange"); e.DataBound("onDataBound"); })
)
</div>
<br />

<script type="text/javascript">
</script>