﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerModel

@if (!string.IsNullOrEmpty(Model.FirstName))
{
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td colspan="2" class="bold">
                @{
                    var name = Model.FirstName;
                    if (!string.IsNullOrEmpty(Model.MidName))
                    {
                        name += " " + Model.MidName;
                    }
                    if (!string.IsNullOrEmpty(Model.LastName))
                    {
                        name += " " + Model.LastName;
                    }                                                    
                }
                @name
            </td>
        </tr>
        <tr>
            <td style="width: 200px">Email Address</td>
            @if (!string.IsNullOrEmpty(Model.Email))
            { <td>@Model.Email</td>}
            else
            {<td>-</td>}
        </tr>
        <tr>
            <td>Group</td>
            @if (!string.IsNullOrEmpty(Model.Group))
            { <td>@Model.Group</td>}
            else
            {<td>-</td>}
        </tr>
        <tr>
            <td>Login Name</td>
            <td>@Model.Login</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        @if (Model.ListContactInfo != null && Model.ListContactInfo.Any())
        {
            <tr>
                <td colspan="2">Contact Information</td>
            </tr>
            foreach (var contact in Model.ListContactInfo)
            {
                var phone = "";
                if (!string.IsNullOrEmpty(contact.CountryCode))
                { phone += contact.CountryCode + "-"; }
                if (!string.IsNullOrEmpty(contact.AreaCode))
                { phone += contact.AreaCode + "-"; }
                phone += contact.PhoneNumber;
                                                
                <tr>
                    <td>@contact.Type</td>
                    <td>@phone</td>
                </tr>
            }
        }
        else
        {
            <tr><td><div class="error">No contact information found</div></td></tr>
        }
    </table>
}
else
{
    <div class="error">No primary account manager found</div>
}