﻿@model DBASystem.SMSF.Contracts.ViewModels.EntityModel

<table style="width: 100%">
    <tr>
        <td style="width: 50%; vertical-align: top">
            <table style="width: 100%" class="nobordertable">
                <tr>                  
                    <td class="bold" colspan="2">@Model.Name</td>
                </tr>
                <tr>
                    <td class="" style="width: 40%">Entity Type</td>
                    <td>@Model.Category</td>
                </tr>
                @if(Model.EntityType != DBASystem.SMSF.Contracts.Common.EntityTypes.Group){
                    <tr>
                        <td class="">Australian Business Number</td>
                        @if (!string.IsNullOrEmpty(Model.ABN))
                        { <td>@Model.ABN</td>}
                        else
                        {<td>-</td>}
                    </tr>
                    <tr>
                        <td class="">Australian Company Number</td>
                        @if (!string.IsNullOrEmpty(Model.ACN))
                        { <td>@Model.ACN</td>}
                        else
                        {<td>-</td>}
                    </tr>
                    <tr>
                        <td class="">Goods and Services Tax</td>
                        @if (!string.IsNullOrEmpty(Model.GST))
                        { <td>@Model.GST</td>}
                        else
                        {<td>-</td>}
                    </tr>
                    <tr>
                        <td class="">Tax File Number</td>
                        @if (!string.IsNullOrEmpty(Model.TFN))
                        { <td>@Model.TFN</td>}
                        else
                        {<td>-</td>}
                    </tr>
                }
                <tr>
                    <td class="">Note</td>
                    @if (!string.IsNullOrEmpty(Model.Note))
                    { <td>@Model.Note</td>}
                    else
                    {<td>-</td>}
                </tr>
                @if (Model.EntityType != DBASystem.SMSF.Contracts.Common.EntityTypes.Group)
                {
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">Addresses</td>
                    </tr>
                    if (Model.Addresses != null && Model.Addresses.Any())
                    {
                        foreach (var item in Model.Addresses)
                        {
                            var address = "";
                            if (!string.IsNullOrEmpty(item.UnitNumber))
                            {
                                address += item.UnitNumber;
                            }
                            if (!string.IsNullOrEmpty(item.StreetNumber))
                            {
                                address += string.IsNullOrEmpty(item.UnitNumber) ? " " + item.StreetNumber : " / " + item.StreetNumber;
                            }
                            if (!string.IsNullOrEmpty(item.StreetName))
                            {
                                address += " " + item.StreetName;
                            }
                            if (!string.IsNullOrEmpty(item.StreetType))
                            {
                                address += " " + item.StreetType;
                            }
                            if (!string.IsNullOrEmpty(item.City))
                            {
                                address += string.IsNullOrEmpty(address) ? item.City : "<br />" + item.City;
                            }
                            if (!string.IsNullOrEmpty(item.PostCode))
                            {
                                address += " " + item.PostCode;
                            }
                            if (!string.IsNullOrEmpty(item.State))
                            {
                                address += ", " + item.State;
                            }
                            if (!string.IsNullOrEmpty(item.Country))
                            {
                                address += ", " + item.Country;
                            }
                            <tr>
                                <td>
                                    @item.Type
                                    @if (item.Default)
                                    { <span style="font-style: italic">(Default)</span>;
                                    }
                                </td>
                                <td>@Html.Raw(address)</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2"><div class="error">No address found</div></td>
                        </tr>
                    }
                }
            </table>
        </td>
        <td style="width: 1px; border-left: thin solid #c3bcbc"></td>
        <td style="vertical-align: top">
            <table style="width: 100%" class="nobordertable">
                <tr>
                    <td class="bold">Primary Account Manager</td>
                </tr>
                <tr>
                    <td>
                        @Html.Partial("_DetailAccountManager", Model.PrimaryAccountManger != null? Model.PrimaryAccountManger: new DBASystem.SMSF.Contracts.ViewModels.AccountManagerModel())
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>