﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

<style scoped>
    #lstManagers {
        padding: 10px;
        margin-bottom: -1px;
        width: 100%;
    }
</style>

<script type="text/javascript">
    function renderContactInfoTemplate(data) {        
        if (data != null && data.length > 0) {
            return kendo.Template.compile($('#contactinfo-template').html())(data);
        }
    }
</script>

@if (DBASystem.SMSF.Web.Common.SessionHelper.ListAccountManagers != null && DBASystem.SMSF.Web.Common.SessionHelper.ListAccountManagers.Any())
{
    <script type="text/x-kendo-tmpl" id="template">
        <tr id='#:ID#' name='#:FirstName# #:LastName#'>
            <td>
                #if (Selected) { #
                    <input id='#:ID#' class='selectmanager' type='radio' name='manager' checked />
                # } else { #
                    <input id='#:ID#' class='selectmanager' type='radio' name='manager' />
                # } #
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
            <td>
                ${FirstName} ${LastName}
                #if (Email != "") { #
                    ( #:Email# )
                # } #
                #if (Group != "") { #
                    ( #:Group# )
                # } #
            </td>
            <td>
                #if ('@CommonFunction.IsOptionAllowed(Option.AddTelephone)') { #
                    <img src='@Url.Content("~/Images/contact.png")' class="contactinfo" id="#:ID#" title="Click to add contact information for this user" />
                # } #
                #if ('@CommonFunction.IsOptionAllowed(Option.UpdateUser)') { #
                    <img id="#:ID#" class="edit" src='@Url.Content("~/Images/edit.png")' title="Click to edit this user" />
                # } #
                #if ('@CommonFunction.IsOptionAllowed(Option.DeleteAccountManager)') { #
                    <img id="#:ID#" class="delete" src='@Url.Content("~/Images/delete.png")' title="Click to delete this user" />
                # } #
            </td>
        </tr>
        #= renderContactInfoTemplate(ListContactInfo) #
    </script>
    
    <script id="contactinfo-template" type="text/x-kendo-template">
        <tr contactof="#:data[0].AccountID#">
            <td colspan='3' style='padding-left: 50px'>
                <div id="dvContacts" style="padding: 0 5px 0 5px; width: 70%">
                    <table class="nobordertable" style="width: 100%">
                        #$.each(data, function (index, item) {
                            #<tr id="${item.ID}">#
                               #<td style="width: 100px">${item.Type}</td>#
                               #<td>#
                                    if (item.CountryCode != '') {
                                        # ${item.CountryCode}-#
                                    }
                                    if (item.AreaCode != '') {
                                        # ${item.AreaCode}-#
                                    }
                                    #${item.PhoneNumber}#
                               #</td>#  
                               #<td style="text-align: right">#
                                    #<img userid="${item.AccountID}" id="${item.ID}" class="edit" src='@Url.Content("~/Images/edit.png")' title="Click to edit this contact information" /> #
                                    #<img userid="${item.AccountID}" id="${item.ID}" class="delete" src='@Url.Content("~/Images/delete.png")' title="Click to delete this contact information" />#
                               #</td>#
                            #</tr>#
                          }); 
                        #
                    </table>
                </div>
            <td>
        </tr>
    </script>
    
    <div style="width: 70%">
    @(
        Html.Kendo().ListView<DBASystem.SMSF.Contracts.ViewModels.AccountManagerCreateModel>(DBASystem.SMSF.Web.Common.SessionHelper.ListAccountManagers)
                    .Name("lstManagers")
                    .HtmlAttributes(new { @class = "nobordertable" })
                    .TagName("table")
                    .ClientTemplateId("template")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Action("GetAccountManagersPaged", "Entity"));
                        source.PageSize(10);
                    })
                    .Pageable()
    )
    </div>
}
else
{    
    <div class="error">No user added</div>
}

<script type="text/javascript">
    $(function () {
        if ($('#dvUsers input[type=radio]:checked').length > 0) {
            $('#PrimaryAccountMangerID').val($('#dvUsers input[type=radio]:checked').attr('id'));
        }

        $('#dvUsers .contactinfo').unbind('click').click(function () {
            var userId = $(this).attr("id");

            $.ajax({
                url: '@Url.Content("~/Entity/CreateContactInfo")',
                data: { userId: userId },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Add New Contact Info',
                        width: 600,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });

        $('.selectmanager').unbind('click').live('click', function () {
            var id = $(this).closest('tr').attr('id');
            var name = $(this).closest('tr').attr('name');

            $('#PrimaryAccountMangerID').val(id);
            setStatusBarMessage(name + ' is selected as a primary account manager');
        });

        $('#dvUsers .edit').unbind('click').click(function (e) {
            var id = $(this).attr('id');

            $.ajax({
                url: '@Url.Content("~/Entity/UpdateAccountManager")',
                data: { id: id },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Edit User',
                        width: 700,
                        height: 'auto',
                        modal: true
                    });
                }
            });

            e.preventDefault();
        });

        $('#dvUsers .delete').unbind('click').click(function (e) {
            if (confirm('Are you sure want to delete this record?')) {
                var id = $(this).attr('id');
                var tr = $(this).closest('tr');
                var contacttr = $('tr[contactof=' + id + ']');

                $(tr).slideUp('slow').remove();
                $(contacttr).slideUp('slow').remove();

                $.ajax({
                    url: '@Url.Content("~/Entity/DeleteAccountManager")',
                    data: { id: id },
                    type: "DELETE",
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        setStatusBarMessage('User deleted');
                    }
                });
            }

            e.preventDefault();
        });

        $('#dvContacts .delete').unbind('click').click(function (e) {
            if (confirm('Are you sure want to delete this record?')) {
                var id = $(this).attr('id');
                var userId = $(this).attr('userid');

                $('#dvUsers table tr[contactof=' + userId + '] #dvContacts tr[id=' + id + ']').slideUp('slow').remove();
                if ($('#dvUsers table tr[contactof=' + userId + '] #dvContacts tr').length == 0) {
                    $('#dvUsers table tr[contactof=' + userId + ']').slideUp('slow').remove();
                }

                $.ajax({
                    url: '@Url.Content("~/Entity/DeleteContactInfo")',
                    data: { id: id, userId: userId },
                    type: "DELETE",
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        setStatusBarMessage('Contact info deleted');
                    }
                });
                }

            e.preventDefault();
        });

        $('#dvContacts .edit').unbind('click').click(function (e) {
            var id = $(this).attr('id');
            var userId = $(this).attr('userid');

            $.ajax({
                url: '@Url.Content("~/Entity/UpdateContactInfo")',
                data: { id: id, userId: userId },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Edit Contact Info',
                        width: 600,
                        height: 'auto',
                        modal: true
                    });
                }
            });
            
            e.preventDefault();
        });
    });
</script>