﻿@using Kendo.Mvc.UI

@if (DBASystem.SMSF.Web.Common.SessionHelper.ListAddresses != null && DBASystem.SMSF.Web.Common.SessionHelper.ListAddresses.Any(a=> a.StatusID == DBASystem.SMSF.Contracts.Common.Status.Active))
{
    <script type="text/x-kendo-tmpl" id="tmpAddress">
        <div id="#:ID#" style="padding: 0 0 15px 25px">
            ${Type}
            #if (Default) {#
                <span style="font-style: italic">(Default)</span>
            # }#
            <span style="padding-left: 50px">
                <img id="#:ID#" class="edit" src='@Url.Content("~/Images/edit.png")' />
                <img id="#:ID#" class="delete" src='@Url.Content("~/Images/delete.png")' />
            </span>
            <div style="padding-top: 5px">    
                #var address = ""#
                #if (UnitNumber != null) {#
                    #address += UnitNumber #
                # }#
                #if (!isNullOrEmpty(StreetNumber)) {#
                    #address += isNullOrEmpty(UnitNumber) ? " " + StreetNumber : " / " + StreetNumber #
                #}#
                #if (!isNullOrEmpty(StreetName)) {#
                    #address += " " + StreetName #
                #}#
                #if (!isNullOrEmpty(StreetType)) {#
                    #address += " " + StreetType #
                #}#
                #if (!isNullOrEmpty(City)) {#
                    #address += isNullOrEmpty(address) ? City : ", " + City #
                #}#
                #if (!isNullOrEmpty(PostCode)) {#
                   # address += " " + PostCode#
                #}#
                #if (!isNullOrEmpty(State)) {#
                    #address += ", " + State#
                #}#
                #if (!isNullOrEmpty(Country)) {#
                    #address += ", " + Country#
                #}#
                #:address#
            </div>
        </div>
    </script>
    
    <div id="dvAddress" style="width: 70%">
    @(
        Html.Kendo().ListView<DBASystem.SMSF.Contracts.ViewModels.AddressCreateModel>(DBASystem.SMSF.Web.Common.SessionHelper.ListAddresses.OrderBy(a => (int)a.ID))
                    .Name("lstAddresses")
                    .HtmlAttributes(new { style = "padding-top: 10px" })
                    .TagName("div")
                    .ClientTemplateId("tmpAddress")
    )
    </div>
}
else
{
    <div class="error">No address added</div>
}
<br />

<script type="text/javascript">
    $(function () {
        $('.delete').unbind('click').click(function (e) {
            if (confirm('Are you sure want to delete this record?')) {
                var id = $(this).attr('id');

                $('#dvAddress div[id="' + id + '"]').slideUp('slow').remove();
                if ($('#dvAddress div').length == 1)
                    $('#dvAddress').html('<div class="error">No address added</div>');

                $.ajax({
                    url: '@Url.Content("~/Entity/DeleteAddress")',
                    data: { id: id },
                    type: "DELETE",
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        setStatusBarMessage('Address deleted');
                    }
                });
            }

            e.preventDefault();
        });

        $('.edit').unbind('click').click(function (e) {
            var id = $(this).attr('id');

            $.ajax({
                url: '@Url.Content("~/Entity/UpdateAddress")',
                data: { id: id },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Edit Address',
                        width: 900,
                        height: 'auto',
                        modal: true
                    });
                }
            });

            e.preventDefault();
        });
    });
</script>