﻿@{    
    var Model = DBASystem.SMSF.Web.Common.SessionHelper.ListAccountManagers.Where(a => a.ID == (int)ViewBag.UserID).FirstOrDefault().ListContactInfo;
}
<table class="table" style="width: 100%">
    <tr>
        <th>Contact Type</th>
        <th>Country Code</th>
        <th>Area Code</th>
        <th>Phone Number</th>
        <th style="width: 10%"></th>
    </tr>
@if(Model != null && Model.Any())
{
    foreach (var item in Model) {
        <tr class="contactinfo" id="@item.ID" userid="@item.AccountID">
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td style="text-align: center">
                @if(item.ID < 0)
                {<img id="@item.ID" class="edit" src='@Url.Content("~/Images/edit.png")' title="Click to edit this contact" userid="@item.AccountID" /> <img id="@item.ID" class="delete" src='@Url.Content("~/Images/delete.png")' title="Click to delete this contact" userid="@item.AccountID" />}
                else
                {<img src='@Url.Content("~/Images/edit.png")' title="Cannot edit this contact" /> <img src='@Url.Content("~/Images/delete.png")' title="Cannot delete this contact" />}
            </td>
        </tr>
    }
}
else
{
    <tr><td colspan="5"><div class="error">No contact info added</div></td></tr>
}
</table>

<script type="text/javascript">
    $(function () {
        $('#dvContacts .delete').unbind('click').click(function (e) {
            if (confirm('Are you sure want to delete this record?')) {
                var id = $(this).attr('id');
                var userId = $(this).attr('userid');

                $('#dvContacts table tr[id=' + id + ']').slideUp('slow').remove();
                if ($('#dvContacts .contactinfo').length == 0)
                    $('#dvContacts table').append('<tr><td colspan="5"><div class="error">No contact information added</div></td></tr>');

                $.ajax({
                    url: '@Url.Content("~/Entity/DeleteContactInfo")',
                    data: { id: id, userId: userId },
                    type: "DELETE",
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                    }
                });
            }

            e.preventDefault();
        });

        $('#dvContacts .edit').unbind('click').click(function (e) {
            var id = $(this).attr('id');
            var userId = $(this).attr('userid');

            $.ajax({
                url: '@Url.Content("~/Entity/UpdateContactInfo")',
                data: { id: id, userId: userId },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Edit Contact Info',
                        width: 600,
                        height: 'auto',
                        modal: true
                    });
                }
            });

            e.preventDefault();
        });
    });
</script>