﻿@model DBASystem.SMSF.Contracts.ViewModels.EntityCreateModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@{
    ViewBag.Title = Model.ID == 0 ? "Create " + Model.EntityType.ToString() : "Update " + Model.EntityType.ToString();
    var action = Model.ID == 0 ? "Create" : "Edit";

    if (Model.EntityType == EntityTypes.Entity)
    {
        Model.ListCategories = new DBASystem.SMSF.Web.Controllers.EntityController().GetEntityCategories(Model.ID == 0 ? (int?)null : Model.ID);
    }
}

<h5>@ViewBag.Title</h5>
@using (Html.BeginForm(action, "Entity", FormMethod.Post, new { id = "frmCreateEntity" }))
{
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ParentID)
    @Html.HiddenFor(model => model.PrimaryAccountMangerID)
    @Html.HiddenFor(model => model.EntityType)

    <table style="width: 100%" class="nobordertable">
        @if (Model.EntityType == EntityTypes.Entity)
        {
        <tr>
            <td>Entity Type</td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.CategoryID).BindTo(Model.ListCategories).OptionLabel("-- Select --").HtmlAttributes(new { style = "width: 180px" })
                @Html.ValidationMessageFor(model => model.CategoryID)
            </td>
        </tr>
        }
        <tr>
            <td style="width: 20%">Name</td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { placeholder = Model.EntityType.ToString() + " Name" })
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        @if (Model.EntityType != EntityTypes.Group)
        {
        <tr>
            <td>ABN</td>
            <td>@Html.TextBoxFor(model => model.ABN, new { placeholder = "Australian Business Number" })</td>
        </tr>
        <tr>
            <td>ACN</td>
            <td>@Html.TextBoxFor(model => model.ACN, new { placeholder = "Australian Company Number" })</td>
        </tr>
        <tr>
            <td>GST</td>
            <td>@Html.TextBoxFor(model => model.GST, new { placeholder = "Goods and Services Tax" })</td>
        </tr>
        <tr>
            <td>TFN</td>
            <td>@Html.TextBoxFor(model => model.TFN, new { placeholder = "Tax File Number" })</td>
        </tr>
        }
        <tr>
            <td>Note</td>
            <td>@Html.TextAreaFor(model => model.Note, new { style = "width: 400px; height: 60px", placeholder = "Note" })</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationSummary(true)
            </td>
        </tr>
    </table>    
    <div id="toolbar">
        <input type="button" value="Cancel" id="btnCancel" />
        <input type="submit" value="@if (Model.ID == 0)
                                    {<text>Save</text>}
                                    else
                                    {<text>Update</text>}" id="btnSave" />
        <div id="dvloader" style="display: none; color: white">
            <img src="~/Images/loader1.gif" /> Saving . . .
        </div>
    </div>
}
@if (Model.EntityType != EntityTypes.Group)
{
<hr />
<h5>Addresses <img src='@Url.Content("~/Images/add.png")' class="add addaddress" title="Click to add new address" /></h5>
<div id="dvAddresses" style="padding: 5px 0 0 0">
    @Html.Partial("_ListAddress")
</div>
}
<hr />
<h5>
    Users
    @if(CommonFunction.IsOptionAllowed(Option.CreateUser))
    {<img src='@Url.Content("~/Images/add.png")' class="add adduser" title="Click to add new user" />}
</h5>
<div id="dvHelp">Select primary account manager or create new.</div>
<div id="dvUsers" style="padding: 5px 0 40px 0">
    <img src='@Url.Content("~/Images/loader.gif")' /> Loading users . . .
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $.validator.setDefaults({ ignore: "" });

        $('#btnCancel').click(function () {
            if ('@Model.ID' == 0)
                window.location.href = '@Url.Content("~/Home/Index")';
            else
                window.location.href = '@Url.Content("/Entity/Index/")' + '@Model.ID';
        });

        $('.addaddress').live('click', function () {
            $.ajax({
                url: '@Url.Content("~/Entity/CreateAddress")',
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Add New Address',
                        width: 900,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });

        $('.adduser').click(function () {
            var entityId = ($('#ParentID').val() == '' && $('#ID').val() != '') ? $('#ID').val() : $('#ParentID').val();

            $.ajax({
                url: '@Url.Content("~/Entity/CreateAccountManager")',
                data: { entityId: entityId },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Add New User',
                        width: 700,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        loadUser();

        $('#btnAddress').click(function () { loadAddress(); });
        $('#btnUser').click(function () { loadUser(); });

        $('#btnSave').click(function () {
            if ($('#frmCreateEntity').valid()) {
                $('#toolbar input').hide();
                $('#toolbar #dvloader').show();
            }
        });
    });

    function loadAddress() {
        $.ajax({
            url: '@Url.Content("~/Entity/GetAddress")',
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#dvAddresses').html(data);
            }
        });
    }

    function loadUser() {
        $.ajax({
            url: '@Url.Content("~/Entity/GetAccountManagers")',
            data: { parentEntityId: $('#ParentID').val(), primaryId: $('#PrimaryAccountMangerID').val() },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#dvUsers').html(data);
            }
        });
    }
</script>