﻿@model DBASystem.SMSF.Contracts.ViewModels.EntityModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common

@{
    ViewBag.Title = Model.Name;
}
<script src='@Url.Content("~/Scripts/splitter.js")'></script>
<link href="~/Content/splitter.css" rel="stylesheet" />

<h5>@Model.Name</h5>

<div id="toolbar">
    <input id="btnCancel" type="button" value="Cancel" />
    @if(CommonFunction.IsOptionAllowed(Option.DeleteEntity))
    {<input id="btnDelete" type="button" value="Delete" />}
    @if (CommonFunction.IsOptionAllowed(Option.UpdateEntity))
    {<input id="btnEdit" type="button" value="Edit" />}    
    <input id="btnClient" type="button" value="Clients" />
    <input id="btnFund" type="button" value="Funds" />
</div>
<div id="splitter">
    <div id="TopPane">
    </div>
    <div id="BottomPane">
        @Html.Partial("_Detail")
        <br />
        <br />
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#splitter").splitter({ type: 'h' });

        $.ajax({
            url: '@Url.Content("~/Entity/DetailList")',
            data: { id: '@Model.ID' },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#TopPane').html(data);
            }
        });

        $('#btnClient').click(function () { window.location.href = '@Url.Content("~/Entity/ListClients/")' + '@Model.ID'; });

        $('#btnFund').click(function () { window.location.href = '@Url.Content("~/Entity/ListFunds/")' + '@Model.ID'; });

        $('#btnDelete').click(function () {
            if (confirm("Are you sure want to delete this record?")) {
                $('#toolbar input').hide();
                $('#toolbar #dvloader').show();
                window.location.href = '@Url.Content("~/Entity/Delete/")' + '@Model.ID';
            }
        });

        $('#btnEdit').click(function () {
            if ('@Model.EntityType' == '@EntityTypes.Group')
                window.location.href = '@Url.Content("~/Entity/EditGroup/")' + '@Model.ID';
            else
                window.location.href = '@Url.Content("~/Entity/Edit/")' + '@Model.ID';
        });

        $('#btnCancel').click(function () {
            window.location.href = '@Url.Content("~/Home/Index/")';
        });
    });

    function loadDetail(id, type) {
        var loader = '<div class="loading"><img src="' + '@Url.Content("~/images/loader.gif")' + '" /> Loading . . .</div>';
        $('#BottomPane').empty().html(loader);

        var url = '@Url.Content("~/Entity/Detail")';
        if (type == 'User') {
            url = '@Url.Content("~/Entity/DetailAccountManager")';
        }

        $.ajax({
            url: url,
            data: { id: id },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#BottomPane').empty().html(data);
            }
        });
    }
</script>