﻿@model IEnumerable<DBASystem.SMSF.Contracts.ViewModels.EntityModel>
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common

@{
    var type = (EntityTypes)ViewBag.EntityType;
    ViewBag.Title = type.GetDescription();
}

<h5>
    @type.GetDescription()
    @if (type == EntityTypes.Client){
        if(CommonFunction.IsOptionAllowed(Option.AddClient))
        {<img src='@Url.Content("~/Images/add.png")' class="add adduser" title="Click to add new client" />}
    }
    else if (type == EntityTypes.Fund)
    {
        if(CommonFunction.IsOptionAllowed(Option.AddFund))
        {<img src='@Url.Content("~/Images/add.png")' class="add adduser" title="Click to add new fund" />}
    }
</h5>

<table style="width: 100%" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width: 15%">
            @Html.DisplayNameFor(model => model.ABN)
        </th>
        <th style="width: 25%">
            Primary Account Manager
        </th>
        <th style="width: 7%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABN)
        </td>
        <td>
            @if (item.PrimaryAccountManger != null)
            {
                <text>@item.PrimaryAccountManger.FirstName @item.PrimaryAccountManger.LastName</text>
            }
        </td>
        <td style="text-align: center">
            <img id="@item.ID" class="edit" src='@Url.Content("~/Images/edit.png")' />
            <img id="@item.ID" class="delete" src='@Url.Content("~/Images/delete.png")' />
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(function () {
        $('.edit').click(function () {
            if ('@type' == '@EntityTypes.Client')
                window.location.href = '@Url.Content("~/Entity/EditClient/")' + $(this).attr('id');
            else if ('@type' == '@EntityTypes.Fund')
                window.location.href = '@Url.Content("~/Entity/EditFund/")' + $(this).attr('id');
        });

        $('.delete').click(function () {
            if (confirm('Are you sure want to delete this records?'))
                window.location.href = '@Url.Content("~/Entity/Delete/")' + $(this).attr('id');
        });
    });
</script>
