﻿@model string
<style>
    .k-upload-button input {
        z-index: 10000;
    }
</style>
<div id="dvDocuments">
    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>Report Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script id="itemTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td><a class="reportTemplate" href="#" data-name="${Name}">${Name}</a></td>
    </tr>
</script>

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>

<script>
    var reportFolder = '@Model';
    $(function () {
        
        getDocuments(reportFolder);
        $('.reportTemplate').live('click', function () {
            window.open('@Url.Content("~/Reports/GenrateAuditReports/?reportName=")' + $(this).attr('data-name') + '&folderPath=' + reportFolder + '&jobId=' +'@ViewBag.JobId');
            
        });
    });

    function getDocuments(folder) {
        
        $('#dvDocuments table tbody').empty().append('<tr><td colspan="3"><img src=' + '@Url.Content("~/images/loader.gif")' + ' /> Loading ...</td></tr>');

        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetFiles")',
            data: { folderPath: folder },
            type: "GET",
            cache: false,
            error: function (error) {
                $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No Reports found</td></tr>');
                //window.location.href = '@Url.Content("~/Error/Index/")';
            },
            success: function (data) {
                if (data == null) {
                    $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">Unable get Reports , please contact your administrator.</td></tr>');
                }
                else if (data.length > 0) {
                    var t = $('#itemTemplate').tmpl(data);
                    $('#dvDocuments table tbody').empty().append(t);
                }
                else {
                    $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No Reports found</td></tr>');
                }
                  
            }
        });
    }

    function setDate(date) {
        return $.dateTime(date);
    }
</script>

<style>
    .k-upload-button {
        width: 100px !important;
    }
</style>