﻿@using Kendo.Mvc.UI

<div id="parameterList1" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewAccountsReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px" >
            <h2 id="parameterTitle">Account Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%;">
                <tr>
                    <td style="width: 5%">Firm</td>
                    <td style="width: 95%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">ABN</td>
                    <td style="width: 10%">@Html.TextBox("ABN", "", new { style = "width:60%" })</td>
                </tr>
                <tr>
                    <td style="width: 5%">ACN</td>
                    <td style="width: 10%">@Html.TextBox("ACN", "", new { style = "width:60%" })</td>
                </tr>
                <tr>
                    <td style="width: 5%">GST</td>
                    <td style="width: 10%">@Html.TextBox("GST", "", new { style = "width:60%" })</td>
                </tr>
                <tr>
                    <td style="width: 5%">TFN</td>
                    <td style="width: 10%">@Html.TextBox("TFN", "", new { style = "width:60%" })</td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div id="parameterList2" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewAccountManagementReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">Account Management Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                <tr>
                    <td style="width: 5%">Firm</td>
                    <td style="width: 95%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDateA").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDateA").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>



<div id="parameterList3" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewJobDetialsReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">Job Detials Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                <tr>
                    <td style="width: 20%">Firm</td>
                    <td style="width: 80%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Fund</td>
                    <td style="width: 10%">@Html.DropDownList("Funds", "Select Fund")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Users</td>
                    <td style="width: 10%">@Html.DropDownList("AccountManagers", "Select User")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Process State</td>
                    <td style="width: 10%">@Html.DropDownList("JobStatus", "Select Process State")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDate").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDate").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div id="parameterList4" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewJobSummaryReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">Job Summary Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                <tr>
                    <td style="width: 20%">Firm</td>
                    <td style="width: 80%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Fund</td>
                    <td style="width: 10%">@Html.DropDownList("Funds", "Select Fund")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Process State</td>
                    <td style="width: 10%">@Html.DropDownList("JobStatus", "Select Process State")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDateS").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDateS").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div id="parameterList5" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewUsersManagementReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">User Management Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                <tr>
                    <td style="width: 5%">Firm</td>
                    <td style="width: 10%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDateU").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDateU").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div id="parameterList6" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewFundManagementReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">Fund Management Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                <tr>
                    <td style="width: 5%">Firm</td>
                    <td style="width: 95%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Fund</td>
                    <td style="width: 10%">@Html.DropDownList("Funds", "Select Fund")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDateF").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDateF").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div id="parameterList7" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewFirmManagementReport", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">Firm Management Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                <tr>
                    <td style="width: 5%">Firm</td>
                    <td style="width: 95%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Fund</td>
                    <td style="width: 10%">@Html.DropDownList("Funds", "Select Fund")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDateFirm").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDateFirm").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div id="parameterList8" style="display: none;" class="dvReportParameter">
    @using (Html.BeginForm("ViewJobGraphReports", "Reports", FormMethod.Post))
    {
        <div style="padding: 0 0 15px 25px">
            <h2 id="parameterTitle">Job Summary Graph Report Parameters</h2>
            <table id="reportList" class="nobordertable" style="width: 100%">
                @*<tr>
                    <td style="width: 5%">Firm</td>
                    <td style="width: 95%">@Html.DropDownList("Firms", "Select Firm")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Account</td>
                    <td style="width: 10%">@Html.DropDownList("Accounts", "Select Account")</td>
                </tr>
                <tr>
                    <td style="width: 5%">Fund</td>
                    <td style="width: 10%">@Html.DropDownList("Funds", "Select Fund")</td>
                </tr>
                <tr>
                    <td style="width: 5%">From</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("StartDateFirm").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%">To</td>
                    <td style="width: 10%">
                        @(Html.Kendo().DatePicker().Name("EndDateFirm").Min(new DateTime(1900, 1, 1)).Value(DateTime.Now))
                    </td>
                </tr>*@
                <tr>
                    <td style="width: 5%">&nbsp;</td>
                    <td style="float: left; text-align: center">
                        <input id="openReport" type="submit" value="Run Report" />
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
