﻿@using DBASystem.SMSF.Contracts.Common;
@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsive.cshtml";
    ViewBag.Title = "Reports";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}
<style>

    .leftcell {
        border-left: 0pt solid;
    }

    .rightcell {
        border-right: 0pt solid;
    }

    tr.reportContainer:hover td {
        background: #71B1D1;
        color: white;
        cursor: pointer;
    }

    tr.reportContainer td {
        border-bottom: 1px solid rgb(208, 208, 208) !important;
        padding: 10px 5px 10px 15px;
        margin-top: 0px;
        background: rgb(237, 239, 239);
    }
</style>
<div id="contentmain">
    <div id="contentinner">
        <h2>Reports</h2>
        <div id="detailBody">
            <table style="width:100%">
                <tr>
                    <td style="width:60%;vertical-align: top">
                        <div id="dvReports" style="padding: 0 0 1px 0; border: 1px solid rgb(208, 208, 208) !important; border-bottom: 0 solid black !important; "></div>
                    </td>
                    <td style="vertical-align:top">
                        @Html.Partial("_ReportParameters")
                        <div id="dvParameters"></div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<script id="reportTemplete" type="text/x-jquery-tmpl">
    <h4 class="reportCategory" data-categoryid="${ID}" style="cursor: pointer; border-bottom: 1px solid rgb(208, 208, 208) !important; padding: 10px 0 10px 15px; margin: 0px 0!important; "><span class="icon-chevron-right" style="font-size:9px;"></span> ${Category}</h4>
    <table id="${ID}" class="bordertable" style="width:100%;display: none">
        {{each(index, report) Reports}}
        <tr class="reportContainer" data-title="${ReportName}" data-reportid="${ReportID}">
            <td class="leftcell" style="width: 1px; white-space: nowrap;vertical-align:top;"><b>${ReportName}</b></td>
            <td class="rightcell">&nbsp;${Description}&nbsp;</td>
        </tr>
        {{/each}}
    </table>
   
</script>
<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<script>
    
    var reportArray = [];
  
    $(function () {

        var accountReports = {
            ID: "accountReports",
            Category: "Account Reports",
            Reports: [
                { ReportID: "1", ReportName: "Accounts Report", Description: "Accounts Report Description" },
                { ReportID: "2", ReportName: "Account Management Report", Description: "Account Management Report Description" }
            ]
        };
        reportArray.push(accountReports);

        var jobReports = {
            ID: "jobReports",
            Category: "Job Reports",
            Reports: [
                { ReportID: "3", ReportName: "Job Processing Details Report", Description: "Job Processing Details Report Description" },
                { ReportID: "4", ReportName: "Job Processing Summary Report", Description: "Job Processing Summary Report Description" },
                { ReportID: "8", ReportName: "Job Summary Report (Graph)", Description: "Job Summary Report (Graph) Description" }
            ]
        };
        reportArray.push(jobReports);

        var userReports = {
            ID: "userReports",
            Category: "User Reports",
            Reports: [
                { ReportID: "5", ReportName: "Users Management Report", Description: "Users Management Report Description" }
            ]
        };
        reportArray.push(userReports);
        
        var fundReports = {
            ID: "fundReports",
            Category: "Fund Reports",
            Reports: [
                { ReportID: "6", ReportName: "Fund Management Report", Description: "Fund Management Report Description" }
            ]
        };
        reportArray.push(fundReports);
        
        var firmReports = {
            ID: "firmReports",
            Category: "Firm Reports",
            Reports: [
                { ReportID: "7", ReportName: "Firm Management Report", Description: "Firm Management Report Description" }
            ]
        };
        reportArray.push(firmReports);
        
        var reportHtml = $('#reportTemplete').tmpl(reportArray);
        $('#dvReports').empty().append(reportHtml);
        $('#accountReports').show();
        $(".reportLink").live("click", function () {
            $("#parameterTitle").empty().html($(this).data("title")+ " Parameters ");
        });

        $(".reportCategory").live("click", function () {
            $("#" + $(this).data("categoryid")).toggle();
        });
        
        $("tr.reportContainer").click(function () {
            $(".dvReportParameter").hide();
            $("#parameterList" + $(this).data("reportid")).show();
        });
        
    });
</script>
