﻿/*Start Audit Procx*/

.TabContentsTableContainer tbody {
    width: 100%;
}


#JobMainMenu {
    margin-top: 40px;
}

#JobMainMenuList {
    list-style: none;
    color: #fff;
    margin-left: 0;
}

    #JobMainMenuList li a {
        text-decoration-style: none;
        color: #fff;
    }


#WorkPaperTabs {
    list-style: square;
    color: #fff;
    margin-left: 17px;
}

    #WorkPaperTabs li, #JobMainMenuList li {
        margin-bottom: 10px;
    }

        #WorkPaperTabs li a {
            text-decoration-style: none;
            color: #fff;
        }

            #WorkPaperTabs li a:hover {
                text-decoration-style: none;
            }

.JobMainMenuActive, .JobMainMenuActive a {
    font-weight: bold;
    color: #fff;
}

.ui-widget-header {
    border-bottom: solid 1px #72b1d1;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #72b1d1;
        background: #72b1d1;
        color: #fff;
    }


.ui-tabs-selected a {
    color: #000 !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #fff;
    text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #fff;
    color: #000 !important;
}

.ui-tabs .ui-tabs-panel {
    height: 220px;
    overflow: auto;
}

.ui-widget-content {
    border: 0;
}

#tabContainer .k-link, #tabContainer .k-link:hover {
    text-decoration: none;
    color: #fff !important;
}

#tabContainer li[role='tab'] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-right: 2px;
}


/*Tabs on mouse Over*/
.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
    background-color: #fff;
    border-color: #71B1D1;
    color: #3c454f !important;
}

    .k-state-active .k-link {
        color: #3c454f !important;
    }

/*For Popup Title*/
.ui-dialog .ui-dialog-titlebar {
    margin-bottom: 0;
}


.contents-details {
    min-width: 500px;
    display: none;
    background-color: #ebebeb;
    overflow: auto;
    border-left: 6px solid #71B1D1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.GeneralHeading {
    font-size: 18px;
    margin-bottom: 4px;
}

.vacant {
    padding-top: 10px;
    padding-bottom: 10px;
}

.FundGridHeading, .JobGridHeading {
    font-size: 16px;
    padding-bottom: 4px;
    font-weight: bold;
}

.Ico-Def {
    font-size: 17px;
}

    .Ico-Def:hover {
        color: #71B1D1;
    }

.proc-container-hover:hover {
    background-color: #ebebeb;
}


.proc-container-active {
    background-color: #ebebeb;
}

.proc-container {
    padding: 4px 0 4px 4px;
    border-bottom: solid 1px #bbb;
    line-height: 23px;
}


.toggle-procedure-contents {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 8px;
}

.toggle-child-procedures {
    cursor: pointer;
    display: inline-block;
}

.child-all {
    /*display: none;*/
    /*request by client*/
}

.RC {
    overflow: auto;
    clear: both;
}

.fa {
    cursor: pointer;
}

.proc-border-lr {
    border-left: solid 1px #bbb;
}

.proc-border-tb {
    border-top: solid 1px #bbb;
}

.proc-col-pad-lr {
    padding-left: 1%;
    padding-right: 1%;
}

.proc-div-pad-lr {
    padding-left: 4px;
    padding-right: 4px;
}

.no-content {
    font-weight: bold;
    padding: 10px 0;
}

.procedure-text {
    line-height: 20px;
    padding-left: 4px;
    padding-right: 4px;
}

.TabContents {
    min-height: 330px;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.debug {
    border: solid 1px red;
}

.proc-head-style {
    background-color: #71B1D1 !important;
    font-weight: bold;
    color: #fff;
    height: 30px;
}

#JobInfo .form-group {
    margin-bottom: 4px !important;
}

.font-bold {
    font-weight: bold;
}

.statement-fp-total {
    font-weight: bold;
    border-top: solid 1px #000;
    background-color: #F9EDBE;
}


.table-audit-procedure tr {
    line-height: 30px;
    vertical-align: top;
}

.table-audit-procedure {
    margin-bottom: 10px;
    display: none;
    width: 100%;
    overflow: visible !important;
}


#WorkPaperTabs {
    display: none;
}


.FixInput input[type=text], .FixInput textarea {
    margin-bottom: 0 !important;
    width: 80%;
}

/*MY  CUSTOM*/
.RC {
    clear: both;
    overflow: auto;
}

.FL {
    float: left;
}

.FR {
    float: right;
}

.FB {
    font-weight: bold;
}

/*For Job Header*/
.job-header {
    clear: both;
    overflow: auto;
}

    .job-header .job-id {
        float: left;
        width: 200px;
    }

    .job-header .job-title {
        font-size: 14px;
        margin-bottom: 10px;
    }

.workpaper-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 42px;
}


td[colspan] {
    padding: 0 !important;
}

.WorkPaperManage {
    
}

.WorkPaperManage .ManageBar {
    margin: 4px;
    padding: 4px 5px 3px 5px;
    border-radius: 4px;
    background-color: #71B1D1;
    color: #ffffff;
    display: block;
    max-width: 64px;
    float: right;
}

.WorkPaperManage .ManageBar .fa:hover {
    color: #000;
}

.WorkPaperManage .ManageBar .fa {
    font-size: 17px;
}

.WorkPaperManageView {
    padding:4px;
}