﻿.big_icons {
    float: left;
    max-width: auto;
    width:100%;

}
   .big_icons a.tasks { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/tasks_tick.png) no-repeat center 35px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.tasks:hover { background:#3f8db1 url(images/tasks_tick.png) no-repeat center 40px; line-height:175px; text-decoration:none; 
}

.big_icons a.calendar { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0; color:#FFFFFF; background:#71b1d1 url(images/calendar.png) no-repeat center 35px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.calendar:hover { background:#3f8db1 url(images/calendar.png) no-repeat center 40px; line-height:175px; text-decoration:none; }

.big_icons a.activity { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0; color:#FFFFFF; background:#71b1d1 url(images/activity.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.activity:hover { background:#3f8db1 url(images/activity.png) no-repeat center 50px; line-height:175px; text-decoration:none; }

.big_icons a.invoices { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0; color:#FFFFFF; background:#71b1d1 url(images/invoices.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.invoices:hover { background:#3f8db1 url(images/invoices.png) no-repeat center 50px; line-height:175px; text-decoration:none;  }

.big_icons a.messages { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0; color:#FFFFFF; background:#71b1d1 url(images/messages.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.messages:hover { background:#3f8db1 url(images/messages.png) no-repeat center 50px; line-height:175px; text-decoration:none;  }

.big_icons a.processes { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0; color:#FFFFFF; background:#71b1d1 url(images/activity.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.processes:hover { background:#3f8db1 url(images/activity.png) no-repeat center 50px; line-height:175px; text-decoration:none; }

.big_icons a.processes div.count {
width: 1.5%;
height: 25px;
float: left;
margin: 0px 8px 10px 0;
color: #FFFFFF;
background:red;
position: absolute;
text-align: center;
line-height: 21px!important;
font-size: 14px;
text-decoration: none;
top: 92px;
}

.big_icons a.timesheet { width:9%; height:110px; display:inline-block; float:left; margin:0px 8px 10px 0; color:#FFFFFF; background:#71b1d1 url(images/timesheet.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.timesheet:hover { background:#3f8db1 url(images/timesheet.png) no-repeat center 50px; line-height:175px; text-decoration:none;  }
    .big_icons a {
        transition: background 0.5s, line-height 0.5s;
        -moz-transition: background 0.5s, line-height 0.5s;
        -webkit-transition: background 0.5s, line-height 0.5s;
        -o-transition: background 0.5s, line-height 0.5s;
    }
 /*@media (min-width: 1920px) {
   .big_icons a.tasks { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 0px; color:#FFFFFF; background:#71b1d1 url(images/tasks_tick.png) no-repeat center 35px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.tasks:hover { background:#3f8db1 url(images/tasks_tick.png) no-repeat center 40px; line-height:175px; text-decoration:none; }

.big_icons a.calendar { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 10px; color:#FFFFFF; background:#71b1d1 url(images/calendar.png) no-repeat center 35px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.calendar:hover { background:#3f8db1 url(images/calendar.png) no-repeat center 40px; line-height:175px; text-decoration:none; }

.big_icons a.activity { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 10px; color:#FFFFFF; background:#71b1d1 url(images/activity.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.activity:hover { background:#3f8db1 url(images/activity.png) no-repeat center 50px; line-height:175px; text-decoration:none; }

.big_icons a.invoices { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 10px; color:#FFFFFF; background:#71b1d1 url(images/invoices.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.invoices:hover { background:#3f8db1 url(images/invoices.png) no-repeat center 50px; line-height:175px; text-decoration:none;  }

.big_icons a.messages { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 10px; color:#FFFFFF; background:#71b1d1 url(images/messages.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.messages:hover { background:#3f8db1 url(images/messages.png) no-repeat center 50px; line-height:175px; text-decoration:none;  }

.big_icons a.processes { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 10px; color:#FFFFFF; background:#71b1d1 url(images/activity.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.processes:hover { background:#3f8db1 url(images/activity.png) no-repeat center 50px; line-height:175px; text-decoration:none; }
.big_icons a.processes div2{position: relative; top: -145px; left: 76px; width: 20px; padding: 1px; text-align: center; background-color: #d91717; font-size: 70%; color: white; line-height: 10px; } 
.big_icons a.processes div.count{position: relative; bottom: 150px; left: 80px; width: 20px; padding: 1px; text-align: center; background-color: #d91717; font-size: 70%; color: white; line-height: 19px; display:block; } 
.big_icons a.timesheet { width:158px; height:158px; display:inline-block; float:left; margin:0px 8px 10px 10px; color:#FFFFFF; background:#71b1d1 url(images/timesheet.png) no-repeat center 45px; text-align:center; line-height:180px; font-size:16px; text-decoration:none; }
.big_icons a.timesheet:hover { background:#3f8db1 url(images/timesheet.png) no-repeat center 50px; line-height:175px; text-decoration:none;  }
    .big_icons a {
        transition: background 0.5s, line-height 0.5s;
        -moz-transition: background 0.5s, line-height 0.5s;
        -webkit-transition: background 0.5s, line-height 0.5s;
        -o-transition: background 0.5s, line-height 0.5s;
    }
}  
 
 
     */


.pane1 {
    float: left;
    width: 50%;
    margin:0px 18px 0px 0px;
    min-width: 200px;
}

.pane2 {
    float: left;
    width: 47%;
    margin: 0px 0px 0px 0px;
    min-width: 200px;
}

.full_pane {
    float: left;
    width: 100%;
    margin: 0px 0px 20px 5px;
}

.tasks_calendar {
    height: 40px;
    background: #519bbd;
    color: #FFFFFF;
    padding: 5px 0 5px 5px;
    float: left;
    width: 100%;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}
    .tasks_calendar .content {
        margin: 5px 0px 0px -5px;
        float: left;
        width: 101.1%;
        height: 300px!important;
    }
    .tasks_calendar .header {
    }
        .tasks_calendar .header .white_btns {
            background: #FFF;
            line-height: 25px;
            margin: 2px 5px 0px 0px;
            border: 1px solid #519bbd;
            padding: 0px 10px 0px 10px;
            display: inline-block;
            font-size: 13px;
            float: right;
            color: #519bbd;
            text-decoration: none;
            transition: background 0.5s, color 0.5s;
            -moz-transition: background 0.5s, color 0.5s;
            -webkit-transition: background 0.5s, color 0.5s;
            -o-transition: background 0.5s, color 0.5s;
        }
            .tasks_calendar .header .white_btns:hover {
                background: #3c454f;
                color: #FFF;
                text-decoration: none;
            }


/* Home Job */
.home_jobs {
    height: 40px;
    background: #519bbd;
    color: #FFFFFF;
    padding: 5px 0 5px 5px;
    float: left;
    width: 100%;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}
  
    .home_jobs .header {
        padding-right:10px;
        margin: 5px 0;
    }
        .home_jobs .header .white_btns {
            background: #FFF;
            line-height: 25px;
            margin: 2px 5px 0px 0px;
            border: 1px solid #519bbd;
            padding: 0px 10px 0px 10px;
            display: inline-block;
            font-size: 13px;
            float: right;
            color: #519bbd;
            text-decoration: none;
            transition: background 0.5s, color 0.5s;
            -moz-transition: background 0.5s, color 0.5s;
            -webkit-transition: background 0.5s, color 0.5s;
            -o-transition: background 0.5s, color 0.5s;
        }
            .home_jobs .header .white_btns:hover {
                background: #3c454f;
                color: #FFF;
                text-decoration: none;
            }

          .home_jobs .header .progress {
              font-size:12px!important;
             margin-top:5px;
            }

              .home_jobs .content {
        margin: 6px 0px 60px -5px;
        float: left;
        font-size: 13px;
        color: #535353;
        width: 100.4%;
        border: 1px solid #519bbd;
        height: 250px!important;
        /*overflow-y: hidden;*/
    }

    .home_jobs th {
        background: none!important;
        border-bottom: 1px solid #dadada;
        border-right: 1px solid #dadada;
        padding: 5px;
        text-align: center;
    }

       .home_jobs .content .list ul {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }
        .home_jobs .content .list ul li {
            line-height: 35px;
            border-bottom: 1px solid #dadada;
            list-style-type: none;
            display: block;
            width: 98.5%;
            padding-left: 10px;
        }

        .home_jobs .content a {
            color: #519bbd;
        }



.notifications {
    height: 40px;
    background: #519bbd;
    color: #FFFFFF;
    padding: 5px;
    float: left;
    width: 45%;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    position:absolute;
}
    .notifications .content {
        margin: 10px 0px 0px -5px;
        float: left;
        font-size: 13px;
        color: #535353;
        width: 101.2%;
        border: 1px solid #519bbd;
        height: 250px;
        overflow-y: auto!important;
        overflow-x: hidden;
    }
        .notifications .content a {
            color: #519bbd;
        }
            .notifications .content a:hover {
                color: #468847;
                text-decoration: underline;
            }
    .notifications .header {
    }
        .notifications .header select {
            font-size: 12px;
            float: right;
            margin: 5px 5px 0px 0px;
        }
        .notifications .header .btn {
            background: #FFF !important;
            height: 20px !important;
            line-height: 20px !important;
            font-size: 12px !important;
            color: #000 !important;
            border-radius: 0px !important;
            width: 100px !important;
        }
            .notifications .header .btn span {
                top: 0px !important;
            }
            .notifications .header .btn .caret {
                border-bottom-color: #666 !important;
                border-top-color: #666 !important;
                border-width: 5px !important;
            }
        .notifications .header .dropdown-arrow {
        }
        .notifications .header .mbn {
            float: right !important;
            margin: 5px 5px 0px 0px;
        }
        .notifications .header .dropdown-menu {
            background: #e9e9e9 !important;
            border-radius: 0px !important;
        }
            .notifications .header .dropdown-menu li {
                color: #000 !important;
                font-size: 12px !important;
                border-radius: 0px !important;
            }
                .notifications .header .dropdown-menu li dt {
                    font-weight: 700 !important;
                }
                .notifications .header .dropdown-menu li a {
                    border-radius: 0px !important;
                    background: #519bbd !important;
                    color: #FFF !important;
                }
                    .notifications .header .dropdown-menu li a:hover {
                        background: #3c454f !important;
                    }
        .notifications .header .white_btns {
            background: #FFF;
            line-height: 30px;
            margin: 1px 0px 0px 0px;
            border: 1px solid #519bbd;
            padding: 0px 10px 0px 10px;
            display: inline-block;
            font-size: 13px;
            float: right;
            color: #519bbd;
        }
            .notifications .header .white_btns:hover {
                background: #3c454f;
                color: #FFF;
            }
    .notifications .content ul {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }
        .notifications .content ul li {
            line-height: 35px;
            border-bottom: 1px solid #dadada;
            list-style-type: none;
            display: block;
            width: 98.5%;
            padding-left: 10px;
        }

.calendar_table {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    font-size: 11px;
    color: #666;
    margin: 10px 0px 10px 0px;
}
    .calendar_table td {
        border-bottom: 1px solid #dadada;
        border-right: 1px solid #dadada;
        padding: 5px;
        text-align: center;
    }
    .calendar_table th {
        background: #f7f7f7;
        border-bottom: 1px solid #dadada;
        border-right: 1px solid #dadada;
        padding: 5px;
        text-align: center;
    }
        .calendar_table th.month {
            background: #509bbd;
            color: #FFF;
        }
    .calendar_table td.days {
        background: #d3f0fe;
    }

/*******************************************************************************/
/*******************************************************************************/

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  padding: 10px 0 10px 0;
}

/* Tables
----------------------------------------------------------*/
.table {
    border: solid 1px #3c454f;
    border-collapse: collapse;
    margin-top: 5px;
}

    .table tfoot {
        background-color: #3c454f;
        color: white;
    }

    .table td {
        padding: 5px;
        border: solid 1px #3c454f;
    }

    .table th {
        font-weight: normal;
        color: White;
        padding: 6px 5px;
        text-align: left;
        background-color: #3c454f;
        border: solid 1px #3c454f;
    }

        .table th a {
            color: White;
        }

            .table th a:link {
                color: white;
                text-decoration: underline;
            }

            .table th a:visited {
                color: white;
                text-decoration: underline;
            }

            .table th a:hover {
                color: white;
                text-decoration: none;
            }

.nobordertable {
    width: 100%;
}
    .nobordertable, .nobordertable td {
        border: none !important;
    }

    .nobordertable, .nobordertable td input[type="text"] {
        margin-bottom:0px!important;
    }

    .nobordertable td {
        padding: 5px;
    }

.bordertable td {
    padding: 5px;
}
/*---------------------------------------------------------*/

/* Inputs
----------------------------------------------------------*/
input, textarea {
    font-family: inherit;
    font-size: 13px;
}

    input[type=text], input[type=password], textarea, input[type=email] {
        padding: 3px 5px 3px 5px;
        width: 200px;
    }

    input[disabled] {
        cursor: text;
        color: #666666;
    }

    input[type=text][disabled] {
        background-color: #F9F9F9;
    }

    input[type='submit'], input[type='button'] {
        background-color: #3c454f;
        border: 1px solid #000;
        font-size: inherit;
        color: white;
        cursor: pointer;
        height: 24px;
        padding: 0px 15px 0px 15px;
    }

        input[type='submit']:hover, input[type='button']:hover {
            background-color: #000;
        }
    input[type="text"], input[type="password"], textarea, input[type="email"] {
        border: 1px solid #71b1d1 !important;
    }
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;

    }

    #dvSearchFilter input[type="text"], input[type="password"], textarea, input[type="email"] {
        border: 1px solid #71b1d1 !important;
    }

    #dvSearchFilter select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
    }
/*---------------------------------------------------------*/

/* Error partial view
----------------------------------------------------------*/
.error {
    font-family: inherit;
    font-size: 13px;
    color: lightgray;
}

    .error h2, .error p, .error h1 {
        color: red;
    }

.globalerror {
    font-family: inherit;
    color: red;
}
/*---------------------------------------------------------*/

/*---------------------------------------------------------*/
.field-validation-error, .validation-summary-errors {
    font-size: 12px;
    font-weight: bold;
    color: red;
}
    .validation-summary-errors ul {
        margin: 0 !important;
    }

select.field-validation-error, textarea.field-validation-error {
    border: 1px solid red !important;
}

.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
}

    .validation-summary-errors li {
        list-style: none;
    }

.field-validation-green {
    font-size: 12px;
    font-weight: bold;
    color: green;
}

.Loader {
    display: none;
}

.buttons {
    height: 70px;
}

#tdButtons {
    height: 35px;
}

.add, .edit, .delete, .contactinfo, .view {
    cursor: pointer;
    border: none;
}

.add {
    padding: 0 5px 0 0;
}

#dvMessage {
    background-color: InfoBackground;
    top: 0;
    width: 25%;
    padding: 5px 10px 5px 10px;
    text-align: center;
    position: absolute;
    z-index: 4001;
    -moz-border-radius-bottomright: 25px 50px;
    border-bottom-right-radius: 25px 50px;
    -moz-border-radius-bottomleft: 25px 50px;
    border-bottom-left-radius: 25px 50px;
    left: 37.5%;
    display: none;
}

#hoverMenu {
    font-family: inherit;
    position: absolute;
    z-index: 3000;
    border: 2px solid #71b1d1;
    background-color: #71b1d1;
    padding: 10px;
    color: White;
}

    #hoverMenu div {
        margin: 0;
    }

    #hoverMenu a, #hoverMenu a:link, #hoverMenu a:visited {
        margin-bottom: 15px;
        color: White;
        text-decoration: underline;
    }

        #hoverMenu a:hover {
            color: white;
            text-decoration: none;
        }

div.menudv {
    padding: 5px;
}

.loading {
    width: 100%;
    text-align: center;
    padding-top: 150px;
}
/*h5 {
    padding-bottom: 10px;
}*/

.bold {
    font-weight: bold;
}

#dvHelp, .help {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

div#toolbar {
    width: 40%;
    position: fixed;
    top: 0;
    left: 210px;
    z-index: 1001;
}

    div#toolbar input[type=button], div#toolbar input[type=submit] {
        background-color: #3c454f;
        border: 1px solid #3c454f;
        padding: 10px;
        height: 40px;
    }

    div#toolbar input[type='submit']:hover, div#toolbar input[type='button']:hover {
        background-color: #000;
    }
    
#buttonbar {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
}

    #buttonbar span {
        padding-right: 10px;
        height: 16px;
        vertical-align: bottom;
    }

.add, .edit, .delete, .contactinfo {
    cursor: pointer;
    border: none;
}

.add {
    padding: 0 5px 0 0;
}

#dvloader {
    vertical-align: middle;
    line-height: 43px;
    display: none;
    color: white;
    font-size: 14px;
}

#dvConfirm {
    display: none;
}

    #dvConfirm #dvConfirmMessage {
        min-height: 60px;
        padding-top: 10px;
        font-size: 95%;
    }

    #dvConfirm #dvConfirmButtons {
        text-align: right;
        vertical-align: bottom;
    }

        #dvConfirm #dvConfirmButtons input {
            width: 70px;
        }

#dvAlert {
    display: none;
}

    #dvAlert #dvAlertMessage {
        min-height: 60px;
        padding-top: 10px;
        font-size: 95%;
    }

    #dvAlert #dvAlertButtons {
        text-align: right;
        vertical-align: bottom;
    }

        #dvAlert #dvAlertButtons input {
            width: 70px;
        }

fieldset {
    padding: 0.35em 0.625em 0.75em;
}

#dvMainContainer{
    margin-left:20px;
    margin-top:0px;
    height:100%;
    width: 0px;
    display: none;
}


#dvMainContainer a {
    color: #fff;
    text-decoration: none;
}
#dvMainContainer a:hover, a:focus {
color: #fff!important;
text-decoration: underline;
}

    #dvMainContainer h4 {
        color: white;
    }
#tblSearchFilter {
    color: white;
}
    #tblSearchFilter input {
        height: 17px;
        width: 145px !important;
    }

/* Login POPUP */
 
.top_bar {
    background: #3c454f;
    height: 43px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000000;
}

.top_profile_option {
    float: right;
    position: relative;
}
    .top_profile_option a, .top_profile_option a:link, .top_profile_option a:active, .top_profile_option a:visited {
        display: block;
        padding: 5px 25px 0px 10px;
        height: 39px;
        font-family: inherit;
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
        background: url(images/down_arrow.png) no-repeat right bottom;
        line-height: 35px;
        transition: background 0.5s;
        -moz-transition: background 0.5s;
        -webkit-transition: background 0.5s;
        -o-transition: background 0.5s;
    }
        /*.top_profile_option a:hover {
            display: block;
            padding: 5px 25px 0px 10px;
            height: 39px;
            font-family: inherit;
            font-size: 12px;
            color: #3d93ba;
            text-decoration: none;
            background: #FFF url(images/down_arrow.png) no-repeat right top;
            line-height: 35px;
        }*/

    .top_profile_option img {
        margin: 3px 10px 0px 0px;
        float: left;
        border: 1px solid #94acc7;
    }
    .top_profile_option a.current, a.current:link, a.current:active, a.current:visited, a.current:hover {
        display: block;
        padding: 5px 25px 0px 10px;
        height: 43px;
        font-family: inherit;
        font-size: 12px;
        color: #3d93ba !important;
        text-decoration: none;
        background: #FFF url(images/down_arrow.png) no-repeat right top !important;
        line-height: 35px;
    }

.account_popup {
    width: 400px;
    height: 160px;
    position: absolute;
    right: 0px;
    top: 43px;
    padding: 8px 10px 10px 10px;
    display: none;
    background: #FFF;
    box-shadow: 3px 3px 5px rgba(60,69,79,0.2);
    z-index: 100000;
    border-bottom: 1px solid #dddede;
    border-right: 1px solid #dddede;
    border-left: 1px solid #dddede;
}
    .account_popup .pic {
        float: left;
        margin: 0px 20px 0px 0px;
    }
    .account_popup .info {
        float: left;
        line-height: 30px;
        color: #000;
    }
        .account_popup .info a {
            color: #2b86b0;
            text-decoration: none;
        }
            .account_popup .info a:hover {
                color: #000;
            }
    .account_popup .group {
        color: #009966;
    }
    .account_popup .info .my_btn {
        line-height: 10px;
        font-size: 14px;
        color: #FFF;
        margin: 0px 0px 0px 10px;
        border-radius: 0px;
    }
    .account_popup .info .bot_bar {
        background: #d3effe;
        line-height: 43px;
        border-top: 1px solid #a7d0e6;
        width: 100%;
        height: 43px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .account_popup .info .btns {
        background: #FFF;
        line-height: 25px;
        margin: 7px 10px 0px 0px;
        border: 1px solid #519bbd;
        padding: 0px 10px 0px 10px;
        display: block;
        transition: background 0.5s, color 0.5s;
        -moz-transition: background 0.5s, color 0.5s;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
    }
        .account_popup .info .btns:hover {
            background: #519bbd;
            color: #FFF;
        }

fieldset {
    border: 2px groove threedface;
    margin-bottom: 10px;
}

.btn-purple {
    background: #3c454f;
    color: #fff;
    text-shadow: none;
    border: none;
    font-family:inherit;
    line-height:35px;
    box-shadow: none;
    font-size: 15px;
    font-weight: normal;
    outline: none;
    border-radius: 0px !important;
}
  /*  .btn-purple:hover {
        background: #333;
        border-color: #3c454f;
        color: #fff;
        text-shadow: none;
        border: none;
        box-shadow: none;
        margin-top: 0px;
        font-size: 14px;
        font-weight: normal;
        outline: none;
        padding: 10px;
        padding-top: -7px;
        border-radius: 0px !important;
        outline: none;
    }*/
    .btn-purple:hover,
    .btn-purple:focus,
    .btn-purple:active,
    .btn-purple.active {
        background: #333 !important;
        border-color: #3c454f;
        color: #fff;
        font-family:inherit;
        text-shadow: none;
        border: none;
        box-shadow: none;
        font-size: 15px;
        font-weight: normal;
        outline: none;
        border-radius: 0px !important;
        outline: none;
    }
#toolbar span {
    color: #fff;
    font-size: inherit;
    padding-right: 7px;
}

.navbar-fixed-top {
z-index: 1001!important;
}

/*.collapse_btn, a.collapse_btn, a.collapse_btn:link, a.collapse_btn:active, a.collapse_btn:visited { display:block; background:#509bbd; float:right; text-decoration:none; position:fixed; top:52px; left:82px; z-index:100000; width:15px; line-height:20px; text-align:center;color:#FFF; font-size:10px; font-weight:bold; }
a.collapse_btn i { color:#FFF; font-size:10px; font-weight:bold; }
a.collapse_btn:hover { background:#3c454f; text-decoration:none; }*/


.collapse_btn, a.collapse_btn, a.collapse_btn:link, a.collapse_btn:active, a.collapse_btn:visited { display:block; background:#509bbd;  text-decoration:none; position:fixed; top:53px; left:300px; z-index:10002; width:15px; line-height:20px; text-align:center;color:#FFF; font-size:10px; font-weight:bold; }
a.collapse_btn i { color:#FFF; font-size:10px; font-weight:bold; }
a.collapse_btn:hover { background:#3c454f; text-decoration:none; }

#dvSearchFilter input{
    width: 100%!important;
}

.jobdatepicker input {
    height: 20px !important;
}

#dvMainContainer ul li {
    list-style: none;
}

.ui-dialog .ui-dialog-titlebar {
margin-bottom: 15px;
padding: .4em 1em;
position: relative;
background-color: #529bbd !important;
}


.ui-widget-content {
border: 1px solid #aaaaaa/*{borderColorContent}; */ background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/;
color: #222222/*{fcContent}*/;
}

.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");

}





.k-treeview .k-plus, .k-treeview .k-plus, .k-treeview .k-plus-disabled, .k-treeview .k-plus-disabled {
background-image: url('images/sprite.png')!important;
border-color: transparent;
background-position-x: -161px!important;
background-position-y: -190px!important;
}

.k-treeview .k-minus, .k-treeview .k-minus, .k-treeview .k-minus-disabled, .k-treeview .k-minus-disabled {
background-image: url('images/sprite.png')!important;
border-color: transparent;
background-position-x: -161px!important;
background-position-y: -206px!important;
}

.k-treeview .k-in.k-state-hover,.k-treeview .k-in.k-state-selected,.k-treeview .k-in.k-state-focused {
    border-style: none!important;
    border-width: 0px!important;
    padding:0px 0px 0px 0px!important;
}

/*Pending jobs notification css by Vicky*/


.icon-number li {
  float: left;
}
.icon-number a {
	display: block;
	padding: 0 15px;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.icon-number a.icon {
  background-repeat: no-repeat;
}
.icon-number a.tasks {
  background-image: url("../images/tasks.png");
}
.icon-number span {
  background: linear-gradient(to bottom, #f65d5f, #e93631) repeat scroll 0 0 #e93631;
  border-radius: 2px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 11px;
  left: -3px;
  line-height: 16px;
  padding: 0 5px;
  position: relative;
  text-shadow: 0 1px #902a27;
  top: -10px;
}
/*----------------------------Pending Job Notification------------------------------*/

/*----------------------------Start Audit Procedure Options CheckBox List------------------------------*/
section.checkBoxListFor {
    float: left;
    width: 900px;
}

section.checkBoxListFor label {
    margin-right: 5px;
    float: left;
    width: 262px;
    height: 47px;
    margin-bottom: 15px;
}

section.checkBoxListFor input {
    margin-right: 10px;
    padding-left: 10px;
    float: left;
    width: 17px;
}
/*----------------------------End Audit Procedure Options CheckBox List------------------------------*/

.logo_version_txt {
    color: #FFF;
    text-decoration: none;
    font-weight: bolder;
    font-size: 10px;
    line-height: 32px;
    padding-top: 5px !important;
    float: right;
    padding-left: 5px;
}