/* CSS Document */
 
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    position: relative;
}

a, a:link, a:active, a:visited {
    transition: color 1s;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
}
    a:hover {
        text-decoration: none;
        color: #000;
    }

.page-wrapper {
    height: 80%;
    position: relative;
}

.right-column {
    margin: 53px 25px 0px 320px;
    min-height: 100%;
    top: 53px;
    float: left;
}

.top_bar {
    background: #3c454f;
    height: 43px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000000;
}

.logo {
    float: left;
    margin: 8px 0px 0px 10px;
    transition: margin 0.7s;
    -moz-transition: margin 0.7s;
    -webkit-transition: margin 0.7s;
    -o-transition: margin 0.7s;
}
    .logo:hover {
        float: left;
        margin: 8px 0px 0px 20px;
    }

.top_profile_option {
    float: right;
    position: relative;
}
    .top_profile_option a, .top_profile_option a:link, .top_profile_option a:active, .top_profile_option a:visited {
        display: block;
        padding: 5px 25px 0px 10px;
        height: 43px;
        font-family: inherit;
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
        background: url(images/down_arrow.png) no-repeat right bottom;
        line-height: 35px;
        transition: background 0.5s;
        -moz-transition: background 0.5s;
        -webkit-transition: background 0.5s;
        -o-transition: background 0.5s;
    }
        .top_profile_option a:hover {
            display: block;
            padding: 5px 25px 0px 10px;
            height: 43px;
            font-family: inherit;
            font-size: 12px;
            color: #3d93ba;
            text-decoration: none;
            background: #FFF url(images/down_arrow.png) no-repeat right top;
            line-height: 35px;
        }
    .top_profile_option img {
        margin: 3px 10px 0px 0px;
        float: left;
        border: 1px solid #94acc7;
    }
    .top_profile_option a.current, a.current:link, a.current:active, a.current:visited, a.current:hover {
        display: block;
        padding: 5px 25px 0px 10px;
        height: 43px;
        font-family: inherit;
        font-size: 12px;
        color: #3d93ba !important;
        text-decoration: none;
        background: #FFF url(images/down_arrow.png) no-repeat right top !important;
        line-height: 35px;
    }

.account_popup {
    width: 400px;
    height: 160px;
    position: absolute;
    right: 0px;
    top: 43px;
    padding: 8px 10px 10px 10px;
    display: none;
    background: #FFF;
    box-shadow: 3px 3px 5px rgba(60,69,79,0.2);
    z-index: 100000;
    border-bottom: 1px solid #dddede;
    border-right: 1px solid #dddede;
    border-left: 1px solid #dddede;
}
    .account_popup .pic {
        float: left;
        margin: 0px 20px 0px 0px;
    }
    .account_popup .info {
        float: left;
        line-height: 30px;
        color: #000;
    }
        .account_popup .info a {
            color: #2b86b0;
            text-decoration: none;
        }
            .account_popup .info a:hover {
                color: #000;
            }
    .account_popup .group {
        color: #009966;
    }
    .account_popup .info .my_btn {
        line-height: 10px;
        font-size: 14px;
        color: #FFF;
        margin: 0px 0px 0px 10px;
        border-radius: 0px;
    }
    .account_popup .info .bot_bar {
        background: #d3effe;
        line-height: 43px;
        border-top: 1px solid #a7d0e6;
        width: 100%;
        height: 43px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .account_popup .info .btns {
        background: #FFF;
        line-height: 25px;
        margin: 7px 10px 0px 0px;
        border: 1px solid #519bbd;
        padding: 0px 10px 0px 10px;
        display: block;
        transition: background 0.5s, color 0.5s;
        -moz-transition: background 0.5s, color 0.5s;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
    }
        .account_popup .info .btns:hover {
            background: #519bbd;
            color: #FFF;
        }

.top_search_area {
    float: right;
    margin: 9px 10px 0px 10px;
}
    .top_search_area input[type='text'] {
        border: 1px solid #57616b;
        background: #4d5660;
        height: 24px;
        color: #bec9d4;
        float: left;
        width: 155px;
        padding: 0px 0px 0px 5px;
        transition: background 0.5s, color 0.5s;
        -moz-transition: background 0.5s, color 0.5s;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
    }
        .top_search_area input[type='text']:focus {
            border: 1px solid #68717b;
            color: #FFF;
            background: #4d5660;
            outline: none;
        }
    .top_search_area input[type='submit'] {
        background: #71b1d1 url(images/search.png) no-repeat center center;
        border: none;
        font-size: 0px;
        cursor: pointer;
        float: left;
        height: 24px;
        padding: 0px 15px 0px 15px;
        transition: background 0.5s;
        -moz-transition: background 0.5s;
        -webkit-transition: background 0.5s;
        -o-transition: background 0.5s;
    }
        .top_search_area input[type='submit']:hover {
            background: #000 url(images/search.png) no-repeat center center;
        }


.left_icon_bar {
    position: fixed;
    top: 43px;
    left: 0px;
    width: 75px;
    /* background:#71b1d1; */
    color: #FFF;
}
    .left_icon_bar ul {
        margin: 0px;
        padding: 0px;
        float: left;
    }
        .left_icon_bar ul li {
            display: block;
            list-style-type: none;
            position: relative;
        }
            .left_icon_bar ul li a.dashboard {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/dashboard.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }

            .left_icon_bar ul li a.dashboard:hover {
                    background: #519bbd url(images/dashboard.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.all_items {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/all_items.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.all_items:hover {
                    background: #519bbd url(images/all_items.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.entities {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/entities.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.entities:hover {
                    background: #519bbd url(images/entities.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.clients {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/clients.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.clients:hover {
                    background: #519bbd url(images/clients.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.funds {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/funds.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.funds:hover {
                    background: #519bbd url(images/funds.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.jobs {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/jobs.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.jobs:hover {
                    background: #519bbd url(images/jobs.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.settings {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/settings.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.settings:hover {
                    background: #519bbd url(images/settings.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.help {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/help.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.help:hover {
                    background: #519bbd url(images/help.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.logout {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/logout.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.logout:hover {
                    background: #519bbd url(images/logout.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            .left_icon_bar ul li a.workflow {
                display: block;
                height: 85px;
                width: 75px;
                color: #FFF;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                background: #71b1d1 url(images/workflow.png) no-repeat center 10px;
                line-height: 130px;
                text-align: center;
                transition: background 0.5s;
                -moz-transition: background 0.5s;
                -webkit-transition: background 0.5s;
                -o-transition: background 0.5s;
            }
                .left_icon_bar ul li a.workflow:hover {
                    background: #519bbd url(images/workflow.png) no-repeat center 15px;
                    line-height: 135px;
                    color: #FFF;
                }
            /* Sub Menus of Left Icon Bar */
            .left_icon_bar ul li ul {
                display: none;
            }
            .left_icon_bar ul li:hover ul {
                display: block;
                position: absolute;
                left: 63px;
                top: 20px;
                width: 265px;
                padding: 0px 10px 0px 12px;
                z-index: 10000000;
                background: url(images/sub_menu_left_arrow.png) no-repeat left top;
            }
                .left_icon_bar ul li:hover ul li {
                    display: inline-block;
                    float: left;
                }
                    .left_icon_bar ul li:hover ul li a {
                        display: inline-block;
                        float: left;
                        height: 41px;
                        padding: 0px 10px 0px 10px;
                        background: #3c454f;
                        color: #FFFFFF;
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 41px;
                    }
                        .left_icon_bar ul li:hover ul li a:hover {
                            background: #000;
                        }
                        .left_icon_bar ul li:hover ul li a.add {
                            background: #3c454f url(images/add.png) no-repeat 10px center;
                            padding: 0px 10px 0px 35px;
                            transition: background 0.5s, color 0.5s;
                            -moz-transition: background 0.5s, color 0.5s;
                            -webkit-transition: background 0.5s, color 0.5s;
                            -o-transition: background 0.5s, color 0.5s;
                        }
                            .left_icon_bar ul li:hover ul li a.add:hover {
                                background: #000 url(images/add.png) no-repeat 10px center;
                                padding: 0px 10px 0px 35px;
                            }
                        .left_icon_bar ul li:hover ul li a.edit {
                            background: #3c454f url(images/edit.png) no-repeat 10px center;
                            padding: 0px 10px 0px 35px;
                            transition: background 0.5s, color 0.5s;
                            -moz-transition: background 0.5s, color 0.5s;
                            -webkit-transition: background 0.5s, color 0.5s;
                            -o-transition: background 0.5s, color 0.5s;
                        }
                            .left_icon_bar ul li:hover ul li a.edit:hover {
                                background: #000 url(images/edit.png) no-repeat 10px center;
                                padding: 0px 10px 0px 35px;
                            }
                        .left_icon_bar ul li:hover ul li a.delete {
                            background: #3c454f url(images/delete.png) no-repeat 10px center;
                            padding: 0px 10px 0px 30px;
                            transition: background 0.5s, color 0.5s;
                            -moz-transition: background 0.5s, color 0.5s;
                            -webkit-transition: background 0.5s, color 0.5s;
                            -o-transition: background 0.5s, color 0.5s;
                        }
                            .left_icon_bar ul li:hover ul li a.delete:hover {
                                background: #000 url(images/delete.png) no-repeat 10px center;
                                padding: 0px 10px 0px 30px;
                            }
            .left_icon_bar ul li.lmenucurrent a {
                background-color: #519bbd;
            }

.left_section {
    float: left;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 300px;
    background: #529bbd url(images/left_area.png) left top repeat-y;
    height: 100%;
    overflow: auto;
    outline: none;
}

.left_tree_bar {
    position: absolute;
    top: 43px;
    left: 75px;
    width: 235px;
    /* background:#519bbd; */
    color: #FFF;
    z-index: 100000;
}

.left_search_area {
    float: left;
    margin: 20px 0px 0px 10px;
}
    .left_search_area input[type='text'] {
        background: #519bbd;
        height: 24px;
        color: #bce2f4;
        float: left;
        width: 155px;
        padding: 0px 0px 0px 5px;
        border: 1px solid #82c5e4;
    }
        .left_search_area input[type='text']:focus {
            border: 1px solid #abdef5;
            color: #FFF;
            background: #71b1d1;
        }
    .left_search_area input[type='submit'] {
        background: #3c454f url(images/search.png) no-repeat center center;
        border: none;
        font-size: 0px;
        cursor: pointer;
        float: left;
        height: 24px;
        padding: 0px 15px 0px 15px;
        transition: background 0.5s, color 0.5s;
        -moz-transition: background 0.5s, color 0.5s;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
    }
        .left_search_area input[type='submit']:hover {
            background: #000 url(images/search.png) no-repeat center center;
        }

.trew_view_wrapper {
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.left_menu {
    margin: 20px 0px 0px 0px;
    padding: 0px;
}
    .left_menu li {
        list-style-type: none;
        margin: 0px 0px 0px 0px;
    }
        .left_menu li a {
            color: #FFF;
            text-decoration: none;
            font-size: 13px;
            display: block;
            line-height: 35px;
            text-indent: 35px;
        }
            .left_menu li a:hover {
                background: #FFF;
                color: #519bbd;
            }
        .left_menu li ul {
            list-style-type: none;
            margin: 0px 0px 0px 0px;
        }

a.system {
    background: url(images/system.png) no-repeat 10px top;
    line-height: 35px;
    height: 35px;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}
    a.system:hover {
        background: #FFF url(images/system.png) no-repeat 10px bottom !important;
        color: #519bbd;
        line-height: 35px;
        height: 35px;
    }

a.entity {
    background: url(images/db.png) no-repeat 10px top;
    line-height: 35px;
    height: 35px;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}
    a.entity:hover {
        background: #FFF url(images/db.png) no-repeat 10px bottom !important;
        color: #519bbd;
        line-height: 35px;
        height: 35px;
    }

a.group {
    background: url(images/group.png) no-repeat 10px top;
    line-height: 35px;
    height: 35px;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}
    a.group:hover {
        background: #FFF url(images/group.png) no-repeat 10px bottom !important;
        color: #519bbd;
        line-height: 35px;
        height: 35px;
    }

a.client {
    background: url(images/admin.png) no-repeat 10px top;
    line-height: 35px;
    height: 35px;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}
    a.client:hover {
        background: #FFF url(images/admin.png) no-repeat 10px bottom !important;
        color: #519bbd;
        line-height: 35px;
        height: 35px;
    }

a.fund {
    background: url(images/funds1.png) no-repeat 10px top;
    line-height: 35px;
    height: 35px;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}
    a.fund:hover {
        background: #FFF url(images/funds1.png) no-repeat 10px bottom !important;
        color: #519bbd;
        line-height: 35px;
        height: 35px;
    }

a.user {
    background: url(images/users.png) no-repeat 10px top;
    line-height: 35px;
    height: 35px;
    transition: background 0.5s, color 0.5s;
    -moz-transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
    -o-transition: background 0.5s, color 0.5s;
}
    a.user:hover {
        background: #FFF url(images/users.png) no-repeat 10px bottom !important;
        color: #519bbd;
        line-height: 35px;
        height: 35px;
    }

.left_menu li ul {
    width: 245px;
    z-index: 0;
}
    .left_menu li ul li a {
        background-position: 20px top !important;
        padding: 0px 0px 0px 10px !important;
    }
        .left_menu li ul li a:hover {
            background-position: 20px bottom !important;
            padding: 0px 0px 0px 10px !important;
        }
    .left_menu li ul li.moreopts {
        background: url(images/more_options.png) no-repeat 7px 10px !important;
    }

.left_menu li.moreopts {
    background: url(images/more_options.png) no-repeat 185px 13px !important;
}

.left_menu a.lmenucurrent {
    background: #FFF;
    color: #519bbd;
}

.breadcrumbs_bar {
    float: left;
    margin: 0px 0px 20px 0px;
}
    .breadcrumbs_bar .btns, .breadcrumbs_bar a.btns, .breadcrumbs_bar a.btns:link, .breadcrumbs_bar a.btns:active, .breadcrumbs_bar a.btns:visited {
        line-height: 22px !important;
        margin: 0px 5px 0px 5px;
        border-radius: 0px;
        display: inline-block;
        color: #FFFFFF;
        font-size: 12px;
        text-decoration: none;
        background: #71b1d1;
        padding: 0px 7px 1px 7px;
        transition: background 0.5s, color 0.5s;
        -moz-transition: background 0.5s, color 0.5s;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
    }
        .breadcrumbs_bar a.btns:hover {
            background: #3c454f;
        }

.big_icons {
    float: left;
    width: 100%;
}
    .big_icons a.tasks {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 5px;
        color: #FFFFFF;
        background: #71b1d1 url(images/tasks_tick.png) no-repeat center 35px;
        text-align: center;
        line-height: 180px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.tasks:hover {
            background: #3f8db1 url(images/tasks_tick.png) no-repeat center 40px;
            line-height: 175px;
            text-decoration: none;
        }
    .big_icons a.calendar {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0px;
        color: #FFFFFF;
        background: #71b1d1 url(images/calendar.png) no-repeat center 35px;
        text-align: center;
        line-height: 180px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.calendar:hover {
            background: #3f8db1 url(images/calendar.png) no-repeat center 40px;
            line-height: 175px;
            text-decoration: none;
        }
    .big_icons a.activity {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0px;
        color: #FFFFFF;
        background: #71b1d1 url(images/activity.png) no-repeat center 45px;
        text-align: center;
        line-height: 180px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.activity:hover {
            background: #3f8db1 url(images/activity.png) no-repeat center 50px;
            line-height: 175px;
            text-decoration: none;
        }
    .big_icons a.invoices {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0px;
        color: #FFFFFF;
        background: #71b1d1 url(images/invoices.png) no-repeat center 45px;
        text-align: center;
        line-height: 180px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.invoices:hover {
            background: #3f8db1 url(images/invoices.png) no-repeat center 50px;
            line-height: 175px;
            text-decoration: none;
        }
    .big_icons a.messages {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0px;
        color: #FFFFFF;
        background: #71b1d1 url(images/messages.png) no-repeat center 45px;
        text-align: center;
        line-height: 180px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.messages:hover {
            background: #3f8db1 url(images/messages.png) no-repeat center 50px;
            line-height: 175px;
            text-decoration: none;
        }
    .big_icons a.timesheet {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0px;
        color: #FFFFFF;
        background: #71b1d1 url(images/timesheet.png) no-repeat center 45px;
        text-align: center;
        line-height: 180px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.timesheet:hover {
            background: #3f8db1 url(images/timesheet.png) no-repeat center 50px;
            line-height: 175px;
            text-decoration: none;
        }
    .big_icons a.processes {
        width: 130px;
        height: 130px;
        display: inline-block;
        float: left;
        margin: 0px 10px 10px 0px;
        color: #FFFFFF;
        background: #71b1d1 url(images/timesheet.png) no-repeat center 45px;
        text-align: center;
        padding-top: 80px;
        font-size: 16px;
        text-decoration: none;
    }
        .big_icons a.processes:hover {
            background: #3f8db1 url(images/timesheet.png) no-repeat center 50px;
            padding-top: 75px;
            text-decoration: none;
        }
        .big_icons a.processes div.count{
            position: relative;
            top: -68px;
            left: 72px;
            width: 20px;
            padding: 1px;
            text-align: center;
            background-color: #d91717;
            font-size: 70%;
            color: white;
        }
    .big_icons a {
        transition: background 0.5s, line-height 0.5s;
        -moz-transition: background 0.5s, line-height 0.5s;
        -webkit-transition: background 0.5s, line-height 0.5s;
        -o-transition: background 0.5s, line-height 0.5s;
    }

.pane1 {
    float: left;
    width: 47%;
    margin: 0px 10px 0px 5px;
    min-width: 200px;
}

.pane2 {
    float: left;
    width: 47%;
    margin: 0px 0px 0px 0px;
    min-width: 200px;
}

.full_pane {
    float: left;
    width: 100%;
    margin: 0px 0px 20px 5px;
}

.tasks_calendar {
    height: 40px;
    background: #519bbd;
    color: #FFFFFF;
    padding: 5px;
    float: left;
    width: 100%;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}
    .tasks_calendar .content {
        margin: 5px 0px 0px -5px;
        float: left;
        width: 100%;
    }
    .tasks_calendar .header {
    }
        .tasks_calendar .header .white_btns {
            background: #FFF;
            line-height: 25px;
            margin: 2px 5px 0px 0px;
            border: 1px solid #519bbd;
            padding: 0px 10px 0px 10px;
            display: inline-block;
            font-size: 13px;
            float: right;
            color: #519bbd;
            text-decoration: none;
            transition: background 0.5s, color 0.5s;
            -moz-transition: background 0.5s, color 0.5s;
            -webkit-transition: background 0.5s, color 0.5s;
            -o-transition: background 0.5s, color 0.5s;
        }
            .tasks_calendar .header .white_btns:hover {
                background: #3c454f;
                color: #FFF;
                text-decoration: none;
            }

.notifications {
    height: 40px;
    background: #519bbd;
    color: #FFFFFF;
    padding: 5px;
    float: left;
    width: 100%;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}
    .notifications .content {
        margin: 5px 0px 0px -5px;
        float: left;
        font-size: 13px;
        color: #535353;
        width: 102%;
        border: 1px solid #519bbd;
        height: 300px;
        overflow-y: auto;
    }
        .notifications .content a {
            color: #519bbd;
        }
            .notifications .content a:hover {
                color: #468847;
                text-decoration: underline;
            }
    .notifications .header {
    }
        .notifications .header select {
            font-size: 12px;
            float: right;
            margin: 5px 5px 0px 0px;
        }
        .notifications .header .btn {
            background: #FFF !important;
            height: 20px !important;
            line-height: 20px !important;
            font-size: 12px !important;
            color: #000 !important;
            border-radius: 0px !important;
            width: 100px !important;
        }
            .notifications .header .btn span {
                top: 0px !important;
            }
            .notifications .header .btn .caret {
                border-bottom-color: #666 !important;
                border-top-color: #666 !important;
                border-width: 5px !important;
            }
        .notifications .header .dropdown-arrow {
        }
        .notifications .header .mbn {
            float: right !important;
            margin: 5px 5px 0px 0px;
        }
        .notifications .header .dropdown-menu {
            background: #e9e9e9 !important;
            border-radius: 0px !important;
        }
            .notifications .header .dropdown-menu li {
                color: #000 !important;
                font-size: 12px !important;
                border-radius: 0px !important;
            }
                .notifications .header .dropdown-menu li dt {
                    font-weight: 700 !important;
                }
                .notifications .header .dropdown-menu li a {
                    border-radius: 0px !important;
                    background: #519bbd !important;
                    color: #FFF !important;
                }
                    .notifications .header .dropdown-menu li a:hover {
                        background: #3c454f !important;
                    }
        .notifications .header .white_btns {
            background: #FFF;
            line-height: 30px;
            margin: 1px 0px 0px 0px;
            border: 1px solid #519bbd;
            padding: 0px 10px 0px 10px;
            display: inline-block;
            font-size: 13px;
            float: right;
            color: #519bbd;
        }
            .notifications .header .white_btns:hover {
                background: #3c454f;
                color: #FFF;
            }
    .notifications .content ul {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }
        .notifications .content ul li {
            line-height: 35px;
            border-bottom: 1px solid #dadada;
            list-style-type: none;
            display: block;
            width: 100%;
            padding-left: 10px;
        }

.bottom_bar {
    background: #3c454f url(images/bot_bar.png) repeat-x left top;
    height: 57px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100000000;
    color: #FFF;
    line-height: 42px;
    padding: 0px 0px 0px 20px;
}

/* ===================== login screen ======================= */
.mybody {
    color: #FFF;
    background: #71b1d1 url(images/login_bg.png) repeat-x left top;
    overflow: hidden;
}

.login_wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.login_logo {
    float: left;
    margin: 250px 0px 0px 100px;
}
    .login_logo h1 {
        font-family: inherit;
        font-size: 40px;
        font-weight: 300;
        color: #FFF;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }
    .login_logo h2 {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }

.login_right_panel {
    background: #3c454f;
    width: 253px;
    padding: 0px 30px 0px 25px;
    position: absolute;
    right: 0px;
    top: 0px;
}
    .login_right_panel h2 {
        font-family: inherit;
        font-size: 25px;
        font-weight: 300;
        color: #FFF;
        margin: 200px 0px 10px 0px;
        padding: 0px;
    }
    .login_right_panel input[type='text'], .login_right_panel input[type='password'] {
        background: #8e9296 !important;
        border-radius: 0px !important;
        font-size: 13px !important;
        color: #FFF !important;
        height: 35px !important;
        line-height: 35px;
        margin: 0px 0px 10px 0px !important;
        border: none !important;
        width: 205px !important;
        padding: 0px 0px 0px 10px;
        border: 1px solid #616870 !important;
        outline: none;
		/*cursor:pointer !important;*/
		
    }
        .login_right_panel input[type='text']:focus {
            background: #8e9296 !important;
            color: #FFF !important;
            border: 1px solid #999 !important;
            outline: none;
        }
    .login_right_panel .dropdown-toggle {
        background: #616870 !important;
        border-radius: 0px !important;
        font-size: 13px !important;
        color: #dfdfdf !important;
        height: 35px !important;
        margin: 0px 0px 10px 0px !important;
        border: none !important;
        width: 205px !important;
    }
        .login_right_panel .dropdown-toggle span {
            top: 3px !important;
        }
    .login_right_panel .caret {
        border-bottom-color: #FFF !important;
        border-top-color: #FFF !important;
        border-width: 5px !important;
    }
    .login_right_panel .dropdown-menu {
        background: #e9e9e9 !important;
        border-radius: 0px !important;
        border-bottom: none !important;
    }
        .login_right_panel .dropdown-menu li {
            color: #000 !important;
            font-size: 12px !important;
            border-radius: 0px !important;
        }
            .login_right_panel .dropdown-menu li dt {
                font-weight: 700 !important;
            }
            .login_right_panel .dropdown-menu li a {
                border-radius: 0px !important;
                background: #519bbd !important;
                color: #FFF !important;
            }
                .login_right_panel .dropdown-menu li a:hover {
                    background: #3c454f !important;
                }
    .login_right_panel .submit_btn {
        background: #519bbd !important;
        border-radius: 0px !important;
        font-size: 16px !important;
        color: #FFF !important;
        height: 40px !important;
        margin: 0px 0px 10px 0px !important;
        border: none !important;
        width: 100px !important;
        padding: 5px 0px 5px 0px;
        font-family: "Segoe UI", Arial, Helvetica, sans-serif;
        font-weight: 400;
        display: block;
        text-decoration: none;
        line-height: 33px;
        text-align: center;
        transition: background 0.5s, color 0.5s;
        -moz-transition: background 0.5s, color 0.5s;
        -webkit-transition: background 0.5s, color 0.5s;
        -o-transition: background 0.5s, color 0.5s;
    }
        .login_right_panel .submit_btn i {
            font-size: 14px;
        }
        .login_right_panel .submit_btn:hover {
            background: #FFF !important;
            color: #000 !important;
        }

.collapse_btn, a.collapse_btn, a.collapse_btn:link, a.collapse_btn:active, a.collapse_btn:visited {
    display: block;
    background: #509bbd;
    text-decoration: none;
    position: fixed;
    top: 43px;
    left: 285px;
    z-index: 10000000;
    width: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
}
    a.collapse_btn i {
        color: #FFF;
        font-size: 10px;
        font-weight: bold;
    }
    a.collapse_btn:hover {
        background: #3c454f;
        text-decoration: none;
    }

div.k-treeview {
    overflow-x: hidden !important;
}

#dvtreelinks {
    margin-top: 20px !important;
    padding: 0 0 5px 25px;
    font-size: 80%;
}
    #dvtreelinks a {
        color: white;
    }

.k-plus, .k-minus {
    margin-top: 10px !important;
    width: 15px !important;
}

.k-treeview .k-in {
    width: 210px !important;
    padding: 0px !important;
    margin: 0px !important;
}
    .k-treeview .k-in.k-state-hover {
        background: none !important;
        width: 210px !important;
    }
    .k-treeview .k-in.k-state-selected {
        background-color: #71b1d1 !important;
        width: 193px !important;
    }
    
.left_menu li ul li a {
    background-position: 5px top !important;
    padding: 0px !important;
    text-indent: 30px !important;
}
    .left_menu li ul li a:hover {
        background-position: 5px bottom !important;
        padding: 0px !important;
    }

.left_tree_bar {
    width: 235px !important;
}

.trew_view_wrapper {
    /*width: auto !important; overlapping to arrows on _detail*/ 
    overflow-x: hidden !important;
}

.right-column {
    margin-bottom: 70px !important;
}

.k-dropdown-wrap.k-state-default {
    padding: 0px 0px 5px 0px !important;
    box-shadow: none !important;
}

.k-dropdown-wrap.k-state-active {
    padding: 0px 0px 5px 0px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #dadada !important;
}

.k-dropdown-wrap.k-state-border-down {
    padding: 0px 0px 5px 0px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #dadada !important;
}

input[type="text"], input[type="password"], textarea, input[type="email"] {
    border: 1px solid #71b1d1 !important;
}

.bordertable {
    border: 1px solid #dadada !important;
    border-collapse: separate !important;
}

#dvtreelinks {
    color: #509bbd;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
    #dvtreelinks #expandall {
        background: url(images/plus.png) no-repeat left top;
        display: inline-block;
        float: left;
        text-decoration: none;
        margin: 0px 10px 0px 0px;
        padding: 0px 0px 0px 22px;
        height: 16px;
    }
    #dvtreelinks #collapseall {
        background: url(images/minus.png) no-repeat left top;
        display: inline-block;
        float: left;
        text-decoration: none;
        margin: 0px;
        padding: 0px 0px 0px 22px;
        height: 16px;
    }

#ascrail2001 {
    z-index: 100000 !important;
    left: 293px !important;
    position: fixed !important;
}

.right-column h1 {
    margin: 3px 0px 10px 0px !important;
}

.ui-dialog {
    z-index: 100000 !important;
}

@media handheld, only screen and (max-width: 800px) {
    .login_logo h1 {
        font-family: inherit;
        font-size: 30px;
        font-weight: 300;
        color: #FFF;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }

    .login_logo h2 {
        font-family: inherit;
        font-size: 15px;
        font-weight: 400;
        color: #FFF;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }
}

@media handheld, only screen and (max-width: 700px) {
    .login_logo h1 {
        font-family: inherit;
        font-size: 20px;
        font-weight: 300;
        color: #FFF;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }

    .login_logo h2 {
        font-family: inherit;
        font-size: 13px;
        font-weight: 400;
        color: #FFF;
        margin: 0px 0px 10px 0px;
        padding: 0px;
    }
}

.calendar_table {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    font-size: 11px;
    color: #666;
    margin: 10px 0px 10px 0px;
}
    .calendar_table td {
        border-bottom: 1px solid #dadada;
        border-right: 1px solid #dadada;
        padding: 5px;
        text-align: center;
    }
    .calendar_table th {
        background: #f7f7f7;
        border-bottom: 1px solid #dadada;
        border-right: 1px solid #dadada;
        padding: 5px;
        text-align: center;
    }
        .calendar_table th.month {
            background: #509bbd;
            color: #FFF;
        }
    .calendar_table td.days {
        background: #d3f0fe;
    }

.ui-widget-overlay {
    z-index: 0 !important;
}

.right_inner {
    padding: 0 25px 0 0 !important;
}