﻿@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common

<style>
    .cursorPointer {
        cursor: pointer !important;
    }
</style>

<div id="toolbar">
    <button id="btnAdd" type="submit" class="btn btn-purple">
        <span class="fa fa-plus-circle"></span>Add
    </button>
    <button type="button" id="btnDelete" class="btn btn-purple">
        <span class="fa fa-trash-o"></span>Delete
    </button>
</div>

<div id="dvGrid" style="display: none">
    <div id="dvFirmGrid">
        <table id="tblFirmGrid" style="width:100%;">
            <tr>
                <th style="width: 2%"></th>
                <th>
                    Name
                </th>
                <th style="width: 17%">
                    Firm
                </th>
                <th style="width: 13%">
                    Account
                </th>
                <th width="12%">
                    Email
                </th>
                <th width="8%">
                    Roles
                </th>
                <th width="4%">
                    Jobs
                </th>
                <th width="8%">
                    Creation Date
                </th>
                <th width="10%">
                    Last Logon Time
                </th>
                <th width="5%">
                    Locked
                </th>
            </tr>
        </table>
        <script id="FirmGridTemplate" type="text/x-kendo-template">
            <tr id='${ID}' class="view" data-id="${EncryptedID}">
                <td style='text-align: center'>
                    <span class="icon-user imgEntityDetail cursorPointer" title="Click to see user detail" id="imgEntityDetail"></span>
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Firm != null) { #
                    ${Firm}
                    # }#
                </td>

                <td>
                    #if (Account != null) { #
                    ${Account}
                    # }#
                </td>

                <td>
                    #if (Email != null) { #
                    ${Email}
                    # }#
                </td>
                <td>
                    #if (Group != null) { #
                    ${Group}
                    # }#
                </td>
                <td>
                    #if (Jobs != null) { #
                    ${Jobs}
                    # }#
                </td>

                <td>
                    #if (CreationDate != null) { #
                    #=$.date(CreationDate)#
                    # }#
                </td>
                <td>

                    #if (LastLogonTime != null) { #
                    #=$.dateTime(LastLogonTime)#
                    # }#
                </td>
                <td>
                    #if (Locked != null && Locked == 'Yes') { #
                    <span>Yes (<a href="##" class="locked" data-id="${ID}">unlock</a>)</span>
                    # }#
                </td>
            </tr>
        </script>
    </div>
    <div id="dvPageAlpha" class="k-pager-wrap">
    </div>
</div>

<div id="dvLoader" style="text-align: center; padding-top: 160px">
    <h4>Loading Users</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
</div>

<div id="dvAddPopup" style="display: none">
    <div style="height: 30px">
        <div style="float: left; width: 50%">
            Add user for
            <select id="ddAddUser">
                <option value="">--Select--</option>
                <option value="Firms">Firm</option>
                <option value="Accounts">Account</option>
            </select>
        </div>
        <div id="dvAddButtons" style="float: right; text-align: right; width: 50%">
            <input id="btnContinue" type="button" value="Continue" />
            <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
        </div>
    </div>
    <div id="dvAddGrid" style="max-height: 375px; display: none; padding-bottom: 20px; margin-top: 10px">
        <table id="tblAddGrid" style="width: 100%">
            <tr>
                <th style="width: 5%"></th>
                <th>Name</th>
                <th style="width: 45%">Firm</th>
            </tr>
        </table>
        <script id="AddGridTemplate" type="text/x-kendo-template">
            #if (CategoryID == null || !('@ViewBag.EntityType' == '@((int)EntityTypes.Client)' && CategoryID == '@((int)EntityCategories.System)')) { #
            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}" class="view">
                <td style="text-align: center">
                    #if (Type == '@((int)EntityGenericType.Entity)') { #
                    <span class="icon-building"></span>
                    # } else if (Type == '@((int)EntityGenericType.Client)') { #
                    <span class="fa fa-users"></span>
                    # } #
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Parent != null) { #
                    ${Parent}
                    # }#
                </td>
            </tr>
            # } #
        </script>
    </div>
    <div id="dvAddLoader" style="text-align: center; height: 375px; display: none">
        <br /><br /><br /><br /><br />
        <h4></h4><img src='@Url.Content("~/images/loadingdots.gif")' />
    </div>
</div>

<script>
    var client = '@((int)EntityGenericType.Client)';
    var fund = '@((int)EntityGenericType.Fund)';
    var entity = '@((int)EntityGenericType.Entity)';
    var entity = '@((int)EntityGenericType.Entity)';
    $(function () {

        if ('@(CommonFunction.IsOptionAllowed(Option.CreateAccountManager))' == '@false') {
            $('#btnAdd').attr('disabled', 'disabled');
            $('#btnAdd').attr('title', 'Permission required to add user');
        }
        if ('@(CommonFunction.IsOptionAllowed(Option.DeleteUser))' == '@false') {
            $('#btnDelete').attr('disabled', 'disabled');
            $('#btnDelete').attr('title', 'Permission required to delete user');
        }

        $(".lnkSearch").die("click").live("click", function (event) {
            var txt = event.target.innerHTML;
            if (txt == "ALL") {
                txt = "";
            }
           
            SetFirmGrid(searchFirmGridList(farmModel, txt));
            event.preventDefault();
        });

        $('.locked').live('click', (function (e) {
            var link = $(this);
            var id = link.data('id');
            unlock(id, function (response) {
                if (!response.result)
                {
                    link.die('click');
                    link.parent().remove();
                }
                    
            });

            e.preventDefault();
        }));

    });

</script>

<script>
    function SetFirmGrid(Fmodel) {
        $('#dvGrid').show();
        $('#dvLoader').hide();

        if ($("#dvFirmGrid #tblFirmGrid").data("kendoGrid")) {
            SetFirmGridRebind(Fmodel);
            return;
        }
        var objJobs = $("#dvFirmGrid #tblFirmGrid").kendoGrid({
            dataSource: {
                data: Fmodel
                , pageSize: 50
            },
            pageable: true,
            scrollable: false,
            selectable: true,
            rowTemplate: kendo.template($("#FirmGridTemplate").html()),
        });
        if (Fmodel != undefined && Fmodel.length == 0) {

            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
        }

        $(".imgEntityDetail").die("click").live("click", function (event) {
            var tr = $(this).closest("tr");
            var id = $(tr).attr("data-id");
            window.location.href = '@Url.Content("~/User/Detail/")' + id;
        });

        $('#dvFirmGrid #tblFirmGrid tbody tr').live('dblclick', function() {
            var id = $(this).attr("data-id");
            if (id != null && id != '')
                window.location.href = '@Url.Content("~/User/Detail/")' + id;
        });
    }
    function SetFirmGridRebind(Fmodel) {

        var grid = $("#dvFirmGrid #tblFirmGrid").data("kendoGrid");
        var dataSource = grid.dataSource;
        var newSource = dataSource;
        dataSource.data(Fmodel);

        if (Fmodel != undefined && Fmodel.length == 0) {

            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
        }


    }
    function searchFirmGridList(Fmodel, name) {
        var result = [];

        if (name == "")
            return Fmodel;
        $.each(Fmodel, function (i, row) {
            if (row.Name.toUpperCase().indexOf(name) == 0) {
                result.push(row);
            }
        });
        return result;
    }
    function DistictAlpaArray(Fmodel) {
        var result = [];
        $.each(Fmodel, function (i, row) {

            var ch = row.Name.charAt(0).toUpperCase();;
            if (jQuery.inArray(ch, result) == -1) {
                result.push(ch);
            }
        });
        return result;
    }
    function displaySearchAplha(FModel) {
        FModel = DistictAlpaArray(FModel);
        FModel.sort();
        var lnkhtml = " Filters:  ";
        lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>ALL</a>";
        $.each(FModel, function (i, row) {
            lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>" + row + "</a>" + "";
        });

        $("#dvPageAlpha").html(lnkhtml);
    }
</script>

<script>
    $(function() {
        $('#btnAdd').click(function () {
            $('#ddAddUser').kendoDropDownList();

            $('#dvAddPopup').dialog({
                title: 'Select Parent',
                width: 800,
                height: 'auto',
                modal: true
            });
        });

        $('#ddAddUser').change(function () {
            var selectedItem = $("#ddAddUser").data("kendoDropDownList").value();
            if (selectedItem == '') {
                $('#dvAddGrid').hide();
                $('#dvAddLoader').hide();
                $("#dvAddPopup").dialog("option", "position", "center");
                return;
            }

            $('#dvAddLoader').show();
            $('#dvAddLoader h4').html('Loading ' + selectedItem);

            loadEntities(selectedItem == 'Firms' ? '@EntityTypes.Entity' : '@EntityTypes.Client');
        });

        $('#btnContinue').click(function() {
            var selectedEntity = $('#tblAddGrid tr.k-state-selected');
            if (selectedEntity.length == 0) {
                doAlert('Please select parent first');
                return;
            }

            $('#dvAddButtons input').hide();
            $('#dvAddButtons img').show();

            var parentId = $(selectedEntity).attr('id');
            window.location.href = '@Url.Content("~/Firm/Add/?type=")' + '@EntityTypes.User' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
        });

        $('#btnDelete').click(function () {
            var selectedItem = $('#tblFirmGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select item to delete');
                return;
            }

            var id = $(selectedItem).attr('id');

            doConfirm("Are you sure want to delete this user?",
                function yes() {
                    $('#toolbar button').hide();
                    $('#toolbar #dvloader').show();

                    $.ajax({
                        url: '@Url.Action("Delete", "User")',
                        data: { id: id },
                        type: "GET",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function (data) {
                            if (data.ResponseMessage != '') {
                                doAlert(data.ResponseMessage);
                            }
                            else {
                                $(selectedItem).remove();
                            }

                            $('#toolbar button').show();
                            $('#toolbar #dvloader').hide();
                        }
                    });
                },
                function no() {
                }
            );
        });
    });

    function loadEntities(type) {
        $.ajax({
            url: '@Url.Action("GetParents", "Firm")',
            data: { type: type },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                if ($("#dvAddPopup #tblAddGrid").data("kendoGrid")) {
                    var grid = $("#dvAddPopup #tblAddGrid").data("kendoGrid");
                    var dataSource = grid.dataSource;
                    var newSource = dataSource;
                    dataSource.data(data);
                }
                else {
                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                        dataSource: {
                            data: data
                            , pageSize: 10
                        },
                        pageable: true,
                        scrollable: false,
                        selectable: true,
                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                    });
                }

                if (data != undefined && data.length == 0) {
                    $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                }

                $('#dvAddLoader').hide();
                $('#dvAddGrid').show();
                $("#dvAddPopup").dialog("option", "position", "center");
            }
        });
    }
</script>