﻿@using Kendo.Mvc.UI

<div>
    <img src="@Url.Action("GetProfileImage", "User")" style="width: 96px; height: 99px" id="profilePictureProfile" />
    <div id="loaderProfilePicture" style="display:none"><img src="~/Images/loader.gif" />&nbsp;&nbsp;Updating . . .</div>
    @(Html.Kendo().Upload()
            .Name("files").Events(e => e.Success("onSuccess").Upload("onUpload"))
            .ShowFileList(false)
            .Multiple(false)
            .Async(
                    a => a
                    .Save("UploadPrfilePicture", "User")
                    .AutoUpload(true)
                  )
            .Messages(m => m.Select("Change"))
            .HtmlAttributes(new {style = "width:100px" })
    )
</div>
<script>
    function onUpload() {
        $("#profilePictureProfile").hide();
        $("#loaderProfilePicture").show();
    }
    function onSuccess() {
        $.ajax({
        url: '@Url.Content("~/User/GetProfileImageJson")',
        type: "GET",
        cache: false,
        error: function (error) {
            $("#profilePictureProfile").show();
            $("#loaderProfilePicture").hide();
        },
        success: function (data) {
            isSessionExpired(data, '@Url.Content("~/Account/Login")');

            $("#profilePictureTop").attr("src", "data:image/jpg;base64," + data.base64image);
            $("#profilePicturePopUp").attr("src", "data:image/jpg;base64," + data.base64image);
            $("#profilePictureProfile").attr("src", "data:image/jpg;base64," + data.base64image);
            $("#profilePictureProfile").show();
            $("#loaderProfilePicture").hide();
        }
    });
    }
</script>