﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerCreateModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@if (!Model.HasLogin)
{
    <style scoped>
        .login {
            display: none;
        }
    </style>
}

@{
    ViewBag.Title = Model.ID == 0 ? "Create User" : "Update User";
    if (Model.User == null) { Model.User = new DBASystem.SMSF.Contracts.ViewModels.UserCreateModel { GroupID = 0 }; }
    Model.User.ListGroups = new DBASystem.SMSF.Web.Controllers.FirmController().GetGroups();
    var action = Model.ID == 0 ? "Create" : "Edit";
}
<div id="contentmain">
    <div id="contentinner">
        <h2>@ViewBag.Title</h2>
        <input id="txtEncryptedID" type="hidden" value="@ViewBag.EncryptedID" />

        @using (Html.BeginForm(action, "User", FormMethod.Post, new { id = "frmCreateUser" }))
        {
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.EntityID)
            @Html.HiddenFor(model => model.Status)

            <table style="width: 100%" class="nobordertable">
                <tr>
                    <td style="width: 20%">
                        Title
                    </td>
                    <td>
                        @Html.Kendo().DropDownListFor(model => model.Title).BindTo(Model.ListTitle)
                        @Html.ValidationMessageFor(model => model.Title)
                    </td>
                </tr>
                <tr>
                    <td>
                        First Name
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Middle Name
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.MidName, new { placeholder = "Middle Name" })
                        @Html.ValidationMessageFor(model => model.MidName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                        @Html.ValidationMessageFor(model => model.LastName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Address
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
                        <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.CheckBoxFor(model => model.HasLogin) Has Login
                    </td>
                </tr>
                <tr class="login">
                    <td colspan="2">
                        <hr />
                        <h2>Login Information</h2>
                    </td>
                </tr>
                <tr class="login">
                    <td>
                        Group
                    </td>
                    <td>
                        @Html.Kendo().DropDownListFor(model => model.User.GroupID).BindTo(Model.User.ListGroups)
                        @Html.ValidationMessageFor(model => model.User.GroupID)
                    </td>
                </tr>
                @if (Model.ID == 0 || !Model.HasLogin)
                {
                    <tr class="login">
                        <td>
                            Password
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.User.Password, new { placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.User.Password)
                            <span id="passwordPolicyMessage" style="display:none" class="field-validation-error"></span>
                        </td>
                    </tr>
                    <tr class="login">
                        <td>
                            Confirm Password
                        </td>
                        <td>
                            @Html.PasswordFor(model => model.User.ConfirmPassword, new { placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.User.ConfirmPassword)
                        </td>
                    </tr>
                }
            </table>
            <div id="toolbar">
                <button id="btnSave" type="submit" class="btn btn-purple">
                    <span class="fa fa-save"></span>Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-purple">
                    <span class="icon-remove-sign"></span>Cancel
                </button>
                <div id="dvloader">
                    <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Saving . . .
                </div>
            </div>
        }
        <div class="manager">
            <hr />
            <h2>
                Contact Information
                @if (CommonFunction.IsOptionAllowed(Option.AddTelephone))
                {<img src='@Url.Content("~/Images/add.png")' class="add" title="Click to add new contact information" />}
            </h2>
            <div id="dvContacts" style="padding: 5px 0 40px 0; width: 40%">
                @Html.Partial("_ListContactInfo")
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryui")
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
<script type="text/javascript">
    var passwordPolicy;
    var formValuesChanged = false;
    $(function () {
        $.validator.unobtrusive.parse("#frmCreateUser");
        $("#User_Password").keyup(function () {
            if (!passwordPolicy.test($("#User_Password").val()))
                $("#passwordPolicyMessage").show();
            else
                $("#passwordPolicyMessage").hide();
        });
        $("#frmCreateUser").data("validator").settings.ignore = ":hidden";
        $('#frmCreateUser').attr('autocomplete', 'off');

        $('#HasLogin').click(function () {
            var dropdownlist = $("#User_GroupID").data("kendoDropDownList");
            dropdownlist.select(function (dataItem) {
                return dataItem.Value == "";
            });
            $("#User_GroupID").val('0');

            if ($(this)[0].checked) {
                $('.login').css({ display: 'table-row' });
                if (passwordPolicy == null) {
                    //password policy is loaded with ajax to avoid useless query
                    $.ajax({
                        url: '@Url.Content("~/Account/GetPasswordPolicy")',
                        type: "GET",
                        cache: false,
                        dataType: "json",
                        error: function (xhr, status, error) {
                        },
                        success: function (data) {
                            isSessionExpired(data, '@Url.Content("~/Account/Login")');

                            SetPasswordPolicy(data.Value.ValidationExpression);
                            $("#passwordPolicyMessage").empty().html(data.Value.ValidationMessage);
                        }
                    });
                }
            }
            else {
                $('#User_Password').val('');
                $('#User_ConfirmPassword').val('');

                $('.login').hide();
            }
        });

        $('#User_Password').val('@Model.User.Password');
        $('#User_ConfirmPassword').val('@Model.User.Password');

        $('#btnSave').click(function () {

            if ($('#HasLogin')[0].checked) {
                if ($('#User_GroupID').val() == 0) {
                    $('span[data-valmsg-for="User.GroupID"]').html('@Resource_EN.Error_GroupFieldRequired');
                    $('span[data-valmsg-for="User.GroupID"]').removeClass().addClass('field-validation-error');
                    $('span[data-valmsg-for="User.GroupID"]').removeClass().addClass('field-validation-error');

                    return false;
                }
                if (!passwordPolicy.test($("#User_Password").val())) {
                    $("#passwordPolicyMessage").show();
                    return false;
                }
                $("#passwordPolicyMessage").hide();
            }

            if ($('#frmCreateUser').valid()) {

                $('#toolbar button').hide();
                $('#toolbar #dvloader').show();
            }
        });

        $('#btnCancel').click(function () {
            if ('@Model.ID' == 0)
                window.location.href = '@Url.Content("~/Firm/Detail/")' + $('#txtEncryptedID').val();
            else
                window.location.href = '@Url.Content("/User/Detail/")' + $('#txtEncryptedID').val();
        });

        $('.add').click(function () {
            $.get('@Url.Content("~/User/CreateContactInfo")', function (data) {
                $('#dvCreateNew').remove();
                $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                $('#dvCreateNew').empty().html(data);
                $('#dvCreateNew').dialog({
                    title: 'Add New Contact Info',
                    width: 600,
                    height: 'auto',
                    modal: true
                });
            }).error(function () {
                window.location.href = '@Url.Content("~/Error/Index")';
            });
        });

        $('#Email').blur(function () {
            var email = $(this).val();
            if (true) {
                var td = $(this).closest('td');
                $(td).find('img').show();
                $('#toolbar input[type=submit]').attr('disabled', 'disabled');

                $.ajax({
                    dataType: "json",
                    url: '@Url.Content("~/User/ValidateEmail")',
                    data: { id: $('#ID').val(), entityId: $('#EntityID').val(), email: email },
                    success: function (data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        $(td).find('img').hide();
                        if (data != '@(CommonFunction.GetEnumeratorDescription<StatusMessage>(StatusMessage.LoginNameAlreadyExists))') {
                            $(this).removeClass().addClass('field-validation-valid');
                            $(td).find('span').removeClass().addClass('field-validation-valid');
                            $('#toolbar input[type=submit]').removeAttr('disabled');
                        }
                        else {
                            $(td).find('span').html(data);
                            $(this).removeClass().addClass('field-validation-error');
                            $(td).find('span').removeClass().addClass('field-validation-error');
                        }
                    }
                });
            }
        });
    });
    $('input[type=text],select,textarea,:password').change(function () {
        setformChanged();
    });
    function setformChanged() {

        if (!formValuesChanged) {
            formValuesChanged = true;
            alertBeforeRedirect();
        }
    }
    function loadUser() {
        loadContactInfo();
    }

    function loadContactInfo() {
        $.get('@Url.Content("~/User/GetContactInfo")', function (data) {
            $('#dvContacts').empty().html(data);
        }).error(function () {
            window.location.href = '@Url.Content("~/Error/Index")';
        });
    }
    function SetPasswordPolicy(expression) {
        passwordPolicy = RegExp(expression);
    }
</script>
