﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerDetailModel
@using System.Diagnostics.Eventing.Reader
@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common;

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<style>
    fieldset {
        border: 2px groove threedface;
        margin-bottom: 10px;
    }
</style>


<div id="contentmain">
    <div id="contentinner">
        <div id="detailBody">
            <div id="toolbar">
                <button class="btn btn-purple" id="btnBack">
                    <span class="icon-circle-arrow-left icon-white"></span> Back
                </button>
                @if (CommonFunction.IsOptionAllowed(Option.CreateAccountManager))
                {
                    <button id="btnAdd" class="btn btn-purple" title="Click to add new user">
                        <span class="fa fa-plus-circle"></span>Add
                    </button>
                }
                else
                {
                    <button id="btnAdd" class="btn btn-purple" title="Permission required to add new user" disabled="disabled">
                        <span class="fa fa-plus-circle"></span>Add
                    </button>
                }
                @if (CommonFunction.IsOptionAllowed(Option.UpdateAccountManager))
                {
                    <button id="btnEdit" class="btn btn-purple" title="Click to edit this user">
                        <span class="fa fa-pencil-square-o"></span>Edit
                    </button>
                }
                else
                {
                    <button id="btnEdit" class="btn btn-purple" title="Permission required to edit this user" disabled="disabled">
                        <span class="fa fa-pencil-square-o"></span>Edit
                    </button>
                }
                @if (CommonFunction.IsOptionAllowed(Option.DeleteUser) && SessionHelper.UserId != @Model.ID)
                {
                    <button id="btnDelete" class="btn btn-purple" title="Click to delete this user">
                        <span class="fa fa-trash-o"></span> Delete
                    </button>
                }
                else
                {
                    <button id="btnDelete" class="btn btn-purple" title="Permission required to delete this user" disabled="disabled">
                        <span class="fa fa-trash-o"></span> Delete
                    </button>
                }
                <div id="dvloader" style="display: none; color: white">
                    <img src="~/Images/loader1.gif" /> Deleting User . . .
                </div>
            </div>

            <h3>@Model.Title @Model.FirstName&nbsp;@Model.LastName</h3>
            <div style="font-style: italic">Last Login : @(Model.UserDetail != null ? Model.UserDetail.LastLoginTime.ToString() : "")</div>

            <fieldset id="detail">
                <div style="padding: 0 0 15px 25px">
                    <table id="tblGenericChilds" class="nobordertable">
                        <tr>
                            <td style="width:15%;padding-right:20px">Managed Firm</td>
                            <td>@Model.ParentEntity</td>
                        </tr>
                        <tr>
                            <td>Managed Account</td>
                            <td>@Model.ParentClient</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>@Model.Title</td>
                        </tr>
                        <tr>
                            <td>First Name </td>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <td>Middle Name</td>
                            <td>@(Model.MidName !=null?Model.MidName:"")</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>@Model.LastName</td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>
                                @(Model.UserDetail != null ? Model.UserDetail.Group.ToString() : "")
                            </td>                                                         
                        </tr>
                        @if (SessionHelper.Group == UserGroup.Administrators)
                        {
                            <tr>
                                <td>Locked</td>
                                <td>
                                    @if (Model.Locked)
                                    {
                                       <span>Yes&nbsp;&nbsp;[<a href="#" id="unlockUser" data-id="${ID}">Unlock</a>] </span> 
                                    }
                                    else
                                    {
                                       <span>No</span>
                                    }
                                </td>                                                         
                            </tr>
                        }
                    </table>
                </div>
            </fieldset>

            <fieldset id="contacts" style="border:2px groove threedface;">
                <legend>Contact Information</legend>
                <div id="dvContacts" style="padding: 0 0 15px 25px">
                    <span id="dvContactsError" class="error">No contacts found</span>
                    <table id="contactsList" class="nobordertable" style="width:100%">
                        <tbody></tbody>
                    </table>
                </div>
            </fieldset>
            <script id="contactTemplete" type="text/x-jquery-tmpl">
                <tr>
                <td style="width: 100px">${Type}</td>
                <td>
                    {{if CountryCode}}
                    ${CountryCode}-
                    {{/if}}
                    {{if AreaCode}}
                    ${AreaCode}-
                    {{/if}}
                    ${PhoneNumber}
                </td>
            </script>

            <fieldset id="Jobs" style="border:2px groove threedface;">
                <legend>Associated Jobs</legend>
                <div id="dvJobs" style="padding: 0 15px 15px 25px;max-height: 300px;overflow-y: auto" >
                    <span id="dvJobsError" class="error">Job association not found</span>
                    <table id="jobsList" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:20%;">Title</th>
                                <th style="width:14%;">Role</th>
                                <th style="width:21%;">Client</th>
                                <th style="width:21%;">Fund</th>
                                <th style="width:24%;">Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </fieldset>
            <script id="jobTemplete" type="text/x-jquery-tmpl">
                <tr>
                    <td>${JobTitle}</td>
                    <td>{{html toCsv(ManagerRole)}}</td>
                    <td>${ClientName}</td>
                    <td>${FundName}</td>
                    <td>${JobFlowStatus}</td>
                </tr>
            </script>

            <script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
        </div>

        <div id="dvAddPopup" style="display: none">
            <div style="height: 30px">
                <div style="float: left; width: 50%">
                    Add user for
                    <select id="ddAddUser">
                        <option value="">--Select--</option>
                        <option value="Firms">Firm</option>
                        <option value="Accounts">Account</option>
                    </select>
                </div>
                <div id="dvAddButtons" style="float: right; text-align: right; width: 50%">
                    <input id="btnContinue" type="button" value="Continue" />
                    <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
                </div>
            </div>
            <div id="dvAddGrid" style="max-height: 375px; display: none; padding-bottom: 20px; margin-top: 10px">
                <table id="tblAddGrid" style="width: 100%">
                    <tr>
                        <th style="width: 5%"></th>
                        <th>Name</th>
                        <th style="width: 45%">Firm</th>
                    </tr>
                </table>
                <script id="AddGridTemplate" type="text/x-kendo-template">
                    <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}">
                        <td style="text-align: center">
                            #if (Type == '@((int)EntityGenericType.Entity)') { #
                            <span class="icon-building"></span>
                            # } else if (Type == '@((int)EntityGenericType.Client)') { #
                            <span class="fa fa-users"></span>
                            # } #
                        </td>
                        <td>
                            #if (Name != null) { #
                            ${Name}
                            # }#
                        </td>
                        <td>
                            #if (Parent != null) { #
                            ${Parent}
                            # }#
                        </td>
                    </tr>
                </script>
            </div>
            <div id="dvAddLoader" style="text-align: center; height: 375px; display: none">
                <br /><br /><br /><br /><br />
                <h4></h4><img src='@Url.Content("~/images/loadingdots.gif")' />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
<script>
    var model;
    $(function () {

        model = jQuery.parseJSON('@Html.Raw(Json.Encode(Model))');

        //binding Contact List
        if (model.ListContactInfo.length != 0) {
            var contactHtml = $('#contactTemplete').tmpl(model.ListContactInfo);
            $('#dvContactsError').hide();
            $('#dvContacts table tbody').empty().append(contactHtml);
        }
        else {
            $('#dvContacts table').hide();
        }
        if (model.Jobs.length != 0) {
            var contactHtml = $('#jobTemplete').tmpl(model.Jobs);
            $('#dvJobsError').hide();
            $('#dvJobs table tbody').empty().append(contactHtml);
        }
        else {
            $('#dvJobs table').hide();
        }

        $('#btnEdit').click(function () {
            if ('@CommonFunction.IsOptionAllowed(Option.UpdateAccountManager)')
                window.location.href = '@Url.Content("~/Firm/Update/?type=" + EntityGenericType.User)' + '&id=' + '@Model.ID' + '&previousUrl=' + window.location.href;
            }
        );
        @*$('#btnDelete').click(function () {
            doConfirm('Are you sure want to delete this record?',
                function yes() {
                    $('#toolbar button').hide();
                    $('#toolbar #dvloader').show();
                    window.location.href = '@Url.Content("~/User/Delete/")' + '@Model.ID';
                },
                function no() {
                }
            );
        });*@
        $('#btnBack').click(function () {
            window.location.href = '@Url.Content("~/User/Index/" )';
        });
    });
    function toCsv(arr) {

        return arr.join(" <br /> ");
    }
    function FromJsonDate(dateObj) {

        var dt = new Date(parseInt(dateObj.replace('/Date(', '')));
        var curr_date = dt.getDate();
        var curr_month = dt.getMonth() + 1; //Months are zero based
        var curr_year = dt.getFullYear();
        return curr_date + "-" + curr_month + "-" + curr_year;

    }
    function GetDocuments(folder) {

        $('#dvDocuments table tbody').empty().append('<tr><td colspan="3"><img src=' + '@Url.Content("~/images/loader.gif")' + ' /> Loading Documents ...</td></tr>')
        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetFiles")',
            data: { folderPath: folder },
            type: "GET",
            cache: false,
            error: function (error) {
                $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No document found</td></tr>');
            },
            success: function (data) {
                if (data == null) {
                    $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">Unable get files , please contact your administrator.</td></tr>');
                }
                else if (data.length > 0) {
                    var t = $('#documentTemplate').tmpl(data)
                    $('#dvDocuments table tbody').empty().append(t);
                }
                else {
                    $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No document found</td></tr>');
                }
                $("#dvShowDocuments").dialog("option", "position", "center");
            }
        });
    }
    function hideShowButtons() {
        $('#spAddEntity').hide();
        $('#spAddGroup').hide();
        $('#spAddClient').hide();
        $('#spAddFund').hide();
        $('#spAddUser').hide();
        $('#spAddJob').hide();

        if (model != null) {
            if (model.Type == '@EntityTypes.Client') {
                $('#spAddFund').show(); $('#spAddUser').show();
            }
            else if (model.Type == '@EntityTypes.Fund') {
                $('#spAddJob').show();
            }
            else if (model.Type == '@EntityTypes.Entity') {
                $('#spAddEntity').show(); $('#spAddGroup').show(); $('#spAddClient').show(); $('#spAddUser').show();
            }

            if ('@CommonFunction.IsOptionAllowed(Option.AddFirm)' == '@true')
                $('#ibtnAddEntity').die('click').click(function () {
                    loadCreateEntity('@Url.Content("~/Entity/Create/?parentId=")' + model.ID, 'Create New Entity');
                });
            else
                $('#ibtnAddEntity').attr('title', 'Permission required to add new entity');
            if ('@CommonFunction.IsOptionAllowed(Option.AddGroup)' == '@true')
                $('#ibtnAddGroup').die('click').click(function () { loadCreateEntity('@Url.Content("~/Entity/CreateGroupPartial/?parentId=")' + model.ID, 'Create New Group'); });
            else
                $('#ibtnAddGroup').attr('title', 'Permission required to add new group');
            if ('@CommonFunction.IsOptionAllowed(Option.CreateAccountManager)' == '@true')
                $('#ibtnAddUser').die('click').click(function () { loadCreateEntity('@Url.Content("~/User/CreatePartial/?entityId=")' + model.ID, 'Create New User'); });

            else
                $('#ibtnAddUser').attr('title', 'Permission required to add new user');
            if ('@CommonFunction.IsOptionAllowed(Option.AddAccount)' == '@true')
                $('#ibtnAddClient').die('click').click(function () { loadCreateEntity('@Url.Content("~/Entity/CreateClientpartial/?parentId=")' + model.ID, 'Create New Client'); });
            else
                $('#ibtnAddClient').attr('title', 'Permission required to add new client');
            if ('@CommonFunction.IsOptionAllowed(Option.AddFund)' == '@true')
                $('#ibtnAddFund').die('click').click(function () { loadCreateEntity('@Url.Content("~/Entity/CreateFundPartial/?parentId=")' + model.ID, 'Create New Fund'); });
            else
                $('#ibtnAddFund').attr('title', 'Permission required to add new fund');
            if ('@CommonFunction.IsOptionAllowed(Option.AddJob)' == '@true')
                $('#ibtnAddJob').die('click').click(function () { loadCreateEntity('@Url.Content("~/Job/CreatePartial/?id=")' + model.ID, "Create New Job"); });
            else
                $('#ibtnAddJob').attr('title', 'Permission required to add new job');
        }
    }

    function loadCreateEntity(url1, titletxt) {
        window.location.href = url1;
    }
</script>

<script>
    $(function() {
        $('#btnAdd').click(function () {
            $('#ddAddUser').kendoDropDownList();

            $('#dvAddPopup').dialog({
                title: 'Select Parent',
                width: 800,
                height: 'auto',
                modal: true
            });
        });

        $('#ddAddUser').change(function () {
            var selectedItem = $("#ddAddUser").data("kendoDropDownList").value();
            if (selectedItem == '') {
                $('#dvAddGrid').hide();
                $('#dvAddLoader').hide();
                $("#dvAddPopup").dialog("option", "position", "center");
                return;
            }

            $('#dvAddLoader').show();
            $('#dvAddLoader h4').html('Loading ' + selectedItem);

            loadEntities(selectedItem == 'Firms' ? '@EntityTypes.Entity' : '@EntityTypes.Client');
        });

        $('#btnContinue').click(function() {
            var selectedEntity = $('#tblAddGrid tr.k-state-selected');
            if (selectedEntity.length == 0) {
                doAlert('Please select parent first');
                return;
            }

            $('#dvAddButtons input').hide();
            $('#dvAddButtons img').show();

            var parentId = $(selectedEntity).attr('id');
            window.location.href = '@Url.Content("~/Firm/Add/?type=")' + '@EntityTypes.User' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
        });

        $('#btnDelete').click(function () {
            doConfirm("Are you sure want to delete this user?",
                function yes() {
                    $('#toolbar button').hide();
                    $('#toolbar #dvloader').show();

                    $.ajax({
                        url: '@Url.Action("Delete", "User")',
                        data: { id: '@Model.ID' },
                        type: "GET",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function (data) {
                            if (data.ResponseMessage != '') {
                                doAlert(data.ResponseMessage);
                            }
                            else {
                                window.location.href = '@Url.Action("Index", "User")';
                            }

                            $('#toolbar button').show();
                            $('#toolbar #dvloader').hide();
                        }
                    });
                },
                function no() {
                }
            );
        });
        $("#unlockUser").on("click", function () {
            var link = $(this);
            $.ajax({
                url: '@Url.Content("~/User/Unlock")',
                data: { id: "@Model.ID" },
                type: "POST",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function(data) {
                    
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');
                    if (data.result == 'Success'){
                        link.parent().empty().html("No");
                        doAlert("User unlocked successfully.");
                    }
                }
            });
        });
  
    });

    function loadEntities(type) {
        $.ajax({
            url: '@Url.Action("GetParents", "Firm")',
            data: { type: type },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                if ($("#dvAddPopup #tblAddGrid").data("kendoGrid")) {
                    var grid = $("#dvAddPopup #tblAddGrid").data("kendoGrid");
                    var dataSource = grid.dataSource;
                    var newSource = dataSource;
                    dataSource.data(data);
                }
                else {
                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                        dataSource: {
                            data: data
                            , pageSize: 10
                        },
                        pageable: true,
                        scrollable: false,
                        selectable: true,
                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                    });
                }

                if (data != undefined && data.length == 0) {
                    $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                }

                $('#dvAddLoader').hide();
                $('#dvAddGrid').show();
                $("#dvAddPopup").dialog("option", "position", "center");
            }
        });
    }
</script>