﻿@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
<nav id="secondary">
    @Html.Partial(Url.Content("~/Views/Firm/_SearchFilter.cshtml"))
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Users</h2>
        @Html.Partial("_Index")
    </div>
</div>

<script>
    $(function () {
        var searchFilterJson = [
            { 'Display': 'Firm', 'Field': 'Firm', 'DefaultValue': '@ViewBag.Firm', 'Type': 'txt', 'placeholder': 'Firm Name' },
            { 'Display': 'Account', 'Field': 'Account', 'DefaultValue': '@ViewBag.Account', 'Type': 'txt', 'placeholder': 'Account' },
            { 'Display': 'First Name', 'Field': 'FirstName', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'First Name' },
            { 'Display': 'Last Name', 'Field': 'LastName', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Last Name' },
            { 'Display': 'Email', 'Field': 'Email', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Email' },
            { 'Display': 'Date From', 'Field': 'CreationDate', 'DefaultValue': '@ViewBag.DateFrom', 'Type': 'date>', 'placeholder': 'Creation date from' },
            { 'Display': 'To', 'Field': 'CreationDate', 'DefaultValue': '@ViewBag.DateTo', 'Type': 'date<', 'placeholder': 'Creation date to' }
        ];
        setSearchFilter(searchFilterJson);
        getSearchFilterModel();
       
   
    });
    
    function unlock(id, callback) {
         
        $.ajax({
            url: '@Url.Content("~/User/Unlock")',
            data: { id: id },
            type: "POST",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                callback(data);
            }
        });
    }

</script>
