﻿.menu { font-size: 0; }
.menu > li {
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
}
.menu > li + li {
    margin-left: 5px;
}
.menu > li > a {
    color: white;
    font-weight: bold;
    background-color: #666;
    text-decoration: none;
    display: block;
    padding: 2px 4px 2px 4px;
}

.menu > li.active > a {
    background-color: #2C879B;
}

.menu > li > a:hover {
    background-color: #111;
}

#demo-list > li.current {
    font-style: italic;
}
#demo-list > li.current:after {
    content: "« currently viewing";
    color: #AAA;
    display: inline-block;
    margin-left: 20px;
}

/* hide whitespace between inline-block elements */
.inline-spaces { font-size: 0; }
.inline-spaces > * { font-size: 11px; }

/* demo trigger boxes */
.box {
    color: #EEE;
    background: #666;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}
.box:hover {
    background: #777;
}
.box > * {
    display:block;
}
.menu-injected { background-color: #C87958; }
.box.context-menu-disabled { background-color: red; }

