﻿@{
    ViewBag.Title = "Home Page";
    var message = ViewBag.Message != null ? ViewBag.Message.ToString(): "";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h6>@ViewBag.Title</h6>
            </hgroup>
        </div>
    </section>
}
@*
<div>
    <div id="dvHelp">These are the temporary links for admin section.</div>
    <br />
    @Html.ActionLink("Groups", "ListGroups", "Account")
    <br /><br />
    @Html.ActionLink("Roles", "ListRoles", "Account")
</div>*@
<input id="txtMessage" type="hidden" value="@message" />

<div class="big_icons">
    <a href="#" class="tasks">Tasks</a>
    <a href="#" class="calendar">Calendar</a>
    <a href="#" class="activity">Activity</a>
    <a href="#" class="invoices">Invoices</a>
    <a href="#" class="messages">Messages</a>
    <a href="#" class="timesheet">Time Sheet</a>
</div>
            
<div class="full_pane"></div>

<div class="pane1">				
    <div class="content"><img src="images/tasks_calendar.png"></div>
</div>

<div class="pane2">
				
    <div class="notifications">
        <div class="header">
            <img src="images/notifications.png" align="absmiddle"> Notifications 
            <select name="select" id="select" class="select-block">
                <option>Filter By</option>
            </select>
        </div>

        <div class="content">
            <ul>
                <li><i class="icon-user text-info"></i> New user registered</li>
                <li><i class="icon-plus text-danger"></i> <a href="#">John Doe</a> added a new photo</li>
                <li><i class="icon-shopping-cart text-success"></i> New order recieved</li>
                <li><i class="icon-user text-info"></i> New user registered</li>
                <li><i class="icon-plus text-danger"></i> <a href="#">John Doe</a> added a new photo</li>
                <li><i class="icon-shopping-cart text-success"></i> New order recieved</li>
                <li><i class="icon-user text-info"></i> New user registered</li>
                <li><i class="icon-plus text-danger"></i> <a href="#">John Doe</a> added a new photo</li>
                <li><i class="icon-shopping-cart text-success"></i> New order recieved</li>                                                        
            </ul>
        </div>
    </div>
                

</div>

<script type="text/javascript">
    $(function () {
        if ($('#txtMessage').val() != '') {
            $('<div/>', { id: 'dvMessage' }).html($('#txtMessage').val()).appendTo('body');

            $('#dvMessage').fadeIn('slow');
            $('#dvMessage').delay(5000).fadeOut('slow');
            setStatusBarMessage($('#txtMessage').val());
        }
    });
</script>