﻿@model DBASystem.SMSF.Contracts.ViewModels.AddressCreateModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

<script type="text/javascript">
    function getCountryId() {
        return { countryId: $('#dvCreateNew #CountryID').val() };
    }
    function onCountryChange() {
        var dd = $("#dvCreateNew #CountryID").data("kendoDropDownList");
        $('#dvCreateNew #Country').val(dd.text());

        $.ajax({
            url: '@Url.Content("~/Firm/GetStates")',
            data: { countryId: $('#dvCreateNew #CountryID').val() },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                var ddl = $('#StateID').data("kendoDropDownList");
                ddl.setDataSource(data);

            }
        });
    }
    function onStateChange() {
        if ($("#dvCreateNew #StateID").val() != '') {
            var ddState = $("#dvCreateNew #StateID").data("kendoDropDownList");
            $('#dvCreateNew #State').val(ddState.text());
        }
        else
            $('#dvCreateNew #State').val('');
    }
</script>

@using (Ajax.BeginForm("CreateAddress", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmCreateAddress" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.State)
    @Html.HiddenFor(model => model.Country)

    <table style="width: 100%" class="nobordertable">
        <tr>
            <td>
                Address Type
            </td>
            <td colspan="3">
                @Html.Kendo().DropDownListFor(model => model.TypeID).BindTo(Model.ListTypes).OptionLabel("-- Select --").HtmlAttributes(new { style = "width: 210px" })
                @Html.ValidationMessageFor(model => model.TypeID)
            </td>
        </tr>
        <tr>
            <td style="width: 20%">
                <span id="spUnitNumber">Unit Number</span>
            </td>
            <td style="width: 35%">
                @Html.TextBoxFor(model => model.UnitNumber, new { placeholder = "Unit Number", style = "width: 200px" })
                @Html.ValidationMessageFor(model => model.UnitNumber)
            </td>
            <td style="width: 20%">Street Number</td>
            <td>
                @Html.TextBoxFor(model => model.StreetNumber, new { placeholder = "Street Number", style = "width: 200px" })
                <br />@Html.ValidationMessageFor(model => model.StreetNumber)
            </td>
        </tr>
        <tr>
            <td style="width: 15%">Street Name</td>
            <td>
                @Html.TextBoxFor(model => model.StreetName, new { placeholder = "Street Name", style = "width: 200px" })
                <br />@Html.ValidationMessageFor(model => model.StreetName)
            </td>
            <td>
                Street Type
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.StreetType).BindTo(CommonFunction.EnumeratorList<StreetType>(EumeratorType.String)).OptionLabel("-- Select --").HtmlAttributes(new { style = "width: 210px" })
                <br />@Html.ValidationMessageFor(model => model.StreetType)
            </td>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                @Html.TextBoxFor(model => model.City, new { placeholder = "City", style = "width: 200px" })
                <br />@Html.ValidationMessageFor(model => model.City)
            </td>
            <td>
                Post Code
            </td>
            <td>
                @Html.TextBoxFor(model => model.PostCode, new { placeholder = "Post Code", style = "width: 200px" })
                <br />@Html.ValidationMessageFor(model => model.PostCode)
            </td>
        </tr>
        <tr>
            <td>
                Country
                <img src='@Url.Content("~/Images/add.png")' class="add addcountry" title="Click to add new country" />
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(model => model.CountryID)
                    .BindTo(Model.ListCountires)
                    .OptionLabel("-- Select --")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("onCountryChange"))
                    .HtmlAttributes(new { style = "width: 210px" })
                      )
                <br />@Html.ValidationMessageFor(model => model.CountryID)
            </td>
            <td>
                State
                <img src='@Url.Content("~/Images/add.png")' class="add addstate" title="Click to add new state" />
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(model => model.StateID)
                        .OptionLabel("-- Select --")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(Model.ListState)
                        .Events(e => e.Change("onStateChange"))
                        .HtmlAttributes(new { style = "width: 210px" })
                )
                <br />@Html.ValidationMessageFor(model => model.StateID)
            </td>
        </tr>
        <tr>
            <td id="tdDefaultAddress">Default Address</td>
            <td colspan="3">
                @Html.CheckBoxFor(model => model.Default)
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="3" id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0)
                                            {<text>Update</text>}
                                            else
                                            {<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script id="addCountry" type="text/x-jquery-tmpl">
    <table style="width: 100%">
        <tr>
            <td>Country Name</td>
            <td>
                <input id="txtCountry" type="text" />
            </td>
        </tr>
        <tr>
            <td>Calling Code</td>
            <td>
                <input id="txtCode" type="text" style="width: 60px" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="btnSaveCountry" type="button" value="Save" />
                <input id="btnCancelCountry" type="button" value="Cancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
</script>
<script id="addState" type="text/x-jquery-tmpl">
    <table style="width: 100%">
        <tr>
            <td>Country</td>
            <td>
                <input id="lblCountryId" type="hidden" />
                <input id="lblCountry" type="text" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td>State Name</td>
            <td>
                <input id="txtState" type="text" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="btnSaveState" type="button" value="Save" />
                <input id="btnCancelState" type="button" value="Cancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
</script>

<script type="text/javascript">
    $(function() {
        $.validator.unobtrusive.parse("#frmCreateAddress");

        onCountryChange();

        if ('@Model.ID' != 0)
            onStateChange();

        $('#dvCreateNew #tdDefaultAddress').html('Default ' + ($('#dvCreateNew #TypeID :selected').val() != '' ? $('#dvCreateNew #TypeID :selected').text().trim() : '') + ' Address');

        var dd = $("#dvCreateNew #TypeID").data("kendoDropDownList");
        DisableControls(dd.text().trim());

        $('#dvCreateNew #TypeID').change(function () {
            var addType = dd.text().trim();
            $('#dvCreateNew #Type').val(addType);
            DisableControls(addType);

            $('#dvCreateNew #tdDefaultAddress').html('Default ' + ($('#dvCreateNew #TypeID').val() != '' ? addType : '') + ' Address');
        });

        $('#dvCreateNew #btnCancel').unbind('click').click(function () {
            $('#dvCreateNew').dialog('close');
        });
    });

    function DisableControls(addType) {
        if (addType == 'PO Box') {
            $('#dvCreateNew #spUnitNumber').html('PO Box Number');
            $('#dvCreateNew #UnitNumber').val('').attr('placeholder', 'PO Box Number');
            $('#dvCreateNew #StreetNumber').val('').attr('disabled', 'disabled');
            $('#dvCreateNew #StreetName').val('').attr('disabled', 'disabled');
            $("#dvCreateNew #StreetType").data("kendoDropDownList").enable(false);
        }
        else {
            $('#dvCreateNew #spUnitNumber').html('Unit Number');
            $('#dvCreateNew #UnitNumber').val('').attr('placeholder', 'Unit Number');
            $('#dvCreateNew #StreetNumber').removeAttr('disabled');
            $('#dvCreateNew #StreetName').removeAttr('disabled');
            $("#dvCreateNew #StreetType").data("kendoDropDownList").enable(true);
        }
    }

    function onBegin() {
        if ($('#frmCreateAddress').valid()) {
            $('#dvCreateNew #tdButtons input').hide();
            $('#dvCreateNew #tdButtons img').show();
            return true;
        }

        return false;
    }

    function onFailure(context) {
        window.location.href = '@Url.Content("~/Error/Index")';
    }

    function onSuccess(context) {
        if (context == "success") {
            if (typeof loadAddress == "function")
                loadAddress();
            if (typeof setformChanged == "function")
                setformChanged();

            $('#dvCreateNew').dialog('close');
        }
    }
</script>

<script>
    $(function () {
        $('.addstate').unbind('click').bind('click', function () {
            $('#dvCreateState').remove();
            $('<div/>', { id: 'dvCreateState' }).appendTo('body');
            $('#dvCreateState').empty().html($('#addState').tmpl());
            $('#dvCreateState').dialog({
                title: 'Add New State',
                width: 400,
                height: 'auto',
                modal: true
            });

            var country = $("#CountryID").data("kendoDropDownList");
            $('#lblCountryId').val(country.value());
            $('#lblCountry').val(country.text());
        });

        $('#btnSaveState').unbind('click').live('click', function () {
            if ($('#txtState').val() != '') {

                var td = $(this).closest('td');
                $(td).find('input:button').hide();
                $(td).find('img').show();

                $.post('@Url.Action("AddState", "Firm")', { name: $('#txtState').val(), countryId: $('#lblCountryId').val() }, function (result) {
                    if (result.status == 'success') {

                        var dd = $("#StateID").data("kendoDropDownList");
                        var ds = dd.dataSource;
                        ds.insert(0, { Value: result.ID, Text: $('#txtState').val() });

                        dd.value(result.ID);
                        $('#dvCreateState').dialog('close');
                    } else {
                        doAlert(result.message);
                        $(td).find('input:button').show();
                        $(td).find('img').hide();
                    }
                });

            } else
                doAlert('Please enter state name');
        });

        $('#btnCancelState').unbind('click').live('click', function () {
            $('#dvCreateState').dialog('close');
        });

        $('.addcountry').unbind('click').bind('click', function() {
            $('#dvCreateCountry').remove();
            $('<div/>', { id: 'dvCreateCountry' }).appendTo('body');
            $('#dvCreateCountry').empty().html($('#addCountry').tmpl());
            $('#dvCreateCountry').dialog({
                title: 'Add New Country',
                width: 400,
                height: 'auto',
                modal: true
            });
        });

        $('#btnCancelCountry').unbind('click').live('click', function() {
            $('#dvCreateCountry').dialog('close');
        });

        $('#btnSaveCountry').unbind('click').live('click', function() {
            if ($('#txtCountry').val() != '') {

                var name = $('#txtCountry').val();
                var code = $('#txtCode').val() != '' ? $('#txtCode').val() : null;
                var td = $(this).closest('td');
                $(td).find('input:button').hide();
                $(td).find('img').show();
                
                $.post('@Url.Action("AddCountry", "Firm")', { name: name, code: code }, function(result) {
                    if (result.status == 'success') {
                        
                        var dd = $("#CountryID").data("kendoDropDownList");
                        var ds = dd.dataSource;
                        ds.insert(0, { Value: result.ID, Text: $('#txtCountry').val() });

                        dd.value(result.ID);
                        onCountryChange();
                        $('#dvCreateCountry').dialog('close');
                    } else {
                        doAlert(result.message);
                        $(td).find('input:button').show();
                        $(td).find('img').hide();
                    }
                });

            } else
                doAlert('Please enter country name');
        });
    });
</script>