﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerCreateModel
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@if (!Model.HasLogin)
{
    <style scoped>
        .login {
            display: none;
        }
    </style>
}

@using (Ajax.BeginForm("CreateAccountManager", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmCreateUser" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Selected)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.User.Group)
    @Html.HiddenFor(model => model.EntityID)
    @Html.HiddenFor(model => model.Status)

    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 20%">
                Title
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.Title).BindTo(Model.ListTitle)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td style="width: 20%">
                First Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td>
                Middle Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.MidName, new { placeholder = "Middle Name" })
                @Html.ValidationMessageFor(model => model.MidName)
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td>
                Email Address
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(model => model.HasLogin) Has Login
            </td>
        </tr>
        <tr class="login">
            <td colspan="2">
                <hr />
                <b>Login Information</b>
            </td>
        </tr>
        <tr class="login">
            <td>
                Group
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.User.GroupID).BindTo(Model.User.ListGroups)
                @Html.ValidationMessageFor(model => model.User.GroupID)
            </td>
        </tr>
        @if (Model.ID == 0 || !Model.HasLogin)
        {
            <tr class="login">
                <td>
                    Password
                </td>
                <td>
                    @Html.PasswordFor(model => model.User.Password, new { placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.User.Password)
                    <span id="passwordPolicyMessage" style="display:none" class="field-validation-error"></span>
                </td>
            </tr>
            <tr class="login">
                <td>
                    Confirm Password
                </td>
                <td>
                    @Html.PasswordFor(model => model.User.ConfirmPassword, new { placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(model => model.User.ConfirmPassword)
                </td>
            </tr>
        }
        <tr><td colspan="2"></td></tr>
        <tr>
            <td></td>
            <td id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0)
                                            {<text>Update</text>}
                                            else
                                            {<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    var passwordPolicy;
    $(function () {
        $.validator.unobtrusive.parse("#frmCreateUser");
        $("#frmCreateUser").data("validator").settings.ignore = ":hidden";

        $('#dvCreateNew #User_Password').val('@Model.User.Password');
        $('#dvCreateNew #User_ConfirmPassword').val('@Model.User.Password');

        $('#dvCreateNew #User_GroupID').change(function () {
            var dd = $("#dvCreateNew #User_GroupID").data("kendoDropDownList");
            $('#dvCreateNew #User_Group').val(dd.text());
        });

        $('#HasLogin').click(function () {
            var dropdownlist = $("#dvCreateNew #User_GroupID").data("kendoDropDownList");
            dropdownlist.select(function (dataItem) {
                return dataItem.Value == "";
            });
            $("#dvCreateNew #User_GroupID").val('0');

            if ($(this)[0].checked) {
               
                $('.login').css({ display: 'table-row' });
                $("#dvCreateNew").dialog("option", "position", "center");
                if (passwordPolicy == null || $("#passwordPolicyMessage").html() == "" ) {
                    //password policy is loaded with ajax to avoid useless query
                    $.ajax({
                        url: '@Url.Content("~/Account/GetPasswordPolicy")',
                        type: "GET",
                        cache: false,
                        dataType: "json",
                        error: function (xhr, status, error) {
                             
                        },
                        success: function (data) {
                            isSessionExpired(data, '@Url.Content("~/Account/Login")');

                            SetPasswordPolicy(data.Value.ValidationExpression);
                            $("#passwordPolicyMessage").empty().html(data.Value.ValidationMessage);
          
                        }//
                    });
                }
            }
            else {
                $('#dvCreateNew #User_Password').val('');
                $('#dvCreateNew #User_ConfirmPassword').val('');

                $('.login').hide();
                $("#dvCreateNew").dialog("option", "position", "center");
            }
        });

        $('#dvCreateNew #btnCancel').unbind('click').click(function () {
            $('#dvCreateNew').dialog('close');
        });

        $('#dvCreateNew #Email').unbind('blur').blur(function () {
            var email = $(this).val();
            if (true) {
                var td = $(this).closest('td');
                $(td).find('img').show();
                $('#tdButtons input[type=submit]').attr('disabled', 'disabled');

                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '@Url.Content("~/User/ValidateEmail")',
                    data: { id: $('#dvCreateNew #ID').val(), entityId: $('#dvCreateNew #EntityID').val(), email: email },
                    success: function (data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        $(td).find('img').hide();

                        if (data == '@Resource_EN.Info_LoginNameAvailable') {
                            $(td).find('span').removeClass().addClass('field-validation-valid');
                            $('#tdButtons input[type=submit]').removeAttr('disabled');
                        }
                        else {
                            $(td).find('span').html(data);
                            $(this).removeClass().addClass('field-validation-error');
                            $(td).find('span').removeClass().addClass('field-validation-error');
                        }
                    }
                });
            }
        });
    });

    function onBegin() {
        if ($('#dvCreateNew #HasLogin')[0].checked) {
            if ($('#dvCreateNew #User_GroupID').val() == 0) {
                $('#dvCreateNew span[data-valmsg-for="User.GroupID"]').html('@Resource_EN.Error_GroupFieldRequired');
                $('#dvCreateNew span[data-valmsg-for="User.GroupID"]').removeClass().addClass('field-validation-error');
                $('#dvCreateNew span[data-valmsg-for="User.GroupID"]').removeClass().addClass('field-validation-error');

                return false;
            }
             
            if (!passwordPolicy.test($("#User_Password").val())) {
                $("#passwordPolicyMessage").show();
                return false;
            }
            $("#passwordPolicyMessage").hide();
        }

        if ($('#frmCreateUser').valid()) {
            $('#dvCreateNew #tdButtons input').hide();
            $('#dvCreateNew #tdButtons img').show();
            return true;
        }

        return false;
    }

    function onFailure(context) {
        window.location.href = '@Url.Content("~/Error/Index")';
    }

    function onSuccess(context) {
        if (context = "success") {
            if (typeof loadUser == 'function') 
                loadUser();
            if (typeof setformChanged == "function")
                setformChanged();
            
            $('#dvCreateNew').dialog('close');
            if ('@Model.ID' == 0)
                setStatusBarMessage('New user added and selected as a primary account manager');
            else
                setStatusBarMessage('User updated');
        }
    }
    function SetPasswordPolicy(expression) {
        passwordPolicy = RegExp(expression);
    }
</script>