﻿@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common;

<div id="toolbar">
    <button id="btnAdd" type="submit" class="btn btn-purple">
        <span class="fa fa-plus-circle"></span>Add
    </button>
    <button type="button" id="btnDelete" class="btn btn-purple">
        <span class="fa fa-trash-o"></span>Delete
    </button>
    <div id="dvloader" style="display:none">
        <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Deleting . . .
    </div>
</div>

<div id="dvGrid" style="display: none">
    <div id="dvFirmGrid">
        <table id="tblFirmGrid" style="width:100%;">
            <tr>
                <th style="width: 2%"></th>
                <th style="width: 2%"></th>
                <th>Name</th>
                <th style="width: 17%">
                    @{
                        if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Entity)
                        { <text>Parent </text> }
                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Client)
                        { <text>Managed Firm </text> }
                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Fund)
                        { <text>Firm </text> }
                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.IFM)
                        { <text>Dealer Group </text> }
                    }
                </th>
                @if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Fund)
                {
                    <th style="width: 13%">Account</th>
                }
                <th width="9%">ABN</th>
                <th width="12%">Primary Contact</th>
                <th width="12%">Account Manager</th>
                <th width="8%">Creation Date</th>
                <th width="8%">Last Modified On</th>
            </tr>
        </table>
        <script id="FirmGridTemplate" type="text/x-kendo-template">
            #if (CategoryID == null || CategoryID != '@((int)EntityCategories.System)') { #
            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}" data-path="${Path}" data-haschild="${HasChild}" class="view" data-id="${EncryptedID}">
                <td style="text-align: center">
                    #if (Type == '@((int)EntityGenericType.Entity)') { #
                    <span class="icon-building imgEntityDetail view" title="Click to see firm detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                    # } else if (Type == '@((int)EntityGenericType.Group)') { #
                    <span class="icon-building imgEntityDetail view" title="Click to see group detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                    # } else if (Type == '@((int)EntityGenericType.Client)') { #
                    <span class="fa fa-users imgEntityDetail view" title="Click to see account detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                    # } else if (Type == '@((int)EntityGenericType.Fund)') { #
                    <span class="fa fa-suitcase imgEntityDetail view" title="Click to see fund detail" data-id="${EncryptedID}" data-entitytype="${Type}"></span>
                    # } #
                </td>
                <td style='text-align: center' id="colAttach">
                    <span class="fa fa-paperclip Ico-Def proc-attachments view" title="Attach Files" id="btnModalAttachmenttemplate"></span>
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Firm != null) { #
                    ${Firm}
                    # }#
                </td>
                @if (ViewBag.EntityType == (int)EntityGenericType.Fund)
                {
                    <td>
                        #if (Account != null) { #
                        ${Account}
                        # }#
                    </td>
                }
                <td>
                    #if (ABN != null) { #
                    ${ABN}
                    # }#
                </td>
                <td>
                    #if (AccountManager != null) { #
                    ${AccountManager}
                    # }#
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    #if (CreationDate != null) { #
                    #=$.date(CreationDate)#
                    # }#
                </td>
                <td>
                    #if (LastModifiedDate != null) { #
                    #=$.date(LastModifiedDate)#
                    # }#
                </td>
            </tr>

            # } #
        </script>
    </div>
    <div id="dvPageAlpha" class="k-pager-wrap" style="padding-top: 10px">
    </div>
</div>

<div id="dvLoader" style="text-align: center; padding-top: 160px">
    <h4>Loading @ViewBag.ControllerName</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
</div>

<div id="dvAddPopup" style="display: none">
    <div id="dvAddButtons" style="text-align: right; width: 100%; height: 30px">
        <input id="btnContinue" type="button" value="Continue" />
        <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
    <div id="dvAddGrid" style="max-height: 375px; display: none; padding-bottom: 20px">
        <table id="tblAddGrid" style="width: 100%">
            <tr>
                <th style="width: 5%"></th>
                <th>Name</th>
                <th style="width: 45%">
                    @{
                        if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Entity)
                        { <text>Parent Firm</text> }
                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Client)
                        { <text>Managed Firm </text> }
                        else if ((EntityGenericType)ViewBag.EntityType == EntityGenericType.Fund)
                        { <text>Managed Firm </text> }
                    }
                </th>
            </tr>
        </table>
        <script id="AddGridTemplate" type="text/x-kendo-template">
            #if (CategoryID == null || !('@ViewBag.EntityType' == '@((int)EntityTypes.Client)' && CategoryID == '@((int)EntityCategories.System)')) { #
            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}" class="view">
                <td style="text-align: center">
                    #if (Type == '@((int)EntityGenericType.Entity)') { #
                    <span class="icon-building"></span>
                    # } else if (Type == '@((int)EntityGenericType.Group)') { #
                    <span class="icon-building"></span>
                    # } else if (Type == '@((int)EntityGenericType.Client)') { #
                    <span class="fa fa-users"></span>
                    # } else if (Type == '@((int)EntityGenericType.Fund)') { #
                    <span class="fa fa-suitcase"></span>
                    # } #
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Parent != null) { #
                    ${Parent}
                    # }#
                </td>
            </tr>
            # } #
        </script>
    </div>
    <div id="dvAddLoader" style="text-align: center; height: 375px">
        <br/><br /><br /><br /><br />
        <h4>Loading @ViewBag.ControllerName</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
    </div>
</div>

<script>
    var client = '@((int)EntityGenericType.Client)';
    var fund = '@((int)EntityGenericType.Fund)';
    var entity = '@((int)EntityGenericType.Entity)';
    var entity = '@((int)EntityGenericType.Entity)';
    var group = '@((int)EntityGenericType.Group)';
    var type = '';

    $(function () {

        if ('@((EntityGenericType)ViewBag.EntityType)' == '@EntityGenericType.Entity') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddFirm))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add firm');
            }

        } else if ('@((EntityGenericType) ViewBag.EntityType)' == '@EntityGenericType.Client') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddAccount))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add account');
            }

        } else if ('@((EntityGenericType) ViewBag.EntityType)' == '@EntityGenericType.Fund') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddFund))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add fund');
            }
        }

        $(".lnkSearch").die("click").live("click", function (event) {
            var txt = event.target.innerHTML;
            if (txt == "ALL") {
                txt = "";
            }
            SetFirmGrid(searchFirmGridList(farmModel, txt));
            event.preventDefault();
        });
        $('#btnModalAttachmenttemplate').die('click').live('click', function (e) {
            var tr = $(this).closest('tr');
            var path = $(tr).attr('data-path');
            var title = $(tr).attr('data-name');

            showDocumentsDialog(path, title);

        });

        $('#dvFirmGrid #tblFirmGrid tbody tr').live('dblclick', function () {
            var id = $(this).attr("data-id");
            var entityType = $(this).attr("data-entitytype");
            if (entityType == entity) {
                window.location.href = '@Url.Content("~/Firm/Detail/")' + id;
            }
            else if (entityType == client) {
                window.location.href = '@Url.Content("~/Accounts/Detail/")' + id;
            }
            else if (entityType == fund) {
                window.location.href = '@Url.Content("~/Fund/Detail/")' + id;
            }
            else if (entityType == group) {
                window.location.href = '@Url.Content("~/Firm/GroupDetail/")' + id;
            }
        });
    });
    function showDocumentsDialog(folderPath, title) {
        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetDocuments")',
            data: { folder: folderPath },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                $('#dvShowDocuments').remove();
                $('<div/>', { id: 'dvShowDocuments' }).appendTo('body');
                $('#dvShowDocuments').html(data);
                $('#dvShowDocuments').dialog({
                    title: title + ' Documents',
                    width: 650,
                    height: 'auto',
                    modal: true,
                    closeOnEscape: true,
                    dialogClass: "no-close",
                });
            }
        });
    }

</script>

<script>
    function SetFirmGrid(Fmodel) {
        $('#dvGrid').show();
        $('#dvLoader').hide();
  
        if ($("#dvFirmGrid #tblFirmGrid").data("kendoGrid")) {
            SetFirmGridRebind(Fmodel);
            return;
        }
        var objJobs = $("#dvFirmGrid #tblFirmGrid").kendoGrid({
            dataSource: {
                data: Fmodel
                , pageSize: 50
            },
            pageable: true,
            scrollable: false,
            selectable: true,
            rowTemplate: kendo.template($("#FirmGridTemplate").html()),
        });
        if (Fmodel != undefined && Fmodel.length == 0) {

            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
        }
        setDetailButtonClick();
    }

    function setDetailButtonClick()
    {
        $(".imgEntityDetail").die("click").live("click", function () {
            var id = $(this).attr("data-id");
            var entityType = $(this).attr("data-entitytype");
            if (entityType == entity) {
                window.location.href = '@Url.Content("~/Firm/Detail/")' + id;
            }
            else if (entityType == client) {
                window.location.href = '@Url.Content("~/Accounts/Detail/")' + id;
            }
            else if (entityType == fund) {
                window.location.href = '@Url.Content("~/Fund/Detail/")' + id;
            }
            else if (entityType == group) {
                window.location.href = '@Url.Content("~/Firm/GroupDetail/")' + id;
            }
        });
    }
    function SetFirmGridRebind(Fmodel) {

        var grid = $("#dvFirmGrid #tblFirmGrid").data("kendoGrid");
        var dataSource = grid.dataSource;
        var newSource = dataSource;
        dataSource.data(Fmodel);

        if (Fmodel != undefined && Fmodel.length == 0) {

            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
        }
        setDetailButtonClick();
    }

    function searchFirmGridList(Fmodel, name) {
        var result = [];
       
        if (name == "")
            return Fmodel;
        $.each(Fmodel, function (i, row) {
            if (row.Name.toUpperCase().indexOf(name) == 0) {
                result.push(row);
            }
        });
        return result;
    }

    function DistictAlpaArray(Fmodel) {
        var result = [];
        $.each(Fmodel, function (i, row) {

            var ch = row.Name.charAt(0).toUpperCase();;
            if (jQuery.inArray(ch, result) == -1) {
                result.push(ch);
            }
        });
        return result;
    }

    function displaySearchAplha(FModel) {
        FModel = DistictAlpaArray(FModel);
        FModel.sort();
        var lnkhtml = ""; //" Filters:  ";
        lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>ALL</a>";
        $.each(FModel, function (i, row) {
            lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>" + row + "</a>" + "";
        });

        $("#dvPageAlpha").html(lnkhtml);
    }
</script>

<script>
    function setPermissions() {

    
        if ('@ViewBag.EntityType' == '@((int)EntityTypes.Entity)') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddFirm))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add firm');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateFirm))' == '@false') {
                $('#btnEdit').attr('disabled', 'disabled');
                $('#btnEdit').attr('title', 'Permission required to update this firm');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnDelete').attr('title', 'Permission required to delete this firm');
            }
        }
        else if ('@ViewBag.EntityType' == '@((int)EntityTypes.Client)') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddAccount))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add account');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateAccount))' == '@false') {
                $('#btnEdit').attr('disabled', 'disabled');
                $('#btnEdit').attr('title', 'Permission required to update this account');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnDelete').attr('title', 'Permission required to delete this account');
            }
        }
        else if ('@ViewBag.EntityType' == '@((int)EntityTypes.Fund)') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddFund))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add fund');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateFund))' == '@false') {
                $('#btnEdit').attr('disabled', 'disabled');
                $('#btnEdit').attr('title', 'Permission required to update this fund');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnDelete').attr('title', 'Permission required to delete this fund');
            }
        }
    }

    $(function () {
        setPermissions();
    });
</script>

<script>
    $(function () {
        
        $('#btnAdd').click(function () {
            var title = 'Select Parent Firm';
            if ('@ViewBag.EntityType' == '@((int)EntityTypes.Fund)')
                title = 'Select Parent Account';

            $('#dvAddPopup').dialog({
                title: title,
                width: 800,
                height: 'auto',
                modal: true
            });

            if ($("#dvAddPopup #tblAddGrid").data("kendoGrid")) 
                return;

            var type = '';
            if ('@ViewBag.EntityType' == '@((int)EntityTypes.Entity)' || '@ViewBag.EntityType' == '@((int)EntityTypes.Client)')
                type = '@EntityTypes.Entity';
            else if ('@ViewBag.EntityType' == '@((int)EntityTypes.Fund)')
                type = '@EntityTypes.Client';

            $.ajax({
                url: '@Url.Action("GetParents", "Firm")',
                data: { type: type },
                type: "GET",
                cache: false,
                error: function(error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function(data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    var d = data;
                    if ('@ViewBag.EntityType' == '@((int) EntityTypes.Client)') {
                        d = $.grep(data, function(e) {
                            return e.CategoryID != '@((int) EntityCategories.System)';
                        });
                    }

                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                        dataSource: {
                            data: d
                            , pageSize: 10
                        },
                        pageable: true,
                        scrollable: false,
                        selectable: true,
                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                    });
                    if (data != undefined && data.length == 0) {
                        $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                    }

                    $('#dvAddLoader').hide();
                    $('#dvAddGrid').show();
                    $("#dvAddPopup").dialog("option", "position", "center");
                }
            });
        });

        $('#btnContinue').click(function() {
            var selectedItem = $('#tblAddGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select parent first');
                return;
            }

            $('#dvAddButtons input').hide();
            $('#dvAddButtons img').show();

            var parentId = $(selectedItem).attr('id');
            window.location.href = '@Url.Content("~/Firm/Add/?type=" + ViewBag.EntityType)' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
        });

        $('#btnDelete').click(function() {
            var selectedItem = $('#tblFirmGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select item to delete');
                return;
            }

            var type = '';
            if ($(selectedItem).attr('data-entitytype') == '@((int) EntityTypes.Entity)')
                type = 'firm';
            else if ($(selectedItem).attr('data-entitytype') == '@((int) EntityTypes.Client)')
                type = 'account';
            else
                type = 'fund';

            if ($(selectedItem).attr('data-haschild') == 'false') {

                var id = $(selectedItem).attr('id');

                doConfirm("Are you sure want to delete this " + type + "?",
                    function yes() {
                        $('#toolbar button').hide();
                        $('#toolbar #dvloader').show();

                        $.ajax({
                            url: '@Url.Action("DeleteFirm", "Firm")',
                            data: { id: id },
                            type: "GET",
                            cache: false,
                            error: function(error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function(data) {
                                if (data.ResponseMessage != '') {
                                    doAlert(data.ResponseMessage);
                                } else {
                                    $(selectedItem).remove();
                                }

                                $('#toolbar button').show();
                                $('#toolbar #dvloader').hide();
                            }
                        });
                    },
                    function no() {
                    }
                );
            } else
                doAlert("Cannot delete this " + type + ", Please delete child item first");
        });
    });
</script>

