﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

<style scoped>
    #lstManagers {
        padding: 10px;
        margin-bottom: -1px;
        width: 100%;
    }
</style>

<script type="text/javascript">
    function renderContactInfoTemplate(data) {
        if (data != null && data.length > 0) {
            return kendo.Template.compile($('#contactinfo-template').html())(data);
        }
    }
</script>

@if (SessionHelper.ListUsers != null && SessionHelper.ListUsers.Any(a => a.Status == Status.Active))
{
    <script type="text/x-kendo-tmpl" id="template">
        <tr id='#:ID#' name='#:FirstName# #:LastName#'>
            <td>
                #if (Selected) { #
                <input id='#:ID#' class='selectmanager' type='radio' name='manager' checked />
                # } else { #
                <input id='#:ID#' class='selectmanager' type='radio' name='manager' />
                # } #
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
            <td>
                ${FirstName} ${LastName}
                #if (Email != "") { #
                ( #:Email# )
                # } #
                #if (User != null && User.Group != "") { #
                ( #:User.Group# )
                # } #
            </td>
            <td>
                #if ('@CommonFunction.IsOptionAllowed(Option.AddTelephone)') { #
                <img src='@Url.Content("~/Images/contact.png")' class="contactinfo" id="#:ID#" title="Click to add contact information for this user" />
                # } else {#
                <img src='@Url.Content("~/Images/contact.png")' class="contactinfo" title="Permission required to add contact information" />
                # } if ('@CommonFunction.IsOptionAllowed(Option.UpdateAccountManager)') { #
                <img id="#:ID#" class="edit edituser" src='@Url.Content("~/Images/edit.png")' title="Click to edit this user" />
                # } else {#
                <img class="edit" src='@Url.Content("~/Images/edit.png")' title="Permission required to edit this user" />
                # } if ('@CommonFunction.IsOptionAllowed(Option.DeleteUser)') { #
                <img id="#:ID#" class="delete deleteuser" src='@Url.Content("~/Images/delete.png")' title="Click to delete this user" />
                # } else {#
                <img class="delete" src='@Url.Content("~/Images/delete.png")' title="Permission required to delete this user" />
                # } #
            </td>
        </tr>
        #= renderContactInfoTemplate(ListContactInfo) #
    </script>

    <script id="contactinfo-template" type="text/x-kendo-template">
        <tr contactof="#:data[0].AccountManagerID#">
            <td colspan='3'>
                <div id="dvContacts" style="padding: 0 5px 0 85px; width: 70%">
                    <table class="nobordertable" style="width: 100%">
                        #$.each(data, function (index, item) {
                        #
                        <tr id="${item.ID}">
                            #
                            #
                            <td style="width: 100px">${item.Type}</td>#
                            #
                            <td>
                                #
                                if (item.CountryCode != null && item.CountryCode != '') {
                                # ${item.CountryCode}-#
                                }
                                if (item.AreaCode != null && item.AreaCode != '') {
                                # ${item.AreaCode}-#
                                }
                                #${item.PhoneNumber}#
                                #
                            </td>#
                            #
                            <td style="text-align: right">
                                #
                                if('@CommonFunction.IsOptionAllowed(Option.UpdateTelephone)') {
                                # <img userid="${item.AccountManagerID}" id="${item.ID}" class="edit editcontact" src='@Url.Content("~/Images/edit.png")' title="Click to edit this contact information" /> #
                                } else {
                                # <img class="edit" src='@Url.Content("~/Images/edit.png")' title="Permission required to edit this contact information" /> #
                                } if('@CommonFunction.IsOptionAllowed(Option.DeleteTelephone)') {
                                # <img userid="${item.AccountManagerID}" id="${item.ID}" class="delete deletecontact" src='@Url.Content("~/Images/delete.png")' title="Click to delete this contact information" /> #
                                } else {
                                # <img class="delete" src='@Url.Content("~/Images/delete.png")' title="Permission required to delete this contact information" /> #
                                }
                                #
                            </td>#
                            #
                        </tr>#
                        });
                        #
                    </table>
                </div>
            <td>
        </tr>
    </script>

    <div style="width:70%;">
        @(
 Html.Kendo().ListView<DBASystem.SMSF.Contracts.ViewModels.AccountManagerCreateModel>(DBASystem.SMSF.Web.Common.SessionHelper.ListUsers.Where(a => a.Status == Status.Active))
                    .Name("lstManagers")
                    .HtmlAttributes(new { @class = "bordertable" })
                    .TagName("table")
                    .ClientTemplateId("template")
                    .DataSource(source =>
                    {
                        source.Read(read => read.Action("GetAccountManagersPaged", "Firm"));
                        source.PageSize(10);
                    })
                    .Pageable()
        )
    </div>
}
else
{
    <div class="error">No user added</div>
}

<script type="text/javascript">
    $(function () {
        if ($('#dvUsers input[type=radio]:checked').length > 0) {
            $('#PrimaryAccountMangerID').val($('#dvUsers input[type=radio]:checked').attr('id'));
        }
    });
</script>