﻿@model DBASystem.SMSF.Contracts.ViewModels.FirmCreateModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@{
    var entityTypeName = Model.EntityType.ToString().Replace(EntityTypes.Entity.ToString(), "Firm").Replace(EntityTypes.Client.ToString(), "Account");
    ViewBag.Title = Model.ID == 0 ? "Create " + entityTypeName : "Update " + entityTypeName;
    var action = Model.ID == 0 ? "Create" + entityTypeName : "Update" + entityTypeName;

    if (Model.EntityType == EntityTypes.Entity)
    {
        Model.ListCategories = new DBASystem.SMSF.Web.Controllers.FirmController().GetEntityCategories(Model.ID == 0 ? (int?)null : Model.ID);
    }
}
<input id="txtEncryptedID" type="hidden" value="@ViewBag.EncryptedID" />
<div id="contentmain">
    <div id="contentinner">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm(action, entityTypeName.Replace("Group", "Firm").Replace("Account", "Accounts"), FormMethod.Post, new { id = "formCreateEntity" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.ParentID)
            @Html.HiddenFor(model => model.PrimaryAccountMangerID)
            @Html.HiddenFor(model => model.EntityType)

            <table style="width: 100%" class="nobordertable">
                @if (Model.EntityType == EntityTypes.Entity)
                {
                    <tr>
                        <td>Entity Type</td>
                        <td>
                            @Html.Kendo().DropDownListFor(model => model.CategoryID).BindTo(Model.ListCategories).OptionLabel("-- Select --").HtmlAttributes(new { style = "width: 180px" })
                            @Html.ValidationMessageFor(model => model.CategoryID)
                        </td>
                    </tr>
                }
                <tr>
                    <td style="width: 20%">Name</td>
                    <td>
                        @Html.TextBoxFor(model => model.Name, new { placeholder = Model.EntityType.ToString() + " Name" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                </tr>
                @if (Model.EntityType != EntityTypes.Group)
                {
                    <tr>
                        <td>ABN</td>
                        <td>@Html.TextBoxFor(model => model.ABN, new { placeholder = "Australian Business Number" })</td>
                    </tr>
                    <tr>
                        <td>ACN</td>
                        <td>@Html.TextBoxFor(model => model.ACN, new { placeholder = "Australian Company Number" })</td>
                    </tr>
                    <tr>
                        <td>GST</td>
                        <td>@Html.TextBoxFor(model => model.GST, new { placeholder = "Goods and Services Tax" })</td>
                    </tr>
                    <tr>
                        <td>TFN</td>
                        <td>@Html.TextBoxFor(model => model.TFN, new { placeholder = "Tax File Number" })</td>
                    </tr>
                }
                <tr>
                    <td>Note</td>
                    <td>@Html.TextAreaFor(model => model.Note, new { style = "width: 400px; height: 60px", placeholder = "Note" })</td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationSummary(true)
                    </td>
                </tr>
            </table>
            <div id="toolbar">
                <button id="btnSaveEntity" type="submit" class="btn btn-purple">
                    <span class="fa fa-save"></span>Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-purple">
                    <span class="icon-remove-sign"></span>Cancel
                </button>
                <div id="dvloader">
                    <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Saving . . .
                </div>

            </div>
        }
        @if (Model.EntityType != EntityTypes.Group && Model.EntityType != EntityTypes.Fund)
        {
            <hr />
            <h2>Addresses <img src='@Url.Content("~/Images/add.png")' class="add addaddress" title="Click to add new address" /></h2>
            <div id="dvAddresses" style="padding: 5px 0 0 0">
                @Html.Partial(Url.Content("~/Views/Firm/_ListAddress.cshtml"))
            </div>
        }
        @if (Model.EntityType != EntityTypes.Fund && Model.EntityType != EntityTypes.Group)
        {
            <hr />
            <h2>
                Users
                @if (CommonFunction.IsOptionAllowed(Option.CreateAccountManager))
                {<img src='@Url.Content("~/Images/add.png")' class="add adduser" title="Click to add new user" />}
                else
                {<img src='@Url.Content("~/Images/add.png")' class="add" title="Permission required to add new user" />}
            </h2>
            <div id="dvHelp">Select primary account manager or create new.</div>
            <div id="dvUsers" style="padding: 5px 0 40px 0">
                <img src='@Url.Content("~/Images/loader.gif")' /> Loading users . . .
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryui")
            @Scripts.Render("~/bundles/jqueryval")
            <script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
        }

        <script type="text/javascript">

    $(function () {
        $.validator.setDefaults({ ignore: "" });

        loadAddress();
        $('#btnCancel').click(function () {
            if ('@Model.ID' == '0') {
                if ('@Model.EntityType' == '@EntityTypes.Client' || '@Model.EntityType' == '@EntityTypes.Entity')
                    window.location.href = '@Url.Content("~/Firm/Detail/")' + $('#txtEncryptedID').val();
                if ('@Model.EntityType' == '@EntityTypes.Fund')
                    window.location.href = '@Url.Content("~/Accounts/Detail/")' + $('#txtEncryptedID').val();
                if ('@Model.EntityType' == '@EntityTypes.Group')
                    window.location.href = '@Url.Content("~/Firm/Detail/")' + $('#txtEncryptedID').val();
            }
            else {
                if ('@Model.EntityType' == '@EntityTypes.Client')
                    window.location.href = '@Url.Content("~/Accounts/Detail/")' + $('#txtEncryptedID').val();
                if ('@Model.EntityType' == '@EntityTypes.Fund')
                    window.location.href = '@Url.Content("~/Fund/Detail/")' + $('#txtEncryptedID').val();
                if ('@Model.EntityType' == '@EntityTypes.Entity')
                    window.location.href = '@Url.Content("~/Firm/Detail/")' + $('#txtEncryptedID').val();
                if ('@Model.EntityType' == '@EntityTypes.Group')
                    window.location.href = '@Url.Content("~/Firm/Detail/")' + $('#txtEncryptedID').val();
            }
        });

        $('.addaddress').live('click', function () {
            $.ajax({
                url: '@Url.Content("~/Firm/CreateAddress")',
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Add New Address',
                        width: 900,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });

        if ('@CommonFunction.IsOptionAllowed(Option.CreateAccountManager)' == '@true') {
            $('.adduser').click(function () {
                var entityId = ($('#ID').val() != '0') ? $('#ID').val() : $('#ParentID').val();

                $.ajax({
                    url: '@Url.Content("~/Firm/CreateAccountManager")',
                    data: { entityId: entityId },
                    type: "GET",
                    cache: false,
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        $('#dvCreateNew').remove();
                        $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                        $('#dvCreateNew').empty().html(data);
                        $('#dvCreateNew').dialog({
                            title: 'Add New User',
                            width: 700,
                            height: 'auto',
                            modal: true
                        });
                    }
                });
            });
        }
    });
</script>

        <script type="text/javascript">
            var formValuesChanged = false;
            $(function () {
                if ('@Model.EntityType' != '@EntityTypes.Fund')
                    loadUser();

                $('#btnSaveEntity').click(function () {
                    if ($('#formCreateEntity').valid()) {
                        $('#toolbar button').hide();
                        $('#toolbar #dvloader').show();

                        return true;
                    }

                    return false;
                });
            });

            function loadAddress() {
                $.ajax({
                    url: '@Url.Content("~/Firm/GetAddress")',
                    type: "GET",
                    cache: false,
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        if (data.length > 0) {
                            $('#dvAddressPager').show();

                            var dataSource = new kendo.data.DataSource({
                                data: data,
                                pageSize: 5
                            });

                            $("#dvAddressPager").kendoPager({
                                dataSource: dataSource
                            });

                            $("#lstAddresses").kendoListView({
                                dataSource: dataSource,
                                template: kendo.template($("#tmpAddress").html())
                            });
                        }
                        else {
                            $('#dvAddressPager').hide();
                            $("#lstAddresses").html('<div class="error">' + '@Resource_EN.Info_NoAddessFound' + '</div>');
                        }
                    }
                });
            }
            $('input[type=text],select,textarea').change(function () {
                setformChanged();
            });
           
            function setformChanged() {
                
                if (!formValuesChanged) {
                    formValuesChanged = true;
                    alertBeforeRedirect();
                }
            }
            function loadUser() {

                $.ajax({
                    url: '@Url.Content("~/Firm/GetAccountManagers")',
                    data: { parentEntityId: '@Model.ID' == 0 ? null : '@Model.ID', primaryId: $('#PrimaryAccountMangerID').val() },
                    type: "GET",
                    cache: false,
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        $('#dvUsers').html(data);
                    }
                });
            }
        </script>

        <script type="text/javascript">
            $(function () {

                if ('@CommonFunction.IsOptionAllowed(Option.AddTelephone)') {
                    $('#dvUsers .contactinfo').live('click', function () {
                        var userId = $(this).attr("id");

                        $.ajax({
                            url: '@Url.Content("~/Firm/CreateContactInfo")',
                            data: { userId: userId },
                            type: "GET",
                            cache: false,
                            error: function (error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function (data) {
                                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                                $('#dvCreateNew').remove();
                                $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                                $('#dvCreateNew').empty().html(data);
                                $('#dvCreateNew').dialog({
                                    title: 'Add New Contact Info',
                                    width: 600,
                                    height: 'auto',
                                    modal: true
                                });
                            }
                        });
                    });
                }

                $('.selectmanager').live('click', function () {
                    var id = $(this).closest('tr').attr('id');
                    //var name = $(this).closest('tr').attr('name');

                    $.ajax({
                        url: '@Url.Content("~/Firm/SelectAccountManager")',
                        data: { id: id },
                        type: "Post",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function (data) {
                            isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        }
                    });
                });

                if ('@CommonFunction.IsOptionAllowed(Option.UpdateAccountManager)') {
                    $('.edituser').live('click', function (e) {

                        var id = $(this).attr('id');

                        $.ajax({
                            url: '@Url.Content("~/Firm/UpdateAccountManager")',
                            data: { id: id },
                            type: "GET",
                            cache: false,
                            error: function (error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function (data) {
                                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                                $('#dvCreateNew').remove();
                                $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                                $('#dvCreateNew').empty().html(data);
                                $('#dvCreateNew').dialog({
                                    title: 'Edit User',
                                    width: 700,
                                    height: 'auto',
                                    modal: true
                                });
                                setformChanged();
                            }
                        });

                        e.preventDefault();
                    });
                }

                if ('@CommonFunction.IsOptionAllowed(Option.DeleteUser)') {
                    $('.deleteuser').live('click', function (e) {
                        var id = $(this).attr('id');
                        var tr = $(this).closest('tr');
                        var contacttr = $('tr[contactof=' + id + ']');

                        doConfirm('Are you sure want to delete this user?',
                            function yes() {
                                $(tr).slideUp('slow').remove();
                                $(contacttr).slideUp('slow').remove();

                                $.ajax({
                                    url: '@Url.Content("~/Firm/DeleteAccountManager")',
                                    data: { id: id },
                                    type: "DELETE",
                                    error: function (error) {
                                        window.location.href = '@Url.Content("~/Error/Index")';
                                    },
                                    success: function (data) {
                                        isSessionExpired(data, '@Url.Content("~/Account/Login")');
                                        setformChanged();

                                    }
                                });
                            },
                            function no() {
                            }
                        );

                        e.preventDefault();
                    });
                }

                if ('@CommonFunction.IsOptionAllowed(Option.DeleteTelephone)') {
                    $('.deletecontact').live('click', function (e) {
                        e.preventDefault();

                        var id = $(this).attr('id');
                        var userId = $(this).attr('userid');

                        doConfirm('Are you sure want to delete this contact information?',
                            function yes() {
                                $('#dvUsers table tr[contactof=' + userId + '] #dvContacts tr[id=' + id + ']').slideUp('slow').remove();
                                if ($('#dvUsers table tr[contactof=' + userId + '] #dvContacts tr').length == 0) {
                                    $('#dvUsers table tr[contactof=' + userId + ']').slideUp('slow').remove();
                                }

                                $.ajax({
                                    url: '@Url.Content("~/Firm/DeleteContactInfo")',
                                    data: { id: id, userId: userId },
                                    type: "DELETE",
                                    error: function (error) {
                                        window.location.href = '@Url.Content("~/Error/Index")';
                                    },
                                    success: function (data) {
                                        isSessionExpired(data, '@Url.Content("~/Account/Login")');
                                        setformChanged();
                                    }
                                });
                            },
                            function no() {
                            }
                        );
                    });
                }

                if ('@CommonFunction.IsOptionAllowed(Option.UpdateTelephone)') {
                    $('.editcontact').live('click', function (e) {

                        var id = $(this).attr('id');
                        var userId = $(this).attr('userid');

                        $.ajax({
                            url: '@Url.Content("~/Firm/UpdateContactInfo")',
                            data: { id: id, userId: userId },
                            type: "GET",
                            cache: false,
                            error: function (error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function (data) {
                                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                                $('#dvCreateNew').remove();
                                $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                                $('#dvCreateNew').empty().html(data);
                                $('#dvCreateNew').dialog({
                                    title: 'Edit Contact Info',
                                    width: 600,
                                    height: 'auto',
                                    modal: true
                                });
                                setformChanged();
                            }
                        });

                        e.preventDefault();
                    });
                }



            });
        </script>
    </div>
</div>