﻿@model DBASystem.SMSF.Contracts.ViewModels.FirmDetailModels
@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common;

@{
    var entityTypeName = Model.Type.ToString().Replace(EntityTypes.Entity.ToString(), "Firm").Replace(EntityTypes.Client.ToString(), "Account");
    ViewBag.Title = entityTypeName + " Detail";
    
    var title = "Click to add new ";
    switch (Model.Type)
    {
        case EntityTypes.Entity:
            title += "firm";
            break;
        case EntityTypes.Client:
            title += "account";
            break;
        case EntityTypes.Fund:
            title += "fund";
            break;
        case EntityTypes.Group:
            title += "group";
            break;
    }
}

<div id="contentmain">
    <div id="contentinner">
        <div id="detailBody">
            <div id="toolbar">
                <div id="actionButtons">
                    <button type="submit" class="btn btn-purple" id="btnBack">
                        <span class="icon-circle-arrow-left icon-white"></span> Back
                    </button>
                    <button id="btnAdd" type="submit" class="btn btn-purple" title="@title">
                        <span class="fa fa-plus-circle"></span>Add
                    </button>
                    <button id="btnEdit" type="button" class="btn btn-purple" title="Click to edit this item">
                        <span class="fa fa-pencil-square-o"></span>Edit
                    </button>
                    <button id="btnDelete" type="button" class="btn btn-purple" title="Click to delete this item">
                        <span class="fa fa-trash-o"></span> Delete
                    </button>
                </div>
                <div id="dvloader" style="display:none">
                    <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="loaderMessage" style="color:white"></span>
                </div>
            </div>

            <h2>@Model.Name</h2>
            <fieldset id="detail">
                <div style="padding: 0 0 15px 25px">
                    <table id="tblGenericChilds" class="nobordertable">
                        <tr>
                            <td style="width:22%">

                                @if (Model.Type == EntityTypes.Entity)
                                {<text>Parent Firm</text>}
                                else if (Model.Type == EntityTypes.Client || Model.Type == EntityTypes.Fund)
                                {<text>Managed Firm</text>}
                            </td>
                            <td>@Model.ParentName</td>
                        </tr>
                        @if (Model.Type == EntityTypes.Fund)
                        {
                            <tr>
                                <td>Managed Account</td>
                                <td>@Model.ManagedAccount</td>
                            </tr>
                        }
                        <tr>
                            <td>Type</td>
                            <td>@Model.Category</td>
                        </tr>
                        @if (Model.Type != EntityTypes.Group)
                        {
                            <tr>
                                <td>Australian Business Number</td>
                                <td>@(!String.IsNullOrEmpty(Model.ABN)? Model.ABN: "-")</td>
                            </tr>
                            <tr>
                                <td>Australian Company Number </td>
                                <td>@(!String.IsNullOrEmpty(Model.ACN) ? Model.ACN : "-")</td>
                            </tr>
                            <tr>
                                <td>Goods and Services Tax </td>
                                <td>@(!String.IsNullOrEmpty(Model.GST) ? Model.GST : "-")</td>
                            </tr>
                            <tr>
                                <td>Tax File Number</td>
                                <td>@(!String.IsNullOrEmpty(Model.TFN) ? Model.TFN : "-")</td>
                            </tr>
                        }
                    </table>
                </div>
            </fieldset>
            @if (Model.Type == EntityTypes.Fund)
            {
                <fieldset id="Jobs" style="border:2px groove threedface;">
                    <legend>Jobs</legend>
                    <div id="dvJobs" style="padding: 0 0 15px 25px;" >
                        <span id="dvJobsError" class="error">Jobs not found</span>
                        <table id="jobsList" class="nobordertable">
                            <tbody></tbody>
                        </table>
                    </div>
                </fieldset>
                <script id="jobTemplete" type="text/x-jquery-tmpl">
                    <tr>
                        <td style=" width: 1px; white-space: nowrap;">${Title}</td>
                        <td>[&nbsp;<i>${JobFlowStatus}</i>&nbsp;]</td>
                    </tr>
                </script>
            }

            @if (Model.Type == EntityTypes.Entity || Model.Type == EntityTypes.Client)
            {
                <fieldset id="address" style="border:2px groove threedface;">
                    <legend>Addresses</legend>
                    <div id="dvAddress" style="padding: 0 0 15px 25px">
                        <span class="error">No address found</span>
                    </div>
                </fieldset>
                <script id="addressTemplate" type="text/x-jquery-tmpl">
                    ${Type}
                    {{if Default}}
                    <span style="font-style: italic">(Default)</span>
                    {{/if}}
                    <div style="padding-top: 5px">
                        ${hasAddress = false,''}
                        {{if UnitNumber}}
                        ${UnitNumber}
                        ${hasAddress = true,''}
                        {{/if}}

                        {{if StreetNumber && UnitNumber}}
                        &nbsp;/&nbsp;${StreetNumber}
                        ${hasAddress = true,''}
                        {{else StreetNumber}}
                        ${hasAddress = true,''}
                        &nbsp;${StreetNumber}
                        {{/if}}

                        {{if StreetName}}
                        ${hasAddress = true,''}
                        &nbsp;${StreetName}
                        {{/if}}

                        {{if StreetType}}
                        ${hasAddress = true,''}
                        &nbsp;${StreetType}
                        {{/if}}

                        {{if City && hasAddress}}
                        ,&nbsp;${City}
                        {{else}}
                        ${City}
                        {{/if}}

                        {{if PostCode}}
                        &nbsp;${PostCode},
                        {{/if}}

                        {{if State}}
                        &nbsp;${State},
                        {{/if}}

                        {{if Country}}
                        &nbsp;${Country}
                        {{/if}}
                    </div>
                </script>
            }
            @if (Model.Type == EntityTypes.Entity || Model.Type == EntityTypes.Client)
            {
                <fieldset id="users">
                    <legend>Users</legend>
                    <div id="dvAccountManagers" style="padding: 0 0 15px 25px">
                        <span class="error">No users found</span>
                    </div>
                </fieldset>
                <script id="accountManagersTemplate" type="text/x-jquery-tmpl">
                    <div style="padding-bottom: 10px">
                        ${FirstName}&nbsp;${LastName} [${Email}]{{if UserDetail}}&nbsp;[${UserDetail.Group}]{{/if}}

                        {{if ListContactInfo.length > 0}}
                        <table style="margin-left: 30px; width: 100%" class="nobordertable">
                            {{each ListContactInfo}}
                            <tr>
                                <td style="width: 100px">${Type}</td>
                                <td>
                                    {{if CountryCode}}
                                    ${CountryCode}-
                                    {{/if}}
                                    {{if AreaCode}}
                                    ${AreaCode}-
                                    {{/if}}
                                    ${PhoneNumber}
                                </td>
                                {{/each}}
                        </table>
                        {{/if}}
                    </div>
                </script>
            }
            @if (Model.Type == EntityTypes.Entity || Model.Type == EntityTypes.Client || Model.Type == EntityTypes.Fund)
            {
                <fieldset id="notes">
                    <legend>
                        Notes
                        <img src='@Url.Content("~/images/add.png")' class="add" id="btnAddNote" title="Click to add note" />
                    </legend>
                    <div id="dvNotes" style="overflow-x: auto; max-height: 200px;"></div>
                </fieldset>
                <script id="notesTemplate" type="text/x-jquery-tmpl">
                    <div style="padding: 0 0 15px 25px">
                        <div>{{html Note}}</div>
                        <div id="dvHelp">
                            ${CreatedBy}&nbsp;&nbsp;  ${$.dateTime(Date)}
                            <img src='@Url.Content("~/images/edit.png")' class="editNote" title="Click to edit note" data-id="${Id}" style="padding-left: 20px" />
                            <img src='@Url.Content("~/images/delete.png")' class="deleteNote" title="Click to delete note" data-id="${Id}" style="padding-left:5px" />
                        </div>
                    </div>
                </script>
            }
            @if (Model.Type == EntityTypes.Entity || Model.Type == EntityTypes.Client || Model.Type == EntityTypes.Fund)
            {
                <fieldset id="entityFiles">
                    <legend>
                        Files
                        <img src='@Url.Content("~/images/add.png")' class="add" id="btnAddFiles" title="Click to add file" />
                    </legend>
                    <div id="dvEntityDocuments" style="overflow-x: auto; max-height: 200px;padding: 0 0 15px 25px">
                        <table id="fileList" class="nobordertable" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:30%"></th>
                                    <th style="width:70%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </fieldset>
                <script id="documentTemplate" type="text/x-jquery-tmpl">
                    <tr>
                        <td>
                            <a class="file" href="#" url="${PublicUrl}" doctype="${DocumentType}">${Name}</a>
                        </td>
                        <td>
                            ${FromJsonDate(ModifiedOn)}
                        </td>
                    </tr>
                </script>
            }

            <script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
            <script src='@Url.Content("~/Scripts/common.js")'></script>
        </div>
    </div>
</div>

<div id="dvAddPopup" style="display: none">
    <div id="dvAddButtons" style="text-align: right; width: 100%; height: 30px">
        <input id="btnContinue" type="button" value="Continue" />
        <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
    <div id="dvAddGrid" style="height: 375px; display: none; ">
        <table id="tblAddGrid" style="width: 100%">
            <tr>
                <th style="width: 5%"></th>
                <th>Name</th>
                <th style="width: 45%">
                    @{
                        if (Model.Type == EntityTypes.Entity)
                        { <text>Parent </text> }
                        else if (Model.Type == EntityTypes.Client)
                        { <text>Managed Firm </text> }
                        else if (Model.Type == EntityTypes.Fund)
                        { <text>Firm </text> }
                    }
                </th>
            </tr>
        </table>
        <script id="AddGridTemplate" type="text/x-kendo-template">
            #if (CategoryID == null || !('@Model.Type' == '@((int)EntityTypes.Client)' && CategoryID == '@((int)EntityCategories.System)')) { #
            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}">
                <td style="text-align: center">
                    #if (Type == '@((int)EntityGenericType.Entity)') { #
                    <span class="icon-building imgEntityDetail view" title="Click to see firm detail" data-id="${ID}" data-entitytype="${Type}"></span>
                    # } else if (Type == '@((int)EntityGenericType.Group)') { #
                    <span class="icon-building imgEntityDetail view" title="Click to see group detail" data-id="${ID}" data-entitytype="${Type}"></span>
                    # } else if (Type == '@((int)EntityGenericType.Client)') { #
                    <span class="fa fa-users imgEntityDetail view" title="Click to see account detail" data-id="${ID}" data-entitytype="${Type}"></span>
                    # } else if (Type == '@((int)EntityGenericType.Fund)') { #
                    <span class="fa fa-suitcase imgEntityDetail view" title="Click to see fund detail" data-id="${ID}" data-entitytype="${Type}"></span>
                    # } #
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Parent != null) { #
                    ${Parent}
                    # }#
                </td>
            </tr>
            # } #
        </script>
    </div>
    <div id="dvAddLoader" style="text-align: center; height: 375px">
        <br /><br /><br /><br /><br />
        <h4>Loading </h4><img src='@Url.Content("~/images/loadingdots.gif")' />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

<script>
    var model;
    $(function () {
      
        model = jQuery.parseJSON('@Html.Raw(Json.Encode(Model))'.replace(/\n/g, '@Html.Raw("<br />")'));
        model.Type = '@Model.Type.ToString()';
        if (model.Type == 4) {
            $("#address").hide();
            $("#users").hide();
        }

        if ('@ViewBag.WarningMessage' != '') {
            doAlert('@ViewBag.WarningMessage');
        }
        if ('@ViewBag.WarningMessage' != '') {
            doAlert('@Html.Raw(ViewBag.WarningMessage)');
        }
        //binding Address List
        

        if (model.Addresses.length != 0) {
            
            var addressHtml = $('#addressTemplate').tmpl(model.Addresses);
            $('#dvAddress').empty().append(addressHtml);
        }
        if (model.AccountManagers.length != 0) {
            //binding Address List
            var userHtml = $('#accountManagersTemplate').tmpl(model.AccountManagers);
            $('#dvAccountManagers').empty().append(userHtml);
        }
        if (model.Notes.length != 0) {
            //binding Notes
            var noteHtml = $('#notesTemplate').tmpl(model.Notes);
            $('#dvNotes').empty().append(noteHtml);
        } else {
            $('#dvNotes table thead').empty();
            $('#dvNotes table tbody').empty().append('<span class="error">Notes not found</span>');
        }

        if (model.Type == '@EntityTypes.Fund') {

            getFundJobs('@Model.ID');
        }

        //Lazy Loading Documents from SharePoint
        GetDocuments('@Model.FolderPath');
        hideShowButtons();

        $('#btnAddFiles').click(function () {

            showDocumentsDialog('@Model.FolderPath', '@Model.Name');
        });

        $('#btnBack').click(back);

        $('#btnAdd').click(function () {

            var title = 'Select Parent Firm';
            if ('@Model.Type' == '@(EntityTypes.Fund)')
                title = 'Select Parent Account';

            $('#dvAddPopup').dialog({
                title: title,
                width: 800,
                height: 'auto',
                modal: true
            });

            if ($("#dvAddPopup #tblAddGrid").data("kendoGrid"))
                return;

            var type = '';
            if ('@Model.Type' == '@(EntityTypes.Entity)' || '@Model.Type' == '@(EntityTypes.Client)')
                type = '@EntityTypes.Entity';
            else if ('@Model.Type' == '@(EntityTypes.Fund)')
                type = '@EntityTypes.Client';

            $.ajax({
                url: '@Url.Action("GetParents", "Firm")',
                data: { type: type },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                        dataSource: {
                            data: data
                            , pageSize: 10
                        },
                        pageable: true,
                        scrollable: false,
                        selectable: true,
                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                    });
                    if (data != undefined && data.length == 0) {
                        $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                    }

                    $('#dvAddLoader').hide();
                    $('#dvAddGrid').show();
                }
            });
        });

        $('#btnContinue').click(function () {
            var selectedItem = $('#tblAddGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select parent first');
                return;
            }

            $('#dvAddButtons input').hide();
            $('#dvAddButtons img').show();

            var parentId = $(selectedItem).attr('id');
            window.location.href = '@Url.Content("~/Firm/Add/?type=" + Model.Type)' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
        });

        $('#btnEdit').click(function () {
            window.location.href = '@Url.Content("~/Firm/Update/?type=" + Model.Type)' + '&id=' + '@Model.ID' + '&previousUrl=' + window.location.href;
        });

        $('#btnDelete').click(function () {

            var type = '';
            if ('@Model.Type' == '@(EntityTypes.Entity)')
                type = 'firm';
            else if ('@Model.Type' == '@(EntityTypes.Client)')
                type = 'account';
            else
                type = 'fund';

            if ('@Model.HasChild' == '@false') {

                doConfirm("Are you sure want to delete this " + type + "?",
                    function yes() {
                        $('#toolbar button').hide();
                        $('#toolbar #dvloader').show();

                        $.ajax({
                            url: '@Url.Action("DeleteFirm", "Firm")',
                            data: { id: '@Model.ID' },
                            type: "GET",
                            cache: false,
                            error: function (error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function (data) {
                                if (data.ResponseMessage != '') {
                                    doAlert(data.ResponseMessage);
                                } else {
                                    back();
                                }
                            }
                        });
                    },
                    function no() {
                    }
                );
            } else
                doAlert("Cannot delete this " + type + ", Please delete child item first");
        });

        $('.file').live('click', function (e) {
         //if document type is of MS Office this will open in Office Web Apps
            if ($(this).attr('doctype') == "office")
                window.open('http://view.officeapps.live.com/op/view.aspx?src=' + $(this).attr('url'));
            else
                window.open('@Url.Content("~/Sharepoint/DownloadFile/?filePath=")' + $(this).attr('url'));
           
        });
    });

    function back() {
        if ('@Model.Type' == '@EntityTypes.Entity' || '@Model.Type' == '@EntityTypes.Group') {
            window.location.href = '@Url.Action("Index", "Firm")';
        } else if ('@Model.Type' == '@EntityTypes.Client') {
            window.location.href = '@Url.Action("Index", "Accounts")';
        } else if ('@Model.Type' == '@EntityTypes.Fund') {
            window.location.href = '@Url.Action("Index", "Fund")';
        }
    }

    function showDocumentsDialog(folderPath, title) {

        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetDocuments")',
            data: { folder: folderPath },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                $('#dvShowDocuments').remove();
                $('<div/>', { id: 'dvShowDocuments' }).appendTo('body');
                $('#dvShowDocuments').html(data);
                $('#dvShowDocuments').dialog({
                    title: title + ' Documents',
                    width: 650,
                    height: 'auto',
                    modal: true,
                    closeOnEscape: true,
                    dialogClass: "no-close",
                });
            }
        });
    }


    function GetDocuments(folder) {

        $('#dvEntityDocuments table tbody').empty().append('<tr><td colspan="3"><img src=' + '@Url.Content("~/images/loader.gif")' + ' /> Loading Documents ...</td></tr>');
        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetFiles")',
            data: { folderPath: folder },
            type: "GET",
            cache: false,
            error: function (error) {
                $('#dvEntityDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No document found</td></tr>');
            },
            success: function (data) {
                LoadDocuments(data);
            }
        });
    }

    function LoadDocuments(data) {
        if (data == null) {
            $('#dvEntityDocuments table tbody').empty().append('<tr><td colspan="3" class="error">Unable get files , please contact your administrator.</td></tr>');
        } else if (data.length > 0) {
            var t = $('#documentTemplate').tmpl(data);
            $('#dvEntityDocuments table tbody').empty().append(t);
        } else {
            $('#dvEntityDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No document found</td></tr>');
        }
    }


    function getFundJobs(id) {

        $('#dvJobs table tbody').empty().append('<tr><td colspan="3"><img src=' + '@Url.Content("~/images/loader.gif")' + ' /> Loading Jobs ...</td></tr>');

        $.ajax({
            url: '@Url.Content("~/Fund/GetFundJobs")',
            data: { id: id },
            type: "GET",
            cache: false,
            error: function (error) {
                $('#dvJobs table tbody').empty().append('<tr><td colspan="3" class="error">No Jobs found</td></tr>');
            },
            success: function (data) {

                if (data.Jobs == null || data.Status != 'Success') {
                    $('#dvJobs table tbody').empty().append('<tr><td colspan="3" class="error">Unable get jobs , please contact your administrator.</td></tr>');
                }
                else if (data.Jobs.length > 0) {

                    var t = $('#jobTemplete').tmpl(data.Jobs);
                    $('#dvJobsError').hide();
                    $('#dvJobs table tbody').empty().append(t);
                }
                else {
                    $('#dvJobs table').hide();

                }
            }
        });
    }
    function hideShowButtons() {

        $('#btnAddNote').click(function () {
            if ('@CommonFunction.IsOptionAllowed(Option.AddFirmNotes)')
                addNotesClick('@Model.ID', '@Url.Content("~/Notes/CreateEntityNote")', 'GET', 'Add');
        });
        $('.editNote').click(function () {
            if ('@CommonFunction.IsOptionAllowed(Option.UpdateFirmNotes)') {

                var id = $(this).attr('data-Id');
                addNotesClick(id, '@Url.Content("~/Notes/EditEntityNote")', 'GET', 'Update');
            }
        });
        $('.deleteNote').click(function () {

            if ('@CommonFunction.IsOptionAllowed(Option.DeleteFirmNotes)') {
                var id = $(this).attr('data-Id');
                doConfirm('Are you sure want to delete this note ?',
                   function yes() {
                       $('#dvConfirm').remove();
                       addNotesClick(id, '@Url.Content("~/Notes/DeleteEntityNote")', 'POST', 'Delete');
                   },
                    function no() {
                        $('#dvConfirm').remove();
                    }
                );
            }
        });

        if (model.Type == '@EntityTypes.Entity') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddFirm))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add firm');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateFirm))' == '@false') {
                $('#btnEdit').attr('disabled', 'disabled');
                $('#btnEdit').attr('title', 'Permission required to update this firm');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnDelete').attr('title', 'Permission required to delete this firm');
            }
        }
        else if (model.Type == '@EntityTypes.Client') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddAccount))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add account');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateAccount))' == '@false') {
                $('#btnEdit').attr('disabled', 'disabled');
                $('#btnEdit').attr('title', 'Permission required to update this account');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnDelete').attr('title', 'Permission required to delete this account');
            }
        }
        else if (model.Type == '@EntityTypes.Fund') {
            if ('@(CommonFunction.IsOptionAllowed(Option.AddFund))' == '@false') {
                $('#btnAdd').attr('disabled', 'disabled');
                $('#btnAdd').attr('title', 'Permission required to add fund');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.UpdateFund))' == '@false') {
                $('#btnEdit').attr('disabled', 'disabled');
                $('#btnEdit').attr('title', 'Permission required to update this fund');
            }
            if ('@(CommonFunction.IsOptionAllowed(Option.DeleteFirm))' == '@false') {
                $('#btnDelete').attr('disabled', 'disabled');
                $('#btnDelete').attr('title', 'Permission required to delete this fund');
            }
        }
    }

    function edit_click() {

        if ('@Model.Type' == '@EntityTypes.Entity') {
            loadUpdateEntity('@Url.Content("~/Firm/EditFirm/")' + '@Model.ID', 'Update Entity');
        }
        else if ('@Model.Type' == '@EntityTypes.Client') {
            loadUpdateEntity('@Url.Content("~/Accounts/EditAccount/")' + '@Model.ID', 'Update Client');
        }
        else if ('@Model.Type' == '@EntityTypes.Fund') {
            loadUpdateEntity('@Url.Content("~/Fund/EditFund/")' + '@Model.ID', 'Update Fund');
        }
        else if ('@Model.Type' == '@EntityTypes.Group') {
            loadUpdateEntity('@Url.Content("~/Firm/EditGroup/")' + '@Model.ID', 'Update Group');
        }
    }
    function deleteClick() {

        var url = "";
        var type = "";
        if ('@Model.Type' == '@EntityTypes.Entity') {
            url = '@Url.Content("~/Firm/DeleteFirm")';
            type = "Firm";
        }
        if ('@Model.Type' == '@EntityTypes.Client') {
            url = '@Url.Content("~/Firm/DeleteFirm")';
            type = "Account";
        }
        if ('@Model.Type' == '@EntityTypes.Fund') {
            url = '@Url.Content("~/Firm/DeleteFirm")';
            type = "Fund";
        }
        doConfirm('Are you sure want to delete this ' + type + ' ?',
           function yes() {
               $('#actionButtons').hide();
               $('#loaderMessage').empty().html('Deleting ....');
               $('#dvloader').show();
               $.ajax({
                   url: url,
                   data: { id: '@Model.ID' },
                   type: "GET",
                   cache: false,
                   error: function (error) {

                       window.location.href = '@Url.Content("~/Error/Index")';
                   },
                   success: function (data) {

                       isSessionExpired(data, '@Url.Content("~/Account/Login")');

                       if (data.result == true) {
                           if ('@Model.Type' == '@EntityTypes.Entity') {
                               window.location.href = '@Url.Content("~/Firm/Index")';
                           }
                           if ('@Model.Type' == '@EntityTypes.Client') {
                               window.location.href = '@Url.Content("~/Accounts/Index")';
                           }
                           if ('@Model.Type' == '@EntityTypes.Fund') {
                               window.location.href = '@Url.Content("~/Fund/Index")';
                           }
                       }
                       else {
                           $('#actionButtons').show();
                           $('#dvloader').hide();
                           doAlert(data.ResponseMessage);
                       }
                   }
               });

           },
           function no() {
           }
       );

    }
    function loadCreateEntity(url1, titletxt) {
        window.location.href = url1;
        return;
        $.ajax({
            url: url1,
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                $("#detailBody").empty().html(data);
            }
        });
    }
    function loadUpdateEntity(url1, titletxt) {
        window.location.href = url1;
        return;
        $.ajax({
            url: url1,
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                $('#dvCreateNew').remove();
                $('<div />', { id: 'dvCreateNew' }).appendTo('body');
                $('#dvCreateNew').empty().html(data);
                $('#dvCreateNew').dialog({
                    title: titletxt,
                    width: '700',
                    height: 'auto',
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close"
                });
            }
        });
    }
    function addNotesClick(identity, path, requestType, actionType) {

        $.ajax({
            url: path,
            data: { id: identity },
            type: requestType,
            cache: false,
            error: function (error) {

                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                if (requestType == 'GET') {

                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $('#dvCreateNew').remove();
                    $('<div />', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: actionType + " Note",
                        width: '450',
                        height: 'auto',
                        modal: true,
                        closeOnEscape: false,
                        dialogClass: "no-close",
                        close: function (event, ui) {
                            $(this).destroy().remove();
                        }
                    });
                } else {
                    LoadNotes('Delete', identity, '{}');
                }
            }
        });
    }
    function LoadNotes(actionType, id, noteObj) {

        if (actionType == "Delete") {

            model.Notes = jQuery.grep(model.Notes, function (value) {
                return value.Id != id;
            });

        }
        else if (actionType == 'Update') {

            $.each(model.Notes, function () {
                if (this.Id == noteObj.Id) {
                    this.Note = noteObj.Note;
                    this.Date = noteObj.Date;

                }
            });
        }
        else if (actionType == 'Add') {
            model.Notes.push(noteObj);
        }
        var noteHtml = $('#notesTemplate').tmpl(model.Notes);
        $('#dvNotes').empty().append(noteHtml);
        hideShowButtons();
        $('#dvCreateNew').dialog('destroy').remove();
    }



</script>