﻿@{
    ViewBag.Title = "IFA";
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
}

<nav id="secondary" class="secondary">
    @Html.Partial(Url.Content("~/Views/Firm/_SearchFilter.cshtml"))
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>IFA</h2>
        @Html.Partial("_Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
<script>
    var dataModel;

    $(function () {
        $(".FirmChildLink").show();

        var searchFilterJson = [
            { 'Display': 'Name', 'Field': 'Name', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'IFA Name' },
            { 'Display': 'ABN', 'Field': 'ABN', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Australian Business Number' },
            { 'Display': 'Primary Contact', 'Field': 'PrimaryContact', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Primary Contact' },
            { 'Display': 'Date From', 'Field': 'CreationDate', 'DefaultValue': '', 'Type': 'date>', 'placeholder': 'Creation date from' },
            { 'Display': 'To', 'Field': 'CreationDate', 'DefaultValue': '', 'Type': 'date<', 'placeholder': 'Creation date to' }
        ];
        setSearchFilter(searchFilterJson);
        getSearchFilterModel();
    });
</script>
