﻿@model DBASystem.SMSF.Contracts.ViewModels.WorkflowTemplateModel
@using DBASystem.SMSF.Contracts.Common
@using DBASystem.SMSF.Contracts.ViewModels
@using Kendo.Mvc.UI
<link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
<link href='@Url.Content("~/Scripts/kendo/kendo.default1.css")' rel="stylesheet" />
<script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>
<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>

<div id="toolbar">
    <div id="dvloader">
        <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Saving . . .
    </div>
    <button type="submit" class="btn btn-purple" id="btnBack" onclick='window.location.href = @Url.Content("~/Workflow/");'>
        <span class="icon-circle-arrow-left icon-white"></span> Back
    </button>
    <input type="submit" value="Update" id="btnSaveJob" />
    <input type="submit" value="Save As" id="btnNewTemplate" />
    <input type="button" value="Cancel" id="btnCancel" style="display:none" />
</div>

<h4>
    Transitions
    <img id="btnAddTransitions" class="add" src='@Url.Content("~/images/add.png")' />
</h4>

<table id="tblTransitions" style="width: 100%" class="table">
    <thead>
        <tr>
            <th style="width: 59%">From To</th>
            <th>Restrictions</th>
        </tr>
    </thead>
    <tbody id="transtionBody"></tbody>
</table>

<script id="transitionTemplate" type="text/x-jquery-tmpl">
    <tr data-id="${ID}" class="transition" data-name="${Name}" data-command="${CommandType}" data-commandid="${Command? Command.ID:0}" data-commandname="${Command?Command.Name:''}">
        <td>

            <table style="width: 100%" class="nobordertable">
                <tr>
                    <td style="width: 20%">Name</td>
                    <td>
                        ${Name}
                        <div style="float: right">
                            <img data-id="${ID}" src='@Url.Content("~/images/delete.png")' class="delete deleteTransition" title="Click to remove this transition" />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>From Activity</td>
                    <td>
                        <select id="ddFromActivity" class="Listbox">
                            <option value="">-- Select --</option>
                            {{each(index, activity) activities}}
                            {{if activity.Key == FromActivityID}}
                            <option value="${activity.Key}" selected="selected">${activity.Value}</option>
                            {{else}}
                            <option value="${activity.Key}">${activity.Value}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>To Activity</td>
                    <td>
                        <select id="ddToActivity" class="Listbox">
                            <option value="">-- Select --</option>
                            {{each(index, activity) activities}}
                            {{if activity.Key == ToActivityID}}
                            <option value="${activity.Key}" selected="selected">${activity.Value}</option>
                            {{else}}
                            <option value="${activity.Key}">${activity.Value}</option>
                            {{/if}}
                            {{/each}}
                        </select>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            {{if CommandType != 2}}
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 45%">Actor</th>
                        <th>Type</th>
                        <th style="width: 40px"></th>
                    </tr>
                </thead>
                <tbody id="restrictionsBody">
                    {{tmpl(Restrictions) "#restrictionTemplate"}}
                </tbody>
                <tfoot style="background-color: white">
                    <tr>
                        <td colspan="3">
                            <img src='@Url.Content("~/images/add.png")' class="add addRestriction" title="Click to add new restriction" />
                        </td>
                    </tr>
                </tfoot>
            </table>
            {{/if}}
        </td>
    </tr>
</script>

<script id="restrictionTemplate" type="text/x-jquery-tmpl">
    <tr data-id="${ID}">
        <td>
            <select id="ddActors" class="Listbox">
                <option value="">-- Select --</option>
                {{each(index, actor) actors}}
                {{if actor.Key == ActorID}}
                <option value="${actor.Key}" selected="selected">${actor.Value}</option>
                {{else}}
                <option value="${actor.Key}">${actor.Value}</option>
                {{/if}}
                {{/each}}
            </select>
        <td>
            <select id="ddRestrictionTypes" class="Listbox">
                <option value="">-- Select --</option>
                {{each(index, type) restrictionTypes}}
                {{if type.Key == TypeID}}
                <option value="${type.Key}" selected="selected">${type.Value}</option>
                {{else}}
                <option value="${type.Key}">${type.Value}</option>
                {{/if}}
                {{/each}}
            </select>
        </td>
        <td><img src='@Url.Content("~/images/delete.png")' class="delete deleteRestriction" title="Click to remove this restriction" /> </td>
    </tr>
</script>

<div id="templateInfo" style="display:none">
    <table style="width: 100%" class="nobordertable">
        <tbody>
            <tr>
                <td style="width: 30%">
                    Template Name
                </td>
                <td>
                    <input type="text" placeholder="Template Name" id="templateName" style="min-width:250px;" value="@(!Model.IsSystemDefault ? Model.Name : "")">
                    <div id="tamplateNameError" class="globalerror"></div>
                </td>
            </tr>
            <tr>
                <td>
                    Set Default
                </td>
                <td>
                    <input type="checkbox" id="isDafaultTemplate" @(Model.IsDefault && !Model.IsSystemDefault ? "checked" : "") style="float: left">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="align-content: center" align="center">
                    <input id="templateInfoSaveJob" type="button" value="Save" style="" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dvAvailableTransitions" style="display: none; padding: 20px">
    <table style="width: 100%" class="nobordertable">
        <tbody>
            <tr>
                <td style="width: 30%">
                    Transition Name
                </td>
                <td>
                    <input type="text" placeholder="Transition Name" id="transitionName" style="min-width:250px;">
                </td>
            </tr>
            <tr>
                <td>
                    <label id="commandLabel">Available Commands</label>
                </td>
                <td>
                    @*<select id="ddAvailableCommands" style="min-width: 250px"></select>*@
                    @(Html.Kendo().DropDownList()
                                .Name("ddAvailableCommands") //The name of the dropdownlist is mandatory. It specifies the "id" attribute of the widget.
                                .DataTextField("Name") //Specifies which property of the Product to be used by the dropdownlist as a text.
                                .DataValueField("ID") //Specifies which property of the Product to be used by the dropdownlist as a value.
                                .SelectedIndex(0)
                                .OptionLabel("-- Select --")
                                .HtmlAttributes(new { style = "width:262px" })
                    )

                    <input type="text" id="newCommand" style="min-width:250px;display:none" />
                    <img id="btnAddCommand" class="add" src='@Url.Content("~/images/add.png")' />
                </td>
            </tr>
        </tbody>
    </table>
    <input id="btnAddAvailableTransitions" type="button" value="Add" />
</div>

<script>
    var actors = [];
    var restrictionTypes = [];
    var activities = [];
    var transitions = [];
    var availableTransitions = [];
    var availableCommands = [];
    var templateName = '@Model.Name';
    var templateId = '@(Model.IsSystemDefault?-1:Model.Id)';
    var saveAsNew = false;

    var newCommandId = 0;
    var newTransitionId = 0;
    var formValuesChanged = false;
    $(function () {
        if ('@Model' != null) {
            var model = $.parseJSON('@Html.Raw(Json.Encode(Model))');

            if (model != null) {
                actors = model.Actors;
                restrictionTypes = model.RestrictionTypes;
                activities = model.Activities;
                transitions = model.Transitions;
                availableTransitions = model.AvailableTransitions;
                availableCommands = model.AvailableCommands;

                $('#transitionTemplate').tmpl(transitions).appendTo('#tblTransitions tbody');
            }
        }
        $("#btnAddCommand").click(function () {

            $("#ddAvailableCommands").closest(".k-widget").hide();
            $("#newCommand").show();
            $('#commandLabel').text("New Command");

        });
        $('#btnAddTransitions').on('click', function () {

            var ddl = $('#ddAvailableCommands').data("kendoDropDownList");
            ddl.setDataSource(availableCommands);
            ddl.refresh();
            $('#dvAvailableTransitions').dialog({
                title: 'Available Transitions',
                width: 600,
                height: 'auto',
                modal: true
            });

            $("#transitionName").val("");
            $("#newCommand").val("").hide();

        });
        $("#templateInfoSaveJob").click(function () {
            if ($("#templateName").val() != "" && $("#templateName").val().toLowerCase() != "default") {
                templateName = $("#templateName").val();
                $('#templateInfo').dialog('destroy');
                saveJob();
                return;
            }
            doAlert("Invalid template name");
        });
        $("#templateName").keyup(function () {

            if ($("#templateName").val().toLowerCase() == "default") {
                $("#tamplateNameError").empty().html('"Default" is not allowed as template name.');
                $("#templateInfoSaveJob").hide();
            } else {
                $("#tamplateNameError").empty();
                $("#templateInfoSaveJob").show();
            }

        });

        $("#btnSaveJob").click(function () {
            $('#templateInfo').dialog({
                title: 'Template Name',
                width: 600,
                height: 'auto',
                modal: true
            });
        });

        $("#btnNewTemplate").click(function () {
            $("#templateName").val("");
            saveAsNew = true;

            $('#templateInfo').dialog({
                title: 'Template Name',
                width: 600,
                height: 'auto',
                modal: true
            });
        });

        $('#btnAddAvailableTransitions').click(function () {
            if ($("#transitionName").val() == "") {
                doAlert("Enter Transition Name");
                return;
            }

            var newTransition = $.parseJSON('@Html.Raw(Json.Encode(new WorkflowTransitionsModel()))');
            newTransition.Command = $.parseJSON('@Html.Raw(Json.Encode(new TransitionCommandModel()))');
            newTransition.Restrictions = $.parseJSON('@Html.Raw(Json.Encode(new List<WorkflowRestrictionsModel>()))');

            newTransition.Command.Name = $("#newCommand").val();
            newCommandId--;
            newTransition.Command.ID = newCommandId;
            if ($("#ddAvailableCommands").closest(".k-widget").is(":visible")) {
                var commandsDdl = $('#ddAvailableCommands').data("kendoDropDownList");
                newTransition.Command.ID = commandsDdl.value() == "" ? newCommandId : commandsDdl.value();
                newTransition.Command.Name = commandsDdl.text() == "-- Select --" ? "" : commandsDdl.text();
            }

            if (newTransition.Command.Name == '' && newTransition.Command.ID < 0)
                doAlert('Please select Command');
            else {

                newTransitionId--;
                newTransition.ID = newTransitionId;
                newTransition.Name = $("#transitionName").val();
                newTransition.FromActivityID = 0;
                newTransition.FromActivity = "";
                newTransition.ToActivityID = 0;
                newTransition.ToActivity = "";
                newTransition.CommandType = '@TransitionCommandType.Command';

                var temp = $('#transitionTemplate').tmpl(newTransition);
                $('#transtionBody').append(temp);

                $('#dvAvailableTransitions').dialog('close');
                availableCommands.push({ ID: newTransition.Command.ID, Name: newTransition.Command.Name });
                setformChanged();
            }

        });

        $(document).on('click', ".addRestriction", function () {
            var tbody = $(this).closest('table').find('tbody');
            var r = {
                ID: 0,
                TypeID: 0,
                ActorID: 0
            };

            $('#restrictionTemplate').tmpl(r).appendTo(tbody);
            setformChanged();
        });

        $(document).on("click", ".deleteTransition", function () {

            var tr = $(this).closest('tr.transition');

            doConfirm("Are you sure want to delete this transition?",
                function yes() {
                    $(tr).remove();
                    setformChanged();
                },
                function no() {
                }
            );
        });

        $(document).on('click', '.deleteRestriction', function () {

            var tr = $(this).closest('tr');

            doConfirm("Are you sure want to delete this restriction?",
                function yes() {
                    $(tr).remove();
                    setformChanged();
                },
                function no() {
                }
            );
        });
    });

    function saveJob() {
        if (isValid()) {
            $('#toolbar input').hide();
            $('#toolbar button').hide();
            $('#toolbar div').show();

            var transitions = [];

            $.each($('#transtionBody tr.transition'), function (index, tr) {
                var id = $(tr).attr('data-id');
                ;
                var commandType = $(tr).attr('data-command');
                var fromActivityID = $(tr).find('#ddFromActivity :selected').val();
                var toActivityID = $(tr).find('#ddToActivity :selected').val();
                var restritions = [];

                if (commandType != '2') {
                    $.each($(tr).find('#restrictionsBody tr'), function (i, t) {
                        var actor = $(t).find('#ddActors :selected').val();
                        var type = $(t).find('#ddRestrictionTypes :selected').val();

                        restritions.push({ TypeID: type, ActorID: actor });
                    });
                }

                var transitionCommand = $.parseJSON('@Html.Raw(Json.Encode(new TransitionCommandModel()))');

                transitionCommand.ID = $(tr).attr('data-commandId');
                transitionCommand.Name = $(tr).attr('data-commandName');
                transitions.push({ Name: $(tr).attr('data-name'), ID: id, FromActivityID: fromActivityID, ToActivityID: toActivityID, Restrictions: restritions, CommandType: commandType, Command: transitionCommand });

            });

            var model = {
                WorkflowTypeId: '@Model.WorkflowTypeId',
                Transitions: transitions,
                Name: templateName,
                Id: saveAsNew ? -1 : templateId,
                EntityId: '@Model.EntityId',
                IsDefault: $("#isDafaultTemplate").is(':checked')
            };

            $.ajax({
                url: '@Url.Content("~/Workflow/SaveWorkflow")',
                data: JSON.stringify({ model: model, firmId: '@Model.EntityId' }),
                datatype: "json",
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                async: true,
                type: "POST",
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index/")';
                },
                success: function (data) {
                    if (data.Success == true) {
                        $('#workFlowName').empty().html(model.Name);
                        templateId = data.TemplateId;
                    }
                    //this variable is in create.chtml
                    graphUpdated = false;
                    doAlert(data.Message);
                    formValuesChanged = false;
                    stopAlertBeforeRedirect();

                    $('#toolbar button').show();
                    $('#toolbar input').show();
                    $('#toolbar div').hide();
                }
            });
        }
    }
    function setformChanged() {

        if (!formValuesChanged) {
            formValuesChanged = true;
            alertBeforeRedirect();
        }
    }

    function getOption(value, text, selectedValue) {
        if (selectedValue == value)
            return '<option value="' + value + '" selected="selected">' + text + '</option>';
        else
            return '<option value="' + value + '">' + text + '</option>';
    }

    function isValid() {
        $('#tblTransitions select').removeClass('input-validation-error');
        var message = '';
        var valid = true;

        $.each($('#transtionBody tr.transition'), function (index, tr) {
            var name = $(tr).attr('data-name');
            var commandType = $(tr).attr('data-command');
            var fromActivity = $(tr).find('#ddFromActivity');
            var toActivity = $(tr).find('#ddToActivity');

            if (fromActivity.val() == '') {
                fromActivity.addClass('input-validation-error');
                message += 'Please select from activity for \'' + name + '\'' + '.<br />';
                valid = false;
            }

            if (toActivity.val() == '') {
                toActivity.addClass('input-validation-error');
                message += 'Please select to activity for \'' + name + '\'' + '.<br />';
                valid = false;
            }

            if (commandType != '2') {

                if ($(tr).find('#restrictionsBody tr').length == 0) {
                    message += 'Plese allow Atleast one actor in \'' + name + '\'' + '.<br />';
                    valid = false;
                }

                var allow = 0;
                var actors = [];
                $.each($(tr).find('#restrictionsBody tr'), function (i, t) {
                    var actor = $(t).find('#ddActors');
                    var type = $(t).find('#ddRestrictionTypes');

                    if (actor.val() == '') {
                        actor.addClass('input-validation-error');
                        message += 'Please select actor for \'' + name + '\'' + '.<br />';
                        valid = false;
                    }
                    else {
                        if ($.inArray(actor.val(), actors) == -1)
                            actors.push(actor.val());
                        else {
                            message += 'Multiple actors are not allowed' + '.<br />';
                            actor.addClass('input-validation-error');
                            valid = false;
                        }
                    }

                    if (type.val() == '') {
                        type.addClass('input-validation-error');
                        message += 'Please select type for \'' + name + '\'' + '.<br />';
                        valid = false;
                    }
                    else if (type.val() == '1') {
                        allow++;
                    }
                });

                if (allow == 0) {

                    message += 'Plese allow Atleast one actor in \'' + name + '\'' + '.<br />';
                    valid = false;
                }
            }
        });

        if (!valid)
            doAlert(message);

        return valid;
    }
</script>