﻿@model MvcHtmlString
@{
    ViewBag.Title = "GetWorkflowGraph";
}
<script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/WorkflowEngineNet/WorkflowEngineNET.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/WorkflowEngineNet/kinetic-v4.6.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
<script>
    var showGraphToolBar = false;
    var showActivityDelete = false;
    var showAcitvityCreate = false;
    var showTransactionAdd = false;
</script>
<link href="@Url.Content("~/Scripts/WorkflowEngineNet/jquery.loadmask.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/WorkflowEngineNet/jquery.loadmask.js")"></script>
<script src="@Url.Content("~/Scripts/WorkflowEngineNet/jquery.tablednd.js")"></script>
<script src="@Url.Content("~/Scripts/WorkflowEngineNet/MomboBox.js")"></script>
<script src="@Url.Content("~/Scripts/WorkflowEngineNet/jquery.simplemodal_modified.js")"></script>
<link href='@Url.Content("~/Scripts/kendo/kendo.common.min.css")' rel="stylesheet" />
<link href='@Url.Content("~/Scripts/kendo/kendo.default1.css")' rel="stylesheet" />
<script src='@Url.Content("~/Scripts/kendo/kendo.all.min.js")'></script>
<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<div id="toolbar">
    <div id="dvloader">
        <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Updating Graph UI . . .
    </div>
    <button type="submit" class="btn btn-purple" id="btnBack" onclick='window.location.href = @Url.Content("~/Workflow/");'>
        <span class="icon-circle-arrow-left icon-white"></span> Back
    </button>
    <input type="submit" value="Update Graph" id="btnSaveGraph" />
</div>

<div id="contentmain">
    <div id="contentinner">
        <div id="detailBody">
            @Model
        </div>
    </div>
</div>

<script>
    $(function() {
        $(".ui-tabs-nav").hide();
        $('#WFDesigner_HeadDiv').find('table').hide();
        $("#WFDesigner_ResultDiv").hide();
        $("#WFDesigner_tabGraph").height($("#WFDesigner_graph").height());

        $("#btnSaveGraph").click(function() {
            var data = WFDesigner_GetDataArray();
            var dataArray = WFDesigner_app.GetDesignerSettings('WFDesigner_' + 'Designer');
            data = data.concat(dataArray);

            @{
                var tempObj = new List<KeyValuePair<string, string>> ();
                tempObj.Add(new KeyValuePair<string, string>("Empty","Empty"));
            }
            var employees = [];
            var inputs = '';
            for (var i = 0; i < data.length; i++) {
                inputs += '<input type="hidden" name="' + data[i].name + '" value="' + data[i].value + '" />';
                var key = data[i].name;
                var value = data[i].value;
                employees.push(new KVP(data[i].name,data[i].value));
            }

            saveGraph(employees);
        });
    });

    function saveGraph(inputs) {
        $('#toolbar button').hide();
        $('#toolbar input').hide();
        $('#dvloader').show();

        $.ajax({
            url: '@Url.Content("~/Workflow/SaveWorkflowGraph")',
            data: { activities: JSON.stringify(inputs), templateId: @ViewBag.TemplateId },
            type: "POST",
            traditional: true,
            async: true,
            error: function(error) {
                window.location.href = '@Url.Content("~/Error/Index/")';
            },
            success: function(data) {
                if (data.Success == true) {
                    doAlert("Workflow UI updated successfully.");
                }
                $('#toolbar button').show();
                $('#toolbar input').show();
                $('#dvloader').hide();
            }
        });
    }

    function KVP(key,value) {
        this.Key = key;
        this.Value = value;
    }
</script>