﻿@model DBASystem.SMSF.Contracts.ViewModels.WorkflowCreateModel
@{
    ViewBag.Title = "Workflow";
}

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>

<div id="contentmain">
    <div id="contentinner">
        <h2>@ViewBag.Title [ Template : <span id="workFlowName">@Model.TemplateName</span> ]</h2>
        <div id="tabstrip">
            <ul>
                <li data-type="graph">Graphical Presentation</li>
                <li data-type="dvTransitions">Transitions</li>
            </ul>
            <div><div id="graph"></div></div>
            <div><div id="dvTransitions"></div></div>
        </div>

        <div id="sdvTransitions"></div>
        <div id="dvloader" style="display:none">
            <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="updateMessage"></span>
        </div>
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
}

<script>
    var graphUpdated = false;
    var transitionLoaded = false;
    var formValuesChanged = true;

    $(function () {
        var tabstrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        tabstrip.bind("select", onSelect);
        tabstrip.select(0);
    });

    function onSelect(e) {
        if ($(e.item).attr("data-type") == null)
            return;

        if ($(e.item).attr("data-type") == "graph" && graphUpdated == false) {
            $('#graph').empty().html("Loading Graph ... <img src='@Url.Content("~/Images/loader.gif")' />");
            $.ajax({
                url: '@Url.Content("~/Workflow/GetWorkflowGraph")',
                data: jQuery.parseJSON('@Html.Raw(Json.Encode(Model))'),
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#graph').empty().html(data);
                    graphUpdated = true;
                    transitionLoaded = false;
                }
            });
        }

        if ($(e.item).attr("data-type") == "dvTransitions" && transitionLoaded == false) {
            $.ajax({
                url: '@Url.Content("~/Workflow/GetTemplate")',
                data: jQuery.parseJSON('@Html.Raw(Json.Encode(Model))'),
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {

                    $('#dvTransitions').empty().html(data);
                    transitionLoaded = true;
                }
            });
        }
    }
</script>