﻿@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Pending Process";
}
<div id="contentmain">
    <div id="contentinner">
        <h2>@ViewBag.Title</h2>

        <table id="grid">
            <thead>
                <tr>
                    <th>Workflow Name</th>
                    <th style="width: 50%">Name</th>
                    <th style="width: 120px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script id="pendingProccessTemplate" type="text/x-kendo-tmpl">
    <tr>
        <td>#:WorkflowName#</td>
        <td style="width: 50%">#:Name#</td>
        <td style='text-align: center; width: 120px'>
            <input class='proceed' type='button' value='Proceed' data-id='#:ProcessId#' data-type='#:WorkflowName#' data-typeId='#:WorkflowTypeId#'/>
        </td>
    </tr>
</script>

<script id="detailTemplate" type="text/x-jquery-tmpl">
    <input type="hidden" id="txtProcessId" />
    <input type="hidden" id="txtType" />

    {{if Entity != null}}
    <table style="width: 100%">
        <tr>
            <td style="vertical-align: top">
                <table style="width: 100%" class="nobordertable">
                    <tr>
                        <td colspan="2" class="bold">${Entity.Name}</td>
                    </tr>
                    <tr>
                        <td style="width: 40%">Entity Type</td>
                        <td>${Entity.Category}</td>
                    </tr>
                    {{if Entity.EntityType != '@((int)DBASystem.SMSF.Contracts.Common.EntityGenericType.Group)'}}
                    <tr>
                        <td>Australian Business Number</td>
                        <td>${!isNullOrEmpty(Entity.ABN)? Entity.ABN: '-'}</td>
                    </tr>
                    <tr>
                        <td>Australian Company Number</td>
                        <td>${!isNullOrEmpty(Entity.ACN)? Entity.ACN: '-'}</td>
                    </tr>
                    <tr>
                        <td>Goods and Services Tax</td>
                        <td>${!isNullOrEmpty(Entity.GST)? Entity.GST: '-'}</td>
                    </tr>
                    <tr>
                        <td>Tax File Number</td>
                        <td>${!isNullOrEmpty(Entity.TFN)? Entity.TFN: '-'}</td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td>Note</td>
                        <td>${!isNullOrEmpty(Entity.Note)? Entity.Note: '-'}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {{/if}}
    <div id="dvCommands" style="padding: 20px 0 20px 0">
        {{each(index, command) Commands}}
        <input type="button" value="${command.Value}" data-key="${command.Key}" class="command" />
        {{/each}}
    </div>
</script>

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<script>
    function loadProcesses() {
        $.get('@Url.Content("~/Workflow/ListPendingProcesses")', function (result) {
            $('#grid').kendoGrid({
                dataSource: {
                    data: result,

                },
                scrollable: false,
                rowTemplate: kendo.template($("#pendingProccessTemplate").html())
            });

            if (result.length == 0) {
                $('#grid').append('<tbody><tr><td colspan="3">No record found</td></tr></tbody>');
            }
        });
    }
    $(function () {
        loadProcesses();

        $('.command').live('click', function () {
            var processId = $('#dvProcessDetail #txtProcessId').val();
            var type = $('#dvProcessDetail #txtType').val();
            var command = $(this).attr('data-key');

            $.ajax({
                url: '@Url.Content("~/Workflow/WorkflowProcessExecuteCommand")',
                data: { type: type, processId: processId, command: command },
                type: "POST",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    doAlert(data);
                    $('#dvProcessDetail').dialog('close');
                    loadProcesses();
                }
            });
        });

        $('.proceed').live('click', function () {
            var processId = $(this).attr('data-id');
            var typeId = $(this).attr('data-typeId');

            $.ajax({
                url: '@Url.Content("~/Workflow/GetPendingProcessDetail")',
                data: { type: typeId, processId: processId },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {

                    if (data.ViewUrl) {
                        window.location.href = data.ViewUrl;
                        return;
                    }
                    var temp = $('#detailTemplate').tmpl(data);

                    $('#dvProcessDetail').remove();
                    $('<div/>', { id: 'dvProcessDetail' }).appendTo('body');
                    $('#dvProcessDetail').empty().html(temp);
                    $('#dvProcessDetail').dialog({
                        title: 'Process Detail',
                        width: 'auto',
                        height: 'auto',
                        modal: true
                    });

                    $('#dvProcessDetail #txtProcessId').val(processId);
                    $('#dvProcessDetail #txtType').val(typeId);
                }
            });
        });
    });
</script>
