﻿@using Kendo.Mvc.UI
@model DBASystem.SMSF.Contracts.ViewModels.JobWorkLogModel

@using (Ajax.BeginForm("AddWorkLog", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess" }, new { id = "frmAddWorkLog" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.JobID)
    @Html.HiddenFor(model => model.AccountManager)
    
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 25%">
                Account Manager
            </td>
            <td>
                @Html.DropDownList("AccountManagerID", "--Select--")
                @Html.ValidationMessageFor(model => model.AccountManagerID)
            </td>
        </tr>
        <tr>
            <td>Start Date Time</td>
            <td>
                @(Html.Kendo().DateTimePickerFor(model => model.Start)
                    .HtmlAttributes(new { style = "width:160px;", @class = "jobdatepicker" })
                    .TimeFormat("HH:mm").Value(Model.Start == DateTime.MinValue? DateTime.Now: Model.Start)
                )
                @Html.ValidationMessageFor(model => model.Start)
            </td>
        </tr>
        <tr>
            <td>End Date Time</td>
            <td>
                @(Html.Kendo().DateTimePickerFor(model => model.End)
                    .HtmlAttributes(new { style = "width:160px;", @class = "jobdatepicker" })
                    .TimeFormat("HH:mm")
                )
                @Html.ValidationMessageFor(model => model.End)
            </td>
        </tr>
        <tr>
            <td>Hours</td>
            <td>
                @Html.TextBox("Hours", Model.Hours != 0.0? Model.Hours.ToString(): "", new { style="width: 60px"})
                @Html.ValidationMessageFor(model => model.Hours)
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                @Html.TextAreaFor(model => model.Description, new { style="width: 70%; height: 70px"})
                <br/>
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr><td colspan="2"></td></tr>
        <tr>
            <td></td>
            <td id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0)
                                            {<text>Update</text>}
                                            else
                                            {<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script>
    $(function () {
        $.validator.unobtrusive.parse("#frmAddWorkLog");

        jQuery.validator.methods.date = function (value, element) {
            var stamp = value.split(" ");
            var validDate = /^(0?[1-9]\/|[12]\d\/|3[01]\/){2}(19|20)\d\d$/i.test(stamp[0]);
            var validTime = /^(([0-1]?[0-9])|([2][0-3])):([0-5]?[0-9])(:([0-5]?[0-9]))?$/i.test(stamp[1]);
            return this.optional(element) || (validDate && validTime);
        };

        if ($('#ID').val() == 0)
            $('#End').val('');

        $('#AccountManagerID').kendoDropDownList({ change: setAccountManager });
        $("#Start,#End").change(calculateHours);
        $('#btnCancel').click(function() { $('#dvAdd').dialog('close'); });
    });

    function calculateHours() {
        $('span[data-valmsg-for="Start"]').html('').removeClass('field-validation-error');
        if ($('#Start').val() != '' && $('#End').val() != '') {
            var hours = parseInt($("#End").data("kendoDateTimePicker").value() - $("#Start").data("kendoDateTimePicker").value());
            if (hours <= 0) {
                $('span[data-valmsg-for="Start"]').html('Start Date Time should be less then End Date Time').addClass('field-validation-error');
                $('#Hours').val('');
            } else {
                $('#Hours').val(parseFloat(hours / 1000 / 60 / 60, 2));
            }
        }
    }

    function setAccountManager() {
        $('#AccountManager').val($("#AccountManagerID").data("kendoDropDownList").text());
    }

    function onBegin() {
        var isValid = true;

        $('span[data-valmsg-for="Start"],span[data-valmsg-for="AccountManagerID"],span[data-valmsg-for="End"]').html('').removeClass('field-validation-error');

        if ($('#AccountManagerID').val() == 0) {
            $('span[data-valmsg-for="AccountManagerID"]').html('Account Manager field is required').addClass('field-validation-error');
            isValid = false;
        }
        if ($('#Start').val() == '') {
            $('span[data-valmsg-for="Start"]').html('Start Date Time field is required').addClass('field-validation-error');
            isValid = false;
        }
        if ($('#End').val() == '') {
            $('span[data-valmsg-for="End"]').html('Start Date Time field is required').addClass('field-validation-error');
            isValid = false;
        }
        if ($('#Start').val() != '' && $('#End').val() != '') {
            var hours = parseInt($("#End").data("kendoDateTimePicker").value() - $("#Start").data("kendoDateTimePicker").value());
            if (hours <= 0) {
                $('span[data-valmsg-for="Start"]').html('Start Date Time should be less then End Date Time').addClass('field-validation-error');
                isValid = false;
            }
        }

        if (isValid && $('#frmAddWorkLog').valid()) {
            $('#tdButtons input').hide();
            $('#tdButtons img').show();
            return true;
        }

        return false;
    }

    function onSuccess(context) {
        if (context.status == 'success') {

            if (context.action == 'added')
                model.push(context.model);
            else {
                for (var i = 0; i < model.length; i++) {
                    var item = model[i];

                    if (item.ID == context.model.ID)
                        model[i] = context.model;
                }
            }

            $("#ddAccountManagers").data("kendoDropDownList").value(context.model.AccountManagerID);
            $('#dvAdd').dialog('close');
            bindGrid();
        }
        else {
            doAlert(context.error);
        }
    }
</script>