﻿@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common

<div id="toolbar">
    <button id="btnAdd" type="submit" class="btn btn-purple">
        <span class="fa fa-plus-circle"></span>Add
    </button>
    <button type="button" id="btnDelete" class="btn btn-purple">
        <span class="fa fa-trash-o"></span>Delete
    </button>
    <div id="dvloader" style="display:none">
        <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="updateMessage"></span>
    </div>

</div>

@Html.Partial(Url.Content("~/Views/Job/_List.cshtml"))

<div id="dvAddPopup" style="display: none">
    <div id="dvAddButtons" style="text-align: right; width: 100%; height: 30px">
        <input id="btnContinue" type="button" value="Continue" />
        <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
    <div id="dvAddGrid" style="max-height: 375px; display: none; padding-bottom: 20px">
        <table id="tblAddGrid" style="width: 100%">
            <tr>
                <th style="width: 5%"></th>
                <th>Name</th>
                <th style="width: 45%">
                    Account
                </th>
            </tr>
        </table>
        <script id="AddGridTemplate" type="text/x-kendo-template">
            #if (CategoryID == null || !('@ViewBag.EntityType' == '@((int)EntityTypes.Client)' && CategoryID == '@((int)EntityCategories.System)')) { #
            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}" class="view">
                <td style="text-align: center">
                    <span class="fa fa-suitcase"></span>
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Parent != null) { #
                    ${Parent}
                    # }#
                </td>
            </tr>
            # } #
        </script>
    </div>
    <div id="dvAddLoader" style="text-align: center; height: 375px">
        <br /><br /><br /><br />
        <h4>Loading Funds</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
    </div>
</div>

<script>
    var client = '@((int)EntityGenericType.Client)';
    var fund = '@((int)EntityGenericType.Fund)'
    var entity = '@((int)EntityGenericType.Entity)';
    var entity = '@((int)DBASystem.SMSF.Contracts.Common.EntityGenericType.Entity)';
    $(function () {

        if ('@TempData["WarningMessage"]' != '') {
            doAlert('@Html.Raw(@TempData["WarningMessage"])');
        }

        $(".lnkSearch").die("click").live("click", function (event) {
            var txt = event.target.innerHTML;
            if (txt == "ALL") {
                txt = "";
            }
            SetFirmGrid(searchFirmGridList(farmModel, txt));
            event.preventDefault();
        });  
    });
</script>

<script>
 
    function searchFirmGridList(Fmodel, name) {
        var result = [];

        if (name == "")
            return Fmodel;
        $.each(Fmodel, function (i, row) {
            if (row.Name.toUpperCase().indexOf(name) == 0) {
                result.push(row);
            }
        });
        return result;
    }

    function DistictAlpaArray(Fmodel) {
        var result = [];
        $.each(Fmodel, function (i, row) {

            var ch = row.Name.charAt(0).toUpperCase();;
            if (jQuery.inArray(ch, result) == -1) {
                result.push(ch);
            }
        });
        return result;
    }
    function displaySearchAplha(FModel) {
        FModel = DistictAlpaArray(FModel);
        FModel.sort();
        var lnkhtml = ""; //" Filters:  ";
        lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>ALL</a>";
        $.each(FModel, function (i, row) {
            lnkhtml = lnkhtml + " <a id='lnkA' class='lnkSearch' href='#'>" + row + "</a>" + "";
        });

        $("#dvPageAlpha").html(lnkhtml);
    }
</script>

<script>
    $(function () {
        if ('@(CommonFunction.IsOptionAllowed(Option.AddJob))' == '@false') {
            $('#btnAdd').attr('disabled', 'disabled');
            $('#btnAdd').attr('title', 'Permission required to add job');
        }
        if ('@(CommonFunction.IsOptionAllowed(Option.Deletejob))' == '@false') {
            $('#btnDelete').attr('disabled', 'disabled');
            $('#btnDelete').attr('title', 'Permission required to delete job');
        }

        $('#btnAdd').click(function () {
            $('#dvAddPopup').dialog({
                title: 'Select Parent Fund',
                width: 800,
                height: 'auto',
                modal: true
            });

            if ($("#dvAddPopup #tblAddGrid").data("kendoGrid"))
                return;

            $.ajax({
                url: '@Url.Action("GetParents", "Firm")',
                data: { type: '@EntityTypes.Fund' },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                        dataSource: {
                            data: data
                            , pageSize: 10
                        },
                        pageable: true,
                        scrollable: false,
                        selectable: true,
                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                    });
                    if (data != undefined && data.length == 0) {
                        $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                    }

                    $('#dvAddLoader').hide();
                    $('#dvAddGrid').show();
                    $("#dvAddPopup").dialog("option", "position", "center");
                }
            });
        });

        $('#btnContinue').click(function () {
            var selectedItem = $('#tblAddGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select parent first');
                return;
            }

            $('#dvAddButtons input').hide();
            $('#dvAddButtons img').show();

            var parentId = $(selectedItem).attr('id');
            window.location.href = '@Url.Content("~/Firm/Add/?type=")' + '@EntityTypes.Job' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
        });

        $('#btnDelete').click(function () {
            var selectedItem = $('#tblFirmGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select item to delete');
                return;
            }

            var id = $(selectedItem).attr('id');

            doConfirm("Are you sure want to delete this job?",
                function yes() {
                    $('#toolbar button').hide();
                    $('#dvloader').show();
                    $('#updateMessage').empty().html("Deleting Job .....");
                    

                    $.ajax({
                        url: '@Url.Action("Delete", "Job")',
                        data: { id: id },
                        type: "GET",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function (data) {
                            if (data.Status == 'Error') {
                                doAlert(data.ResponseMessage);
                            }
                            else {
                                $(selectedItem).remove();
                            }

                            $('#toolbar button').show();
                            $('#toolbar #dvloader').hide();
                        }
                    });
                },
                function no() {
                }
            );
        });
    });
</script>