﻿@using DBASystem.SMSF.Contracts.Common
@using DBASystem.SMSF.Contracts.ViewModels
@using DBASystem.SMSF.Web.Common
@*@model DBASystem.SMSF.Contracts.ViewModels.JobMainMenuViewModel*@
@{
    var jobId = ViewData["JobId"];
    var workpaperMenu = ViewData["WorkpaperMenu"] as bool?;
}


<div id="dvMainContainer">
    <div id="JobMainMenu">
        @if (jobId != null)
        {
            
            <ul id="JobMainMenuList">
                @if (CommonFunction.IsOptionAllowed(Option.GetJobInfo))
                {
                    <li><a href="@Url.Action("Detail", "Job", new {id = jobId})">General</a></li>
                }
                @if (CommonFunction.IsOptionAllowed(Option.GetImportTemplates))
                {
                    <li><a href="@Url.Action("Index", "Imports", new {jobId = jobId})">Imports</a></li>
                }
                @if (CommonFunction.IsOptionAllowed(Option.WorkPaper))
                {
                    <li><a href="@Url.Action("WorkPaper", "Job", new {jobId = jobId})">Work Papers</a></li>
                }
                @if (CommonFunction.IsOptionAllowed(Option.AuditReports))
                {
                    <li><a href="@Url.Action("AuditReports", "Job", new {jobId = jobId})">Audit Reports</a></li>
                }
                @if (CommonFunction.IsOptionAllowed(Option.GetWorkpaperMenu))
                {
                    <li>
                        <ul id="WorkPaperTabs">
                            @if (workpaperMenu.HasValue && workpaperMenu.Value == true)
                            {
                                var model = new ManageWorkPaperModel {JobId = Convert.ToInt32(Utility.DecryptQueryString(jobId.ToString()))};
                                Html.RenderAction("GetWorkpaperMenu", model);
                            }
                        </ul>
                    </li>
                }
                @if (CommonFunction.IsOptionAllowed(Option.GetWorkLogs))
                {
                    <li><a href="@Url.Action("WorkLog", "Job", new {jobId = jobId})">Work Log</a></li>
                }
                <li><a href="@Url.Action("Comments", "Job", new { id = jobId })">Comments</a></li>
            </ul>
        }
    </div>
</div>




