﻿<style>
    .cursorPointer {
        cursor: pointer !important;
    }
</style>
<div id="dvGrid" style="display: none">
    <div id="dvFirmGrid">
        <table id="tblFirmGrid" style="width:100%;">
            <tr>
                <th style="width: 2%"></th>
                <th style="width: 2%"></th>
                <th style="width: 2%">ID</th>
                <th style="width: 12%">Name</th>
                <th style="width: 12%">Account</th>
                <th style="width: 12%">Fund</th>
                <th width="8%">Account Managers</th>
                <th width="8%">Assignee</th>
                <th width="6%">Estimation</th>
                <th width="5%">Actual</th>
                <th width="6%">Created On</th>
                <th width="8%">Completed On</th>
                <th>Status</th>
            </tr>
        </table>
        <script id="FirmGridTemplate" type="text/x-kendo-template">
            <tr id='${ID}' data-name="${Name}" data-path="${Path}" class="view" data-id="${EncryptedID}">
                <td style='text-align: center'>
                    <span class="fa fa-tasks imgEntityDetail cursorPointer" title="Click to see job detail" data-id="${EncryptedID}"></span>
                </td>
                <td style='text-align: center' id="colAttach">
                    <span class="fa fa-paperclip Ico-Def proc-attachments cursorPointer" title="Attach Files" id="btnModalAttachmenttemplate"></span>
                </td>
                <td>${FormattedID}</td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Account != null) { #
                    ${Account}
                    # }#
                </td>
                <td>
                    #if (Fund != null) { #
                    ${Fund}
                    # }#
                </td>
                <td>
                    #if (AccountManagers != null) { #
                    #=AccountManagers.join(",")#
                    # }#
                </td>
                <td>
                    #if (Assignee != null) { #
                    #=Assignee.join(",")#
                    #}#
                </td>
                <td>
                    #if (EstimatedHours != null) { #
                    ${EstimatedHours}
                    # }#
                </td>
                <td>
                    #if (Actual != null) { #
                    ${Actual}
                    # }#
                </td>
                <td>
                    #if (CreatedOn != null) { #
                    #=$.date(CreatedOn)#
                    # }#
                </td>
                <td>
                    #if (CompletedOn != null) { #
                    #=$.date(CompletedOn)#
                    # }#
                </td>
                <td>
                    #if (Status != null) { #
                    ${Status}
                    # }#
                    #if (WorkflowState != "") { #
                    / ${WorkflowState}
                    # }#

                </td>
            </tr>
        </script>
    </div>
    <div id="dvPageAlpha" class="k-pager-wrap" style="padding-top: 10px">
    </div>
</div>

<script type="text/javascript" >
    $(function () {
        $('#btnModalAttachmenttemplate').die('click').live('click', function (e) {
            var tr = $(this).closest('tr');
            var id = $(tr).attr('id');
            var path = $(tr).attr('data-path');
            var title = $(tr).attr('data-name');

            showDocumentsDialog(path, title);

        });

        $('#dvFirmGrid #tblFirmGrid tbody tr').live('dblclick', function () {
            var id = $(this).attr("data-id");
            if (id != null && id != '')
                window.location.href = '@Url.Content("~/Job/Detail/")' + id;
        });
    });

    function showDocumentsDialog(folderPath, title) {
        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetDocuments")',
            data: { folder: folderPath },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                $('#dvShowDocuments').remove();
                $('<div/>', { id: 'dvShowDocuments' }).appendTo('body');
                $('#dvShowDocuments').html(data);
                $('#dvShowDocuments').dialog({
                    title: title + ' Documents',
                    width: 650,
                    height: 'auto',
                    modal: true,
                    closeOnEscape: true,
                    dialogClass: "no-close",
                });
            }
        });
    }

    function SetFirmGrid(Fmodel) {

        $('#dvGrid').show();
        $('#dvLoader').hide();

        if ($("#dvFirmGrid #tblFirmGrid").data("kendoGrid")) {
            SetFirmGridRebind(Fmodel);
            return;
        }
        var objJobs = $("#dvFirmGrid #tblFirmGrid").kendoGrid({
            dataSource: {
                data: Fmodel
                , pageSize: 50
            },
            pageable: true,
            scrollable: false,
            selectable: true,
            rowTemplate: kendo.template($("#FirmGridTemplate").html()),
        });
        if (Fmodel != undefined && Fmodel.length == 0) {

            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
        }
        bindGridClick();
    }

    function bindGridClick() {
        $(".imgEntityDetail").die("click").live("click", function (event) {
            var id = $(this).attr("data-id");
            window.location.href = '@Url.Content("~/Job/Detail/")' + id;
        });
    }

    function SetFirmGridRebind(Fmodel) {
        var grid = $("#dvFirmGrid #tblFirmGrid").data("kendoGrid");
        var dataSource = grid.dataSource;
        var newSource = dataSource;
        dataSource.data(Fmodel);

        if (Fmodel != undefined && Fmodel.length == 0) {
            $('#dvFirmGrid #tblFirmGrid tbody').empty().append('<tr><td colspan="6"><div class="error">No record found</div></td></tr>');
        }
        bindGridClick();
    }

</script>