﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI
@using DBASystem.SMSF.Contracts.ViewModels

@model AccountManagerSelectView

<style scoped>
    #lstManagers {
        padding: 10px;
        margin-bottom: -1px;
        width: 100%;
    }
</style>

<style scoped>
    .k-multiselect-wrap {
        border: 1px solid #71b1d1 !important;
        padding: 3px;
    }

    .span12 {
        margin-bottom: 10px;
    }
</style>
<div id="roleSelectionUI" class="row-fluid" style="width: 500px">
    <div class="span12">
        <div class="span6" style="width: 200px"><h3>Roles</h3></div>
        <div class="span6" style="width: 280px"><h3>Managers</h3></div>
    </div>
</div>
<script id="roleSelection" type="text/x-jquery-tmpl">
    <div class="span12">
        <div class="span6" style="width: 200px;height: 30px">${RoleName}</div>
        <div id="role${ID}" class="span6" style="width: 280px;vertical-align:middle;min-height: 30px">
            <select id="roleMultiselect${ID}" style="width: 400px"></select>
        </div>
    </div>
</script>
<script id="accountManagersTemplate" type="text/x-jquery-tmpl">
    <div>
        ${AccountManagerName}&nbsp;[${Email}]&nbsp;[${SelectedRoleName}]&nbsp;&nbsp;
        <img src='@Url.Content("~/images/delete.png")' class="deleteManager" title="Click to remove manager" data-managerid="${ID}" data-roleid="${SelectedRoleID}" style="padding-left:5px" />
    </div>
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<script>

    var managerRoles = jQuery.parseJSON('@Html.Raw(Json.Encode(Model.Roles))');
    var selectedManagers = jQuery.parseJSON('@Html.Raw(Json.Encode(Model.SelectedManagers.Where(p=> p.Selected).Select(q=>q).ToList()))');
    var managers = jQuery.parseJSON('@Html.Raw(Json.Encode(Model.Managers))');

    $(function () {
        createRoleUI();
    });
    function createRoleUI() {
        var temp = $('#roleSelection').tmpl(managerRoles);
        $('#roleSelectionUI').append(temp);

        $.each(managerRoles, function (i, val) {

            $("#roleMultiselect" + val.ID).kendoMultiSelect({
                dataTextField: "AccountManagerName",
                dataValueField: "Id",
                filter: "contains",
                dataSource: managers,
                placeholder: "Select Manager",
                htmlAttributes: { style: "width: 270px" },
                value: getSelectedManagers(val.ID),
                itemTemplate: '<span class="k-state-default"><p>#: data.AccountManagerName #</p></span>',
                tagTemplate: '<span>#: data.AccountManagerName #</span>',
                autoClose: false,
                optionLabel: "-- Select Role --",
                change: multiSelectOnChange

            });
        });
    }

    function getSelectedManagers(roleId) {
        var filteredManagers = [];//$.grep(names, function(v) {

        $.each(selectedManagers, function (i, manager) {
            if (manager.SelectedRoleID == roleId)
                filteredManagers.push(manager.ID);
        });
        return filteredManagers;
    }

    function updateManager(managerId, roleId, deleteManager) {

        var managerUpdated = false;
        $.each(selectedManagers, function (i, manager) {
            if (manager.ID == managerId && manager.SelectedRoleID == roleId) {
                selectedManagers[i].Selected = !deleteManager;
                managerUpdated = true;
                return false;
            }
        });
        return managerUpdated;
    }

    function refreshSelectedManagers() {
        $.each(selectedManagers, function (_i, manager) {
            manager.Selected = false;
        });
        $.each(managerRoles, function (i, role) {

            var multiSelect = $("#roleMultiselect" + role.ID).data("kendoMultiSelect");
            $.each(multiSelect.dataItems(), function (x, auditor) {

                if (!updateManager(auditor.Id, role.ID, false)) {
                    //Extracting name and email from drop down text
                    var managerdtl = auditor.AccountManagerName.split('(');
                    selectedManagers.push(createManager(auditor.Id, managerdtl[0], managerdtl[1].replace(')', ''), role.ID, ''));
                    if (typeof setformChanged == "function")
                        setformChanged();

                }
            });
        });

        $('#jobManagers').val(JSON.stringify(selectedManagers));
    }

    function createManager(managerId, managerName, managerEmail, roleId, roleName) {

        var newManager = jQuery.parseJSON('@Html.Raw(Json.Encode(new AccountManagerSelect()))');
        newManager.ID = managerId;
        newManager.AccountManagerName = managerName;
        newManager.Selected = true;
        newManager.SelectedRoleID = roleId;
        newManager.SelectedRoleName = roleName;
        newManager.Email = managerEmail;
        return newManager;
    }
    function checkRole(roleId) {
        var roleExists = false;
        jQuery.each(selectedManagers, function (i, val) {
            if (val.SelectedRoleID == roleId && val.Selected) {
                roleExists = true;
                return false;
            }
        });
        return roleExists;
    }

    function GetUnselectedRoles() {
     
        var unSelectedRoles = [];
        $.each(managerRoles, function (index, value) {
            if (!checkRole(value.ID)) {
                unSelectedRoles.push(value.RoleName);
            }
        });
        return unSelectedRoles;
    }

    function multiSelectOnChange(e) {
        if (typeof setformChanged == "function")
            setformChanged();
    }
</script>