﻿@using DBASystem.SMSF.Contracts.Common
@model int

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Audit Reports";
}

<nav id="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.ToString()) } }); }
</nav>

<div id="contentmain">
    <div id="contentinner">
        <h2>Audit Reports</h2>
        @{ Html.RenderAction("AuditReports", "Reports", new { id = Model });}
    </div>
</div>