﻿@using DBASystem.SMSF.Contracts.Common
@using DBASystem.SMSF.Contracts.ViewModels
@model JobModel
           
<style>
    .collapseimg {
        background: url('/Content/images/sprite.png') -160px -190px;
        cursor: pointer;
    }
    .expandimg {
        background: url('/Content/images/sprite.png') -160px -210px;
        cursor: pointer;
    }
</style>

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Comments";
    var comments = (List<AuditProcedureCommentViewModel>) ViewBag.Comments;
    
}

<nav id="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.ID.ToString()) } }); }
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Comments - @Model.Title</h2>
        <div id="dvHelp">@Model.Description</div>
        
        <div id="dvComments" style="padding-top: 20px">
            
        </div>
    </div>
</div>

<script id="commentsTemplate" type="text/x-jquery-tmpl">
    <table style="width: 100%" class="table">
        <tr>
            <td>
                <b>Audit Procedure</b>
                <img class="add addreply" src='@Url.Content("~/images/add.png")' title="Click to add new comment" data-auditprocedure="${AuditProcedureId}" data-jobid="${JobId}" data-parentid="${Id}" />
                <br />
                <i>${AuditProcedure}</i>
                <div style="padding: 15px 25px 0 20px" data-parentid="${Id}" data-auditprocedure="${AuditProcedureId}">
                    {{if ChildComments != null && ChildComments.length > 0}}
                    {{tmpl(ChildComments) "#commentsChildTemplate"}}
                    {{/if}}
                </div>
            </td>
        </tr>
    </table>
</script>
<script id="commentsChildTemplate" type="text/x-jquery-tmpl">
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 16px">
                {{if ChildComments != null && ChildComments.length > 0}}
                <img src='@Url.Content("~/Content/images/sprite.png")' width="16" height="16" class="collapseimg expandcollapse" data-parentid="${Id}" data-auditprocedure="${AuditProcedureId}" />
                {{/if}}
            </td>
            <td>
                <div id="dvHelp">
                    ${AccountManagerName}
                </div>
                ${Comment}
            </td>
            <td style="text-align: right; width: 20%">
                <div id="dvHelp">
                    ${$.dateTime(CreatedOn)}
                </div>                
                <a class="addreply" href="#" data-auditprocedure="${AuditProcedureId}" data-jobid="${JobId}" data-parentid="${Id}">Reply</a>
            </td>
        </tr>
        <tr><td></td><td colspan="2" style="border-top: 1px solid lightgrey!important">&nbsp;</td></tr>
    </table>
    <div style="padding: 0 0 0 35px; display: none" data-parentid="${Id}" data-auditprocedure="${AuditProcedureId}" class="childcomments">
        {{if ChildComments != null && ChildComments.length > 0}}
        {{tmpl(ChildComments) "#commentsChildTemplate"}}
        {{/if}}
    </div>
</script>

<div id="dvAddReply" style="display: none">
    <textarea id="txtComment" style="width: 97%; height: 80px" placeholder="Add your comment here"></textarea>
    <input id="btnAddReply" type="button" value="Save" />
    <input id="btnCancel" type="button" value="Cancel" />
    <input id="txtAuditProcedureID" type="hidden"/>
    <input id="txtJobID" type="hidden" />
    <input id="txtParentID" type="hidden" />
</div>

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
<script>
    $(function () {

        var model = jQuery.parseJSON('@Html.Raw(Json.Encode(comments))');
        if (model.length > 0)
            $('#dvComments').html($('#commentsTemplate').tmpl(model));
        else
            $('#dvComments').html($('<div/>', { html: "No comments found." }).addClass("error"));

        $('.expandcollapse').live('click', function() {

            var apId = $(this).attr('data-auditprocedure');
            var parentId = $(this).attr('data-parentid');

            showhideDv(parentId, apId);
        });

        function showhideDv(parentId, apId) {
            var img = $.find('img[data-parentid="' + parentId + '"][data-auditprocedure="' + apId + '"]');
            var dv = $.find('div[class="childcomments"][data-parentid="' + parentId + '"][data-auditprocedure="' + apId + '"]');
            if (dv.length > 0) {
                if ($(img).attr('class').indexOf('collapseimg') >= 0) {
                    $(dv).slideDown('slow');
                    $(img).removeClass('collapseimg').addClass('expandimg');
                } else {
                    $(dv).slideUp('slow');
                    $(img).removeClass('expandimg').addClass('collapseimg');
                }
            }
        }

        $('.addreply').live('click', function(e) {
            e.preventDefault();

            $('#txtComment').val('');
            $('#txtAuditProcedureID').val($(this).attr('data-auditprocedure'));
            $('#txtJobID').val($(this).attr('data-jobid'));
            $('#txtParentID').val($(this).attr('data-parentid'));

            $('#dvAddReply').dialog({
                title: 'Add reply',
                width: 600,
                height: 'auto',
                modal: true
            });
        });

        $('#btnCancel').click(function() {
            $('#dvAddReply').dialog('close');
        });

        $('#btnAddReply').click(function() {
            var comments = $('#txtComment').val();
            if (comments != '') {

                var auditprocedureId = $('#txtAuditProcedureID').val();
                var jobId = $('#txtJobID').val();
                var parentId = $('#txtParentID').val();

                $.ajax({
                    url: '@Url.Action("AddComments", "Job")',
                    data: { jobId: jobId, auditprocedureId: auditprocedureId, parentId: parentId != '' && parentId != 0? parentId: null, comment: comments },
                    type: "POST",
                    cache: false,
                    error: function(error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function(data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        if (data.status == 'success') {
                            var template = $('#commentsChildTemplate').tmpl(data.model);
                            var dv = $('#dvComments').find('div[data-parentid="' + parentId + '"][data-auditprocedure="' + auditprocedureId + '"]');
                            if (dv != null && dv.length > 0) {
                                dv.append(template);
                            }

                            $('#dvAddReply').dialog('close');
                            showhideDv(parentId, auditprocedureId);
                        } else
                            doAlert(data.message);
                    }
                });

            } else {
                doAlert('Please enter comments');
            }
        });
    });
</script>