﻿@model DBASystem.SMSF.Contracts.ViewModels.JobCreateModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = Model.ID == 0 ? "Add Job" : "Update Job";
    var action = Model.ID == 0 ? "AddJob" : "UpdateJob";
}

<input id="txtEncryptedID" type="hidden" value="@ViewBag.EncryptedID" />
@using (Ajax.BeginForm(action, "Job", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "formAddJob" }))
{
    <div id="contentmain">
        <div id="contentinner">
            <div id="toolbar">
                <button id="btnSaveJob" type="submit" class="btn btn-purple">
                    <span class="fa fa-save"></span>Save
                </button>
                <button type="button" id="btnCancel" class="btn btn-purple">
                    <span class="icon-remove-sign"></span>Cancel
                </button>
                <span style="color: #ffffff; display: none" id="dvloader">
                    <img src="~/Images/loader1.gif" />&nbsp;&nbsp;
                    @if (Model.ID == 0)
                    {<text>Saving . . . </text>}
                    else
                    {<text>Updating . . .</text>}
                </span>
            </div>

            <h2>Create Job</h2>

            @Html.HiddenFor(model => model.EntityID)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.FundId)
            @Html.ValidationSummary(true)
            @Html.Hidden("jobManagers")

            <table style="width: 100%" class="nobordertable">
                <tr>
                    <td style="width: 20%">Job Title</td>
                    <td>
                        @Html.TextBoxFor(model => model.Title, new { placeholder = "Job Title" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td>
                        @(Html.Kendo().DatePickerFor(model => model.StartDate)
                            .HtmlAttributes(new { style = "width:200px;", @class = "jobdatepicker" })
                            .Value(Model.StartDate == DateTime.MinValue ? DateTime.Now : Model.StartDate)
                        )
                        @Html.ValidationMessageFor(model => model.StartDate)
                        <span id="DateError" class="error" style="display: none;">Start date should be less  then complete date </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%;">Complete Date</td>
                    <td>
                        @(Html.Kendo().DatePickerFor(model => model.CompleteDate)
                            .HtmlAttributes(new { style = "width:200px;", @class = "jobdatepicker" })
                            .Value(Model.CompleteDate))
                        @Html.ValidationMessageFor(model => model.CompleteDate)
                    </td>
                </tr>
                <tr>
                    <td>Estimated Hours</td>
                    <td>
                        @Html.TextBoxFor(model => model.EstimatedHours, new { placeholder = "Estimated Hours" })
                        @Html.ValidationMessageFor(model => model.EstimatedHours)
                    </td>
                </tr>
                @*<tr>
                        <td>Working Hours</td>
                        <td>
                            @Html.TextBoxFor(model => model.WorkingHours, new { placeholder = "Working Hours" })
                            @Html.ValidationMessageFor(model => model.WorkingHours)
                        </td>
                    </tr>*@
                <tr>
                    <td>Data Link</td>
                    <td>
                        @Html.TextBoxFor(model => model.DataLink, new { placeholder = "Data Link", })
                        @Html.ValidationMessageFor(model => model.DataLink)
                </tr>
                <tr>
                    <td>Job Description</td>
                    <td>
                        @Html.TextAreaFor(model => model.Description, new { placeholder = "Job Description", style = "height:80px;width:400px" })
                        @Html.ValidationMessageFor(model => model.Description)
                </tr>
                <tr>
                    <td colspan="2">
                        <hr />
                        <h2>Account Managers</h2>
                        <div id="dvHelp">Select account managers for this job.</div>
                        <div id="dvUsers" style="padding: 5px 0 0 0;"></div>
                    </td>
                </tr>
            </table>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryui")
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
    <script type="text/javascript">

    var formValuesChanged = false;

    function setformChanged() {

        if (!formValuesChanged) {
            formValuesChanged = true;
            alertBeforeRedirect();
        }
    }
    //$.validator.unobtrusive.parse("#formAddJob");
    $(function () {
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]\/|[12]\d\/|3[01]\/){2}(19|20)\d\d$/;
            return this.optional(element) || dateRegex.test(value);
        };

        $('input[type=text],textarea').change(function () {
            setformChanged();
        });
        $('#btnCancel').click(function () {
            if ('@Model.ID' == 0)
                window.location.href = '@Url.Content("~/Fund/Detail/")' + $('#txtEncryptedID').val();
            else
                window.location.href = '@Url.Content("~/Job/Detail/")' + $('#txtEncryptedID').val();
        });

        loadJobManagers();

        $('#btnSaveJob').click(function () {
            if (new Date($('#StartDate').val()) > new Date($('#CompleteDate').val())) {
                $('#DateError').show();
                return false;
            }
            else
                $('#DateError').hide();

            if (!$('#formAddJob').valid())
                return false;

            //these functions are implemented in _ListJobManagers////
            refreshSelectedManagers();
            var unselected = GetUnselectedRoles();
            ////////////////////////////////////////////////////////
            var response = true;
            if (unselected.length > 0) {
                event.preventDefault();
                response = false;
                doConfirm('<b>following role(s) are not assigned </b><br /> ' + unselected.join("<br />") + ' <br /> <b>are you sure to continue ?</b>',
                    function yes() {
                        $("#formAddJob").submit();
                    },
                    function no() {

                    }
                );
            }
            return response;
        });

    });

    function loadJobManagers() {
        $.ajax({
            url: '@Url.Content("~/Job/GetJobManagers")',
            data: { parentEntityId: $('#FundId').val(), selectedManagers: '@Html.Raw(Json.Encode(Model.SelectedJobManager))' },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                $('#dvUsers').html(data);
            }
        });
    }
    function onCompleteDateChange() {
        if (new Date($('#StartDate').val()) > new Date($('#CompleteDate').val())) {
            $('#DateError').show();
            return false;
        }
        else {
            $('#DateError').hide();
        }
    }
    function onBegin() {
        $('#toolbar button').hide();
        $('#toolbar #dvloader').show();
        return true;
    }

    function onFailure(context) {
        $('#toolbar #dvloader').hide();
        $('#toolbar button').show();
        var obj = JSON.parse(context.responseText);
        doAlert(obj.message);
    }

    function onSuccess(context) {
        $('#toolbar1 #dvloader').hide();
        $('#toolbar1 #btnSaveJob').show();
        if (context.Status == "Error") {
            var str = "";
            for (var i = 0; i < context.ResponseMessage.length; i++) {
                str = str + "\n" + context.ResponseMessage[0].error;
            }
            doAlert(str);
        }
        else if (context.Status == "Success") {
            window.location.href = '@Url.Content("~/Job/Detail/")' + context.JobId;
        }
    }
    </script>

}