﻿@model DBASystem.SMSF.Contracts.ViewModels.JobCreateModel
@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Web.Common;

@{
    //if (!SessionHelper.IsClientUser)
    //{
        Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    //}
    ViewBag.Title = "Job Detail";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

@*@if (!SessionHelper.IsClientUser)
{*@
    <nav id="secondary" class="secondary">
        @*<div id="dvMainContainer" style="width: 78%; display: block;">
            <div id="JobMainMenu">
                <ul id="JobMainMenuList">
                    <li>@Html.ActionLink("Work Log", "WorkLog", new { jobId = Model.ID})</li>
                </ul>
            </div>
        </div>*@
        @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary {{"JobId", Model.EncryptedID}}); }
    </nav>
@*}*@
<div id="contentmain">
    <div id="contentinner">
        <div id="detailBody">
            <div id="toolbar">
                @if (!SessionHelper.IsClientUser)
                {
                    <div id="actionButtons">
                        <button type="submit" class="btn btn-purple" id="btnBack">
                            <span class="icon-circle-arrow-left icon-white"></span> Back
                        </button>
                        @if (CommonFunction.IsOptionAllowed(Option.AddJob))
                        {
                            <button id="btnAdd" type="submit" class="btn btn-purple" title="Click to add new job">
                                <span class="fa fa-plus-circle"></span>Add
                            </button>
                        }
                        else
                        {
                            <button id="btnAdd" type="submit" class="btn btn-purple" title="Permission required to add job" disabled="disabled">
                                <span class="fa fa-plus-circle"></span>Add
                            </button>
                        }
                        @if (CommonFunction.IsOptionAllowed(Option.UpdateJob))
                        {
                            <button id="btnEdit" type="button" class="btn btn-purple" title="Click to edit this item">
                                <span class="fa fa-pencil-square-o"></span>Edit
                            </button>
                        }
                        else
                        {
                            <button id="btnEdit" type="button" class="btn btn-purple" title="Permission required to edit this item" disabled="disabled">
                                <span class="fa fa-pencil-square-o"></span>Edit
                            </button>
                        }
                        @if (CommonFunction.IsOptionAllowed(Option.Deletejob))
                        {
                            <button id="btnDelete" type="button" class="btn btn-purple" title="Click to delete this item">
                                <span class="fa fa-trash-o"></span> Delete
                            </button>
                        }
                        else
                        {
                            <button id="btnDelete" type="button" class="btn btn-purple" title="Permission required to delete this item" disabled="disabled">
                                <span class="fa fa-trash-o"></span> Delete
                            </button>
                        }
                        @Html.Partial(Url.Content("~/Views/Workflow/_WorkflowCommands.cshtml"), Html.Raw(Json.Encode(new
                        {
                                ProcessId = Model.ID,
                                ProcessType = (int)Workflows.JobProcess,
                                BlockView = false,
                                AppendButtons = true,
                                ActivityNames = new List<string>()
                                 {  
                                     "Data Import Client Response",
                                     "Balance Sheet Client Response",
                                     "Income Statement Client Response",
                                     "SIS Client Response",
                                     "Review Client Response"
                                 }
                                                                                                                                    
                         })))
                    </div>
                }
                @if (SessionHelper.IsClientUser)
                {
  

                    @Html.Partial(Url.Content("~/Views/Workflow/_WorkflowCommands.cshtml"), Html.Raw(Json.Encode(new
                    {
                                ProcessId = Model.ID, 
                                ProcessType = (int) Workflows.JobProcess, 
                                BlockView = false,
                                ActivityNames = new List<string>()
                                                {   "Data Import Client Response", 
                                                    "Balance Sheet Client Response", 
                                                    "Income Statement Client Response", 
                                                    "SIS Client Response",
                                                    "Review Client Response"
                                                }
                    })))
                }
                <div id="buttonloaderDiv" style="display:none">
                    <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="loaderMessage" style="color:white"></span>
                </div>
            </div>
            <h2>General</h2>
            <fieldset id="detail">
                <legend>Job Information</legend>
                <div style="padding: 0px 0px 15px 25px">
                    <table id="tblGenericChilds" class="nobordertable">
                        <tr>
                            <td style="width:22%">Firm</td>
                            <td>@Model.Firm</td>
                        </tr>
                        <tr>
                            <td>Account</td>
                            <td>@Model.ClientName</td>
                        </tr>
                        <tr>
                            <td>Fund</td>
                            <td>@Model.FundName</td>
                        </tr>
                        <tr>
                            <td>Job ID</td>
                            <td>@Model.FormattedID</td>
                        </tr>
                        <tr>
                            <td>Job Title</td>
                            <td>@Model.Title</td>
                        </tr>
                        <tr>
                            <td>Job Description</td>
                            <td style="text-wrap: normal;">@Model.Description</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>@Model.StartDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <td>Completion Date</td>
                            <td>@(Model.CompleteDate == null ? "" : ((DateTime)Model.CompleteDate).ToString("dd/MM/yyyy"))</td>
                        </tr>
                        <tr>
                            <td>Estimated Hours</td>
                            <td>@Model.EstimatedHours</td>
                        </tr>
                        <tr>
                            <td>Actual Working Hours</td>
                            <td>@Model.ActualWorkingHours</td>
                        </tr>
                    </table>
                </div>
            </fieldset>

            <fieldset id="notes">
                <legend>
                    Notes
                    <img src='@Url.Content("~/images/add.png")' class="add" id="btnAddNote" title="Click to add note" />
                </legend>

                <div id="dvNotes" style="overflow-x: auto; max-height: 200px; padding: 0 0 0 25px"></div>
            </fieldset>
            <script id="notesTemplate" type="text/x-jquery-tmpl">
                <div style="padding: 0 0 15px 0">
                    <div>${Note}</div>
                    <div id="dvHelp">
                        ${CreatedBy}&nbsp;&nbsp;  ${$.dateTime(Date)}
                        <img src='@Url.Content("~/images/edit.png")' class="editNote" title="Click to edit note" data-id="${Id}" style="padding-left: 20px" />
                        <img src='@Url.Content("~/images/delete.png")' class="deleteNote" title="Click to delete note" data-id="${Id}" style="padding-left:5px" />
                    </div>
                </div>
            </script>
            
            <fieldset id="auditComments">
                <legend>
                    Audit Comments
                </legend>
                <div id="dvAuditComments" style="overflow-y: auto; max-height: 200px; padding: 0 0 0 25px"></div>
            </fieldset>
            <script id="auditCommentsTemplate" type="text/x-jquery-tmpl">
                <div style="padding: 0 0 15px 0">
                    <div id="dvHelp">
                    ${AccountManagerName}&nbsp;&nbsp;  ${$.dateTime(CreatedOn)}
                   
                </div>
                <div>${Comment}</div>
</div>
            </script>

            <fieldset id="users">
                <legend>Accounts Manager</legend>
                <div id="dvAccountManagers" style="padding: 0 0 15px 25px">
                    <span class="error">No accounts manager found</span>
                </div>
            </fieldset>
            <script id="accountManagersTemplate" type="text/x-jquery-tmpl">
                <div>
                    {{each(manager, selectedManager) $data}}
                    <div>
                    ${manager} &nbsp;
                        [
                        {{each(index, managerDetail) selectedManager}}
                        {{if index != 0}}
                        ,
                        {{/if}}
                        ${SelectedRoleName}
                        {{/each}}
                    ]</div>
                    {{/each}}
                </div>
            </script>

            <fieldset id="jobfiles">
                <legend>
                    Files
                    <img src='@Url.Content("~/images/add.png")' class="add" id="btnAddFiles" title="Click to add file" />
                </legend>
                <div id="dvJobDocuments" style="overflow-x: auto; max-height: 200px;padding: 0px 0px 15px 25px">
                    <table id="fileList" class="nobordertable" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:30%"></th>
                                <th style="width:70%"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </fieldset>
            <script id="documentTemplate" type="text/x-jquery-tmpl">
                <tr>
                    <td>
                        <a class="file" href="#" url="${PublicUrl}" doctype="${DocumentType}">${Name}</a>
                    </td>
                    <td>
                        ${FromJsonDate(ModifiedOn)}
                    </td>
                </tr>
            </script>
        </div>
    </div>
</div>

<div id="dvAddPopup" style="display: none">
    <div id="dvAddButtons" style="text-align: right; width: 100%; height: 30px">
        <input id="btnContinue" type="button" value="Continue" />
        <img src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
    <div id="dvAddGrid" style="max-height: 375px; display: none; padding-bottom: 20px">
        <table id="tblAddGrid" style="width: 100%">
            <tr>
                <th style="width: 5%"></th>
                <th>Name</th>
                <th style="width: 45%">
                    Account
                </th>
            </tr>
        </table>
        <script id="AddGridTemplate" type="text/x-kendo-template">
            <tr id='${ID}' data-entitytype="${Type}" data-name="${Name}">
                <td style="text-align: center">
                    <span class="fa fa-suitcase"></span>
                </td>
                <td>
                    #if (Name != null) { #
                    ${Name}
                    # }#
                </td>
                <td>
                    #if (Parent != null) { #
                    ${Parent}
                    # }#
                </td>
            </tr>
        </script>
    </div>
    <div id="dvAddLoader" style="text-align: center; height: 375px">
        <br /><br /><br /><br /><br />
        <h4>Loading Funds</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
    </div>
</div>

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<script src='@Url.Content("~/Scripts/common.js")'></script>

<script>

    var model;
    $(function () {

        if ('@TempData["WarningMessage"]' != '') {
            doAlert('@Html.Raw(@TempData["WarningMessage"])');
        }
        model = jQuery.parseJSON('@Html.Raw(Json.Encode(Model))'.replace(/\n/g, '@Html.Raw("<br />")'));
        bindNotes(model.Notes);
    
        if (model.SelectedJobManager.length != 0) {
            var managers = {};
            $.each(model.SelectedJobManager, function (i, m) {
                if (!managers[m.AccountManagerName + " [" + m.Email + "] "])
                    managers[m.AccountManagerName + " [" + m.Email + "] "] = [m];
                else
                    managers[m.AccountManagerName + " [" + m.Email + "] "].push(m);
            });
            
            //binding Account Managers List
            var userHtml = $('#accountManagersTemplate').tmpl(managers);
            $('#dvAccountManagers').empty().append(userHtml);
        }



        if (model.AuditComments.length != 0) {
            
            var commentHtml = $('#auditCommentsTemplate').tmpl(model.AuditComments);
            $('#dvAuditComments').empty().append(commentHtml);
           
        }
        else {

            $('#dvAuditComments').empty().append('<span class="error">Comments not found</span>');
        }

        getDocuments('@Model.Path');
        $('#btnAddFiles').click(function () {

            showDocumentsDialog('@Model.Path', '@Model.Title');

        });

        $('#btnBack').click(function () { window.location.href = '@Url.Content("~/Job/Index/" )'; });
        $('#btnDelete').unbind('click').bind('click').click(function () { if ('@CommonFunction.IsOptionAllowed(Option.Deletejob)') delete_click(); });
        $('#btnEdit').unbind('click').bind('click').click(function () { if ('@CommonFunction.IsOptionAllowed(Option.UpdateJob)') edit_click(); });
        $('#btnAddNote').click(function () {

            if ('@CommonFunction.IsOptionAllowed(Option.AddJobNotes)' == 'True')
                addNotesClick('@Model.ID', '@Url.Content("~/Notes/CreateJobNote")', 'GET', 'Add');
        });
    });
    function showDocumentsDialog(folderPath, title) {

        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetDocuments")',
            data: { folder: folderPath },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                $('#dvShowDocuments').remove();
                $('<div />', { id: 'dvShowDocuments' }).appendTo('body');
                $('#dvShowDocuments').html(data);
                $('#dvShowDocuments').dialog({
                    title: title + ' Documents',
                    width: 650,
                    height: 'auto',
                    modal: true,
                    closeOnEscape: true,
                    dialogClass: "no-close",
                });
            }
        });
    }
    function getDocuments(folder) {

        $('#dvDocuments table tbody').empty().append('<tr><td colspan="3"><img src=' + '@Url.Content("~/images/loader.gif")' + ' /> Loading Documents ...</td></tr>')
        $.ajax({
            url: '@Url.Content("~/Sharepoint/GetFiles")',
            data: { folderPath: folder },
            type: "GET",
            cache: false,
            error: function (error) {
                $('#dvDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No document found</td></tr>');
            },
            success: function (data) {
                LoadDocuments(data);
            }
        });
    }
    function LoadDocuments(data) {
        if (data == null) {
            $('#dvJobDocuments table tbody').empty().append('<tr><td colspan="3" class="error">Unable get files , please contact your administrator.</td></tr>');
        } else if (data.length > 0) {
            var t = $('#documentTemplate').tmpl(data);
            $('#dvJobDocuments table tbody').empty().append(t);
        } else {
            $('#dvJobDocuments table tbody').empty().append('<tr><td colspan="3" class="error">No document found</td></tr>');
        }
    }

    function edit_click() {
        window.location.href = '@Url.Content("~/Firm/Update/?type=" + EntityGenericType.Job)' + '&id=' + '@Model.ID' + '&previousUrl=' + window.location.href;
    }

    function delete_click() {
        
        var url = '@Url.Content("~/Job/Delete")';

        doConfirm('Are you sure want to delete this Job ?',
            function yes() {
                $('#actionButtons').hide();
                $('#loaderMessage').empty().html('Deleting ....');
                $('#buttonloaderDiv').show();
                $.ajax({
                    url: url,
                    data: { id: '@Model.ID' },
                    type: "GET",
                    cache: false,
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        isSessionExpired(data, '@Url.Content("~/Account/Login")');

                        if (data.Status == "Success") {
                            doAlert('Job Deleted successfully');
                            window.location.href = '@Url.Content("~/Job/Index/")';
                        } else {
                            $('#actionButtons').show();
                            $('#buttonloaderDiv').hide();
                            $('#loaderMessage').empty();
                            doAlert(data.ResponseMessage);
                        }
                    }
                });
            },
            function no() {
            }
        );
    }

    function bindNotes(notes) {

        if (notes.length == 0){
            $('#dvNotes').empty().append('<span class="error">Notes not found</span>');
            return;
        };
        var noteHtml = $('#notesTemplate').tmpl(notes);
        $('#dvNotes').empty().append(noteHtml);

        $('.editNote').click(function () {
            if ('@CommonFunction.IsOptionAllowed(Option.UpdateJobNotes)') {
                var id = $(this).attr('data-Id');
                addNotesClick(id, '@Url.Content("~/Notes/EditJobNote")', 'GET', 'Update');
            }
        });
        $('.deleteNote').click(function () {
             
            if ('@CommonFunction.IsOptionAllowed(Option.DeleteJobNotes)') {
                var id = $(this).attr('data-Id');
                doConfirm('Are you sure want to delete this note ?',
                    function yes() {
                        $('#dvConfirm').remove();
                        addNotesClick(id, '@Url.Content("~/Notes/DeleteJobNote")', 'POST', 'Delete');
                    },
                    function no() {
                        $('#dvConfirm').remove();
                    }
                );
            }
        });
    }
    function addNotesClick(identity, path, requestType, actionType) {
         
        $.ajax({
            url: path,
            data: { id: identity },
            type: requestType,
            cache: false,
            error: function (error) {
                 
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                if (requestType == 'GET') {

                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $('#dvCreateNew').remove();
                    $('<div />', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: actionType + " Note",
                        width: '450',
                        height: 'auto',
                        modal: true,
                        closeOnEscape: false,
                        dialogClass: "no-close",
                        close: function (event, ui) {
                            $(this).destroy().remove();
                        }
                    });
                } else {
                    LoadNotes('Delete', identity, '{}');
                }
            }
        });
    }
    function LoadNotes(actionType, id, noteObj) {
         
        if (actionType == "Delete") {

            model.Notes = jQuery.grep(model.Notes, function (value) {
                return value.Id != id;
            });
        }
        else if (actionType == 'Update') {

            $.each(model.Notes, function () {
                if (this.Id == noteObj.Id) {
                    this.Note = noteObj.Note;
                    this.Date = noteObj.Date;
                }
            });
        }
        else if (actionType == 'Add') {
            model.Notes.push(noteObj);
        }
        bindNotes(model.Notes);
        $('#dvCreateNew').dialog('destroy').remove();
    }
</script>

<script>
    $(function () {
        $('#btnAdd').click(function () {
            $('#dvAddPopup').dialog({
                title: 'Select Parent Fund',
                width: 800,
                height: 'auto',
                modal: true
            });

            if ($("#dvAddPopup #tblAddGrid").data("kendoGrid"))
                return;

            $.ajax({
                url: '@Url.Action("GetParents", "Firm")',
                data: { type: '@EntityTypes.Fund' },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $("#dvAddPopup #tblAddGrid").kendoGrid({
                        dataSource: {
                            data: data
                            , pageSize: 10
                        },
                        pageable: true,
                        scrollable: false,
                        selectable: true,
                        rowTemplate: kendo.template($("#AddGridTemplate").html()),
                    });
                    if (data != undefined && data.length == 0) {
                        $('#dvAddPopup #tblAddGrid tbody').empty().append('<tr><td colspan="2"><div class="error">No record found</div></td></tr>');
                    }

                    $('#dvAddLoader').hide();
                    $('#dvAddGrid').show();
                    $("#dvAddPopup").dialog("option", "position", "center");
                }
            });
        });

        $('#btnContinue').click(function () {
            var selectedItem = $('#tblAddGrid tr.k-state-selected');
            if (selectedItem.length == 0) {
                doAlert('Please select parent first');
                return;
            }

            $('#dvAddButtons input').hide();
            $('#dvAddButtons img').show();

            var parentId = $(selectedItem).attr('id');
            window.location.href = '@Url.Content("~/Firm/Add/?type=")' + '@EntityTypes.Job' + '&parentId=' + parentId + '&previousUrl=' + window.location.href;
        });

        $('#btnDelete').click(function () {
            var id = $(selectedItem).attr('id');

            doConfirm("Are you sure want to delete this job?",
                function yes() {
                    $('#toolbar button').hide();
                    $('#toolbar #dvloader').show();

                    $.ajax({
                        url: '@Url.Action("Delete", "Job")',
                        data: { id: id },
                        type: "GET",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function (data) {
                            if (data.Status == 'Error') {
                                doAlert(data.ResponseMessage);
                            }
                            else {
                                $(selectedItem).remove();
                            }

                            $('#toolbar button').show();
                            $('#toolbar #dvloader').hide();
                        }
                    });
                },
                function no() {
                }
            );
        });

        $('.file').live('click', function (e) {
            
            //if document type is of MS Office this will open in Office Web Apps
            if ($(this).attr('doctype') == "office")
                window.open('http://view.officeapps.live.com/op/view.aspx?src=' + $(this).attr('url'));
            else
                window.open('@Url.Content("~/Sharepoint/DownloadFile/?filePath=")' + $(this).attr('url'));
               
        });
    });


</script>