﻿@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Jobs";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}

<style>
    .newtable {
        height: 100% !important;
    }
</style>

<nav id="secondary">
    @Html.Partial(Url.Content("~/Views/Firm/_SearchFilter.cshtml"))
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Jobs</h2>
        @Html.Partial(Url.Content("~/Views/Job/_Index.cshtml"))
    </div>
</div>
<div id="dvLoader" style="text-align: center; padding-top: 160px">
    <h4>Loading Jobs</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
</div>

<script>
    var AlphaFilterList;
    $(function () {
         
        var optionValues =  jQuery.parseJSON('@Html.Raw(ViewBag.StatusList)');
        SetFirmGrid(null);
        var obj = [
            { 'Display': 'Status', 'Field': 'Status', 'selectedValue': '@ViewBag.StatusID', 'DefaultValue': optionValues , 'Type': 'ddl' },
            { 'Display': 'Firm', 'Field': 'Firm', 'DefaultValue': '@ViewBag.Firm', 'Type': 'txt', 'placeholder': 'Firm Name' },
            { 'Display': 'Account', 'Field': 'Account', 'DefaultValue': '@ViewBag.Account', 'Type': 'txt', 'placeholder': 'Accounts' },
            { 'Display': 'Fund', 'Field': 'Fund', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Fund' },
            { 'Display': 'ABN', 'Field': 'ABN', 'DefaultValue': '@ViewBag.ABN', 'Type': 'txt', 'placeholder': 'Australian Business Number' },
            { 'Display': 'Account Manager', 'Field': 'AccountManager', 'DefaultValue': '@ViewBag.AccountManager', 'Type': 'txt', 'placeholder': 'Account Manager' },
            { 'Display': 'Primary Contact', 'Field': 'PrimaryContact', 'DefaultValue': '@ViewBag.PrimaryContact', 'Type': 'txt', 'placeholder': 'Primary Contact' },
            { 'Display': 'Date From', 'Field': 'CreationDate', 'DefaultValue': '@ViewBag.DateFrom', 'Type': 'date>', 'placeholder': 'Creation date from' },
            { 'Display': 'To', 'Field': 'CreationDate', 'DefaultValue': '@ViewBag.DateTo', 'Type': 'date<', 'placeholder': 'Creation date to' }
        ];
        setSearchFilter(obj);
        getSearchFilterModel();
    });
</script>