﻿@model DBASystem.SMSF.Contracts.ViewModels.JobModel
@using DBASystem.SMSF.Contracts.Common;
@using DBASystem.SMSF.Contracts.ViewModels;
@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Work Papers";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

<style>
    .row {
        margin-left: 0 !important;
    }
     .ManageWorkPaper {
         display: none;
     }

    .manage-hide {
        display: none;
    }

    .manage-show {
        display: block !important;
    }
</style>

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>

<nav id="secondary">
    <div style="margin-top:40px; margin-left: 20px; color: #fff; font-size:16px; font-weight: bold;  ">Manage WorkPapers <a  style="color:white" href='@Url.Content("~/Job/UpdateWorkPaper?accountId="+ ViewBag.AccountId)'><i class="fa fa-edit" style="margin-right:4px;"></i></a></div><br/>
    <ul id="WorkPaperTabs" style="margin-left: 40px; ">
        @{ Html.RenderAction("GetWorkpaperMenu", new ManageWorkPaperModel {   JobId = 0, ContentType = WorkpaperContentType.AuditProcedure, AccountId = ViewBag.AccountId }); }   
    </ul>
</nav>

<div id="contentmain">
    <div id="contentinner">
        
        <div id="toolbar">
            <button id="btnSaveTemplate" type="button" class="btn btn-purple">
                Save Template
            </button>
            <button id="btnLoadTemplate" type="button" class="btn btn-purple">
                Load Template
            </button>
            <div id="dvloader" style="display:none">
                <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="loaderMessage" style="color:white"></span>
            </div>
            <button id="btnSaveXmlTemplate" type="button" class="btn btn-purple">
                Save XML Template
            </button>
        </div>

        <div id="detailBody">
            <br /><br />
            <div class="job-header">
                <div class="workpaper-title">
                    <span class="">Work Paper</span>&nbsp;<span class="title"></span>
                    <span class="loader" style="padding-left:11px; "><img src='@Url.Content("~/Images/loader_login.gif")' style="width: 20px;" /></span>
                    <br />
                </div>
                <div id="JobContentsMain">
                    <div id="tabsJobTemplates"></div>
                </div>
            </div>
            <div>
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_JobInformation.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProceduresTabs.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProcedureList.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProceduresGrid.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProceduresGridMultiCol.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportsAndSummary/_AuditProceduresManagerReview.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportsAndSummary/_TestSummary.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportTemplates/_ImportDataTemplates.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportsAndSummary/_InitialAuditQuries.cshtml"));}
            </div>
        </div>
    </div>
</div>

<div id="dvSavePopup" style="display: none;">
    <div>
        @Html.TextBox("TemplateName", "")
    </div>
    <div style="text-align: right; width: 100%; height: 30px">
        <input id="btnSave" type="button" value="Save" />
        <img id="imgSaveLoader" alt="Please wait while system is saving Template" src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
</div>

<div id="dvSaveXmlPopup" style="display: none;">
    <div>
        @Html.TextBox("TemplateFileName", "")
    </div>
    <div style="text-align: right; width: 100%; height: 30px">
        <input id="btnSaveXml" type="button" value="Save" />
        <img id="imgSaveXmlLoader" alt="Please wait while system is saving Xml Template" src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
</div>

<div id="dvLoadPopup" style="display: none;">
    <div>
        @Html.DropDownList("WorkpaperTemplates", "Select Template")
    </div>
    <div style="text-align: right; width: 100%; height: 30px">
        <input id="btnContinue" type="button" value="Continue" />
        <img id="imgContinueLoader" alt="Please wait while system is loading Template"  src='@Url.Content("~/images/loader.gif")' style="display: none" />
    </div>
</div>

<script>
    var tabIndex = 0;
    var loader;
    var isImportData = false;
    var auditProcTabId;
    $(function () {
        $("#WorkPaperTabs").show();
        $("#WorkPaperTabs a.content-workpaper").click(function () {

            $(".workpaper-title .title").text($(this).text());
            $(".workpaper-title .loader").show();

            auditProcTabId = $(this).attr("id");

            //For Highlight
            $(this).closest("#WorkPaperTabs").children().each(function () {
                $(this).removeClass("JobMainMenuActive");
            });
            $(this).parent().addClass("JobMainMenuActive");
            getAuditProcTabContents(auditProcTabId);
        });
        $("#WorkPaperTabs a.content-workpaper").eq(0).first().trigger("click");

        $('#btnSave').click(function () {
            var templateName = $("#TemplateName").val();
            if (templateName != '') {
                $('#btnSave').hide();
                $('#imgSaveLoader').show();

                var item = { "Name": templateName, "AccountId": '@ViewBag.AccountId' };
                $.ajax({
                    url: '@Url.Content("~/AuditProcedure/SaveWorkpaperTemplate")',
                    type: "post",
                    traditional: true,
                    data: item,
                    cache: false,
                    success: function (result) {
                        document.location.href = '@Url.Content("~/Job/ManageWorkPaper?accountId=")' + '@ViewBag.AccountId';
                    },
                    error: function(error) {
                    }
                });

            } else {
                alert("Please provide template name to Save current Workpaper Configuration");
            }
        });

        $('#btnSaveXml').click(function() {
            var templateFileName = $("#TemplateFileName").val();
            if (templateFileName != '') {
                $('#btnSave').hide();
                $('#imgSaveLoader').show();
                $('#dvSaveXmlPopup').dialog('destroy');
                window.location = '@Url.Content("~/AuditProcedure/SaveWorkpaperTemplateAsXml?AccountId=" + ViewBag.AccountId)' + "&FileName=" + templateFileName;
            } else {
                alert("Please provide file name to Save Workpaper template");
            }
        });

        $("#btnSaveXmlTemplate").click(function () {
            $('#TemplateFileName').val("");
            $('#dvSaveXmlPopup').dialog({
                title: 'Save Workpaper Template as Xml',
                width: 484,
                height: 'auto',
                modal: true
            });
        });

        $("#btnSaveTemplate").click(function () {
            $('#dvSavePopup').dialog({
                title: 'Save Workpaper Template',
                width: 484,
                height: 'auto',
                modal: true
            });
        });

        $("#btnLoadTemplate").click(function () {
            $('#dvLoadPopup').dialog({
                title: 'Load Workpaper Template',
                width: 484,
                height: 'auto',
                modal: true
            });
        });

        $('#btnContinue').click(function() {
            var id = $("#WorkpaperTemplates").val();
            if (id != '') {
                doConfirm('Are you sure want to load the selected Template, this will overwrite your existing configuration?',
                    function yes() {
                        $('#btnContinue').hide();
                        $('#imgContinueLoader').show();

                        var item = { "Id": id, "AccountId": '@ViewBag.AccountId' };
                        $.ajax({
                            url: '@Url.Content("~/AuditProcedure/LoadWorkpaperTemplate")',
                            type: "post",
                            traditional: true,
                            data: item,
                            cache: false,
                            success: function (result) {
                                document.location.href = '@Url.Content("~/Job/ManageWorkPaper?accountId=")' + '@ViewBag.AccountId';
                            },
                            error: function (error) {
                            }
                        });
                    },
                    function no() {
                    }
                );
            } else {
                alert("Please select any template to load Workpaper Configuration");
            }

        });

    });

    //For Main Tabs

    function getAuditProcTabContents(auditProcTabId) {
        isImportData = false;
        $("#tabsJobTemplates").hide();
        //On WorkPaper Click
        var item = { "AuditProcTabId": auditProcTabId, "JobId": 0, "AccountId": '@ViewBag.AccountId' };

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/GetAuditProcedureTabContents")',
            type: "GET",
            data: item,
            cache: false,
            success: function (data) {

                //Hide General
                $("#ContGeneral").hide();
                var tabs = $('#auditProcedureTabContentsTabs').tmpl(data);
                var tabsContentDivs = $('#auditProcedureTabContentsTabsArea').tmpl(data);

                //For Container Render
                $("#tabsJobTemplates").empty();
                $("#tabsJobTemplates").append("<ul id='tabContainer'></ul>");


                $("#tabContainer").empty().append(tabs);
                $("#tabsJobTemplates").append(tabsContentDivs);

                //If no tabs
                if (data == null || data.length == 0) {
                    $("#tabContainer").append("<div class='no-content'>No contents available for selected Tab</div>");
                    hideLoader();
                    return;
                }

                $(data).each(function (index, value) {

                    if (!value.IsActive)
                        return;

                    var jobId = '@Model.ID';
                    var dataModel = value;
                    var tabContentId = value.Id;
                    var tabContentTypeId = String(value.ContentType);
                    var tabControlTypeId = value.ControlType;
                    var renderedTemplate = null;
                    switch (tabContentTypeId) {
                        case '@((int) WorkpaperContentType.AuditProcedure)':
                            //For Audit Procedures
                            generateTemplate(tabControlTypeId, tabContentId, dataModel, function (rTemplate, tcid) {
                                renderedTemplate = rTemplate;
                                ShowAndBindTemplateRelated(tcid, renderedTemplate, dataModel);
                            });
                            break;
                        default:
                            break;
                    }
                });

                ////Bind Tabs, delay if import
                //if (isImportData) {
                //    window.setTimeout(InitKenTabs, 3500);
                //} else {
                InitKenTabs();
                //}

                //For Selection & Toggle
                bindTabContentsSelectionAndToggle();

                //For Audit Proc Dialog
                //bindAuditProcDialog();

                //For Loader Hide
                //hideLoader();

                var tabstrip = $("#tabsJobTemplates").kendoTabStrip().data("kendoTabStrip");
                tabstrip.select(tabIndex);
            }
        });
    }


    function ShowAndBindTemplateRelated(tabContentId, renderedTemplate, data) {
        if (renderedTemplate == null || renderedTemplate.length < 1) {
            renderedTemplate = "<div class='no-content'>No contents available for selected Tab, <i id='addAuditProc-" + tabContentId + "' class='fa fa-plus-circle' style='margin-right:4px; padding: 4px 5px 3px 5px;background-color: #71B1D1;color: #ffffff;border-radius:5px'></i></div><div class='NewProc-" + tabContentId + " proc-container' style='display:none;' ></div>";
        }

        $("#tabsJobTemplates > .tc-" + tabContentId).show().children().first().append(renderedTemplate);
        $("#tabContainer li:first-child").addClass("k-state-active");

        $("#addAuditProc-" + tabContentId).click(function () {
            var newProc = $(".NewProc-" + tabContentId);
            $("#addAuditProc-" + tabContentId).hide();
            AddProcedureNew(tabContentId, newProc);
        });
    }

    $("#tabContainer .k-item").live("click", function () {
        var index = $(this).attr("aria-controls").split("-")[1];
        tabIndex = index - 1;
    });

    //.click.addClass("k-state-active");

    function generateTemplate(controlType, tabContentId, model, cb2) {

        var proceduresTmpl = null;
        switch (controlType) {
            case 4:
                proceduresTmpl = $('#ProceduresFormTemplete').tmpl(model);
                break;
            case 5:
                proceduresTmpl = $('#ProceduresListTemplete').tmpl(model);
                break;
            case 6:
                proceduresTmpl = $('#ProceduresGridTempleteTable').tmpl(model);
                break;
            case 7:
                proceduresTmpl = $('#ProceduresMultiColTempleteTable').tmpl(model);
                break;
            default:
        }

        cb2(proceduresTmpl, tabContentId);

    }

    /*---------------HELPER FUNC------------------------------------*/

    function InitKenTabs() {
        $("#tabsJobTemplates").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });

        $("#tabsJobTemplates").fadeIn();
        hideLoader();
    }

    function bindTabContentsSelectionAndToggle() {

        //For Selection List
        $(".proc-container").die("click").click(function () {
            var toggleContent = $(this).closest(".TabContentsTableContainer");
            var itms = toggleContent.find('.proc-container-active').removeClass("proc-container-active");
            $(this).addClass("proc-container-active");

            ManageAuditProcedure($(this));

        });

        $(".toggle-child-procedures").die("click").click(function () {
            var selected = $(this);
            var procContainer = $(this).closest(".proc-container");
            procContainer.next().toggle(function () {
            });

            if (selected.hasClass("fa-plus-square")) {
                selected.removeClass("fa-plus-square");
                selected.addClass("fa-minus-square");
            } else {
                selected.removeClass("fa-minus-square");
                selected.addClass("fa-plus-square");
            }
        });
    }

    function hideLoader() {
        $(".loader").hide();
    }

    function ToAlpha(index) {
        if (index < 23) {
            var abcList = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "r", "s", "t", "u", "v", "w", "x", "y", "x"];
            return abcList[index];
        } else {
            return "xx";
        }
    }

    //FOR MANAGE
    var ManageAuditProcedure = function (seletedProcedure) {
        var auditProcedureId = seletedProcedure.attr("id");

        //For Manage
        $(".TabContentsTableContainer").find(".ManageBar").remove();

        //For Manage Toolbar
        var manageMarkup = '<div class="ManageBar"><i class="fa fa-plus-circle" style="margin-right:4px;"></i>  <i class="fa fa-edit" style="margin-right:4px;"></i>  <i class="fa fa-trash-o"></i> </div>';
        var workPaperManage = seletedProcedure.find(".WorkPaperManage");
        workPaperManage.append(manageMarkup);

        $(".ManageBar .fa").click(function () {

            //For Edit Mode
            if ($(this).hasClass("fa-plus-circle")) {
                EditProcedure(auditProcedureId, seletedProcedure, workPaperManage, "Add");
            } else if ($(this).hasClass("fa-edit")) {
                EditProcedure(auditProcedureId, seletedProcedure, workPaperManage, "Edit");
            } else if ($(this).hasClass("fa-trash-o")) {
                DeleteAuditProcedureTab(auditProcedureId, seletedProcedure, workPaperManage);
            }
        });
    };

    var AddProcedureNew = function (tabContentid, newProc) {
        $.ajax({
            url: '@Url.Content("~/AuditProcedure/GetAuditProcedureAddContents")',
            type: "GET",
            data: { tabcontentid: tabContentid },
            cache: false,
            success: function (data) {
                newProc.show();
                newProc.append(data);
            },
        });
    };

    var EditProcedure = function (id, seletedProcedure, workPaperManage, mode) {
        loader = seletedProcedure.find(".loader").show();
        workPaperManage.hide();

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/GetAuditProcedureEditContents")',
            type: "GET",
            data: { id: id, mode: mode },
            cache: false,
            success: function (data) {
                workPaperManage.after(data);
                seletedProcedure.css("background-color", "#F3E2A9");
                loader.hide();
            },
        });
    };

    var xaudit;
    var DeleteAuditProcedureTab = function (id, seletedProcedure, workPaperManage) {



        if (seletedProcedure.next(".child-all, .child-allx").length > 0) {

            //if (confirm('Selected procedure & its descendant are also deleted')) {
            //    // Save it!
            //    ExecuteProDelete(id, seletedProcedure, workPaperManage);
            //} else {
            //    // Do nothing!
            //    return false;
            //}

            doConfirm('Are you sure want to delete selected procedure & its descendant',
                function yes() {
                    ExecuteProDelete(id, seletedProcedure, workPaperManage);
                },
                function no() {
                    return false;
                }
            );
            //e.preventDefault();
        } else {
            ExecuteProDelete(id, seletedProcedure, workPaperManage);
        }

        //return true;
    };


    var ExecuteProDelete = function (id, seletedProcedure, workPaperManage) {
        workPaperManage.hide();

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/DeleteAuditProcedure")',
            type: "GET",
            data: { id: id },
            cache: false,
            success: function (data) {
                //
                //seletedProcedure.hide();
                //child-all
                seletedProcedure.next(".child-all, .child-allx").hide();

                var manageMarkup = '<td style="background-color:#da7c7c;" colspan="100%"><div style="margin-left: -1px; font-weight:bold; text-align:center; color:#fff; ">Deleted Successfully</div></td>';
                seletedProcedure.empty().html(manageMarkup);
                xaudit = seletedProcedure;
                window.setTimeout(HideAuditProc, 3500);
            }
        });
    };

    var HideAuditProc = function () {
        xaudit.hide();
    };

</script>