﻿@{
    ViewBag.Title = "Overdue Jobs";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}

<style>
    .newtable {
        height: 100% !important;
    }
</style>

<div id="contentmain">
    <div id="contentinner">
        <h2>Overdue Jobs</h2>
        @Html.Partial(Url.Content("~/Views/Job/_Overdue.cshtml"))
    </div>
</div>
<div id="dvLoader" style="text-align: center; padding-top: 160px">
    <h4>Loading Jobs</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
</div>

<script>
    var AlphaFilterList;
    $(function () {
        
        SetFirmGrid(null);

        $.ajax({

            url: '/Job/IndexSearch',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({Status: -1}),
            type: "POST",
            cache: false,
            error: function (error) {
                window.location.href = '/Error/Index';
            },
            success: function (data) {
                dataModel = $.grep(data.data, function (d) {
                    return d.CategoryID != '1';
                });

                
                SetFirmGrid(dataModel);
                farmModel = dataModel;
                displaySearchAplha(dataModel);

                if (data.message != '') {

                    $('<div />', { id: 'dvMessage' }).html('Displaying 1,000 of ' + formatNumber(data.message) + ' records.').appendTo('body');

                    $('#dvMessage').fadeIn('slow');
                    $('#dvMessage').delay(5000).fadeOut('slow');
                }
            }
        });

    });
</script>