﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Work Paper";
}
<style scoped>
    #lstManagers {
        padding: 10px;
        margin-bottom: -1px;
        width: 100%;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<style>
    .newtable {
        height: 100% !important;
    }
</style>

<div id="contentmain">
    <div id="contentinner">
        <h2>Work Paper  <img src="/images/add.png" class="add" id="btnAddWorkpaper" title="Click to add WorkPaper"> </h2>
        <div id="toolbar">
            <div id="actionButtons">
                <button type="submit" class="btn btn-purple" id="btnBack">
                    <span class="icon-circle-arrow-left icon-white"></span> Back
                </button>

            </div>
            <div id="dvloader" style="display:none">
                <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="loaderMessage" style="color:white"></span>
            </div>
        </div>
        <script id="accountManagersTemplate" type="text/x-jquery-tmpl">
            <tr class="item">

                <td>
                    ${Caption}
                </td>
                <td style="text-align:right">
                    ${TabOrder}
                </td>
                <td style="text-align:center">
                    {{if IsViewable}} <input type="checkbox" value="${IsViewable}" checked="checked" disabled="disabled" />
                    {{else}} <input type="checkbox" value="${IsViewable}" disabled="disabled" />
                    {{/if}}
                </td>
                <td style="text-align:center">
                    <img id="${Id}" class="edit edituser" data-caption="${Caption}" data-id="${Id}" data-order="${TabOrder}" data-viewable="${IsViewable}" src="/Images/edit.png" onclick="editWorkPaper(this)" title="Click to edit this">
                    <img src='@Url.Content("~/images/delete.png")' class="deleteManager" data-id="${Id}" data-caption="${Caption}" data-order="${TabOrder}" data-viewable="${IsViewable}" title="Click to remove" onclick="deleteWorkPaper(this)" style="padding-left:5px" />
                </td>
            </tr>
        </script>
        
            <div id="divworkpaper"  style="display: none">
                
            </div>

        <div id="dvAccountManagers"  >
            <table class="table">
                <tr>
                    <th>Caption</th>
                    <th style="text-align:center" width="6%">Tab Order </th>
                    <th style="text-align:center" width="10%">Available for Clients </th>
                    <th style="width:8%; text-align:center "> </th>
                </tr>
                <tbody id="tablebody"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="dvLoader" style="text-align: center; padding-top: 160px">
    <h4>Loading WorkPaper</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
</div>


<script>
    $('#btnBack').click(back);
    function back() {
        window.location.href = '@Url.Action("SystemSettings", "Setting")';
    }

    $('#btnAddWorkpaper').click(function () {
        $('#txtorder').val('');
        $('#txtdescription').val('');
        $('#txtdescription').data('id', '');
        $('#btnSave').attr('value', 'Save');
        var title = 'Add WorkPaper';
        $('#divworkpaper').show();
        $('#addtable').remove();
        $('.divscr').remove();
        $('#divworkpaper').append("<table class='table' id='addtable'><tr><td><input id='txtdescription' type='text' placeholder='Description' /></td><td><input id='txtorder' type='number' class='form-control bfh-number' /></td><td style='text-align:center'><input id='chkavailable' type='checkbox' /></td><td><input id='btnSave' onclick='Save()' type='button' value='Save' /><input id='btnCancel' Style='margin-left:5px' onclick='reset()' type='button' value='Cancel' /></td></tr></table>");
        $('#btnSave').attr('value', 'Save');

    });

    function Save() {
        if ($('#txtdescription').val() == '') {
            doAlert('The field Description is required');
            return;
        }
        if ($('#txtorder').val() < 1) {
            doAlert('The required numberic only');
            return;
        }
        
        var workPaper = { "Id": $('#txtdescription').data('id'), "Caption": $('#txtdescription').val(), "TabOrder": $('#txtorder').val(), "EntityId": '@ViewBag.AccountId', "WorkpaperContentType": "", "ContentType": "1", "IsActive": true, "IsViewable": $('#chkavailable').prop('checked') };

        if ($('#btnSave').val() == 'Update') {

            $.ajax({
                url: '@Url.Content("~/AuditProcedure/UpdateAuditProcedureTab")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(workPaper),
                type: "POST",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    bindData();
                }
            });
        } else {
            $.ajax({
                url: '@Url.Content("~/AuditProcedure/AddAuditProcedureTab")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(workPaper),
                type: "POST",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    bindData();
                }
            });


        }
        reset();

    };
    function editWorkPaper(e) {
        $('#addtable').remove();
        var id = $(e).data('id');
        var desc = $(e).data('caption');
        var order = $(e).data('order');
        var isviewable = $(e).data('viewable');
        var title = 'Add WorkPaper';
        $('.divscr').remove();
        var td = $('<td>').append($('#divworkpaper').html());
        var tr = $('<tr class=divscr/>').append("<td><input id='txtdescription' type='text' placeholder='Description' /></td>").append("<td><input id='txtorder' type='number' class='form-control bfh-number' /></td>").append("<td style='text-align:center'><input id='chkavailable' type='checkbox' /></td>").append("<td><input id='btnSave' onclick='Save()' type='button' value='Save' /><input id='btnCancel' onclick='reset()' Style='margin-left:5px' type='button' value='Cancel' /></td>");
        $(e).parents("tr.item").after(tr);

        if (id != '') {
            $('#txtorder').val(order);
            $('#txtdescription').val(desc);
            $('#txtdescription').data('id', id);
            $('#chkavailable').prop('checked', isviewable);
            $('#btnSave').attr('value', 'Update');
        }
    }
    function reset() {
        $('.divscr').remove();
        $('#addtable').remove();
        $('#txtorder').val('');
        $('#txtdescription').val('');
        $('#txtdescription').data('id', '');
        $('#btnSave').attr('value', 'Save');
        $('#divworkpaper').dialog('close');
    }
    function Delete(id) {
        var item = { "AuditProcTabId": id, "JobId": 0, "AccountId": '@ViewBag.AccountId' };

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/DeleteAuditProcedureTab")',
            type: "GET",
            data: item,
            cache: false,
            success: function (data) {
                bindData();
            }
        });
    }

    function deleteWorkPaper(e) {
        $('#addtable').remove();

        doConfirm('Are you sure want to remove this WorkPaper?',
               function yes() {
                   var id = $(e).data('id');
                   Delete(id);
               },
               function no() {
                   $(".item").css("background-color", "#fff");

               }
           );
    }

    function bindData() {
        var tdata = [];
        var item = { "AuditProcTabId": 0, "JobId": 0, "AccountId": '@ViewBag.AccountId' };
        
        $.ajax({
            url: '@Url.Content("~/AuditProcedure/GetAuditProcedureTabs")',
            type: "GET",
            data: item,
            cache: false,
            success: function (data) {
                bindManagersList(data);
                tdata = data;
            }

        });
        return tdata;
    }

    $(function () {
        $('#btnSave').text('Save');
        bindData();

    });

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    function bindManagersList(selectedManagers) {
        var length = Object.keys(selectedManagers).length;

        var data = JSON.stringify(selectedManagers);
        var temp = $('#accountManagersTemplate').tmpl(selectedManagers);
        $('#tablebody').empty().html(temp);

        $(".item").click(function () {
            $(".item").css("background-color", "#fff");
            $(this).css("background-color", "#cdcdcd");
        });


    }
</script>