﻿@model DBASystem.SMSF.Contracts.ViewModels.JobWorkLogAccountManagerModel
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Work Log";
}

<nav id="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.JobID.ToString()) } }); }
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Work Log - @Model.Title</h2>
        <div id="dvHelp">@Model.Description</div>

        <div id="toolbar">
            <button type="submit" class="btn btn-purple" id="btnBack">
                <span class="icon-circle-arrow-left icon-white"></span> Back
            </button>
            <button id="btnAdd" type="submit" class="btn btn-purple" title="Click to add new job">
                <span class="fa fa-plus-circle"></span>Add
            </button>
            <button id="btnEdit" type="button" class="btn btn-purple" title="Click to edit this item">
                <span class="fa fa-pencil-square-o"></span>Edit
            </button>
            <button id="btnDelete" type="button" class="btn btn-purple" title="Click to delete this item">
                <span class="fa fa-trash-o"></span> Delete
            </button>
            <div id="dvloader">
                <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="loaderMessage" style="color:white">Loading ...</span>
            </div>
        </div>
        <div style="margin: 20px 0 20px 0">
            Account Managers
            @(Html.Kendo().DropDownList()
                    .Name("ddAccountManagers")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .OptionLabel("-- All --")
                    .BindTo(Model.AccountManagers.Select(a => new SelectListItem { Value = a.Key.ToString(), Text = a.Value }).ToList())
                    )
        </div>
        <div>
            <div id="dvGrid">
                <table id="tblLogs" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 25%">
                                Account Manager
                            </th>
                            <th>Description</th>
                            <th style="width: 15%">
                                Start Date Time
                            </th>
                            <th style="width: 15%">
                                End Date Time
                            </th>
                            <th style="width: 8%">
                                Hours
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="k-pager-wrap">
                            <td colspan="4">Total Hours</td>
                            <td id="tdTotal" style="text-align: right"></td>
                        </tr>
                    </tfoot>
                </table>
                <script id="logTemplate" type="text/x-kendo-template">
                    <tr id="${ID}">
                        <td>${AccountManager}</td>
                        <td>#=!isNullOrEmpty(Description)? Description: ''#</td>
                        <td>#=$.dateTime(Start)#</td>
                        <td>#=$.dateTime(End)#</td>
                        <td style="text-align: right">${Hours}</td>
                    </tr>
                </script>
            </div>
            <div id="dvGridLoader" style="text-align: center; padding-top: 160px; display: none">
                <h4>Loading Work Logs</h4><img src='@Url.Content("~/images/loadingdots.gif")' />
            </div>
        </div>
        <div id="dvAdd" style="display: none"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var model;

    $(function () {
        getLogs();

        $("#ddAccountManagers").change(function () {
            getLogs();
        });

        $('#btnAdd').click(function () {
            $('#toolbar button').hide();
            $('#toolbar div').show();
            $('#loaderMessage').empty().html('Loading ....');

            $.ajax({
                url: '@Url.Action("AddWorkLog", "Job")',
                data: { jobId: '@Model.JobID' },
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvAdd').empty().html(data);
                    $('#dvAdd').dialog({
                        title: 'Add New Work Log',
                        width: 700,
                        height: 'auto',
                        modal: true
                    });

                    $('#toolbar button').show();
                    $('#toolbar div').hide();
                }
            });
        });

        $('#btnDelete').click(function () {
            var tr = $('#tblLogs tbody tr.k-state-selected');
            if (tr.length == 0) {
                doAlert('Please select item to delete');
                return;
            }
            
            doConfirm('Are you sure want to delete this log?',
            function yes() {
                $('#toolbar button').hide();
                $('#loaderMessage').empty().html('Deleting ....');
                $('#toolbar div').show();

                $.ajax({
                    url: '@Url.Action("DeleteWorkLog", "Job")',
                    data: { id: $(tr).attr('id') },
                    type: "POST",
                    cache: false,
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        if (data.status == 'success') {
                            var logs = $.grep(model, function (e) {
                                return e.ID != $(tr).attr('id');
                            });

                            model = logs;
                            bindGrid();

                            $('#toolbar button').show();
                            $('#toolbar div').hide();
                        }
                    }
                });
            },
            function no() {
            }
        );
        });

        $('#btnEdit').click(function () {
            var tr = $('#tblLogs tbody tr.k-state-selected');
            if (tr.length == 0) {
                doAlert('Please select item to edit');
                return;
            }

            var selectedLog = $.grep(model, function (e) {
                return e.ID == $(tr).attr('id');
            });

            selectedLog[0].Start = $.dateTime(selectedLog[0].Start);
            selectedLog[0].End = $.dateTime(selectedLog[0].End);

            $('#toolbar button').hide();
            $('#toolbar div').show();
            $('#loaderMessage').empty().html('Loading ....');

            $.ajax({
                url: '@Url.Action("UpdateWorkLog", "Job")',
                data: JSON.stringify({ workLog: selectedLog[0] }),
                type: "POST",
                datatype: "json",
                cache: false,
                contentType: 'application/json; charset=utf-8',
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvAdd').empty().html(data);
                    $('#dvAdd').dialog({
                        title: 'Edit New Work Log',
                        width: 700,
                        height: 'auto',
                        modal: true
                    });

                    $('#toolbar button').show();
                    $('#toolbar div').hide();
                }
            });
        });
    });

    function getLogs() {
        $('#dvGrid').hide();
        $('#dvGridLoader').show();

        var managerId = $("#ddAccountManagers").data("kendoDropDownList").value();

        $.ajax({
            url: '@Url.Action("GetWorkLogs", "Job")',
            data: { jobId: '@Model.JobID', userId: managerId == '' ? 0 : managerId },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');

                model = data;
                bindGrid();
            }
        });
    }

    function bindGrid() {
        var managerId = $("#ddAccountManagers").data("kendoDropDownList").value();

        var logs = $.grep(model, function (e) {
            return managerId != '' ? e.AccountManagerID == managerId : 1 == 1;
        });


        if ($("#tblLogs").data("kendoGrid")) {
            var grid = $("#tblLogs").data("kendoGrid");
            var dataSource = grid.dataSource;
            dataSource.data(logs);
        }
        else {
            $("#tblLogs").kendoGrid({
                dataSource: {
                    data: logs
                },
                pageable: false,
                scrollable: false,
                selectable: true,
                rowTemplate: kendo.template($("#logTemplate").html()),
            });
        }

        var total = 0;
        $.each(logs, function (index, item) {
            total += parseFloat(item.Hours);
        });
        $('#tdTotal').html(total.toFixed(2));

        if (logs != undefined && logs.length == 0) {
            $('#tblLogs tbody').empty().append('<tr><td colspan="5"><div class="error">No record found</div></td></tr>');
        }

        $('#dvGridLoader').hide();
        $('#dvGrid').show();
    }
</script>
