﻿@model DBASystem.SMSF.Contracts.ViewModels.JobModel
@using DBASystem.SMSF.Contracts.Common;

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Work Papers";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>

<nav id="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.ID.ToString()) }, { "WorkpaperMenu", true } }); }
</nav>
<div id="contentmain">
    <div id="contentinner">
        <div id="detailBody">
            <br /><br />
            <div id="JobInfo" style="margin-bottom:6px;">
            </div>
            <div class="job-header">
                <div class="job-title">
                    <span class="FB">Job Id:</span> @Model.FormattedID <span class="FB" style="padding-left:20px;">Title:</span> @Model.Title <span class="FB" style="padding-left:20px;">Fund:</span> @Model.Fund.Name
                </div>
                <div class="workpaper-title">
                    <span class="">Work Paper</span>&nbsp;<span class="title"></span>
                    <span class="loader" style="padding-left:11px; "><img src='@Url.Content("~/Images/loader_login.gif")' style="width: 20px" /></span>
                    <br/>
                </div>
                <div id="JobContentsMain">
                    <div id="tabsJobTemplates"></div>
                </div>
            </div>
            <div>
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_JobInformation.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProceduresTabs.cshtml"));}
                @*@{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProcedureForm.cshtml"));}*@
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProcedureList.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProceduresGrid.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/AuditProcedureTemplates/_AuditProceduresGridMultiCol.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportsAndSummary/_AuditProceduresManagerReview.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportsAndSummary/_TestSummary.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportTemplates/_ImportDataTemplates.cshtml"));}
                @{Html.RenderPartial(Url.Content("~/Views/Job/ReportsAndSummary/_InitialAuditQuries.cshtml"));}
            </div>
        </div>
    </div>
</div>
<div id="toolbar">
  @Html.Partial(Url.Content("~/Views/Workflow/_WorkflowCommands.cshtml"), Html.Raw(Json.Encode(new { ProcessId = Model.ID, ProcessType = (int)Workflows.JobProcess, BlockView = false, ActivityNames = new List<string>() { "Document Check & Data Import", "Balance Sheet Review", "Income Statements Review", "SIS Compliance Audit", "Review", "Sign Off" } })))
</div>
<script>
    var loader;
    var isImportData = false;
    $(function () {
        $("#WorkPaperTabs").show();

        //For Job Information
        $("#WorkPaperTabs a").click(function () {
            $(".workpaper-title .title").text($(this).text());
            $(".workpaper-title .loader").show();

            var auditProcTabId = $(this).attr("id");

            //For Highlight
            $(this).closest("#WorkPaperTabs").children().each(function () {
                $(this).removeClass("JobMainMenuActive");
            });
            $(this).parent().addClass("JobMainMenuActive");

            getAuditProcTabContents(auditProcTabId);
        });

        //$("#WorkPaperTabs a").eq(1).first().trigger("click");
        $("#WorkPaperTabs a.content-workpaper").eq(1).first().trigger("click");

        $("#JobContentsMain").on("change", "input, select", function () {

            var selectedVal = $(this).val();
            var parent = $(this).parents(".tuple").eq(0);
            var contentType = parent.attr('content-type');
            switch (contentType) {
            case "content-manager-review":
                updateManagerReview(parent);
                break;
            case "content-test-summary":
                var testSummaryId = parent.attr("id");
                var testComments = parent.find(".testComments");
                var child = testComments.children();
                child.hide();
                    
                //For Loader Activity
                loader = parent.find(".loader");
                loader.show();

                //Set Comments Reflextion
                setTestSummaryComment($(this));
                //For Persist
                saveTestSummary('@Model.ID', testSummaryId, selectedVal);
                break;
            default:
                valueChange($(this));
            }
        });

    });

    function getJobInfo() {
        $.ajax({
            url: '@Url.Content("~/Job/GetJobInfo")',
            type: "GET",
            data: { id: '@Model.ID' },
            cache: false,
            success: function (model) {
                if (model != null) {
                    var generalTmpl = $('#JobInfoTemplate').tmpl(model);
                    $("#JobInfo").empty().append(generalTmpl);
                }
            }
        });
    }

    //For Main Tabs
    function getAuditProcTabContents(auditProcTabId) {

        isImportData = false;
        $("#tabsJobTemplates").hide();
        var item = { "AuditProcTabId": auditProcTabId, "JobId": '@Model.ID'};
        
        //On WorkPaper Click
        $.ajax({
            url: '@Url.Content("~/AuditProcedure/GetAuditProcedureTabContents")',
            type: "GET",
            data: item,
            cache: false,
            success: function (data) {
                //Hide General
                $("#ContGeneral").hide();
               
                var tabs = $('#auditProcedureTabContentsTabs').tmpl(data);
                var tabsContentDivs = $('#auditProcedureTabContentsTabsArea').tmpl(data);

                //For Container Render
                $("#tabsJobTemplates").empty();
                $("#tabsJobTemplates").append("<ul id='tabContainer'></ul>");

                $("#tabContainer").empty().append(tabs);


            
                $("#tabsJobTemplates").append(tabsContentDivs);

                //If no tabs
                if (data == null || data.length == 0) {
                    $("#tabContainer").append("<div class='no-content'>No contents available for selected Tab</div>");
                    hideLoader();
                    return;
                }

                $(data).each(function (index, value) {
                     
                    if (!value.IsActive)
                        return;

                    var jobId = '@Model.ID';
                    var dataModel = value;
                    var tabContentId = value.Id;
                    var tabContentTypeId = String(value.ContentType);
                    var tabControlTypeId = value.ControlType;
                    var renderedTemplate = null;
                    switch (tabContentTypeId) {
                    case '@((int)WorkpaperContentType.AuditProcedure)':
                        //For Audit Procedures
                        generateTemplate(tabControlTypeId, tabContentId, dataModel, function (rTemplate, tcid) {
                            renderedTemplate = rTemplate;
                            ShowAndBindTemplateRelated(tcid, renderedTemplate, dataModel);
                        });
                        break;
                    case '@((int)WorkpaperContentType.Import)':
                        //For Import Data
                        isImportData = true;
                        customTabContents(tabContentTypeId, tabContentId, jobId, function(data) {
                            dataModel = data;
                            generateImportTemplate(tabControlTypeId, tabContentId, dataModel, function(rTemplate, tcid) {
                                renderedTemplate = rTemplate;
                                ShowAndBindTemplateRelated(tcid, renderedTemplate, dataModel);
                            });
                        });
                        break;
                    default:
                        //FOR OTHER
                        customTabContents(tabContentTypeId, tabContentId, jobId, function(data) {
                           
                            dataModel = data;
                            generateTemplate(tabControlTypeId, tabContentId, dataModel, function(rTemplate) {
                                renderedTemplate = rTemplate;
                                ShowAndBindTemplateRelated(tabContentId, renderedTemplate, dataModel);
                            });
                        });
                        break;
                    }
                });

                //Bind Tabs, delay if import
                if (isImportData) {
                    window.setTimeout(InitKenTabs, 3500);
                } else {
                    InitKenTabs();
                }

                //For Selection & Toggle
                bindTabContentsSelectionAndToggle();

                //For Audit Proc Dialog
                bindAuditProcDialog();

                //For Loader Hide
                //hideLoader();

            }
        });
    }
  $('.viewSourceFile').live('click', function(e) {
        //if document type is of MS Office this will open in Office Web Apps
        if ($(this).attr('data-doctype') == "office")
            window.open('http://view.officeapps.live.com/op/view.aspx?src=' + $(this).attr('data-url'));
        else
            window.location.href = '@Url.Content("~/Sharepoint/DownloadFile/?filePath=")' + $(this).attr('data-url');
    });
    

    function ShowAndBindTemplateRelated(tabContentId, renderedTemplate, data) {
         
        if (renderedTemplate == null || renderedTemplate.length < 1) {
            renderedTemplate = "<tr><td><div class='no-content'>No contents available for selected Tab</div></td></tr>";
        }
        var contentDiv = $("#tabsJobTemplates > .tc-" + tabContentId);
        contentDiv.show().children('.TabContentsTableContainer').first().append(renderedTemplate);
        if(data.SourceFile) {
            var viewFileButton = contentDiv.children('#viewUploadedFile').first();
            viewFileButton.attr("data-url", data.SourceFile.PublicUrl);
            viewFileButton.attr("data-doctype", data.SourceFile.DocumentType);
        }

        var itm = $("#tabContainer li:first-child").addClass("k-state-active");
         
        //For Test Summary
        if (tabContentId == 75000) {
            //alert('sa qazi');
            $("#tabsJobTemplates > .tc-" + tabContentId).find("select").each(function () {
                setTestSummaryCommentReflect($(this));

            });
        }
    }

    function customTabContents(contentType, tabContentId, jobId, callBack) {

        var requestUrl = null;
        switch (contentType) {
        case '@((int)WorkpaperContentType.Import)':
            requestUrl = '@Url.Content("~/Imports/GetJobsImportedData")';
            break;
        case '@((int)WorkpaperContentType.ManagerReview)':
            requestUrl = '@Url.Content("~/AuditProcedure/GetProcedureOmlForManagerReview")';
            break;
        case '@((int)WorkpaperContentType.TestSummary)':
            requestUrl = '@Url.Content("~/AuditProcedure/GetProcedureTestSummary")';
            break;
        case '@((int)WorkpaperContentType.InitialAuditQuries)':
            requestUrl = '@Url.Content("~/AuditProcedure/GetInitialAuditQuries")';
            break;
        default:
            break;
        }

        $.ajax({
            url: requestUrl,
            type: "GET",
            data: { jobId: jobId, tabId: tabContentId, jobsImportedDataId: tabContentId },
            cache: false,
            success: function (data) {
                 
                if (data != null) {
                    callBack(data);
                }
            }
        });
    }

    function generateTemplate(controlType, tabContentId, model, cb2) {
         
        var proceduresTmpl = null;
        switch (controlType) {
        case 4:
            proceduresTmpl = $('#ProceduresFormTemplete').tmpl(model);
            break;
        case 5:
            proceduresTmpl = $('#ProceduresListTemplete').tmpl(model);
            break;
        case 6:
            proceduresTmpl = $('#ProceduresGridTempleteTable').tmpl(model);
            break;
        case 7:
            proceduresTmpl = $('#ProceduresMultiColTempleteTable').tmpl(model);
            break;
        //case 10:
        //    var parseData = JSON.parse(model.JsonData);
        //    proceduresTmpl = $('#StmtOfFinancialPosition').tmpl(parseData);
        //    break;
        case 20:
            //For Manager Review
            if (model != null && model.length > 0) {
                var data = { managerReview: model };
                proceduresTmpl = $('#ManagerReview').tmpl(data);
            }
            break;
        case 21:
            //For Test Summary
            if (model != null && model.length > 0) {
                var data = { testSummary: model };
                proceduresTmpl = $('#TestSummary').tmpl(data);
            }
            break;
        case 22:
            //InitialAuditQuries
            if (model != null && model.length > 0) {
                var data = { initialAuditQuries: model };
                proceduresTmpl = $('#InitialAuditQuries').tmpl(data);
            }
            break;
        default:
        }

        cb2(proceduresTmpl, tabContentId);

    }
    
    function generateImportTemplate(controlType, tabContentId, model, cb2) {
        var proceduresTmpl = null;
        var parseData = JSON.parse(model.JsonData);
        proceduresTmpl = $('#JobImportTemplate').tmpl(parseData);
        cb2(proceduresTmpl, tabContentId);
    }


    //For Audit Proc Dialog
    function showProcedureDialog(id, dialogType, modeltitle) {

        var requestUrl = null;
        switch (dialogType) {
        case "1":
            requestUrl = '@Url.Content("~/AuditProcedure/GetProcedureAttachments/?procedureId=")' + id + "&jobId=" + '@Model.ID';
            break;
        case "2":
            requestUrl = '@Url.Content("~/AuditProcedure/GetProcedureOml/?procedureId=")' + id + "&jobId=" + '@Model.ID';
            break;
        case "3":
            requestUrl = '@Url.Content("~/AuditProcedure/GetProcedureComments/?procedureId=")' + id + "&jobId=" + '@Model.ID';
            break;
        }

        $.ajax({
            url: requestUrl,
            type: "GET",
            cache: false,
            error: function () {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#procedureDialog').remove();
                $('<div />', { id: 'procedureDialog' }).appendTo('body');
                $('#procedureDialog').empty().html(data);
                $('#procedureDialog').dialog({
                    title: modeltitle,
                    width: '700',
                    height: 'auto',
                    modal: true
                });
            }
        });
    }

    //For ManagerReview
    function updateManagerReview(ctrlParent) {
        loader = ctrlParent.find(".loader");
        loader.show();

        var omlId = ctrlParent.attr('id');
        postData = { ID: omlId, Item: ctrlParent.find(".Item").val(), StaffComments: ctrlParent.find(".StaffComments").val(), Initials: ctrlParent.find(".Initials").val(), IsCleared: ctrlParent.find(".IsCleared").val(), IsManagerApproved: ctrlParent.find(".IsManagerApproved").is(':checked') };

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/SaveProcedureOML")',
            type: "POST",
            data: postData,
            cache: false,
            error: function (error) {
                console.log("Process - Fail");
            },
            success: function () {
                console.log("Process - Success");
            },
            complete: function () {
                loader.hide();
            }
        });
    }


    //For Workpaper Save
    function valueChange(cnt) {

        var parent = cnt.parents(".tuple").eq(0);
        var procedureId = parent.attr('ID');
        procedureId = parseInt(procedureId);

        loader = parent.find(".loader");
        loader.show();

        var tagName = cnt.prop("tagName");

        switch (tagName) {
        case "INPUT":
            var attr = cnt.attr("type").toLowerCase();
            if (attr == "checkbox") {
                if (cnt.is(":checked"))
                    saveFormValue('@Model.ID', procedureId, null, true);
                else
                    saveFormValue('@Model.ID', procedureId, null, false);
            }
            break;
        default:
            saveFormValue('@Model.ID', procedureId, cnt.val());
            break;
        }
    }

    //For Audit Process Save
    function saveFormValue(jobId, procedureId, newValue, checked) {

        postData = { JobId: jobId, AuditProcedureId: procedureId };

        //only one value from checked and newValue can be not null i.e. values from html controls.
        if (newValue)
            postData.Text = newValue;
        else
            postData.IsChecked = checked;

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/SaveAuditProcess")',
            type: "POST",
            data: postData,
            cache: false,
            error: function (error) {
                console.log("JobId : " + jobId + ", ProcedureId : " + procedureId + ", NewValue : " + newValue + " - Fail");
            },
            success: function () {
                console.log("JobId : " + jobId + ", ProcedureId : " + procedureId + ", NewValue : " + newValue + " - Success");
            },
            complete: function () {
                loader.hide();
            }
        });
    }

    //For TestSummary Save
    function saveTestSummary(jobId, testSummaryId, isCompleted) {

        postData = { JobId: jobId, TestSummaryId: testSummaryId, IsCompleted: isCompleted };

        $.ajax({
            url: '@Url.Content("~/AuditProcedure/SaveTestSummary")',
            type: "POST",
            data: postData,
            cache: false,
            error: function (error) {
                //console.log("JobId : " + jobId + ", ProcedureId : " + procedureId + ", NewValue : " + newValue + " - Fail");
            },
            success: function () {
                //console.log("JobId : " + jobId + ", ProcedureId : " + procedureId + ", NewValue : " + newValue + " - Success");
            },
            complete: function () {
                loader.hide();
            }
        });
    }


    /*---------------HELPER FUNC------------------------------------*/

    function InitKenTabs() {
        $("#tabsJobTemplates").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        
        $("#tabsJobTemplates").fadeIn();
        hideLoader();
    }

    function bindTabContentsSelectionAndToggle() {

        //For Selection List
        $(".proc-container").die("click").click(function () {
            var toggleContent = $(this).closest(".TabContentsTableContainer");

            var itms = toggleContent.find('.proc-container-active').removeClass("proc-container-active");
            $(this).addClass("proc-container-active");
        });

        $(".toggle-child-procedures").die("click").click(function () {
            var selected = $(this);
            var procContainer = $(this).closest(".proc-container");
            procContainer.next().toggle(function () { });

            if (selected.hasClass("fa-plus-square")) {
                selected.removeClass("fa-plus-square");
                selected.addClass("fa-minus-square");
            }
            else {
                selected.removeClass("fa-minus-square");
                selected.addClass("fa-plus-square");
            }
        });

        //For Manager Review
        $(".saveManagerReview").click(function () {
            var parent = $(this).parents(".tuple").eq(0);
            var contentType = parent.attr('content-type');
            updateManagerReview(parent);
        });
    }

    function bindAuditProcDialog() {

        //Procedure Attachments Dialog
        $(".proc-attachments").click(function () {
            var procedureId = $(this).closest(".proc-container").attr("id");
            showProcedureDialog(procedureId, "1", "Attachments");
        });

        //Procedure Oml Dialog
        $(".proc-oml").click(function () {
            var procedureId = $(this).closest(".proc-container").attr("id");
            showProcedureDialog(procedureId, "2", "OML");
        });

        //Procedure Comments Dialog
        $(".proc-comments").click(function () {
            var procedureId = $(this).closest(".proc-container").attr("id");
            showProcedureDialog(procedureId, "3", "Comments");
        });
    }

    function closeProcedureDialog() {
        $('#procedureDialog').dialog("close");
    }

    function hideLoader() {
        $(".loader").hide();
    }

    function ToAlpha(index) {
        if (index < 23) {
            var abcList = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "r", "s", "t", "u", "v", "w", "x", "y", "x"];
            return abcList[index];
        }
        else {
            return "xx";
        }
    }
    
    //Set Setting Comments
    var setTestSummaryComment = function(ddlCtrl) {

        var selectedVal = ddlCtrl.val();
        var parent = ddlCtrl.parents(".tuple").eq(0);
        var testSummaryId = parent.attr("id");
        var testComments = parent.find(".testComments");
        var child = testComments.children();

        switch (testSummaryId) {
        case "1000000":
            //For Test1
            if (selectedVal == "true") {
                child.eq(1).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1001000":
            //For Test2
            var tabContentsTableContainer = parent.closest(".TabContentsTableContainer");
            var test3 = tabContentsTableContainer.find("#1002000");
            var test4 = tabContentsTableContainer.find("#1003000");
            var test5 = tabContentsTableContainer.find("#1004000");
            var test6 = tabContentsTableContainer.find("#1005000");
            var test7 = tabContentsTableContainer.find("#1006000");

            var test3Comments = test3.find(".testComments");
            var test4Comments = test4.find(".testComments");
            var test5Comments = test5.find(".testComments");
            var test6Comments = test6.find(".testComments");
            var test7Comments = test7.find(".testComments");

            if (selectedVal.toLowerCase() == "true") {
                child.eq(1).show();
                //For Related Test Comments
                test3.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test4.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test5.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test6.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test7.find("select").prop('selectedIndex', 0).prop('disabled', true);

                test3Comments.children().hide().eq(1).show();
                test4Comments.children().hide().eq(1).show();
                test5Comments.children().hide().eq(1).show();
                test6Comments.children().hide().eq(1).show();
                test7Comments.children().hide().eq(1).show();

            }
            else if (selectedVal.toLowerCase() == "false") {
                child.eq(0).show();
                //For Related Test Comments
                test3.find("select").prop('disabled', false).prop('selectedIndex', 2);
                test4.find("select").prop('disabled', false).prop('selectedIndex', 2);
                test5.find("select").prop('disabled', false).prop('selectedIndex', 2);
                test6.find("select").prop('disabled', false).prop('selectedIndex', 2);
                test7.find("select").prop('disabled', false).prop('selectedIndex', 2);

                test3Comments.children().hide();
                test4Comments.children().hide();
                test5Comments.children().hide();
                test6Comments.children().hide();
                test7Comments.children().hide();
            }
            else {
                child.hide();
            }

            //PERSISTENT Test Summary
            saveTestSummary('@Model.ID', test3.attr("id"), test3.find("select").val());
            saveTestSummary('@Model.ID', test4.attr("id"), test4.find("select").val());
            saveTestSummary('@Model.ID', test5.attr("id"), test5.find("select").val());
            saveTestSummary('@Model.ID', test6.attr("id"), test6.find("select").val());
            saveTestSummary('@Model.ID', test7.attr("id"), test7.find("select").val());
            break;
        case "1002000":
            //For Test3
            if (selectedVal == "true") {
                child.eq(2).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1003000":
            //For Test4
            if (selectedVal == "true") {
                child.eq(2).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1004000":
            //For Test5
            if (selectedVal == "true") {
                child.eq(2).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1005000":
            //For Test6
            if (selectedVal == "true") {
                child.eq(2).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1006000":
            //For Test7
            if (selectedVal == "true") {
                child.eq(2).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1007000":
            //For Test7
            if (selectedVal == "true") {
                child.eq(1).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;

        default:
        }
    }

    //Setting Comments
    function setTestSummaryCommentReflect(ddlCtrl) {

        var selectedVal = ddlCtrl.val();
        var parent = ddlCtrl.parents(".tuple").eq(0);
        var tabContentsTableContainer = parent.closest(".TabContentsTableContainer");
        var test2 = tabContentsTableContainer.find("#1001000");
        var testSummaryId = parent.attr("id");
        var testComments = parent.find(".testComments");
        var child = testComments.children();

        switch (testSummaryId) {
        case "1000000":
            //For Test1
            if (selectedVal == "true") {
                child.eq(1).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        case "1001000":
            //For Test2

            var test3 = tabContentsTableContainer.find("#1002000");
            var test4 = tabContentsTableContainer.find("#1003000");
            var test5 = tabContentsTableContainer.find("#1004000");
            var test6 = tabContentsTableContainer.find("#1005000");
            var test7 = tabContentsTableContainer.find("#1006000");

            var test3Comments = test3.find(".testComments");
            var test4Comments = test4.find(".testComments");
            var test5Comments = test5.find(".testComments");
            var test6Comments = test6.find(".testComments");
            var test7Comments = test7.find(".testComments");

            if (selectedVal.toLowerCase() == "true") {
                child.eq(1).show();
                //For Related Test Comments
                test3.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test4.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test5.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test6.find("select").prop('selectedIndex', 0).prop('disabled', true);
                test7.find("select").prop('selectedIndex', 0).prop('disabled', true);

                test3Comments.children().hide().eq(1).show();
                test4Comments.children().hide().eq(1).show();
                test5Comments.children().hide().eq(1).show();
                test6Comments.children().hide().eq(1).show();
                test7Comments.children().hide().eq(1).show();

            }
            else if (selectedVal.toLowerCase() == "false") {
                child.eq(0).show();
                //For Related Test Comments
                test3.find("select").prop('disabled', false);
                test4.find("select").prop('disabled', false);
                test5.find("select").prop('disabled', false);
                test6.find("select").prop('disabled', false);
                test7.find("select").prop('disabled', false);

                test3Comments.children().hide();
                test4Comments.children().hide();
                test5Comments.children().hide();
                test6Comments.children().hide();
                test7Comments.children().hide();


            }
            else {
                child.hide();
            }


            break;
        case "1007000":
            //For Test7
            if (selectedVal == "true") {
                child.eq(1).show();
            }
            else if (selectedVal == "false") {
                child.eq(0).show();
            }
            else {
                child.hide();
            }
            break;
        default:
        }

        //Execute if test2 is false
        if (test2.find("select").val() == "false") {
            switch (testSummaryId) {
            case "1002000":
                child.hide();
                //For Test3
                if (selectedVal == "true") {
                    child.eq(2).show();
                }
                else if (selectedVal == "false") {
                    child.eq(0).show();
                }
                else {
                    child.hide();
                }
                break;
            case "1003000":
                child.hide();
                //For Test4
                if (selectedVal == "true") {
                    child.eq(2).show();
                }
                else if (selectedVal == "false") {
                    child.eq(0).show();
                }
                else {
                    child.hide();
                }
                break;
            case "1004000":
                //For Test5
                if (selectedVal == "true") {
                    child.eq(2).show();
                }
                else if (selectedVal == "false") {
                    child.eq(0).show();
                }
                else {
                    child.hide();
                }
                break;
            case "1005000":
                //For Test6
                if (selectedVal == "true") {
                    child.eq(2).show();
                }
                else if (selectedVal == "false") {
                    child.eq(0).show();
                }
                else {
                    child.hide();
                }
                break;
            case "1006000":
                //For Test7
                if (selectedVal == "true") {
                    child.eq(2).show();
                }
                else if (selectedVal == "false") {
                    child.eq(0).show();
                }
                else {
                    child.hide();
                }
                break;
            }
        }
    }
</script>


<style>
    .row {
        margin-left: 0 !important;
    }
</style>
