﻿@using DBASystem.SMSF.Contracts.Common
@model DBASystem.SMSF.Contracts.ViewModels.JobImportedDataViewModel
@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Balance Sheet Review";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>

<nav id="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.JobId.ToString()) } }); }
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Balance Sheet Review</h2>
        @if (String.IsNullOrEmpty(Model.JsonData))
        {
            <h3 class="globalerror">Balance Sheet, Not Found</h3>
           
        }
        <div id="template"></div>
    </div>
</div>
<div id="toolbar">
    @Html.Partial(Url.Content("~/Views/Workflow/_WorkflowCommands.cshtml"), Html.Raw(Json.Encode(new { ProcessId = @Model.JobId, ProcessType = (int)Workflows.JobProcess,BlockView = true, ActivityNames = new List<string>() { "Balance Sheet Review" } })))
</div>
@{Html.RenderPartial(Url.Content("~/Views/Job/ReportTemplates/_ImportDataTemplates.cshtml"));}

@if (!String.IsNullOrEmpty(Model.JsonData))
    {
           <script>
            var templateID = '@Model.TemplateId'; 
            $(function () {
                debugger;
                var parseData = JSON.parse('@Html.Raw(@Model.JsonData)');
                var proceduresTmpl = $
                ('#@ImportTemplate.BGLStatementFinancialPosition').tmpl(parseData);
                var templeteData = $
                ("<table><div></div></table>").html(proceduresTmpl);
                $
                ("#template").empty().append(templeteData);

            });
            </script>
    }


