﻿@using DBASystem.SMSF.Contracts.Common
@model DBASystem.SMSF.Contracts.ViewModels.JobImportedDataViewModel

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Income Statement Review";
}

<nav id="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.JobId.ToString()) } }); }
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Income Statement Review</h2>
        @if (String.IsNullOrEmpty(Model.JsonData))
        {
            <h3 class="globalerror">Income Statement, Not Found</h3>

        }

        <div id="template"></div>
    </div>
</div>
<div id="toolbar">
    @Html.Partial(Url.Content("~/Views/Workflow/_WorkflowCommands.cshtml"), Html.Raw(Json.Encode(new { ProcessId = @Model.JobId, ProcessType = (int)Workflows.JobProcess, BlockView = true, ActivityNames = new List<string>() { "Income Statements Review" } })))
</div>
@{Html.RenderPartial(Url.Content("~/Views/Job/ReportTemplates/_BGLIncomeStatement.cshtml"));}

@if (!String.IsNullOrEmpty(Model.JsonData))
{
    <script>


        function hasText(value, searcch) {
            if (value.indexOf(searcch) >= 0) {
                return true;
            }
            return false;
        }


        $(function () {
            
            var parseData = JSON.parse('@Html.Raw(Model.JsonData)');
            var proceduresTmpl = $('#@ImportTemplate.BGLIncomeStatement').tmpl(parseData);
            var templeteData = $("<table><div></div></table>").html(proceduresTmpl);
            $("#template").empty().append(templeteData);

        });
    </script>
}