﻿@model DBASystem.SMSF.Contracts.ViewModels.JobModel
@using DBASystem.SMSF.Contracts.Common
@using DBASystem.SMSF.Contracts.ViewModels
@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
    ViewBag.Title = "Imports";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}

<script src='@Url.Content("~/Scripts/jquery.tmpl.min.js")'></script>
<style>
    .importcat_option {
        float: left;
        margin-left: 5px !important;
    }
</style>
<nav id="secondary" class="secondary">
    @{ Html.RenderPartial(Url.Content("~/Views/Job/_JobMainMenu.cshtml"), new ViewDataDictionary { { "JobId", Utility.EncryptQueryString(Model.ID.ToString()) } }); }
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Import - @Model.Title</h2>
        <div id="dvHelp">@Model.Description</div>

        @using (Html.BeginForm("Index", "Imports", FormMethod.Post, new { enctype = "multipart/form-data", style = "padding-top: 20px" }))
        {
            <input type="hidden" id="JobId" value=@(Model.ID) />
            <table class="FixInput nobordertable" style="width:100%;">
                <tr>
                    <td style="width: 12%">Fund</td>
                    <td><i>@Model.Fund.Name</i></td>
                    <td style="width: 12%">Account</td>
                    <td><i>@Model.ClientName</i></td>
                    <td style="width: 12%">Start Date</td>
                    <td><i>@Model.StartDate.ToString("dd/MM/yyyy")</i></td>
                </tr>
                <tr>
                    <td>Auditor</td>
                    <td><i>@Model.Auditor</i></td>
                    <td>Manager</td>
                    <td><i>@Model.AccountManager</i></td>
                    <td>Completed Date</td>
                    <td><i>@(Model.CompleteDate != null ? Model.CompleteDate.Value.ToString("dd/MM/yyyy") : "")</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6"><hr /></td>
                </tr>
            </table>

            <table class="FixInput nobordertable" style="width:100%;">
                <tr>
                    <td style="width: 20%">Input Category</td>
                    <td>
                        <input id='singlefile' type='radio' name='inputfile' value="singlefile" onclick="singlefile_click()" checked="checked" class="importcat_option" /><label class="importcat_option">Single File</label>
                        <input class="importcat_option" id='zipfile' type='radio' name='inputfile' value="zipfile" onclick="zipfile_click()" /><label class="importcat_option">Zip File</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">Template Provider</td>
                    <td>
                        @(Html.Kendo().DropDownList()
                                .Name("ddlTemplateProvider")
                                .DataTextField("Value")
                                .DataValueField("Key")
                                .OptionLabel("-- Select --")
                                .SelectedIndex(1)
                                .HtmlAttributes(new { style = "width:220px" })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetTemplateProviders", "Imports");
                                    });
                                })
                                .Events(e => e
                                    .Change("ddlTemplateProvider_Change")
                                )
                        )
                    </td>
                </tr>
                <tr>
                    <td>Template Category</td>
                    <td>
                        @(Html.Kendo().DropDownList()
                                .Name("ddlTemplateCategory")
                                .DataTextField("Value")
                                .DataValueField("Key")
                                .OptionLabel("-- Select --")
                                .SelectedIndex(1)
                                .HtmlAttributes(new { style = "width:220px" })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetTemplateCategories", "Imports").Data("filterTemplateCategory");
                                    });
                                })
                                .Events(e => e
                                    .Change("ddlTemplateCategory_Change")
                                )
                        )
                    </td>
                </tr>
                <tr>
                    <td>Templates</td>
                    <td>
                        @(Html.Kendo().DropDownList()
                                .Name("ddlTemplates")
                                .DataTextField("Value")
                                .DataValueField("Key")
                                .HtmlAttributes(new { style = "width:220px" })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetTemplatesBy", "Imports").Data("filterTemplates");
                                    });
                                })
                                .Events(e => e.Change("ddlTemplates_Change"))
                        )
                    </td>
                </tr>
                <tr>
                    <td>Data File</td>
                    <td>
                        @(Html.Kendo().Upload()
                                .Name("fileUploader")
                                .Messages(m => m.UploadSelectedFiles("Parsing Process"))
                                .Multiple(false)
                                .Enable(true)
                                .Async(a => a
                                    .Save("Parse", "Imports")
                                    .AutoUpload(false)
                                )
                                .Events(e => e.Upload("onUpload").Complete("onComplete").Select("onSelect").Error("onError").Success("onSuccess"))
                        )
                        <span class="loader" style="display:none;float:right"><img src="~/Images/loader_login.gif" width="20px" /></span>
                    </td>
                </tr>
            </table>

            <div id="divOutput" style="overflow-y:scroll; display: none;">
            </div>
            <div id="divDataTable" style="display:none;">
                <table id="excelDataTable" style="margin-left: 10px; margin-top: 10px; border: 1px solid black !important; width: 96% !important; " class="table table-striped"></table>
            </div>
            <div id="toolbar">
                @Html.Partial(Url.Content("~/Views/Workflow/_WorkflowCommands.cshtml"), Html.Raw(Json.Encode(new { ProcessId = Model.ID, ProcessType = (int)Workflows.JobProcess, BlockView = false, ActivityNames = new List<string>() { "Document Check & Data Import", "Balance Sheet Review", " Income Statements Review", "SIS Compliance Audit", "Review", "Sign Off" } })))
            </div>
            
            <div id="filelisting" style="padding-top: 30px;" >
                @Html.Partial(Url.Content("~/Views/Imports/_List.cshtml"), new ViewDataDictionary { { "JobId", Model.ID } })
            </div>

            <script>
    var notUploadedFiles = "";
    var fileName = '';
    var orignalFileBase64 = "";

    function singlefile_click(e) {
        var categories = $("#ddlTemplateCategory").data("kendoDropDownList");
        var templates = $("#ddlTemplates").data("kendoDropDownList");
        categories.enable(true);
        templates.enable(true);
    }

    function zipfile_click(e) {
        var categories = $("#ddlTemplateCategory").data("kendoDropDownList");
        var templates = $("#ddlTemplates").data("kendoDropDownList");
        categories.enable(false);
        templates.enable(false);

        var fileUploader = $("#fileUploader").data("kendoUpload");
        fileUploader.enable(true);
    }

    function ddlTemplateProvider_Change(e) {
        if ($("input[type='radio']:checked").val() == 'zipfile')
            return;

        var categories = $("#ddlTemplateCategory").data("kendoDropDownList");
        var templates = $("#ddlTemplates").data("kendoDropDownList");
        var fileUploader = $("#fileUploader").data("kendoUpload");

        var TemplateProviderID = filterTemplateCategory().TemplateProviderID;
        if (TemplateProviderID == '') {
            categories.enable(false);
            templates.enable(false);
            fileUploader.enable(false);
        }
        else {
            categories.dataSource.read(TemplateProviderID);
            categories.enable(true);
            templates.enable(false);
            fileUploader.enable(false);
        }
    }

    function ddlTemplateCategory_Change(e) {
        var templates = $("#ddlTemplates").data("kendoDropDownList");
        var fileUploader = $("#fileUploader").data("kendoUpload");

        var TemplateCategoryID = filterTemplates().TemplateCategoryID;
        if (TemplateCategoryID == '') {
            templates.enable(false);
            fileUploader.enable(false);
        }
        else {
            templates.selectedIndex = 1;
            templates.dataSource.read(filterTemplates());
            templates.list.width(500);
            templates.enable(true);
            fileUploader.enable(true);
        }
    }

    function ddlTemplates_Change(e) {
        var fileUploader = $("#fileUploader").data("kendoUpload");
        var templateID = $("#ddlTemplates").val();

        if (templateID == '') {
            fileUploader.enable(false);
        } else {
            fileUploader.enable(true);
        }
    }

    function filterTemplateCategory() {
        return {
            TemplateProviderID: $("#ddlTemplateProvider").val()
        };
    }

    function filterTemplates() {
        return {
            TemplateCategoryID: $("#ddlTemplateCategory").val()
        };
    }

    function onUpload(e) {
        showLoader(true);
        switch ($("input[type='radio']:checked").val()) {
            case 'singlefile':
                e.data = {
                    TemplateID: $('#ddlTemplates').val(),
                    JobId: 0
                };
                break;
            case 'zipfile':
                e.data = {
                    TemplateID: $('#ddlTemplates').val(),
                    JobId: $('#JobId').val()
                };
                break;
        }
    }

    function onComplete(e) {
        if (notUploadedFiles != "")
            doAlert("following files were not uploded <br />" + notUploadedFiles.replace(",", "<br />"));

        notUploadedFiles = "";
        showLoader(false);
    }

    function onSelect(e) {
        $(".k-widget.k-upload").find("ul").remove();
        $("#dvShowDocuments").dialog("option", "position", "center");
    }

    function onError(e) {
        doAlert(e.message);
    }

    function onSuccess(e) {
        fileName = e.response.fileName;
        orignalFileBase64 = e.response.Base64File;

        var fileExtension = fileName.split('.')[1];
        if (fileExtension == 'zip' || fileExtension == 'rar') {
            $('#divOutput').empty().append(e.response.message);

            $("#divOutput").dialog({
                title: 'Status',
                modal: true,
                resizable: false,
                width: "40%",
                height: 250,
                closeText: 'fechar',
                draggable: true,
                show: 'fade',
                hide: 'fade',
                buttons: null
            });
            showLoader(false);
            refreshFileListing($('#JobId').val());

            return;
        }

        var templateId = $('#ddlTemplates').val();
        var parseData = JSON.parse(e.response.message);

        var proceduresTmpl = $('#JobImportTemplate').tmpl(parseData);
        var innerDiv = $("<table></table>").html(proceduresTmpl);

        $('#divOutput').empty().append(innerDiv);

        $("#divOutput").dialog({
            title: 'Parsed File',
            modal: true,
            resizable: false,
            width: "40%",
            height: 500,
            closeText: 'fechar',
            draggable: true,
            show: 'fade',
            hide: 'fade',
            buttons: {
                Save: function () {
                    var jobId = $('#JobId').val();

                    var url = '@Url.Action("Save", "Imports")';
                    $.post(url, { jobId: jobId, templateId: templateId, fileName: fileName, base64File: orignalFileBase64 }, function () {
                    });
                    $(".k-widget.k-upload").find("ul").remove();

                    $(this).dialog("close");
                    refreshFileListing(jobId);
                }
            }
        });
        showLoader(false);
    }

    function refreshFileListing(jobId) {
        $.ajax({
            url: '@Url.Action("GetJobImportedFiles")',
            type: "GET",
            data: { jobId: jobId },
            cache: false,
            success: function (result) {
                var objJobs = $("#filelisting #dvGrid #dvFirmGrid #tblFirmGrid").kendoGrid({
                    dataSource: {
                        data: result,
                        pageSize: 10
                    },
                    scrollable: false,
                    rowTemplate: kendo.template($("#FirmGridTemplate").html())
                });
            }
        });
    }

    function showLoader(flag) {
        if (flag == true)
            $(".loader").show();
        else
            $(".loader").hide();
    }
            </script>
        }

        @{Html.RenderPartial(Url.Content("~/Views/Job/ReportTemplates/_ImportDataTemplates.cshtml"));}
    </div>
</div>