﻿@model DBASystem.SMSF.Contracts.ViewModels.UserGroupRolesModel

@{
    ViewBag.Title = Model.Title;
}

<h5>@ViewBag.Title</h5>
<div id="dvHelp">@Model.Description</div>

<br />
<br />
<div id="dvHelp">Assign role(s) to '@Model.Title' group.</div>
<table class="table" style="width: 70%">
    <tr>
        <th>Available Roles</th>
        <th></th>
        <th>Selected Roles</th>
    </tr>
    <tr>
        <td style="width: 40%">
            @Html.ListBox("lstAvailableRoles", Model.AvailableRoles.Select(a => new SelectListItem { Value = a.ID.ToString(), Text = a.Title }).ToList(), new { style = "width: 100%; height: 300px", @class = "Listbox" })
        </td>
        <td style="width: 10%; text-align: center">
            <input type="button" value=">" style="width: 50px" id="btnAdd" />
            <input type="button" value=">>" style="width: 50px" id="btnAddAll" />
            <input type="button" value="<<" style="width: 50px" id="btnRemoveAll" />
            <input type="button" value="<" style="width: 50px" id="btnRemove" />
        </td>
        <td style="width: 40%">
            @Html.ListBox("lstSelectedRoles", Model.Roles.Select(a => new SelectListItem { Value = a.ID.ToString(), Text = a.Title }).ToList(), new { style = "width: 100%; height: 300px", @class = "Listbox" })
        </td>
    </tr>
</table>   
<div id="toolbar">
    <input type="submit" value="@if(!Model.Roles.Any()){<text>Save</text>}
                                else
                                {<text>Update</text>}" id="btnSave" />
    <input type="button" value="Cancel" id="btnCancel" />
    <div id="dvloader" style="display: none; color: white">
        <img src="~/Images/loader1.gif" /> Saving . . .
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")}

<script type="text/javascript">
    $(function () {
        $('input[type=submit]').click(function () {
            $('#toolbar input').hide();
            $('#toolbar #dvloader').show();

            var roles = new Array();
            $.each($('#lstSelectedRoles option'), function (index, item) {
                roles[index] = $(item).val();
            });
            $.ajax({
                url: '@Url.Content("~/Account/AddUserGroupRoles")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ groupId: '@Model.ID', roles: roles }),
                type: "POST",
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    if (data == '@DBASystem.SMSF.Contracts.Common.StatusMessage.Successful')
                        window.location.href = '@Url.Content("~/Account/ListGroups")';
                }
            });
        });

        $('#btnCancel').click(function () {
            window.location.href = '@Url.Content("~/Account/ListGroups")';
        });

        $('#btnAdd').click(function () {
            if (isSelected('lstAvailableRoles')) {
                var item = $('#lstAvailableRoles :selected');
                $('#lstSelectedRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $('#lstAvailableRoles :selected').remove();
            }
            else
                alert('Please select role to add');
        });
        $('#btnAddAll').click(function () {
            $.each($('#lstAvailableRoles option'), function (index, item) {
                $('#lstSelectedRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $(item).remove();
            });
        });

        $('#btnRemove').click(function () {
            if (isSelected('lstSelectedRoles')) {
                var item = $('#lstSelectedRoles :selected');
                $('#lstAvailableRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $('#lstSelectedRoles :selected').remove();
            }
            else
                alert('Please select role to remove');
        });
        $('#btnRemoveAll').click(function () {
            $.each($('#lstSelectedRoles option'), function (index, item) {
                $('#lstAvailableRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $(item).remove();
            });
        });
    });

    function isSelected(lstbox) {
        if ($('#' + lstbox + ' :selected').length == 0)
            return false;
        else
            return true;
    }
</script>