﻿@model DBASystem.SMSF.Contracts.ViewModels.RoleOptionsModel

@{
    ViewBag.Title = Model.Title;
}

<h5>@ViewBag.Title</h5>
<div id="dvHelp">@Model.Description</div>

<br />
<br />
<div id="dvHelp">Assign option(s) to '@Model.Title' role.</div>
<table class="table" style="width: 70%">
    <tr>
        <th>Available Options</th>
        <th></th>
        <th>Selected Options</th>
    </tr>
    <tr>
        <td style="width: 40%">
            @Html.ListBox("lstAvailableOptions", Model.AvailableOptions.Select(a => new SelectListItem { Value = a.Key.ToString(), Text = a.Value }).ToList(), new { style = "width: 100%; height: 300px", @class = "Listbox" })
        </td>
        <td style="width: 10%; text-align: center">
            <input type="button" value=">" style="width: 50px" id="btnAdd" />
            <input type="button" value=">>" style="width: 50px; margin: 5px 0 5px 0" id="btnAddAll" />
            <input type="button" value="<<" style="width: 50px" id="btnRemoveAll" />
            <input type="button" value="<" style="width: 50px; margin-top: 5px" id="btnRemove" />
        </td>
        <td style="width: 40%">
            @Html.ListBox("lstSelectedOptions", Model.Options.Select(a => new SelectListItem { Value = a.Key.ToString(), Text = a.Value }).ToList(), new { style = "width: 100%; height: 300px", @class = "Listbox" })
        </td>
    </tr>
</table>   
<div id="toolbar">
    <input type="submit" value="@if(!Model.Options.Any()){<text>Save</text>}
                                else
                                {<text>Update</text>}" id="btnSave" />
    <input type="button" value="Cancel" id="btnCancel" />
    <div id="dvloader" style="display: none; color: white">
        <img src="~/Images/loader1.gif" /> Saving . . .
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")}

<script type="text/javascript">
    $(function () {
        $('input[type=submit]').click(function () {
            $('#toolbar input').hide();
            $('#toolbar #dvloader').show();

            var options = new Array();
            $.each($('#lstSelectedOptions option'), function (index, item) {
                options[index] = $(item).val();
            });
            $.ajax({
                url: '@Url.Content("~/Account/AddRoleOptions")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ roleId: '@Model.ID', options: options }),
                type: "POST",
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    if (data == '@DBASystem.SMSF.Contracts.Common.StatusMessage.Successful')
                        window.location.href = '@Url.Content("~/Account/ListRoles")';
                }
            });
        });

        $('#btnCancel').click(function () {
            window.location.href = '@Url.Content("~/Account/ListRoles")';
        });

        $('#btnAdd').click(function () {
            if (isSelected('lstAvailableOptions')) {                
                $.each($('#lstAvailableOptions :selected'), function (index, item) {
                    $('#lstSelectedOptions').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                    $(item).remove();
                });
            }
            else
                alert('Please select option to add');
        });
        $('#btnAddAll').click(function () {
            $.each($('#lstAvailableOptions option'), function (index, item) {
                $('#lstSelectedOptions').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $(item).remove();
            });
        });

        $('#btnRemove').click(function () {
            if (isSelected('lstSelectedOptions')) {
                var item = $('#lstSelectedOptions :selected');
                $('#lstAvailableOptions').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $('#lstSelectedOptions :selected').remove();
            }
            else
                alert('Please select option to remove');
        });
        $('#btnRemoveAll').click(function () {
            $.each($('#lstSelectedOptions option'), function (index, item) {
                $('#lstAvailableOptions').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $(item).remove();
            });
        });
    });

    function isSelected(lstbox) {
        if ($('#' + lstbox + ' :selected').length == 0)
            return false;
        else
            return true;
    }
</script>