﻿@model IEnumerable<DBASystem.SMSF.Contracts.ViewModels.UserGroupModel>
@using DBASystem.SMSF.Contracts.Common

@{
    ViewBag.Title = "User Groups";
}

<h5>@ViewBag.Title <img id="btnAdd" src='@Url.Content("~/Images/add.png")' class="add" title="Click to add new group" /></h5>

<div id="dvList">@Html.Partial("_ListGroups")</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $(".changestatus").live('mouseenter', function () {
            $("#hoverMenu").remove();
            var lnk = $(this);
            var position = lnk.position();
            
            var links = '';
            if ($(this).text() != '@Status.Active')
                links += '<div class="menudv"><a href="#" id="' + $(this).attr('id') + '" class="active">' + '@Status.Active' + '</a></div>';

            if ($(this).text() != '@Status.Inactive')
                links += '<div class="menudv"><a href="#" id="' + $(this).attr('id') + '" class="inactive">' + '@Status.Inactive' + '</a></div>';

            if ($(this).text() != '@Status.Deleted')
                links += '<div class="menudv"><a href="#" id="' + $(this).attr('id') + '" class="deleted">' + '@Status.Deleted' + '</a></div>';

            $('<div/>', { id: 'hoverMenu', html: links }).css({ left: (position.left) + 'px', top: (position.top + 5) + 'px' }).prependTo('body').hide().slideDown("fast");
            
            return false;
        }).live('mouseleave', function (event) {
            var target = $(event.relatedTarget);
            if (!target.is('#hoverMenu') && !target.is('.menulnk') && !target.is('.menudv'))
                $("#hoverMenu").slideUp("fast");
        });

        $("#hoverMenu").live('mouseleave', function () {
            $("#hoverMenu").slideUp("fast");
        });

        $('#dvList .active').live('click', function (e) {
            $("#hoverMenu").slideUp("fast");
            if (confirm('Are you sure want to change status of this record?')) {
                $('a[class="changestatus"][id="' + $(this).attr('id') + '"]').text('@Status.Active');
                changeStatus($(this).attr('id'), '@Status.Active');
            }

            e.preventDefault();
        });

        $('#dvList .inactive').live('click', function (e) {
            $("#hoverMenu").slideUp("fast");
            if (confirm('Are you sure want to change status of this record?')) {
                $('a[class="changestatus"][id="' + $(this).attr('id') + '"]').text('@Status.Inactive');
                changeStatus($(this).attr('id'), '@Status.Inactive');
            }

            e.preventDefault();
        });

        $('#dvList .deleted').live('click', function (e) {
            $("#hoverMenu").slideUp("fast");
            if (confirm('Are you sure want to change status of this record?')) {
                $('a[class="changestatus"][id="' + $(this).attr('id') + '"]').text('@Status.Deleted');
                changeStatus($(this).attr('id'), '@Status.Deleted');
            }

            e.preventDefault();
        });

        $('#btnAdd').live('click', function () {
            $.ajax({
                url: '@Url.Content("~/Account/CreateGroup")',
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    $('#dvCreateNew').remove();
                    $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Add New Group',
                        width: 550,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });
    });

    function createMenuDiv() {

        var menuDiv = $('<div class="menu-div"></div>');

        $(menuDiv).append($('<a/>', { href: '#', text: 'Active' }));
        $(menuDiv).append($('<br/>'));
        $(menuDiv).append($('<a/>', { href: '#', text: 'Inactive' }));
        $(menuDiv).append($('<br/>'));
        $(menuDiv).append($('<a/>', { href: '#', text: 'Delete' }));

        return menuDiv;
    }

    function loadGroup() {
        $.ajax({
            url: '@Url.Content("~/Account/GetGroupList")',
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#dvList').empty().html(data);
            }
        });
    }

    function changeStatus(id, status) {
        $.ajax({
            url: '@Url.Content("~/Account/ChangeGroupStatus")',
            data: { id: id, status: status },
            type: "POST",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
            }
        });
    }
</script>