﻿@model DBASystem.SMSF.Contracts.ViewModels.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Sign In";
}

<section id="loginForm">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table style="width: 100%;" class="nobordertable">
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Login Name", autofocus = true,  @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password",  @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </td>
        </tr>
        <tr class="buttons">
            <td style="padding-top: 20px;">
                <input id="btnSubmit" type="submit" value="Sign In" class="btn btn-info submit_btn" />
                <img id="imgLoader" src="~/Images/loader_login.gif" style="display: none" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationSummary(true)
            </td>
        </tr>
    </table>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(function () {
        $('#btnSubmit').click(function () {
            if ($('#Email').val() != '' && $('#Password').val() != '') {
                $('#btnSubmit').hide();
                $('#imgLoader').show();
            }
        })
    });
</script>
