﻿@{
    ViewBag.Title = "IFA";
    Layout = "~/Views/Shared/_DMAMain1.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}

<script type="text/javascript">
    $(function () {
        $("#cars-grid").kendoGrid({
            pageable: true,
            dataSource: {
                transport: {
                    read: "/home/getcars",
                    dataType: "json"
                },
                pageSize: 50
            },
            columns: [
            { field: "Year", title: "YEAR", sortable: true, filterable: false, width: 300 },
            { field: "Make", title: "MAKE", sortable: false, width: 200 },
            { field: "Make", title: "MODEL", width: 150 },
            { field: "Price", title: "PRICE", width: 200 },
            {
                field: "Id", title: "Actions", sortable: false,
                template: '<a href="@Url.Action("Delete")/#= Id #" class="delete-link">Delete</a>'
            }
            ],
            dataBound: function (event) {
                $(".delete-link").click(function (e) {
                    e.preventDefault();
                    if (confirm("Do you want to delete this super-duper car?")) {
                        //NOTE: Here you would normally call the service that removes the car from the database
                        var grid = $("#cars-grid").data("kendoGrid");
                        var dataItem = grid.dataItem($(this).closest("tr"));
                        grid.dataSource.remove(dataItem);
                    }
                    return false;
                });
            }
        }

        );

    });

</script>

<div style="float: left; margin: 50px;">
    <div id="cars-grid"></div>
</div>
