﻿<script id="JobImportTemplate" type="text/x-jquery-tmpl">
    @*FOR HEADER*@
    {{if report.header}}
    {{if report.header.columns}}
    <tr class="proc-container proc-head-style">
        {{each report.header.columns.column}}
        <td class="proc-border-lr">
            <div class="proc-div-pad-lr">
                ${report.header.columns.column[($index)]}
            </div>
        </td>
        {{/each}}
    </tr>
    {{/if}}
    {{/if}}

    @*FOR ROW*@
    {{if report.data.row}}
    {{each report.data.row}}

    <tr class="proc-container-hover proc-container">

        {{if typeof(item_heading) != 'undefined' }}
        {{if item_heading.length > 0}}
        {{each item_heading}}
        <td class="proc-border-lr">
            <div class="proc-div-pad-lr FB">
                ${item_heading[($index)]}
            </div>
        </td>
        {{/each}}
        {{/if}}
        {{/if}}

        {{if typeof(item) != 'undefined' }}
        {{if item.length > 0}}
        {{each item}}
        <td class="proc-border-lr {{if item[(0)] == null && ($index > 1)}} statement-fp-total {{/if}} {{if (item[(0)] != null && hasText(item[(0)], 'Total'))}}statement-fp-total{{/if}}">
            <div class="proc-div-pad-lr">
                ${item[($index)]}
            </div>
        </td>
        {{/each}}
        {{/if}}

        {{if total}}
        {{each total}}
        <td class="proc-border-lr font-bold {{if ($index > 1)}} statement-fp-total {{/if}} {{if (total[(0)] != null && hasText(total[(0)], 'Total'))}}statement-fp-total{{/if}}">
            <div class="proc-div-pad-lr">
                ${total[($index)]}
            </div>
        </td>
        {{/each}}
        {{/if}}

        {{/if}}
    </tr>
    {{/each}}
    {{/if}}
</script>
