﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@if (DBASystem.SMSF.Web.Common.SessionHelper.ListContacts != null && DBASystem.SMSF.Web.Common.SessionHelper.ListContacts.Any())
{
    <script type="text/x-kendo-tmpl" id="template">
        <tr class="contactinfo" id="#:ID#">
            <td style="width: 100px">${Type}</td>
            <td>
                #var phone = ""#
                #if (!isNullOrEmpty(CountryCode)) {#
                    #phone += CountryCode + "-"#
                # }#
                #if (!isNullOrEmpty(AreaCode)) {#
                    #phone += AreaCode + "-"#
                # }#
                #phone += PhoneNumber#                
                #:phone#
            </td>
            <td style="width: 50px; text-align: right">
                #if('@CommonFunction.IsOptionAllowed(Option.UpdateTelephone)') {#
                    <img id="#:ID#" class="edit" src='@Url.Content("~/Images/edit.png")' title="Click to edit this contact" />
                # }#
                #if('@CommonFunction.IsOptionAllowed(Option.DeleteTelephone)') {#
                    <img id="#:ID#" class="delete" src='@Url.Content("~/Images/delete.png")' title="Click to delete this contact" />
                # }#
            </td>
        </tr>
    </script>
    
    <div style="width: 30%">
    @(
        Html.Kendo().ListView<DBASystem.SMSF.Contracts.ViewModels.ContactCreateModel>(DBASystem.SMSF.Web.Common.SessionHelper.ListContacts)
                    .Name("lstContactinfo")
                    .HtmlAttributes(new { @class = "nobordertable", style = "width: 100%" })
                    .TagName("table")
                    .ClientTemplateId("template")
    )
    </div>
}
else
{
    <div class="error">No contact information added</div>
}

<script type="text/javascript">
    $(function () {
        $('#dvContacts .delete').unbind('click').click(function (e) {
            if (confirm('Are you sure want to delete this record?')) {
                var id = $(this).attr('id');

                $('#dvContacts table tr[id=' + id + ']').slideUp('slow').remove();
                if ($('#dvContacts .contactinfo').length == 0)
                    $('#dvContacts table').append('<tr><td colspan="3"><div class="error">No contact information added</div></td></tr>');

                $.ajax({
                    url: '@Url.Content("~/User/DeleteContactInfo")',
                    data: { id: id },
                    type: "DELETE",
                    error: function (error) {
                        window.location.href = '@Url.Content("~/Error/Index")';
                    },
                    success: function (data) {
                        setStatusBarMessage('Contact info deleted');
                    }
                });
                }

            e.preventDefault();
        });

        $('#dvContacts .edit').unbind('click').click(function (e) {
            var id = $(this).attr('id');
            var userId = $(this).attr('userid');

            $.get('@Url.Content("~/User/UpdateContactInfo")', { id: id }, function (data) {
                $('#dvCreateNew').remove();
                $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                $('#dvCreateNew').empty().html(data);
                $('#dvCreateNew').dialog({
                    title: 'Edit Contact Info',
                    width: 600,
                    height: 'auto',
                    modal: true
                });
            });

            e.preventDefault();
        });
    });
</script>