﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerCreateModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common
@using Kendo.Mvc.UI

@{
    ViewBag.Title = Model.ID == 0 ? "Create User" : "Update User";
    Model.ListGroups = new DBASystem.SMSF.Web.Controllers.EntityController().GetGroups();
    var action = Model.ID == 0 ? "Create" : "Edit";
}

<h5>@ViewBag.Title</h5>

@using (Html.BeginForm(action, "User", FormMethod.Post, new { id = "frmCreateUser" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.EntityID)
    @Html.HiddenFor(model => model.StatusID)
    
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 20%">
                First Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td>
                Middle Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.MidName, new { placeholder = "Middle Name" })
                @Html.ValidationMessageFor(model => model.MidName)
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name" })
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td>
                Email Address
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address" })
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
                <h5>Login Information</h5>
            </td>
        </tr>
        <tr>
            <td>
                Group
            </td>
            <td>
                @Html.Kendo().DropDownListFor(model => model.GroupID).BindTo(Model.ListGroups).OptionLabel("-- Select --")
                @Html.ValidationMessageFor(model => model.GroupID)
            </td>
        </tr>
        <tr>
            <td>
                Login Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.Login, new { placeholder = "Login Name" })
                @Html.ValidationMessageFor(model => model.Login)
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password
            </td>
            <td>
                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </td>
        </tr>
    </table>   
    <div id="toolbar">
        <input type="button" value="Cancel" id="btnCancel" />
        <input type="submit" value="@if (Model.ID == 0)
                                    {<text>Save</text>}
                                    else
                                    {<text>Update</text>}" id="btnSave" />
        <div id="dvloader" style="display: none; color: white">
            <img src="~/Images/loader1.gif" /> Saving . . .
        </div>
    </div>
}
<hr />
<h5>
    Contact Information
    @if (CommonFunction.IsOptionAllowed(Option.AddTelephone))
    {<img src='@Url.Content("~/Images/add.png")' class="add" title="Click to add new contact information" />}
</h5>
<div id="dvContacts" style="padding: 5px 0 40px 0">
    @Html.Partial("_ListContactInfo")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#Password').val('@Model.Password');
        $('#ConfirmPassword').val('@Model.Password');

        $('#btnSave').click(function () {
            if ($('#frmCreateUser').valid()) {
                $('#toolbar input').hide();
                $('#toolbar #dvloader').show();
            }
        });

        $('#btnCancel').click(function () {
            if ('@Model.ID' == 0)
                window.location.href = '@Url.Content("~/Home/Index")';
            else
                window.location.href = '@Url.Content("/User/Index/")' + '@Model.ID';
        });

        $('.add').click(function () {
            $.get('@Url.Content("~/User/CreateContactInfo")', function (data) {
                $('#dvCreateNew').remove();
                $('<div/>', { id: 'dvCreateNew' }).appendTo('body');
                $('#dvCreateNew').empty().html(data);
                $('#dvCreateNew').dialog({
                    title: 'Add New Contact Info',
                    width: 600,
                    height: 'auto',
                    modal: true
                });
            }).error(function () {
                window.location.href = '@Url.Content("~/Error/Index")';
            });
        });

        $('#Login').blur(function () {
            var login = $(this).val();
            if (login.length >= 6) {
                var td = $(this).closest('td');
                $(td).find('img').show();
                $('#toolbar input[type=submit]').attr('disabled', 'disabled');

                $.ajax({
                    dataType: "json",
                    url: '@Url.Content("~/User/ValidateLogin")',
                    data: { id: $('#ID').val(), login: login },
                    success: function (data) {
                        $(td).find('img').hide();

                        setStatusBarMessage(data);
                        if (data == 'Login Name Available') {
                            $(this).removeClass().addClass('field-validation-valid');
                            $(td).find('span').removeClass().addClass('field-validation-valid');
                            $('#toolbar input[type=submit]').removeAttr('disabled');
                        }
                        else {
                            $(td).find('span').html(data);
                            $(this).removeClass().addClass('field-validation-error');
                            $(td).find('span').removeClass().addClass('field-validation-error');
                        }
                    }
                });
            }
        });
    });

    function loadUser() {
        loadContactInfo();
    }

    function loadContactInfo() {
        $.get('@Url.Content("~/User/GetContactInfo")', function (data) {
            $('#dvContacts').empty().html(data);
        }).error(function () {
            window.location.href = '@Url.Content("~/Error/Index")';
        });
    }
</script>