﻿@model DBASystem.SMSF.Contracts.ViewModels.AccountManagerModel
@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common

@{
    ViewBag.Title = "Index";
    var name = Model.FirstName;
    if (!string.IsNullOrEmpty(Model.MidName))
    {
        name += " " + Model.MidName;
    }
    if (!string.IsNullOrEmpty(Model.LastName))
    {
        name += " " + Model.LastName;
    }             
}

<h5>@name</h5>

@if (!string.IsNullOrEmpty(Model.FirstName))
{
    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 200px">Email Address</td>
            @if (!string.IsNullOrEmpty(Model.Email))
            { <td>@Model.Email</td>}
            else
            {<td>-</td>}
        </tr>
        <tr>
            <td>Group</td>
            @if (!string.IsNullOrEmpty(Model.Group))
            { <td>@Model.Group</td>}
            else
            {<td>-</td>}
        </tr>
        <tr>
            <td>Login Name</td>
            <td>@Model.Login</td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        @if (Model.ListContactInfo != null && Model.ListContactInfo.Any())
        {
            <tr>
                <td colspan="2">Contact Information</td>
            </tr>
            foreach (var contact in Model.ListContactInfo)
            {
                var phone = "";
                if (!string.IsNullOrEmpty(contact.CountryCode))
                { phone += contact.CountryCode + "-"; }
                if (!string.IsNullOrEmpty(contact.AreaCode))
                { phone += contact.AreaCode + "-"; }
                phone += contact.PhoneNumber;
                                                
                <tr>
                    <td>@contact.Type</td>
                    <td>@phone</td>
                </tr>
            }
        }
        else
        {
            <tr><td><div class="error">No contact information found</div></td></tr>
        }
    </table>
}
else
{
    <div class="error">No primary account manager found</div>
}
<div id="toolbar">
    <input id="btnCancel" type="button" value="Cancel" />
    @if (CommonFunction.IsOptionAllowed(Option.DeleteAccountManager))
    {<input id="btnDelete" type="button" value="Delete" />}
    @if (CommonFunction.IsOptionAllowed(Option.UpdateUser))
    {<input id="btnEdit" type="button" value="Edit" />}
    <div id="dvloader" style="display: none; color: white">
        <img src="~/Images/loader1.gif" /> Deleting User . . .
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#btnDelete').click(function () {
            if (confirm("Are you sure want to delete this record?")) {
                $('#toolbar input').hide();
                $('#toolbar #dvloader').show();                
                window.location.href = '@Url.Content("~/User/Delete/")' + '@Model.ID';
            }
        });

        $('#btnEdit').click(function () {
            window.location.href = '@Url.Content("~/User/Edit/")' + '@Model.ID';
        });

        $('#btnCancel').click(function () {
            window.location.href = '@Url.Content("~/Home/Index/")';
        });
    });
</script>