﻿@{
    ViewBag.Title = "Funds";
    Layout = "~/Views/Shared/_WindowsAzureResponsiveNav.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}
<nav id="secondary">
    @Html.Partial(Url.Content("~/Views/Firm/_SearchFilter.cshtml"))
</nav>
<div id="contentmain">
    <div id="contentinner">
        <h2>Funds</h2>
        @Html.Partial(Url.Content("~/Views/Firm/_Index.cshtml"))
    </div>
</div>

<script>
    $(function () {
        $(".FundsChildLink").show();

        var searchFilterJson = [
            { 'Display': 'Firm', 'Field': 'Firm', 'DefaultValue': '@ViewBag.Firm', 'Type': 'txt', 'placeholder': 'Firm' },
            { 'Display': 'Account', 'Field': 'Account', 'DefaultValue': '@ViewBag.Account', 'Type': 'txt', 'placeholder': 'Account' },
            { 'Display': 'Name', 'Field': 'Name', 'DefaultValue': '', 'Type': 'txt', 'placeholder': 'Fund Name' },
            { 'Display': 'ABN', 'Field': 'ABN', 'DefaultValue': '@ViewBag.ABN', 'Type': 'txt', 'placeholder': 'Australian Business Number' },
            { 'Display': 'Account Manager', 'Field': 'AccountManager', 'DefaultValue': '@ViewBag.AccountManager', 'Type': 'txt', 'placeholder': 'AccountManager' },
            { 'Display': 'Primary Contact', 'Field': 'PrimaryContact', 'DefaultValue': '@ViewBag.PrimaryContact', 'Type': 'txt', 'placeholder': 'DefaultValue' },
            { 'Display': 'Date From', 'Field': 'CreationDate', 'DefaultValue': '@ViewBag.DateFrom', 'Type': 'date>', 'placeholder': 'Creation date from' },
            { 'Display': 'To', 'Field': 'CreationDate', 'DefaultValue': '@ViewBag.DateTo', 'Type': 'date<', 'placeholder': 'Creation date to' }
        ];

        setSearchFilter(searchFilterJson);
        getSearchFilterModel();
    });
</script>