﻿@model DBASystem.SMSF.Contracts.ViewModels.UserGroupModel

@using (Ajax.BeginForm("CreateGroup", new { }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmCreateGroup" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Status)

    <table style="width: 100%" class="nobordertable">
        <tr>
            <td style="width: 20%">
                Name
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { placeholder = "Group Name" })
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                @Html.TextAreaFor(model => model.Description, new { style = "width: 300px; height: 60px", placeholder = "Enter group description here" })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td></td>
            <td id="tdButtons">
                <input type="submit" value="@if (Model.ID != 0){<text>Update</text>}else{<text>Save</text>}" />
                <input type="button" value="Cancel" id="btnCancel" />
                <img src='@Url.Content("~/Images/loader.gif")' style="display: none" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#frmCreateGroup");

        $('#dvCreateNew #btnCancel').unbind('click').click(function () {
            $('#dvCreateNew').dialog('close');
        });
    });

    function onBegin() {
        if ($('#frmCreateGroup').valid()) {
            $('#dvCreateNew #tdButtons input').hide();
            $('#dvCreateNew #tdButtons img').show();
            return true;
        }

        return false;
    }

    function onFailure(context) {
        window.location.href = '@Url.Content("~/Error/Index")';
    }

    function onSuccess(context) {
        if (context = "success") {
            loadGroup();
            $('#dvCreateNew').dialog('close');
            if ('@Model.ID' == 0)
                setStatusBarMessage('New user group added');
            else
                setStatusBarMessage('User group updated');
        }
    }
</script>