﻿@model IEnumerable<DBASystem.SMSF.Contracts.ViewModels.UserProfileModel>
<div class="EntitySettingTabContainer" style="overflow:auto">
    @{Html.RenderPartial("/Views/Entity/_ListAddress.cshtml");}
</div>
<script>
    var height = $(document).height() - 300;
    $(".EntitySettingTabContainer").height(height);
</script>