﻿
<div id="dvReportTemplate">
    <table style="width: 100%">
        <tr>
            <td>
                <h2>Audit Report Templates</h2>
                @{ Html.RenderAction("GetDocuments", "Sharepoint", new { folder = ViewBag.ReportTemplatePath });}
            </td>
        </tr>
    </table>
</div>

<script>
    $(function () {
        var height = $(document).height() - 230;
        $("#dvReportTemplate").height(height);
    });
</script>