﻿@model IEnumerable<DBASystem.SMSF.Contracts.ViewModels.RoleModel>

<table class="table" style="width: 100%">
    <tr>
        <th style="width: 25%">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="width: 8%">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th style="width: 7%"></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align: center">
                    <a href="#" class="changestatus" id="@item.ID" title="Click to change status">@item.Status</a>
                </td>
                <td style="text-align: center">
                    <a href='@Url.Content("~/Setting/ListRoleOptions/" + item.ID)' class="editRole"><img class="add" src='@Url.Content("~/Images/add.png")' title="Click to add/edit option to this role" /></a>
                    <img id="@item.ID" class="editRoleDetail" src='@Url.Content("~/Images/edit.png")' title="Click to edit this role" />
                </td>
            </tr>
        }
    }
</table>

<script type="text/javascript">
    $(function() {
        $(document).on('click', '.editRole', function(e) {
            
            var link = this;
            $("#dvRoleList").hide();
            $('#dvEditRole').empty().html("Loading ... <img src='@Url.Content("~/Images/loader.gif")' />");
            e.preventDefault();
            $.ajax({
                url: link.href,
                type: "GET",
                cache: false,
                error: function(error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function(data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');
                    $('#dvEditRole').empty().html(data);
                }
            });
            return false;

        });
        $(document).on('click', '.editRoleDetail', function(e) {
            var id = $(this).attr('id');
            $.ajax({
                url: '@Url.Content("~/Setting/CreateRole")',
                data: { id: id },
                type: "GET",
                cache: false,
                error: function(error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function(data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $('#dvCreateNew').remove();
                    $('<div />', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Edit Role',
                        width: 550,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });
    });
</script>