﻿@model DBASystem.SMSF.Contracts.ViewModels.RoleOptionsModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = Model.Title;

    var optionTree = new DBASystem.SMSF.Web.Controllers.SettingController().GetOptionTree(Model.OptionsTree.Where(a => a.items.Any()).ToList());
}

<style scoped>
    .treeview-back {
        float: left;
        margin: 0 0 2em;
        padding: 20px;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        box-shadow: 0 1px 2px rgba(0,0,0,0.45), inner 0 0 30px rgba(0,0,0,0.07);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
</style>

<div id="contentmain">
    <div id="contentinner">

        <h2>@ViewBag.Title</h2>
        <div id="dvHelp">@Model.Description</div>
        <br />
        <div id="toolbar">
            <button type="submit" class="btn btn-purple" id="btnBack">
                <span class="icon-circle-arrow-left icon-white"></span> Back
            </button>
            <button id="btnSave" class="btn btn-purple">
                <span class="fa fa-save"></span>
                @if (!Model.SelectedOptions.Any())
                {<text>Save</text>}
                else
                {<text>Update</text>}
            </button>

            <div id="dvloader" style="display: none; color: white">
                <img src="~/Images/loader1.gif" /> Saving . . .
            </div>
        </div>

        <div class="treeview-back">
            <h6>Available Options</h6>
            <div id="dvHelp">Check option(s) for '@Model.Title' role.</div><br />
            <a id="lnkExpand" href="#">Expand All</a> | <a id="lnkCollapse" href="#">Collapse All</a>
            |
            <a id="lnkCheckAll" href="#">Check All</a> | <a id="lnkUncheckAll" href="#">Uncheck All</a>
            <br /><br />
            @(
 Html.Kendo().TreeView()
            .Name("trOptions")
            .Checkboxes(checkboxes =>
            {
                checkboxes.CheckChildren(true);
            })
            .BindTo(optionTree)
            )
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('#lnkCheckAll').click(function (e) {
            e.preventDefault();

            $('.treeview-back').find(':checkbox').attr('checked', 'checked');
        });

        $('#lnkUncheckAll').click(function (e) {
            e.preventDefault();

            $('.treeview-back').find(':checkbox').removeAttr('checked');
        });

        $('#lnkExpand').click(function (e) {
            e.preventDefault();

            $('.treeview-back').find('li').attr('aria-expanded', true);
            $('.treeview-back').find('li').attr('data-expanded', true);
            $('.treeview-back').find('li').find('ul').slideDown('slow');
            $('.treeview-back').find('span.k-plus').removeClass('k-plus').addClass('k-minus');
        });

        $('#lnkCollapse').click(function (e) {
            e.preventDefault();

            $('.treeview-back').find('li').attr('aria-expanded', false);
            $('.treeview-back').find('li').attr('data-expanded', false);
            $('.treeview-back').find('li').find('ul').slideUp('slow');
            $('.treeview-back').find('span.k-minus').removeClass('k-minus').addClass('k-plus');
        });

        $('#btnSave').click(function () {
            $('#toolbar button').hide();
            $('#toolbar #dvloader').show();

            var options = new Array();
            var i = 0;
            $.each($('.treeview-back input:checkbox:checked'), function (index, item) {
                if ((item.value % 100) != 0) {
                    options[i] = item.value;
                    i++;
                }
            });

            $.ajax({
                url: '@Url.Content("~/Setting/AddRoleOptions")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ roleId: '@Model.ID', options: options }),
                type: "POST",
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    if (data == '@DBASystem.SMSF.Contracts.Common.StatusMessage.Successful') {
                        $("#dvRoleList").show();
                        $('#dvEditRole').empty();
                        doAlert("Role updated successfully");
                        $('#toolbar #dvloader').hide();
                    }
                }
            });
        });

        $('#btnBack').click(function () {
            $("#dvRoleList").show();
            $('#dvEditRole').empty();
        });
    });
</script>