﻿@model DBASystem.SMSF.Contracts.ViewModels.UserGroupRolesModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>
<div id="dvHelp">@Model.Description</div>
<br />
<div id="dvHelp">Assign role(s) to '@Model.Title' group.</div>
<table class="table" style="width: 70%">
    <tr>
        <th>Available Roles</th>
        <th></th>
        <th>Selected Roles</th>
    </tr>
    <tr>
        <td style="width: 40%">
            @Html.ListBox("lstAvailableRoles", Model.AvailableRoles.Select(a => new SelectListItem { Value = a.ID.ToString(), Text = a.Title }).ToList(), new { style = "width: 100%; height: 300px", @class = "Listbox" })
        </td>
        <td style="width: 10%; text-align: center">
            <input type="button" value=">" style="width: 50px" id="btnAddRole" />
            <input type="button" value=">>" style="width: 50px" id="btnAddAll" />
            <input type="button" value="<<" style="width: 50px" id="btnRemoveAll" />
            <input type="button" value="<" style="width: 50px" id="btnRemove" />
        </td>
        <td style="width: 40%">
            @Html.ListBox("lstSelectedRoles", Model.Roles.Select(a => new SelectListItem { Value = a.ID.ToString(), Text = a.Title }).ToList(), new { style = "width: 100%; height: 300px", @class = "Listbox" })
        </td>
    </tr>
</table>
<div id="toolbar">
    <button type="submit" class="btn btn-purple" id="btnBack">
        <span class="icon-circle-arrow-left icon-white"></span> Back
    </button>
    <button id="btnUpdateReportServer" type="submit" class="btn btn-purple">
        <span class="fa fa-save"></span>Update
    </button>
    <div id="dvloader" style="display:none">
        <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Updating ...
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function() {
        $('#btnAddRole').click(function() {
            if (isSelected('lstAvailableRoles')) {
                var item = $('#lstAvailableRoles :selected');
                $('#lstSelectedRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $('#lstAvailableRoles :selected').remove();
            } else
                doAlert('Please select role to add');
            e.preventDefault();
        });

        $('#btnAddAll').click(function() {
            $.each($('#lstAvailableRoles option'), function(index, item) {
                $('#lstSelectedRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $(item).remove();
            });
        });

        $('#btnRemove').click(function() {
            if (isSelected('lstSelectedRoles')) {
                var item = $('#lstSelectedRoles :selected');
                $('#lstAvailableRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $('#lstSelectedRoles :selected').remove();
            } else
                doAlert('Please select role to remove');
        });
        $('#btnRemoveAll').click(function() {
            $.each($('#lstSelectedRoles option'), function(index, item) {
                $('#lstAvailableRoles').append('<option value="' + $(item).val() + '">' + $(item).text() + '</option>');
                $(item).remove();
            });
        });
        $("#btnBack").click(function() {
            $('#dvGroupEdit').empty();
            $("#dvList").show();
            $('#toolbar button').hide();
        });

        $("#btnUpdateReportServer").click(function() {
            $('#toolbar button').hide();
            $('#toolbar #dvloader').show();

            var roles = new Array();
            $.each($('#lstSelectedRoles option'), function(index, item) {
                roles[index] = $(item).val();
            });
            $.ajax({
                url: '@Url.Content("~/Setting/AddUserGroupRoles")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ groupId: '@Model.ID', roles: roles }),
                type: "POST",
                error: function(error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function(data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    if (data == '@DBASystem.SMSF.Contracts.Common.StatusMessage.Successful') {
                        $("#dvList").show();
                        $('#dvGroupEdit').empty();
                        doAlert("Roles updated successfully");
                        $("#dvloader").hide();
                    }
                }
            });
        });
    });

    function isSelected(lstbox) {
        if ($('#' + lstbox + ' :selected').length == 0)
            return false;
        else
            return true;
    }
</script>