﻿
<style>
    .hiddencontent {
        display: none;
    }
    .k-tooltip-content {
        vertical-align: middle;
    }
    .k-animation-container {
        z-index: 1000000 !important;
    }
    .k-tooltip-content div {
        float: left;
    }

    .k-tooltip-content div {
        padding: 8px;
        text-align: left;
    }
    .k-widget.k-tooltip {
        border-color: #3c454f !important;
        background-color: #529bbd !important;
        color: white !important;
    }
    .k-callout-w {
        border-right-color: #3c454f !important;
    }
    .k-tooltip {
        -moz-border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;
    }
</style>

<table width="100%">
    <tr>
        <td>
            <h2>System Logs</h2>
            <br />
            Delete logs
            <select id="ddClear">
                <option></option>
                <option value="0">All</option>
                <option value="5">More than 5 days old</option>
                <option value="15">More than 15 days old</option>
                <option value="30">More than 1 month old</option>
                <option value="90">More than 3 month old</option>
                <option value="180">More than 6 month old</option>
            </select>
            <input id="btnClear" value="Delete" type="button"/>
        </td>
    </tr>
</table>

<div style="padding-top: 10px; overflow: auto" class="LogsTabContainer">
    <table id="tblLogs" class="nobordertable" style="width: 100%">
        <tbody></tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: center">
                    <a href="#" id="lnkMore">Load More</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    var page = 1;
    var count = 50;

    $(function () {
        var height = $(document).height() - 360;
        $(".LogsTabContainer").height(height);

        $("#ddClear").kendoDropDownList();
        loadNotification(page, count);

        $('#lnkMore').click(function (e) {
            e.preventDefault();

            page++;
            loadNotification(page, count);
        });

        $('#btnClear').click(function () {
            if ($('#ddClear :selected').val() != '') {
                doConfirm("Are you sure want to delete notification(s)?",
                    function yes() {
                        $('#btnClear').attr('disabled', 'disabled');
                        $.ajax({
                            url: '@Url.Content("~/Setting/DeleteNotifications")',
                            data: { days: $('#ddClear :selected').val() },
                            type: "DELETE",
                            cache: false,
                            error: function (error) {
                                window.location.href = '@Url.Content("~/Error/Index")';
                            },
                            success: function () {
                                $('#btnClear').removeAttr('disabled');

                                $('#tblLogs tbody').empty();
                                page = 1; count = 50;
                                loadNotification(page, count);
                            }
                        });
                    },
                    function no() {
                    }
                );
            }
            else
                doAlert('Please select days');
        });

        $('.deletenotification').live('click', function (e) {
            e.preventDefault();
            var a = $(this);

            doConfirm("Are you sure want to delete this notification?",
                function yes() {
                    $.ajax({
                        url: '@Url.Content("~/Setting/DeleteNotifications")',
                        data: { Id: $(a).attr('data-id') },
                        type: "DELETE",
                        cache: false,
                        error: function (error) {
                            window.location.href = '@Url.Content("~/Error/Index")';
                        },
                        success: function () {
                            $(a).closest('tr').remove();
                        }
                    });
                },
                function no() {
                }
            );
        });
    });

    function loadNotification(_page, _count) {

        $.ajax({
            url: '@Url.Content("~/Setting/GetNotifications")',
            data: { type: null, page: _page, count: _count, days: 0 },
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                if (data.Data.length > 0) {
                    $.each(data.Data, function (index, item) {
                        $('<tr />', { html: setRow(item) }).appendTo('#tblLogs tbody');
                    });
                }
                else {
                    $('<tr />', { html: $('<td />', { html: "No log found" }) }).appendTo('#tblLogs tbody');
                }

                if (page >= Math.ceil(data.Count / count))
                    $('#tblLogs tfoot').hide();
            }
        });
    }

    function setRow(item) {
        return '<td style="width: 35px">' +
                    '<img src="' + (item.Type == 1 ? '@Url.Content("~/images/info.png")' : '@Url.Content("~/images/error.png")') + '" ' +
                          'title="' + (item.Type == 1 ? 'Information' : 'Error') + '" />' +
                '</td>' +
                '<td>' +
                    setMessage(item.Message) +
                    '<br /><span class="help">' + $.dateTime(item.CreateDate) + '&nbsp;&nbsp;&nbsp;<a class="deletenotification" href="#" data-id="' + item.ID + '">Delete</a></span>' +
                    (!isNullOrEmpty(item.MessageDetail) ? '<span style="padding-left: 10px" class="help ktip" title="<div><b>Date:</b> ' + $.dateTime(item.CreateDate) + '</div><div><b>Error Detail:</b><br />' + item.MessageDetail + '</div>">(Error Detail)</span>' : '') +
                '</td>';
    }

    function setMessage(message) {
        if (message.length <= 140)
            return '<span class="main">' + message + '</span>';
        else
            return '<span class="main">' + message.substr(0, 140) + '</span>' + '<span class="hiddencontent">' + message.substr(140) + '</span>' + ' <a href="" class="more">show more</a>';
    }

    $(function () {
        $('.more').live('click', function (e) {
            e.preventDefault();
                        
            var td = $(this).closest('td');
            if (td != null && td.length > 0) {

                var sp = $(td).find('span.hiddencontent');
                if (sp != null && sp.length > 0) {

                    if ($(this).text() == 'show more') {
                        $(sp).show();
                        $(this).text('show less');
                    }
                    else {
                        $(sp).hide();
                        $(this).text('show more');
                    }
                }
            }
        });

        $("#tblLogs").kendoTooltip({
            filter: "span.ktip",
            content: kendo.template($("#template").html()),
            width: 600,
            autoHide: false,
            'min-height': 200,
            position: "right"
        });
    });
</script>

<script id="template" type="text/x-kendo-template">
    <div>#=target.data('title')#</div>
</script>