﻿@model DBASystem.SMSF.Contracts.ViewModels.ReportServerSettingModel
           
@using (Ajax.BeginForm("UpdateReportServerSettings", new { }, new AjaxOptions { HttpMethod = "POST", OnBegin = "onBegin", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { id = "frmReportServer", autocomplete = "off" }))
{
    <div class="ReportServerTabContainer" style="overflow:auto">
        <table class="nobordertable" style="width:100%">
            <tr>
                <td colspan="2"><h2>Report Server Settings</h2></td>
            </tr>
            <tr>
                <td style="vertical-align:top; width:20%">URL</td>
                <td style="width: 80%">
                    @Html.TextBoxFor(model => model.ReportServerUrl, new { @class = "reportserver" })
                    @Html.ValidationMessageFor(model => model.ReportServerUrl)
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">User Name</td>
                <td>
                    @Html.TextBoxFor(model => model.ReportServerUserName, new { @class = "reportserver", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.ReportServerUserName)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Set Password
                    @Html.CheckBox("SetPassword", false)
                </td>
            </tr>

            <tr class="reportServerPassword ignore" style="display:none">
                <td style="vertical-align:top;">Password</td>
                <td>
                    @Html.PasswordFor(model => model.Password, new { @class = "reportserver" })
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr class="reportServerPassword " style="display:none">
                <td style="vertical-align:top;">Confirm Password</td>
                <td>
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </td>
            </tr>
        </table>
    </div>
    <div id="toolbar">
        <button id="btnUpdateReportServer" type="submit" class="btn btn-purple">
            <span class="fa fa-save"></span>Update
        </button>
        <div id="dvloader" style="display:none">
            <img src="~/Images/loader1.gif" />&nbsp;&nbsp;Updating ...
        </div>
    </div>
}

<script>
    $(function() {

        var height = $(document).height() - 250;
        $(".ReportServerTabContainer").height(height);

        $.validator.setDefaults({ ignore: ":hidden" });

        $("#SetPassword").change(function() {
            if ($(this).is(":checked")) {
                $(".reportServerPassword").show();
            } else {
                $(".reportServerPassword").hide();
            }
        });

        $("#tempbutton").click(function() {
            $(':password').change(function () {
                console.log("Change Trigger for :( " + this.id);
                setformChanged(true);
            });
        });

       
    });

    function onBegin() {
        if ($('#SetPassword')[0].checked) {
            if ($('#Password').val() == '') {
                $('span[data-valmsg-for="Password"]').html('The field password is required').removeClass().addClass('field-validation-error');

                return false;
            }
        }

        if ($('#frmReportServer').valid()) {
            $('#btnUpdateReportServer').hide();
            $('#dvloader').show();
            return true;
        }

        return false;
    }

    function onSuccess(context) {
        if (context.status == "error")
            doAlert(context.message);
        else{
            doAlert('Report server settings saved successfully.');
            setformChanged(false);
        }

        $('#btnUpdateReportServer').show();
        $('#dvloader').hide();
    }

    function onFailure() {
        window.location.url = '@Url.Action("Index", "Error")';
    }
</script>