﻿@model DBASystem.SMSF.Contracts.ViewModels.SharePointSettingModel

@using (Html.BeginForm("UpdateSharePointSetting", "Setting", FormMethod.Post, new { id = "frmSharepointSetting" }))
{
   
    <div class="SharePointTabContainer" style="overflow:auto">

        <table class="nobordertable" style="width:100%">
            <tr>
                <td colspan="2"><h2>Sharepoint Settings</h2><a id="Sharepoint_Anchor" name="One" /></td>
            </tr>
            <tr>
                <td style="vertical-align:top; width:20%">URL</td>
                <td style="width: 80%">
                    @Html.TextBoxFor(model => model.SharePointUrl, new { @class = "Sharepoint" })
                    @Html.ValidationMessageFor(model => model.SharePointUrl)
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">User Name</td>
                <td>
                    @Html.TextBoxFor(model => model.UserName, new { @class = "Sharepoint" })
                    @Html.ValidationMessageFor(model => model.UserName)
                    <div>
                        Set Password
                        @Html.CheckBox("SetPassword", false)
                    </div>
                </td>
            </tr>

            <tr class="sharepointPassword ignore" style="display:none">
                <td style="vertical-align:top;">Password</td>
                <td>
                    @Html.PasswordFor(model => model.Password, new { @class = "Sharepoint" })
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr class="sharepointPassword" style="display:none">
                <td style="vertical-align:top;">Confrm Passowrd</td>
                <td>
                    @Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </td>
            </tr>

            <tr>
                <td style="vertical-align:top;">Max File Size</td>
                <td>
                    @Html.TextBoxFor(model => model.MaximumFileSize, new { @class = "Sharepoint", maxlength = "3", style = "width:40px" })<span id="dvHelp"> MB</span>

                    @Html.ValidationMessageFor(model => model.MaximumFileSize)
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">Allowed File Types</td>
                <td>
                    @Html.TextBoxFor(model => model.AllowedFileTypes, new { @class = "Sharepoint" })<span id="dvHelp"> comma sepreted values</span>

                    @Html.ValidationMessageFor(model => model.AllowedFileTypes)
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">Job Default Documents Path</td>
                <td>
                    @Html.TextBoxFor(model => model.JobDefaultDocumentsPath, new { @class = "Sharepoint" })

                    @Html.ValidationMessageFor(model => model.JobDefaultDocumentsPath)
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">Template Reports Path</td>
                <td>
                    @Html.TextBoxFor(model => model.ReportTemplatePath, new { @class = "Sharepoint" })

                    @Html.ValidationMessageFor(model => model.ReportTemplatePath)
                </td>
            </tr>
        </table>
    </div>
}

<script>

    //$(".SharePointTabContainer").niceScroll({ cursorborder: "", cursorcolor: "#80bedd", boxzoom: false });
    $(function () {
        var height = $(document).height() - 250;
        $(".SharePointTabContainer").height(height);
                
        $.validator.setDefaults({ ignore: ".ignore" });
        var settngs = $.data($('form')[0], 'validator').settings;
        settngs.ignore = ".sharepointPassword";

        $("#SetPassword").change(function() {
            if ($(this).is(":checked")) {
                $(".sharepointPassword").show();
            } else {
                $(".sharepointPassword").hide();
            }
        });
        bindChangeEvent();
        setformChanged(false);
    });
    function InvokeSharepointSettingUpdate() {

        $.validator.unobtrusive.parse($('#frmSharepointSetting'));
        if (!$("#frmSharepointSetting").valid())
            return false;

        $('#imgSystemSettingLoader').show();
        $('#btnSaveSettings').hide();

        var $form = $("#frmSharepointSetting");
        $("#updateMessage").empty().html("Updating Sharepoint Settings");
        $("#dvloader").show();
        $("#btnUpdate").hide();

        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: $form.serialize(),
            error: function (xhr, status, error) {
                $("#updateMessage").empty();
                $("#dvloader").hide();
                $("#btnUpdate").show();
                doAlert("There was an while updating system settings please try again later");
            },
            success: function (data) {
                SettingSaved(data);
            }
        });
    }
    function SettingSaved(data) {
        $("#updateMessage").empty();
        $("#dvloader").hide();
        $("#btnUpdate").show();
        if (data.success) {
            isSessionExpired(data, '@Url.Content("~/Account/Login")');
            $('#imgSystemSettingLoader').hide();
            $('#btnSaveSettings').show();

            if (data.success) {
                var alertMessage = "Sharepoint settings saved successfully.";
                $(".sharepointPassword").hide();
                $('#SetPassword').prop('checked', false);
                doAlert(alertMessage);
                setformChanged(false);
            }
        }
        else
            doAlert("There was an error while updating system settings please try again later");
    }


</script>