﻿@using Kendo.Mvc.UI
@model DBASystem.SMSF.Contracts.ViewModels.SystemSettingsModel

<script>
    var errorMessage = "";
    function onComplete(e) {
        if (errorMessage != "") {
            doAlert("Workpaper was not initialized" + ' <br />' + errorMessage);
        }
        else {
            doAlert("Workpaper initialized successfully");
            $(".k-upload-status-total").empty().html("Workpaper template uploaded and intialized successfully.");
        }
    }
    function onError(e) {
        var response = jQuery.parseJSON(e.XMLHttpRequest.response);
        if (response.fileuploadfailed.length > 0) {
            var json = jQuery.parseJSON(response.fileuploadfailed);
            errorMessage += "'" + json.file + "' " + json.message + '<br />';
        }
    }
    function onSuccess(e) {
        console.log(e.response.Time);
    }
    
    function onProgress() {
        $(".k-upload-status-total").empty().html("Please wait while system is uploading and intializing new Workpaper template.<span class='k-icon k-loading'></span>");
    }
</script>

<div>
    <a class="scollLink" id="email" href="#">Email Settings</a> |
    <a class="scollLink" id="password" href="#">Password Settings</a> |
    <a class="scollLink" id="session" href="#">Session Settings</a> |
    <a class="scollLink" id="version" href="#">Version Settings</a> |
    <a id="btnadd" href="#">Manage Workpaper</a> |
    <a class="scollLink" id="workpaper" href="#">Initialize Workpaper</a>
</div>
<div class="SystemTabContainer" style="overflow: auto">
    <div id="emailSettingContainer">
        @using (Html.BeginForm("UpdateEmailSettings", "Setting", FormMethod.Post, new { id = "frmEmailSettings" }))
        {
            <table class="nobordertable" style="width: 100%">
                <tr>
                    <td colspan="2">
                        <a id="Email_Anchor" />
                        <h2>
                            Email Settings
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="width: 15%">SMTP Host</td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailSetting.SMTPHost, new { placeholder = "SMTP Host" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.SMTPHost)
                    </td>
                </tr>
                <tr>
                    <td>SMTP User Name</td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailSetting.SMTPUserName, new { placeholder = "SMTP User Name", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.SMTPUserName)
                    </td>
                </tr>
                <tr>
                    <td>SMTP Password</td>
                    <td>
                        @Html.PasswordFor(model => model.EmailSetting.SMTPPassword, new { autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.SMTPPassword)
                    </td>
                </tr>
                <tr class="smtpConfirmPassword" style="display: none">
                    <td>Confirm Password</td>
                    <td>
                        @Html.PasswordFor(model => model.EmailSetting.ConfirmSMTPPassword, new { autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.ConfirmSMTPPassword)
                    </td>
                </tr>
                <tr>
                    <td>SMTP From Address</td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailSetting.SMTPFromAddress, new { placeholder = "From Address" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.SMTPFromAddress)
                    </td>
                </tr>
                <tr>
                    <td>SMTP Port</td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailSetting.SMTPPort, new { placeholder = "SMTP Port" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.SMTPPort)
                    </td>
                </tr>
                <tr>
                    <td>Use SSL</td>
                    <td>
                        @Html.TextBoxFor(model => model.EmailSetting.SMTPRequireSSL, new { placeholder = "Use SSL" })
                        @Html.ValidationMessageFor(model => model.EmailSetting.SMTPRequireSSL)
                    </td>
                </tr>
            </table>
        }
    </div>
    <div id="dvAddPopup" style="display: none;">
        <div>
            @Html.DropDownList("ClientAccounts", "Select Account")
        </div>
        <div style="text-align: right; width: 100%; height: 30px">
             <input id="btnContinue" type="button" value="Continue" />
            <img id="imgContinueLoader" alt="Please wait while system load the Workpaper Configuration" src='@Url.Content("~/images/loader.gif")' style="display: none" />
            
        </div>
    </div>
    <div id="passwordSettingContainer" style="display: none">
        @using (Html.BeginForm("UpdatePasswordSettings", "Setting", FormMethod.Post, new { id = "frmPasswordSettings" }))
        {
            <table class="nobordertable" style="width: 100%">
                <tr>
                    <td colspan="2">
                        <a id="Password_Anchor" />
                        <h2>Password Settings</h2>
                    </td>
                </tr>
                <tr>
                    <td style="width: 15%">Password Retries</td>
                    <td>
                        @Html.TextBoxFor(model => model.PasswordSetting.MaxPasswordRetries, new { placeholder = "Max password retries" })
                        @Html.ValidationMessageFor(model => model.PasswordSetting.MaxPasswordRetries)
                    </td>
                </tr>
                <tr>
                    <td>Password Length</td>
                    <td>
                        @Html.TextBoxFor(model => model.PasswordSetting.MinPasswordLength, new { placeholder = "Minimum password length" })
                        @Html.ValidationMessageFor(model => model.PasswordSetting.MinPasswordLength)
                    </td>
                </tr>
                <tr>
                    <td>Numeric Characters</td>
                    <td>
                        @Html.TextBoxFor(model => model.PasswordSetting.MinNumericCharacters, new { placeholder = "Minimum numeric characters" })
                        @Html.ValidationMessageFor(model => model.PasswordSetting.MinNumericCharacters)
                    </td>
                </tr>
                <tr>
                    <td>Upper Case Characters</td>
                    <td>
                        @Html.TextBoxFor(model => model.PasswordSetting.MinUpperCaseCharacters, new { placeholder = "Minimum upper case characters" })
                        @Html.ValidationMessageFor(model => model.PasswordSetting.MinUpperCaseCharacters)
                    </td>
                </tr>
                <tr>
                    <td>Lower Case Characters</td>
                    <td>
                        @Html.TextBoxFor(model => model.PasswordSetting.MinLowerCaseCharacters, new { placeholder = "Minimum lower case characters" })
                        @Html.ValidationMessageFor(model => model.PasswordSetting.MinLowerCaseCharacters)
                    </td>
                </tr>
            </table>
        }
    </div>

    <div id="sessionSettingContainer" style="display: none">
        @using (Html.BeginForm("UpdateSessionSettings", "Setting", FormMethod.Post, new { id = "frmSessionSettings" }))
        {
            <table class="nobordertable" style="width: 100%">
                <tr>
                    <td colspan="2"><a id="Session_Anchor" /><h2>Session Settings</h2></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;width: 15%">Max Session Timeout</td>
                    <td>
                        @Html.TextBoxFor(model => model.SessionSetting.MaxSessionTimeout)
                        <span id="dvHelp"> (minutes) (require re-login ) </span>
                        @Html.ValidationMessageFor(model => model.SessionSetting.MaxSessionTimeout)
                    </td>
                </tr>
            </table>
        }
    </div>
    
    <div id="workpaperSettingContainer" style="display: none">
        @using (Html.BeginForm("UploadWorkpaperTemplate", "AuditProcedure", FormMethod.Post, new { id = "frmWorkpaperSettings" }))
        {
            <table style="width: 100%">
                <tr>
                    <td>
                        <h2>Initialize Workpaper Default Template</h2>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 130px">
                                    Upload Template
                                </td>
                                <td>
                                    @(Html.Kendo().Upload()
                                    .Name("file")
                                    .Multiple(false)
                                    .Async(a => a.Save("UploadWorkpaperTemplate", "AuditProcedure").AutoUpload(false))
                                    .Events(e => e.Complete("onComplete").Error("onError").Success("onSuccess").Progress("onProgress"))
                                    )
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    </div>
    
    <div id="versionSettingContainer" style="display: none">
        @using (Html.BeginForm("UpdateVersionSettings", "Setting", FormMethod.Post, new { id = "frmVersionSettings" }))
        {
            <table class="nobordertable" style="width: 100%">
                <tr>
                    <td colspan="2"><a id="Version_Anchor" /><h2>Version Settings</h2></td>
                </tr>
                <tr>
                    <td style="vertical-align: top;width: 15%">Version Number</td>
                    <td>
                        @Html.TextBoxFor(model => model.VersionSetting.VersionNumber)
                        @Html.ValidationMessageFor(model => model.VersionSetting.VersionNumber)
                    </td>
                </tr>
            </table>
        }
    </div>
   
   
</div>

<script>
    var SessionSettingChanged = false;
    var SharePointSettingUpdate = false;
    var previousContainer = $("#emailSettingContainer");
    $(document).ready(function () {
        $('#btnContinue').click(function () {
            var id = $('#ClientAccounts').val();
            if (id != '') {
                $('#btnContinue').hide();
                $('#imgContinueLoader').show();
                 document.location.href = '@Url.Content("~/Job/ManageWorkPaper?accountId=")' + id;
            } else {
                alert("Please select any account to modify WorkPaper Configuration");
            }

        });
    });
    $('#btnadd').click(function (e) {
        e.preventDefault();
        $('#dvAddPopup').dialog({
            title: 'Select Client',
            width: 484,
            height: 'auto',
            modal: true
        });
    });
    $(function () {
      
        var height = $(document).height() - 270;
        $(".SystemTabContainer").height(height);

        $("#EmailSetting_SMTPPassword").val('@Model.EmailSetting.SMTPPassword');
        $("#EmailSetting_ConfirmSMTPPassword").val('@Model.EmailSetting.SMTPPassword');
        $.validator.setDefaults({ ignore: "" });
        $("#MaxSessionTimeout").change(function () { SessionSettingChanged = true; });
        $("#EmailSetting_SMTPPassword").keyup(function () {
            if ($("#EmailSetting_SMTPPassword").val() != "") {
                $(".smtpConfirmPassword").show();
                $(".smtpConfirmPassword").focus();
            }
            else
                $(".smtpConfirmPassword").hide();
        });
        bindChangeEvent();
    });
    function InvokeSystemSettingUpdate() {
        var $form;
        switch ($(previousContainer).attr("id")) {
            case "emailSettingContainer":
                $.validator.unobtrusive.parse($('#frmEmailSettings'));
                if ($("#frmEmailSettings").valid()) {
                    $form = $("#frmEmailSettings");
                    updateSetting($form.serialize().replace(/EmailSetting./g, ""), $form.attr('action'), "Email Settings");
                }
                break;
            case "passwordSettingContainer":
                $.validator.unobtrusive.parse($('#frmPasswordSettings'));
                if (!$("#frmPasswordSettings").valid())
                    break;

                var minPasswordLength = parseInt($("#PasswordSetting_MinNumericCharacters").val(), 10) + parseInt($("#PasswordSetting_MinUpperCaseCharacters").val(), 10) + parseInt($("#PasswordSetting_MinLowerCaseCharacters").val(), 10);
                if (parseInt($("#PasswordSetting_MinPasswordLength").val(), 10) < minPasswordLength) {
                    doAlert('Minimum password length should be greater then sum of password policy attributes.');
                    break;
                }
                $form = $("#frmPasswordSettings");
                updateSetting($form.serialize().replace(/PasswordSetting./g, ""), $form.attr('action'), "Password Settings");
                break;
            case "sessionSettingContainer":
                $.validator.unobtrusive.parse($('#frmSessionSettings'));
                if (!$("#frmSessionSettings").valid())
                    break;
                $form = $("#frmSessionSettings");
                updateSetting($form.serialize().replace(/SessionSetting./g, ""), $form.attr('action'), "Session Settings");
                break;
            case "versionSettingContainer":
                $.validator.unobtrusive.parse($('#frmVersionSettings'));
                if (!$('#frmVersionSettings').valid())
                    break;
                $form = $("#frmVersionSettings");
                updateSetting($form.serialize().replace(/VersionSetting./g, ""), $form.attr('action'), "Version Settings");
                break;
        }

    }

    function updateSetting(postData, postUrl, title) {
        $("#updateMessage").empty().html("Updating " + title);
        $("#dvloader").show();
        $("#btnUpdate").hide();

        $.ajax({
            type: "POST",
            url: postUrl,
            data: postData,
            error: function (xhr, status, error) {
                $("#updateMessage").empty();
                $("#dvloader").hide();
                $("#btnUpdate").show();
                doAlert("There was an error while updating " + title + " please try again later");
            },
            success: function (data) {
                SettingSaved(data, title);
                setformChanged(false);;
            }
        });
    }
    function SettingSaved(data, title) {
        $("#updateMessage").empty();
        $("#dvloader").hide();
        $("#btnUpdate").show();
        if (data.success) {
            isSessionExpired(data, '@Url.Content("~/Account/Login")');
            $('#imgSystemSettingLoader').hide();
            $('#btnSaveSettings').show();

            if (data.success) {
                var alertMessage = title == "Session Settings" ? title + " saved successfully, session setting will take effect on next login." : title + " saved successfully.";
                doAlert(alertMessage);
                SessionSettingChanged = false;
            }
        } else
            doAlert("There was an error while updating " + title + " please try again later");
    }

    $(".scollLink").click(function (e) {
        e.preventDefault();
        
        if (this.id == "workpaper")
            $("#btnUpdate").hide();
        else
            $("#btnUpdate").show();
    
        var currentDivId = this.id;
        if (!formValuesChanged) {
            if (previousContainer)
                $(previousContainer).hide();

            previousContainer = $("#" + currentDivId + "SettingContainer");
            previousContainer.show();
            $('form').each(function () {
                this.reset();
                setformChanged(false);;
            });
            return true;
        }
        doConfirm('Are you sure want to navigate from this page , all unsaved data will be lost?',
            function yes() {
                if (previousContainer)
                    $(previousContainer).hide();

                previousContainer = $("#" + currentDivId + "SettingContainer");
                previousContainer.show();
                $('form').each(function () {
                    var validator = $(this).validate();
                    validator.resetForm();
                    this.reset();
                });
                $(".field-validation-valid").empty();
                setformChanged(false);
                
            },
            function no() {
            }
        );

        return true;
    });
</script>