﻿@using DBASystem.SMSF.Web.Common
@using DBASystem.SMSF.Contracts.Common

@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Settings";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}

<div id="contentmain">
    <div id="contentinner">

        <h2>Settings</h2>

        <div id="tabstrip">
            <ul>
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.System">System Settings</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.ReportServer">Report Server Settings</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.Sharepoint">Sharepoint Settings</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.Groups">User Groups</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.Roles">User Roles</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.DefaultDocuments">Job Default Documents</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.ReportsTemplates">Audit Report Template</li>
                }
                <li type="@SettingHeads.UserProfile">User Profile</li>
                @if (@ViewBag.IsPrimaryAccountManager)
                {
                    <li type="@SettingHeads.Enittes">Entity Settings</li>
                }
                @if (SessionHelper.Group == UserGroup.Administrators)
                {
                    <li type="@SettingHeads.Logs">Logs</li>
                }
            </ul>
            <div><div id="systemSettings"></div></div>
            <div><div id="reportServer"></div></div>
            <div><div id="sharepointSettings"></div></div>
            <div><div id="userGroupSettings"></div></div>
            <div><div id="userRoleSettings"></div></div>
            <div><div id="defaultDocuments"></div></div>
            <div><div id="reportsTemplates"></div></div>
            <div><div id="profile"></div></div>
            <div><div id="entitySettings"></div></div>
            <div><div id="logs"></div></div>
        </div>
        <div id="toolbar">
            <button id="btnUpdate" type="submit" class="btn btn-purple" style="display:none">
                <span class="fa fa-save"></span>Update
            </button>
            <div id="dvloader" style="display:none">
                <img src="~/Images/loader1.gif" />&nbsp;&nbsp;<span id="updateMessage"></span>
            </div>
        </div>
    </div>
</div>

<script>
    var loadedTabs = [];
    var formValuesChanged = false;
    $(function () {

        var tabstrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        tabstrip.bind("select", onSelect);

        if ('@ViewBag.InitialTab' != '') {

            var index;
            switch ('@ViewBag.InitialTab') {
                case '@SettingHeads.UserProfile':
                    index = GetTabIndex('UserProfile', tabstrip.tabGroup[0].childNodes);
                    if (index != -1)
                        tabstrip.select(index);
                    break;
                case '@SettingHeads.System':
                    index = GetTabIndex('System', tabstrip.tabGroup[0].childNodes);
                    if (index != -1)
                        tabstrip.select(index);

                    break;
            }
        }

        $('.addaddress').live('click', function () {
            $.ajax({
                url: '@Url.Content("~/Entity/CreateAddress")',
                type: "GET",
                cache: false,
                error: function (error) {
                    window.location.href = '@Url.Content("~/Error/Index")';
                },
                success: function (data) {
                    isSessionExpired(data, '@Url.Content("~/Account/Login")');

                    $('#dvCreateNew').remove();
                    $('<div />', { id: 'dvCreateNew' }).appendTo('body');
                    $('#dvCreateNew').empty().html(data);
                    $('#dvCreateNew').dialog({
                        title: 'Add New Address',
                        width: 900,
                        height: 'auto',
                        modal: true
                    });
                }
            });
        });
    });
    function bindChangeEvent() {

        $('input[type=text],textarea,input[type=password],input:password').change(function () {
            console.log("Change Trigger for " + this.id);
            setformChanged(true);
        });
        setformChanged(false);
    }
    function setformChanged(changed) {
        if (changed == null)
            changed = true;
        formValuesChanged = changed;
        if (changed)
            alertBeforeRedirect();
        else
            stopAlertBeforeRedirect();
        console.log("form values changed [" + changed + "]");
    }
    function onSelect(e) {

        var test = $('.k-content.k-state-active')[0];
        if (test) {
            var currentTabId = test.id.replace("tabstrip-", "");
            if (formValuesChanged) {

                doConfirm('Are you sure want to navigate from this tab , all unsaved data will be lost?',
                    function yes() {
                        updateTab($(e.item).attr("type"), $(e.contentElement));
                        setformChanged(false);

                        $('form').each(function () {
                            this.reset();
                        });
                    }, function no() {
                        var tabstrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
                        tabstrip.select(currentTabId - 1);
                    });
            }
            else
                updateTab($(e.item).attr("type"), $(e.contentElement));
        }
        else
            updateTab($(e.item).attr("type"), $(e.contentElement));

    }
    function updateTab(typ, contentElement) {

        if (typ == null)
            return;

        $("#dvloader").hide();

        var updateBtn = $('#btnUpdate');
        updateBtn.unbind();
        updateBtn.show();
        var appendHtml = "";

        switch (typ) {
            case 'UserProfile':
                updateBtn.click(updateProfile);
                break;
            case 'System':
                updateBtn.click(updateSystemSettings);
                break;
            case 'Enittes':
                updateBtn.click(updateEntitySetting);
                break;
            case 'Sharepoint':
                updateBtn.click(updateSharepointSettings);
                break;
            case 'Logs':
                updateBtn.unbind();
                updateBtn.hide();
                break;
            case 'DefaultDocuments':
                updateBtn.unbind();
                updateBtn.hide();
                break;
            case 'ReportsTemplates':
                updateBtn.unbind();
                updateBtn.hide();
                break;
            case 'ReportServer':
                updateBtn.unbind();
                updateBtn.hide();
                updateBtn.click(updateReportServerSettings);
            case 'Groups':
                updateBtn.unbind();
                updateBtn.hide();
                break;
            case 'Roles':
                updateBtn.unbind();
                updateBtn.hide();
                break;

        }

        //if ($.inArray(typ, loadedTabs) != -1)
        //    return;

        loadedTabs.push(typ);
        contentElement.empty().html("Loading ... <img src='@Url.Content("~/Images/loader.gif")' />");

        $.ajax({
            url: '@Url.Content("~/Setting/GetSettings")',
            data: { settingHead: typ },
            type: "GET",
            cache: false,
            error: function (error) {

                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                if (typ == 'Enittes') {
                    contentElement.empty().html("<h2>Address <img src='@Url.Content("~/Images/add.png")' class='add addaddress' title='Click to add new address' /></h2><div id='dvAddress'>" + data + "</div>");
                }
                else {
                    contentElement.empty().html(appendHtml + data);
                }
                //$(e.contentElement).css("height","10px" )
                $.validator.unobtrusive.parse(contentElement);

            }
        });
        return;
    }

    function updateProfile() {
        //following function implemented in _UserProfile
        InvokeProfileUpdate();
    }
    function updateSystemSettings() {

        //following function implemented in _SystemSettings
        InvokeSystemSettingUpdate();
    }
    function updateSharepointSettings() {

        //following function implemented in _SystemSettings
        InvokeSharepointSettingUpdate();
    }
    function updateEntitySetting() {
        $("#updateMessage").empty().html("Updating entity settings");
        $("#dvloader").show();
        $("#btnUpdate").hide();
        $.ajax({
            url: '@Url.Content("~/User/UpdateEntityAddress")',
            type: "POST",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                isSessionExpired(data, '@Url.Content("~/Account/Login")');
                if (data.success) {
                    doAlert('Address information saved successfully');
                }
                $("#updateMessage").empty();
                $("#dvloader").hide();
                $("#btnUpdate").show();
            }
        });

    }
    function loadAddress() {
        $.ajax({
            url: '@Url.Content("~/Entity/GetAddress")',
            type: "GET",
            cache: false,
            error: function (error) {
                window.location.href = '@Url.Content("~/Error/Index")';
            },
            success: function (data) {
                $('#dvAddress').html(data);
            }
        });
    }
    function GetTabIndex(type, childArray) {
        var index = -1;
        jQuery.each(childArray, function (i, val) {
            if ($(val).attr("type") == type) {
                index = i;
                return false;
            }
        });
        return index;
    }

    function updateReportServerSettings() {

    }
</script>